body{
    padding-top: 20px;
}

.main{
    width: 85%;
    margin: 0 auto;
}

.btn-container{
    width:100%;
    padding-bottom: 15px;

}

.btn{
    display: block;    
    margin: auto !important;
    /*background-color: rgba(51, 122, 183, 0.95)*/
}

.start{
    position: relative;
    top: -500px;
    display: block;
    margin: auto !important;  
    width: 100px; 
}

.ladda-button{
    /*width: 100px; */
}

.wj{
    color: #ff0 !important;
}