body{
  padding-top: 20px;
}

.main{
  width: 85%;
  margin: 0 auto;
}

.btn-container{
  width:100%;
  padding-bottom: 15px;
}

.btn{
  display: block;    
  margin: auto !important;
  /*background-color: rgba(51, 122, 183, 0.95)*/
}

.start{
  position: relative;
  top: -500px;
  display: block;
  margin: auto !important;  
  width: 100px; 
}

.ladda-button{
    /*width: 100px; */
}

#background {
  position: fixed;
  /*right: 0; */
  bottom: 0;
  /*top: 200px;*/
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}

#reply-box{
  position: relative;
  top:20px;
  width: 100%;
  height: 350px;
  border-radius: 4px; 
/*  overflow-y: scroll;
  overflow-x: hidden;*/
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 20px;
  padding-right: 30px;
  font-size: 18px;
  color: #1d66a5;
}


.card{
  margin-bottom: 40px;
}


.induction a{
  font-size: 16px;
  color: #0665b7;
}

.book-verse {
  margin-bottom: 5px;
}

.book-verse a{
  font-size: 15px;
  color: #e2205b;
}

.card-block, .comment-block {
  font-size: 16px;
  line-height: 23px;
  margin-top:12px;
  /*border: solid 1px #ff1a8c;*/
  border-radius: 5px;
  padding: 20px 30px 20px 30px;
  background-color: #333;
  color: #eee;
}

.comment-block {
  background-color: #124169;
  color: #eee;
}

.bbsays{
  font-size: 15px;
  color: #f97715;  
}

.comment-block a{
  font-size: 15px !important;
  color: #e2205b !important;
}

.verse{
  vertical-align: top;
  font-size: 13px;
  line-height: 23px;
  color:#5ecef3;
}
