
body {
    /*background: white url("images/background.png");*/
    padding-top: 50px;
    background-image: url("./img/back1.gif");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat
}

th {
    color: #224f77;
}

.main {
    padding-right: 40px;
    padding-left: 30px;
}

.main .page-header {
  margin-top: 0;
}

.page-header{
	color: #737373;
}

ul.errorlist {
    padding-left: 0;
}

ul.errorlist > li {
    list-style: none;
}

.navbar {
    border-radius: 0;
}

.navbar-brand {
	font-size: 30px;
	color: #ff1a8c;
    font-family: 'Satisfy', cursive;
}

.layerTransparent{
  background-color: rgba(255,255,255,0.87);
  position: fixed;
  right: 0; 
  bottom: 0;
  /*top: 200px; */
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -50;
}


.label-title{
    font-size:25px;
    /*color: rgb(51, 122, 183);*/
    color: white;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 10px; 
}

.horiztal-5{
    text-align: center;
    width: 20%;
    float: left;
}

.label-profile{
    background-color: #1c4263; 
    color: white; 
    padding-top:10px; 
    padding-bottom: 40px; 
    line-height:30px;
    margin-bottom: 30px;
}

.top-sentences, .supervisor{
    font-size: 18px;
    line-height: 34px;
}

.supervisor{
    font-weight: bold;
    margin-bottom: 16px;
}

.top10 select{
    width:130px;
}


.selector{
    width:160px;
    float: left;
    font-weight: bold;
}

.slabeling{
    margin-bottom: 16px;
}

.slabeling select{
    border: 2px solid #66afe9;
}


select optgroup{
    background:#333;
    font-style:normal;
    font-weight:normal;
}

.svm_learn_posts, .svm_learn_sentences{
    margin-bottom: 20px
}


#vent-box-container{
    /*padding: 0 0 0 0;*/
}

#vent-box{
    width: 100%;
    border: 0px;
    background-color: rgba(255, 255, 255, 0) !important;    
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    color: #999;
}

#vent-box:focus {
    outline: none;
}

.panel-transparent{
    background-color: rgba(255, 255, 255, 0.8) !important;    
}

.panel-title{
    padding-top: 5px !important;
    padding-bottom: 3px !important;
    font-size: 17px;
    line-height: 17px;
    text-align: center;
    font-family: 'Capriola', sans-serif;
    /*font-family: 'Amaranth', sans-serif;*/
    /*font-family: 'Salsa', cursive;*/
    /*font-family: 'Cherry Swash', cursive;*/
    /*font-family: 'Kalam', cursive;*/
}

.page-header > .navbar-brand {
    float: none;
    margin-right: 30px;
}

.john836{
    font-size:17px;
    font-style: italic;
    color: #337ab7;
    font-family: 'Capriola', sans-serif;
}

