body{
    padding-top: 20px;
}

.main{
    width: 85%;
    margin: 0 auto;
}

.chapter{
    width: 80%;
    margin: 0 auto; 
    font-size: 16px;
    line-height: 25px;
}

.verse-label{
    margin-bottom:20px;
    text-align: center;
    font-size: 20px;
    color: #337ab7;
}

.verse{
    font-size: 16px;
    color: #337ab7;
}

.btn-container{
    width:100%;
    padding-bottom: 15px;

}

.btn{
    display: block;    
    margin: auto !important;
    /*background-color: rgba(51, 122, 183, 0.95)*/
}

.start{
    position: relative;
    top: -500px;
    display: block;
    margin: auto !important;  
    width: 100px; 
}

.ladda-button{
    /*width: 100px; */
}

.wj{
    color: #ca3b5a;
}