{% extends 'knowledge_base/base-web.html' %}{% block content %}﻿<!DOCTYPE html>
<div class="chapter">
<div class="verse-label" >1 John 3</div>
 
<div class='p'>
 <span class="verse" id="V1">
1&#160;</span>
<span id="V1_body">See how great a love the Father has given to us, that we should be called children of God! For this cause the world doesn’t know us, because it didn’t know him.  </span><span class="verse" id="V2">
2&#160;</span>
<span id="V2_body">Beloved, now we are children of God. It is not yet revealed what we will be; but we know that when he is revealed, we will be like him; for we will see him just as he is.  </span><span class="verse" id="V3">
3&#160;</span>
<span id="V3_body">Everyone who has this hope set on him purifies himself, even as he is pure.  </span><span class="verse" id="V4">
4&#160;</span>
<span id="V4_body">Everyone who sins also commits lawlessness. Sin is lawlessness.  </span><span class="verse" id="V5">
5&#160;</span>
<span id="V5_body">You know that he was revealed to take away our sins, and no sin is in him.  </span><span class="verse" id="V6">
6&#160;</span>
<span id="V6_body">Whoever remains in him doesn’t sin. Whoever sins hasn’t seen him and doesn’t know him. </span></div>
<div class='p'>
 <span class="verse" id="V7">
7&#160;</span>
<span id="V7_body">Little children, let no one lead you astray. He who does righteousness is righteous, even as he is righteous.  </span><span class="verse" id="V8">
8&#160;</span>
<span id="V8_body">He who sins is of the devil, for the devil has been sinning from the beginning. To this end the Son of God was revealed: that he might destroy the works of the devil.  </span><span class="verse" id="V9">
9&#160;</span>
<span id="V9_body">Whoever is born of God doesn’t commit sin, because his seed remains in him, and he can’t sin, because he is born of God.  </span><span class="verse" id="V10">
10&#160;</span>
<span id="V10_body">In this the children of God are revealed, and the children of the devil. Whoever doesn’t do righteousness is not of God, neither is he who doesn’t love his brother.  </span><span class="verse" id="V11">
11&#160;</span>
<span id="V11_body">For this is the message which you heard from the beginning, that we should love one another;  </span><span class="verse" id="V12">
12&#160;</span>
<span id="V12_body">unlike Cain, who was of the evil one, and killed his brother. Why did he kill him? Because his deeds were evil, and his brother’s righteous. </span></div>
<div class='p'>
 <span class="verse" id="V13">
13&#160;</span>
<span id="V13_body">Don’t be surprised, my brothers, if the world hates you.  </span><span class="verse" id="V14">
14&#160;</span>
<span id="V14_body">We know that we have passed out of death into life, because we love the brothers. He who doesn’t love his brother remains in death.  </span><span class="verse" id="V15">
15&#160;</span>
<span id="V15_body">Whoever hates his brother is a murderer, and you know that no murderer has eternal life remaining in him. </span></div>
<div class='p'>
 <span class="verse" id="V16">
16&#160;</span>
<span id="V16_body">By this we know love, because he laid down his life for us. And we ought to lay down our lives for the brothers.  </span><span class="verse" id="V17">
17&#160;</span>
<span id="V17_body">But whoever has the world’s goods and sees his brother in need, then closes his heart of compassion against him, how does God’s love remain in him?  </span><span class="verse" id="V18">
18&#160;</span>
<span id="V18_body">My little children, let’s not love in word only, or with the tongue only, but in deed and truth.  </span><span class="verse" id="V19">
19&#160;</span>
<span id="V19_body">And by this we know that we are of the truth, and persuade our hearts before him,  </span><span class="verse" id="V20">
20&#160;</span>
<span id="V20_body">because if our heart condemns us, God is greater than our heart, and knows all things.  </span><span class="verse" id="V21">
21&#160;</span>
<span id="V21_body">Beloved, if our hearts don’t condemn us, we have boldness toward God;  </span><span class="verse" id="V22">
22&#160;</span>
<span id="V22_body">so whatever we ask, we receive from him, because we keep his commandments and do the things that are pleasing in his sight.  </span><span class="verse" id="V23">
23&#160;</span>
<span id="V23_body">This is his commandment, that we should believe in the name of his Son, Jesus Christ, and love one another, even as he commanded.  </span><span class="verse" id="V24">
24&#160;</span>
<span id="V24_body">He who keeps his commandments remains in him, and he in him. By this we know that he remains in us, by the Spirit which he gave us. </span></div>
<ul class='tnav'>
<div class="footnote">
<hr />
</div>
<div class="copyright">
<center> <a href="http://ebible.org/web/copyright.htm"">This website uses The World English Bible (Public Domain).</a> </center>
<p align="center"></p>
</div>
</div></body></html>
{% endblock %}