﻿{% extends 'knowledge_base/base-web.html' %}


{% block content %}

<div class="chapter">
<div class="verse-label" >1 John 3</div>
<div class='p'> <span class="verse" id="V1">1&#160;</span>See how great a love the Father has given to us, that we should be called children of God! For this cause the world doesn’t know us, because it didn’t know him.  <span class="verse" id="V2">2&#160;</span>Beloved, now we are children of God. It is not yet revealed what we will be; but we know that when he is revealed, we will be like him; for we will see him just as he is.  <span class="verse" id="V3">3&#160;</span>Everyone who has this hope set on him purifies himself, even as he is pure.  <span class="verse" id="V4">4&#160;</span>Everyone who sins also commits lawlessness. Sin is lawlessness.  <span class="verse" id="V5">5&#160;</span>You know that he was revealed to take away our sins, and no sin is in him.  <span class="verse" id="V6">6&#160;</span>Whoever remains in him doesn’t sin. Whoever sins hasn’t seen him and doesn’t know him. </div><div class='p'> <span class="verse" id="V7">7&#160;</span>Little children, let no one lead you astray. He who does righteousness is righteous, even as he is righteous.  <span class="verse" id="V8">8&#160;</span>He who sins is of the devil, for the devil has been sinning from the beginning. To this end the Son of God was revealed: that he might destroy the works of the devil.  <span class="verse" id="V9">9&#160;</span>Whoever is born of God doesn’t commit sin, because his seed remains in him, and he can’t sin, because he is born of God.  <span class="verse" id="V10">10&#160;</span>In this the children of God are revealed, and the children of the devil. Whoever doesn’t do righteousness is not of God, neither is he who doesn’t love his brother.  <span class="verse" id="V11">11&#160;</span>For this is the message which you heard from the beginning, that we should love one another;  <span class="verse" id="V12">12&#160;</span>unlike Cain, who was of the evil one, and killed his brother. Why did he kill him? Because his deeds were evil, and his brother’s righteous. </div><div class='p'> <span class="verse" id="V13">13&#160;</span>Don’t be surprised, my brothers, if the world hates you.  <span class="verse" id="V14">14&#160;</span>We know that we have passed out of death into life, because we love the brothers. He who doesn’t love his brother remains in death.  <span class="verse" id="V15">15&#160;</span>Whoever hates his brother is a murderer, and you know that no murderer has eternal life remaining in him. </div><div class='p'> <span class="verse" id="V16">16&#160;</span>By this we know love, because he laid down his life for us. And we ought to lay down our lives for the brothers.  <span class="verse" id="V17">17&#160;</span>But whoever has the world’s goods and sees his brother in need, then closes his heart of compassion against him, how does God’s love remain in him?  <span class="verse" id="V18">18&#160;</span>My little children, let’s not love in word only, or with the tongue only, but in deed and truth.  <span class="verse" id="V19">19&#160;</span>And by this we know that we are of the truth, and persuade our hearts before him,  <span class="verse" id="V20">20&#160;</span>because if our heart condemns us, God is greater than our heart, and knows all things.  <span class="verse" id="V21">21&#160;</span>Beloved, if our hearts don’t condemn us, we have boldness toward God;  <span class="verse" id="V22">22&#160;</span>so whatever we ask, we receive from him, because we keep his commandments and do the things that are pleasing in his sight.  <span class="verse" id="V23">23&#160;</span>This is his commandment, that we should believe in the name of his Son, Jesus Christ, and love one another, even as he commanded.  <span class="verse" id="V24">24&#160;</span>He who keeps his commandments remains in him, and he in him. By this we know that he remains in us, by the Spirit which he gave us. </div>
<div class="footnote">
<hr />
</div>
<div class="copyright">
<center><a href="http://ebible.org/web/copyright.htm">The World English Bible is in the Public Domain. You may copy and share it freely.</a></center>
</div>
</div>

{% endblock %}