<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}BibleBot{% endblock %}</title>
	{% load staticfiles %}
	<link rel="shortcut icon" type="image/png" href="{%  static 'favicon.ico' %}"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link href='https://fonts.googleapis.com/css?family=Satisfy|Capriola' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'knowledge_base/style.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'knowledge_base/base-home.css' %}"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{% static 'knowledge_base/ladda-themeless.min.css' %}">
    <script src="{% static 'knowledge_base/js/spin.min.js' %}"></script>
    <script src="{% static 'knowledge_base/js/ladda.min.js' %}"></script>

	
	<!-- (Optional) Latest compiled and minified JavaScript translation files -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/i18n/defaults-*.min.js"></script>

	<script src="{% static 'knowledge_base/js/home.js' %}"></script>
</head>
<body>
    <img id="background" src="{% static 'knowledge_base/images/bible-photo.jpg' %}">
    <div class="layerTransparent"></div>
	<div class="container">
		<div class="main">
            <h2 class="page-header">
                <a class="navbar-brand" href="{% url 'knowledge_base:home' %}">BibleBot</a>
                <span class="john836">if the Son sets you free, you will be free indeed. (John 8:36)</span>
            </h2>
			{% block content %}{% endblock %}
		</div> 
	</div>
</body>
</html>