<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}BibleBot{% endblock %}</title>
	{% load staticfiles %}
	<link rel="shortcut icon" type="image/png" href="{%  static 'favicon.ico' %}"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link href='https://fonts.googleapis.com/css?family=Satisfy|Capriola|Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'knowledge_base/style.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'knowledge_base/css/base-web.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>
<body>
    <div class="layerTransparent"></div>
	<div class="container">
		<div class="main">
            <h2 class="page-header">
                <a class="navbar-brand" href="{% url 'knowledge_base:home' %}">BibleBot</a>
                <span class="john836">if the Son sets you free, you will be free indeed. (John 8:36)</span>
            </h2>
			{% block content %}{% endblock %}
		</div> 
	</div>
</body>


<script>

$(document).ready(function() {
    var separate_varses = [];
    var focused_verses = "{{ focused_verses }}";
    var m  = focused_verses.match(/^(\d+)-(\d+)$/);
    if (m) {
        var start = parseInt(m[1]);
        var end = parseInt(m[2]);
        for (var verse = start; verse <= end; verse++) separate_varses.push(verse);

    } else {
        separate_varses.push(focused_verses);
    }
    // alert(separate_varses);
    for (var i=0; i < separate_varses.length; i++ ){
        $('.V' + separate_varses[i] + '_NoBody').css('border-bottom', 'solid 2px rgb(121, 167, 243)');
    }

});

</script>

</html>

