<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}BibleBot - {{ view.title}}{% endblock %}</title>
	{% load staticfiles %}
	<link rel="shortcut icon" type="image/png" href="{%  static 'favicon.ico' %}"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link href='https://fonts.googleapis.com/css?family=Satisfy|Capriola' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{% static 'knowledge_base/style.css' %}"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>

	<!-- (Optional) Latest compiled and minified JavaScript translation files -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/i18n/defaults-*.min.js"></script>

	<script src="{% static 'knowledge_base/js/main.js' %}"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar">

                <div style="margin-bottom: 70px;">
                    <a href="" class="navbar-brand">BibleBot</a>
                </div>

                <div style="clear:both; background-color:rgb(248, 248, 252)">
        			<ul class="nav nav-sidebar">
                        <li><a href="{% url 'knowledge_base:home' %}">Home</a></li>
                        <li><a href="{% url 'knowledge_base:overview' %}">Overview</a></li>
        				<li><a href="{% url 'knowledge_base:PostLabels' %}">Post Labels</a></li>
        				<li><a href="{% url 'knowledge_base:SentenceLabels' %}">Sentence Labels</a></li>
        				<li><a href="{% url 'knowledge_base:AnswerRules' %}">Answer Rules</a></li>
        			</ul>
                </div>
			</div>
			<div class="col-sm-9 col-md-10 main">
                <h2 class="page-header">{{ view.title}}</h2>
				{% block content %}{% endblock %}
			</div> 
		</div>	   
	</div>
</body>
</html>