{% extends 'knowledge_base/base-home.html' %}


{% block content %}

<div class="panel panel-primary panel-transparent">
    <div class="panel-heading clearfix">
        <div class="panel-title" style="padding-top: 7.5px;">What's bothering you? &nbsp; Vent it to the Bible.</div>
    </div>
    <div id="vent-box-container" class="panel-body">
        <textarea id="vent-box" class="with-sample" rows="8">
(example)
I am a gambling addict. I spent all my savings and in debt right now.
I feel disappointed in myself but just can't control myself.
So scared of the thought that this will destroy my life. 
        </textarea>
    </div>
    <div class="btn-container">
        <button class="btn btn-primary ladda-button vent-it" id="load" data-style="expand-left">
            <span class="ladda-label"></span>
            <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
            &nbsp;Vent it!
        </button>
    </div> 
</div>
<div id="reply-box">
    
<!-- <div id="accordion" role="tablist" aria-multiselectable="true">
  <div class="card">
    <div class="card-header" role="tab" id="headingOne">
      <span class="induction">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <span class="glyphicon glyphicon-book">&nbsp;</span>Want to know what the Bible says about how to treat your enemies?
        </a>
      </span>
    </div>

    <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="card-block"><div class="book-verse"><a href="">Matthew 5:43–45</a></div>
<span class='verse'>43</span> “You have heard that it was said, ‘Love your neighbori z and hate your enemy.’a <span class='verse'>44</span> But I tell you, love your enemies and pray for those who persecute you,b <span class='verse'>45</span> that you may be childrenc of your Father in heaven. He causes his sun to rise on the evil and the good, and sends rain on the righteous and the unrighteous.d
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingTwo">
      <span class="induction">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <span class="glyphicon glyphicon-book">&nbsp;</span>Jesus gave a forgiveness on the cross. Want to see how he did that?
        </a>
      </span>
    </div>
    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="card-block"><div class="book-verse"><a href="">Luke 23:34</a></div>
<span class='verse'>34</span> Jesus said, “Father,s forgive them, for they do not know what they are doing.”c t And they divided up his clothes by casting lots.u
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingThree">
      <span class="induction">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <span class="glyphicon glyphicon-book">&nbsp;</span>You are in danger if you do not foegive. Want to know why?
        </a>
      </span>
    </div>
    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="card-block"><div class="book-verse"><a href="">Matthew 6:14–15</a></div>
<span class='verse'>14</span> For if you forgive other people when they sin against you, your heavenly Father will also forgive you.u <span class='verse'>15</span> But if you do not forgive others their sins, your Father will not forgive your sins.
      </div>
    </div>
  </div>
<a href="/knowledge_base/web/1CO10/13/" target="_blank">1 Corinthians 10:13</a><br>
<a href="/knowledge_base/web/1CO10/29-30/" target="_blank">1 Corinthians 10:29-30</a><br>
<a href="/knowledge_base/web/1CO15/42-44/" target="_blank">1 Corinthians 15:42-44</a><br>
<a href="/knowledge_base/web/1CO15/54-55/" target="_blank">1 Corinthians 15:54-55</a><br>
<a href="/knowledge_base/web/1CO15/58/" target="_blank">1 Corinthians 15:58</a><br>
<a href="/knowledge_base/web/1CO04/3-4/" target="_blank">1 Corinthians 4:3-4</a><br>
<a href="/knowledge_base/web/1CO06/19-20/" target="_blank">1 Corinthians 6:19-20</a><br>
<a href="/knowledge_base/web/1JN01/9/" target="_blank">1 John 1:9</a><br>
<a href="/knowledge_base/web/1PE03/3-4/" target="_blank">1 Peter 3:3-4</a><br>
<a href="/knowledge_base/web/1PE03/9/" target="_blank">1 Peter 3:9</a><br>
<a href="/knowledge_base/web/1PE05/7/" target="_blank">1 Peter 5:7</a><br>
<a href="/knowledge_base/web/1SA16/7/" target="_blank">1 Samuel 16:7</a><br>
<a href="/knowledge_base/web/2CO12/9/" target="_blank">2 Corinthians 12:9</a><br>
<a href="/knowledge_base/web/2CO04/16/" target="_blank">2 Corinthians 4:16</a><br>
<a href="/knowledge_base/web/2CO04/16-17/" target="_blank">2 Corinthians 4:16-17</a><br>
<a href="/knowledge_base/web/2CO04/17-18/" target="_blank">2 Corinthians 4:17-18</a><br>
<a href="/knowledge_base/web/2CO05/17/" target="_blank">2 Corinthians 5:17</a><br>
<a href="/knowledge_base/web/ECC12/14/" target="_blank">Ecclesiastes 12:14</a><br>
<a href="/knowledge_base/web/EPH04/26-27/" target="_blank">Ephesians 4:26-27</a><br>
<a href="/knowledge_base/web/GAL03/27-29/" target="_blank">Galatians 3:27-29</a><br>
<a href="/knowledge_base/web/GAL05/22-23/" target="_blank">Galatians 5:22-23</a><br>
<a href="/knowledge_base/web/HEB10/17-18/" target="_blank">Hebrews 10:17-18</a><br>
<a href="/knowledge_base/web/HEB11/6/" target="_blank">Hebrews 11:6</a><br>
<a href="/knowledge_base/web/HEB12/14/" target="_blank">Hebrews 12:14</a><br>
<a href="/knowledge_base/web/HEB12/2-3/" target="_blank">Hebrews 12:2-3</a><br>
<a href="/knowledge_base/web/HEB13/16/" target="_blank">Hebrews 13:16</a><br>
<a href="/knowledge_base/web/HEB13/5/" target="_blank">Hebrews 13:5</a><br>
<a href="/knowledge_base/web/HEB04/15-16/" target="_blank">Hebrews 4:15-16</a><br>
<a href="/knowledge_base/web/JAS01/19-20/" target="_blank">James 1:19-20</a><br>
<a href="/knowledge_base/web/JAS04/7/" target="_blank">James 4:7</a><br>
<a href="/knowledge_base/web/JHN11/25-26/" target="_blank">John 11:25-26</a><br>
<a href="/knowledge_base/web/JHN11/33-36/" target="_blank">John 11:33-36</a><br>
<a href="/knowledge_base/web/JHN15/13/" target="_blank">John 15:13</a><br>
<a href="/knowledge_base/web/JHN16/33/" target="_blank">John 16:33</a><br>
<a href="/knowledge_base/web/JHN06/37/" target="_blank">John 6:37</a><br>
<a href="/knowledge_base/web/JHN07/2-5/" target="_blank">John 7:2-5</a><br>
<a href="/knowledge_base/web/JHN07/37-38/" target="_blank">John 7:37-38</a><br>
<a href="/knowledge_base/web/JHN08/36/" target="_blank">John 8:36</a><br>
<a href="/knowledge_base/web/JHN09/1-3/" target="_blank">John 9:1-3</a><br>
<a href="/knowledge_base/web/LUK19/1-6/" target="_blank">Luke 19:1-6</a><br>
<a href="/knowledge_base/web/LUK23/34/" target="_blank">Luke 23:34</a><br>
<a href="/knowledge_base/web/LUK06/37-38/" target="_blank">Luke 6:37-38</a><br>
<a href="/knowledge_base/web/LUK08/43-48/" target="_blank">Luke 8:43-48</a><br>
<a href="/knowledge_base/web/MRK10/52/" target="_blank">Mark 10:52</a><br>
<a href="/knowledge_base/web/MRK01/40-42/" target="_blank">Mark 1:40-42</a><br>
<a href="/knowledge_base/web/MRK02/17/" target="_blank">Mark 2:17</a><br>
<a href="/knowledge_base/web/MRK03/20-22/" target="_blank">Mark 3:20-22</a><br>
<a href="/knowledge_base/web/MAT11/28-30/" target="_blank">Matthew 11:28-30</a><br>
<a href="/knowledge_base/web/MAT15/29-31/" target="_blank">Matthew 15:29-31</a><br>
<a href="/knowledge_base/web/MAT26/28/" target="_blank">Matthew 26:28</a><br>
<a href="/knowledge_base/web/MAT26/41/" target="_blank">Matthew 26:41</a><br>
<a href="/knowledge_base/web/MAT05/10-12/" target="_blank">Matthew 5:10-12</a><br>
<a href="/knowledge_base/web/MAT05/22/" target="_blank">Matthew 5:22</a><br>
<a href="/knowledge_base/web/MAT05/3/" target="_blank">Matthew 5:3</a><br>
<a href="/knowledge_base/web/MAT05/4/" target="_blank">Matthew 5:4</a><br>
<a href="/knowledge_base/web/MAT05/43-45/" target="_blank">Matthew 5:43-45</a><br>
<a href="/knowledge_base/web/MAT05/5-6/" target="_blank">Matthew 5:5-6</a><br>
<a href="/knowledge_base/web/MAT06/1-4/" target="_blank">Matthew 6:1-4</a><br>
<a href="/knowledge_base/web/MAT06/14-15/" target="_blank">Matthew 6:14-15</a><br>
<a href="/knowledge_base/web/MAT09/9-13/" target="_blank">Matthew 9:9-13</a><br>
<a href="/knowledge_base/web/PHP03/13-15/" target="_blank">Philippians 3:13-15</a><br>
<a href="/knowledge_base/web/PRO15/18/" target="_blank">Proverbs 15:18</a><br>
<a href="/knowledge_base/web/PRO16/7/" target="_blank">Proverbs 16:7</a><br>
<a href="/knowledge_base/web/PRO19/22/" target="_blank">Proverbs 19:22</a><br>
<a href="/knowledge_base/web/PRO31/30/" target="_blank">Proverbs 31:30</a><br>
<a href="/knowledge_base/web/PRO03/5-6/" target="_blank">Proverbs 3:5-6</a><br>
<a href="/knowledge_base/web/PSA103/12/" target="_blank">Psalm 103:12</a><br>
<a href="/knowledge_base/web/PSA118/8/" target="_blank">Psalm 118:8</a><br>
<a href="/knowledge_base/web/PSA139/14/" target="_blank">Psalm 139:14</a><br>
<a href="/knowledge_base/web/PSA139/1-6/" target="_blank">Psalm 139:1-6</a><br>
<a href="/knowledge_base/web/PSA018/3/" target="_blank">Psalm 18:3</a><br>
<a href="/knowledge_base/web/PSA020/7/" target="_blank">Psalm 20:7</a><br>
<a href="/knowledge_base/web/PSA025/3/" target="_blank">Psalm 25:3</a><br>
<a href="/knowledge_base/web/PSA027/1/" target="_blank">Psalm 27:1</a><br>
<a href="/knowledge_base/web/PSA034/18-19/" target="_blank">Psalm 34:18-19</a><br>
<a href="/knowledge_base/web/PSA037/4/" target="_blank">Psalm 37:4</a><br>
<a href="/knowledge_base/web/PSA037/8/" target="_blank">Psalm 37:8</a><br>
<a href="/knowledge_base/web/PSA004/8/" target="_blank">Psalm 4:8</a><br>
<a href="/knowledge_base/web/PSA051/10/" target="_blank">Psalm 51:10</a><br>
<a href="/knowledge_base/web/PSA051/17/" target="_blank">Psalm 51:17</a><br>
<a href="/knowledge_base/web/PSA056/3-4/" target="_blank">Psalm 56:3-4</a><br>
<a href="/knowledge_base/web/PSA084/10/" target="_blank">Psalm 84:10</a><br>
<a href="/knowledge_base/web/PSA094/19/" target="_blank">Psalm 94:19</a><br>
<a href="/knowledge_base/web/REV22/17/" target="_blank">Revelation 22:17</a><br>
<a href="/knowledge_base/web/ROM10/13/" target="_blank">Romans 10:13</a><br>
<a href="/knowledge_base/web/ROM10/17/" target="_blank">Romans 10:17</a><br>
<a href="/knowledge_base/web/ROM10/9/" target="_blank">Romans 10:9</a><br>
<a href="/knowledge_base/web/ROM12/1/" target="_blank">Romans 12:1</a><br>
<a href="/knowledge_base/web/ROM12/18-21/" target="_blank">Romans 12:18-21</a><br>
<a href="/knowledge_base/web/ROM12/19/" target="_blank">Romans 12:19</a><br>
<a href="/knowledge_base/web/ROM02/11/" target="_blank">Romans 2:11</a><br>
<a href="/knowledge_base/web/ROM03/23-24/" target="_blank">Romans 3:23-24</a><br>
<a href="/knowledge_base/web/ROM05/7-8/" target="_blank">Romans 5:7-8</a><br>
<a href="/knowledge_base/web/ROM08/28/" target="_blank">Romans 8:28</a><br>
<a href="/knowledge_base/web/ROM08/31/" target="_blank">Romans 8:31</a><br>
<a href="/knowledge_base/web/ACT02/38-39/" target="_blank">Acts 2:38-39</a><br>

</div> -->



</div>
<div class="start badge badge-pill badge-primary">Click to start</div>
{% endblock %}