{% extends 'knowledge_base/base.html' %}


{% block title %}initial data input by Ajax{% endblock %}
{% block content %}

<h3 style="margin-bottom: 30px;">initial data input by Ajax</h3>

<div>
	<!-- <div style='margin-bottom:20px;'><button style='width:200px;' class="btn btn-default btn-sm" id="initial_PostLabel">initialize Post Labels</button></div> -->
<!-- 	<div style='margin-bottom:20px;'><button style='width:200px;' class="btn btn-default btn-sm" id="initial_SentenceLabel">initialize Sentence Labels</button></div>
	<div style='margin-bottom:20px;'><button style='width:200px;' class="btn btn-default btn-sm" id="initial_Sentence">initialize Sentences</button></div> -->
	<!-- <div style='margin-bottom:20px;'><button style='width:200px;' class="btn btn-default btn-sm" id="initial_Post">initialize Post</button></div> -->
    <!-- <div style='margin-bottom:20px;'><button style='width:200px;' class="btn btn-default btn-sm" id="initial_SentenceLabelSynonym">initialize Sentence Label Synonyms</button></div> -->
    <div style='margin-bottom:20px;'><button style='width:200px;' class="btn btn-default btn-sm" id="initial_Verse">initialize Verses</button></div>
    <div style='margin-bottom:20px;'><button style='width:200px;' class="btn btn-default btn-sm" id="initial_Emotion">initialize Emotion</button></div>
    <div style='margin-bottom:20px;'><button style='width:200px;' class="btn btn-default btn-sm" id="initial_EmotionTopicMap">initialize EmotionTopicMap</button></div>
    <div style='margin-bottom:20px;'><button style='width:200px;' class="btn btn-default btn-sm" id="initial_Comment">initialize Comment</button></div>
	<div style='margin-bottom:20px;'><button style='width:200px;' class="btn btn-default btn-sm" id="initial_VerseMap">initialize Verses Map</button></div>
	<!-- <div style='margin-bottom:20px;'><button style='width:200px;' class="btn btn-default btn-sm" id="posts_into_catgories">Posts into Catgories</button></div> -->
	
</div>

{% endblock %}