{% extends 'knowledge_base/base.html' %}


{% block title %}labels{% endblock %}
{% block content %}

<div class="row">
<div class="col-sm-6">
	<h3>{{ view.post_title}}</h3>
	<ul style="list-style:none;">
	  {% for label in view.post_labels %}
	  	{% if label.positives > 0 %}
	  		ARUYO
	  	{% else %}
	    	<li>{{ label }}</li>
	    {% endif %}
	  {% endfor %}
	<ul>
</div>

<div class="col-sm-6">
<h3>{{ view.sentence_title}}</h3>
	<ul style="list-style:none;">
	  {% for label in view.sentence_labels %}
	  	{% if label.positives > 0 %}
	  		<li><a href="{% url 'knowledge_base:SentenceLabeling' label.id %}">{{ label }}</a></li>
	  	{% else %}
	    	<li>{{ label }}</li>
	    {% endif %}
	  {% endfor %}
	<ul>
</div>
{% endblock %}