{% extends 'knowledge_base/base.html' %}


{% block content %}

<btn class="btn btn-primary svm_learn_posts">SVM Learn</btn>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Label</th>
      <th>Positives</th>
      <th>Precision</th>
      <th>Recall</th>
    </tr>
  </thead>
  <tbody>
	  {% for label in view.post_labels %}
	  <tr>
	  	<td>{{ label }}</td>
	    <td>{{ label.positives }}</td>
        <td>{{ label.precision }}</td>
	    <td>{{ label.recall }}</td>

	  {% endfor %}  
	  </tr>
  </tbody>

<script>
$(function(){
	$(".label-value-sum").each(function() {
		var str = $(this).text();
		var trio = str.split('+')
		sum = parseInt(trio[0]) + parseInt(trio[1]) + parseInt(trio[2])
		// console.log(sum)
		$(this).text(sum)
	});
});
</script>

{% endblock %}

