{% extends 'knowledge_base/base.html' %}


{% block title %}labels{% endblock %}
{% block content %}

<div class="label-profile">
	<div class="label-title">{{ sentencelabel.title }}</div>
	<div>
		<!-- <div class="horiztal-5">All &nbsp;<span class="badge label-value-sum">{{ sentencelabel.positives }}+{{ sentencelabel.negatives }}+{{ sentencelabel.unknowns }}</span></div> -->
		<div class="horiztal-5">Positives &nbsp;<span class="badge">{{ sentencelabel.positives }}</span></div>
		<div class="horiztal-5">Supervisors &nbsp;<span class="badge">{{ sentencelabel.supervisors }}</span></div>
		<!-- <div class="horiztal-5">Negatives &nbsp;<span class="badge">{{ sentencelabel.negatives }}</span></div> -->
		<!-- <div class="horiztal-5">Unknowns &nbsp;<span class="badge">{{ sentencelabel.unknowns }}</span></div> -->
		<div class="horiztal-5">Accuracy &nbsp;<span class="badge">{{ sentencelabel.accuracy }}</span></div>
	</div>
</div>
<div>
	<form id='top10form' class='top10' action="{% url 'knowledge_base:SentenceRegistering' %}" method="post"></form>
</div>

<script>

$(function(){
	var top10html = "{% csrf_token %}";
	top10html += '<input type="hidden" name="label-pk" value="{{sentencelabel.pk}}">';

			
	var i = 0;
	{% for doc in top10doc %}
		var doc = "{{doc}}";
		console.log(doc)
		var trio = doc.split(':');
		var sid = trio[0];
		var text =  trio[1];
		var score =  trio[2];
		
		var selector =
		'<div class="slabeling"><div class="selector"><select class="form-control" name="label-' + parseInt(i) +'">\
		<option value="unchosen" style="color:#333;" selected>unchosen</option>\
		<option value="NOE" style="color:#86592d;">Not Emotion</option>\
		<option value="MUE" style="color:#bf80ff;">Multi Emotions</option>\
		<option value="UNK" style="color:#5bc0de;">Unknown_Emotion</option>\
		<option value="POS" style="color:#5cb85c;">Positive</option>\
		<optgroup style="color:#d9534f; font-weight:normal;" label="Other_Emotion:">'

		var others = ''
		{% for label in other_labels %}
			others += '<option value="{{label.pk}}" style="color:#d9534f;">{{label.title}}</option>'
		{% endfor %}

		selector = selector + others + '</optgroup></select></div>';
		
		var sid_html = '<input type="hidden" name="sid-' + parseInt(i) + '" value="' + sid + '">'
		var score_html = '<input type="hidden" name="score-' + parseInt(i) + '" value="' + score + '">'

		if (i == 0 && "{{sentencelabel.supervisors}}" > 0) {
			var supervisor = '<input type="hidden" name="supervisor" value="' + sid + '">';
			top10html += supervisor;
			top10html += '<div class="supervisor">[supervisor]&emsp; ' + text + '</div>';
		} else {
	 		top10html += selector + sid_html + score_html
	 		+ '<div class="top-sentences">' + text + '</div></div>';
		}
	 	i += 1;
	{% endfor %}
	top10html += '<button class="btn btn-primary" id="top10submit" style="margin-top:20px;" type="button">submit</button>';
	$(".top10").html(top10html);
});


$(function() {
  $('select').change(function() {
  	// alert($(this).find('option:selected').css('color'));
  	var color = $(this).find('option:selected').css('color');
    $(this).css('color' , color);
  });
});


$(function(){
  $('#top10submit').click(function(){
  	quit = 0;
	$("select").each(function() {
		var value = $(this).find('option:selected').text();
		if(value == 'unchosen') quit = 1;
	}); 
	if (quit == 1) {
		alert('Please select all.');
		return;
	}	
  	if (confirm('Okay to submit?') == true) $('#top10form').submit();
  });
})


$(function(){
	$(".label-value-sum").each(function() {
		var str = $(this).text();
		var trio = str.split('+')
		sum = parseInt(trio[0]) + parseInt(trio[1]) + parseInt(trio[2])
		// console.log(sum)
		$(this).text(sum)
	});
});


$('.selectpicker').selectpicker({
  style: 'btn-info',
  size: 6
});

</script>

{% endblock %}