{% extends 'knowledge_base/base.html' %}


{% block content %}


<btn class="btn btn-primary svm_learn_sentences">SVM Learn</btn>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Label</th>
      <th>Positives</th>
      <th>Supervisors</th>
      <th>Precision</th>
      <th>Recall</th>
    </tr>
  </thead>
  <tbody>
	  {% for label in view.sentence_labels %}
	  <tr>
	  	<td>
	  	{% if label.title == 'MULTI_EMOTIONS' or label.title == 'NOT_EMOTION' or label.title == 'UNKNOWN_EMOTION' %}
	    	{{ label }}
	  	{% elif label.positives > 0 %}
	  		<a href="{% url 'knowledge_base:SentenceLabeling' label.id %}">{{ label }}</a></li>
	  	{% else %}
	    	{{ label }}
	    {% endif %}
	    </td>
	    <td>{{ label.positives }}</td>
	    <td>{{ label.supervisors }}</td>
	    <td>{{ label.precision }}</td>
	    <td>{{ label.recall }}</td>

	  {% endfor %}  
	  </tr>
  </tbody>


{% endblock %}

