{% extends 'knowledge_base/base-web.html' %}{% block content %}﻿<!DOCTYPE html>
<div class="chapter">
<div class="verse-label" >1 Corinthians 6</div>
 
<div class='p'><span class='_NoBody'>
 <span class="V1_NoBody"><span class="verse" id="V1">
1&#160;</span>
Dare any of you, having a matter against his neighbor, go to law before the unrighteous, and not before the saints?  </span><span class="V2_NoBody"><span class="verse" id="V2">
2&#160;</span>
Don’t you know that the saints will judge the world? And if the world is judged by you, are you unworthy to judge the smallest matters?  </span><span class="V3_NoBody"><span class="verse" id="V3">
3&#160;</span>
Don’t you know that we will judge angels? How much more, things that pertain to this life?  </span><span class="V4_NoBody"><span class="verse" id="V4">
4&#160;</span>
If then you have to judge things pertaining to this life, do you set them to judge who are of no account in the assembly?  </span><span class="V5_NoBody"><span class="verse" id="V5">
5&#160;</span>
I say this to move you to shame. Isn’t there even one wise man among you who would be able to decide between his brothers?  </span><span class="V6_NoBody"><span class="verse" id="V6">
6&#160;</span>
But brother goes to law with brother, and that before unbelievers!  </span><span class="V7_NoBody"><span class="verse" id="V7">
7&#160;</span>
Therefore it is already altogether a defect in you, that you have lawsuits one with another. Why not rather be wronged? Why not rather be defrauded?  </span><span class="V8_NoBody"><span class="verse" id="V8">
8&#160;</span>
No, but you yourselves do wrong and defraud, and that against your brothers.  </span><span class="V9_NoBody"><span class="verse" id="V9">
9&#160;</span>
Or don’t you know that the unrighteous will not inherit God’s Kingdom? Don’t be deceived. Neither the sexually immoral, nor idolaters, nor adulterers, nor male prostitutes, nor homosexuals,  </span><span class="V10_NoBody"><span class="verse" id="V10">
10&#160;</span>
nor thieves, nor covetous, nor drunkards, nor slanderers, nor extortionists, will inherit God’s Kingdom.  </span><span class="V11_NoBody"><span class="verse" id="V11">
11&#160;</span>
Some of you were such, but you were washed. But you were sanctified. But you were justified in the name of the Lord Jesus, and in the Spirit of our God. </span></div>
<div class='p'><span class='V11_NoBody'>
 </span><span class="V12_NoBody"><span class="verse" id="V12">
12&#160;</span>
“All things are lawful for me,” but not all things are expedient. “All things are lawful for me,” but I will not be brought under the power of anything.  </span><span class="V13_NoBody"><span class="verse" id="V13">
13&#160;</span>
“Foods for the belly, and the belly for foods,” but God will bring to nothing both it and them. But the body is not for sexual immorality, but for the Lord; and the Lord for the body.  </span><span class="V14_NoBody"><span class="verse" id="V14">
14&#160;</span>
Now God raised up the Lord, and will also raise us up by his power.  </span><span class="V15_NoBody"><span class="verse" id="V15">
15&#160;</span>
Don’t you know that your bodies are members of Christ? Shall I then take the members of Christ and make them members of a prostitute? May it never be!  </span><span class="V16_NoBody"><span class="verse" id="V16">
16&#160;</span>
Or don’t you know that he who is joined to a prostitute is one body? For, “The two”, he says, “will become one flesh.”  </span><span class="V17_NoBody"><span class="verse" id="V17">
17&#160;</span>
But he who is joined to the Lord is one spirit.  </span><span class="V18_NoBody"><span class="verse" id="V18">
18&#160;</span>
Flee sexual immorality! “Every sin that a man does is outside the body,” but he who commits sexual immorality sins against his own body.  </span><span class="V19_NoBody"><span class="verse" id="V19">
19&#160;</span>
Or don’t you know that your body is a temple of the Holy Spirit who is in you, whom you have from God? You are not your own,  </span><span class="V20_NoBody"><span class="verse" id="V20">
20&#160;</span>
for you were bought with a price. Therefore glorify God in your body and in your spirit, which are God’s. </span></div>
<div class="footnote">

</div>
<hr /><div class="copyright">
<center> <a href="http://ebible.org/web/copyright.htm"">This website uses The World English Bible (Public Domain).</a> </center>
</div>
</div></body></html>
{% endblock %}