{% extends 'knowledge_base/base-web.html' %}{% block content %}﻿<!DOCTYPE html>
<div class="chapter">
<div class="verse-label" >1 Corinthians 4</div>
 
<div class='p'><span class='_NoBody'>
 <span class="V1_NoBody"><span class="verse" id="V1">
1&#160;</span>
So let a man think of us as Christ’s servants, and stewards of God’s mysteries.  </span><span class="V2_NoBody"><span class="verse" id="V2">
2&#160;</span>
Here, moreover, it is required of stewards that they be found faithful.  </span><span class="V3_NoBody"><span class="verse" id="V3">
3&#160;</span>
But with me it is a very small thing that I should be judged by you, or by man’s judgment. Yes, I don’t judge my own self.  </span><span class="V4_NoBody"><span class="verse" id="V4">
4&#160;</span>
For I know nothing against myself. Yet I am not justified by this, but he who judges me is the Lord.  </span><span class="V5_NoBody"><span class="verse" id="V5">
5&#160;</span>
Therefore judge nothing before the time, until the Lord comes, who will both bring to light the hidden things of darkness, and reveal the counsels of the hearts. Then each man will get his praise from God. </span></div>
<div class='p'><span class='V5_NoBody'>
 </span><span class="V6_NoBody"><span class="verse" id="V6">
6&#160;</span>
Now these things, brothers, I have in a figure transferred to myself and Apollos for your sakes, that in us you might learn not to think beyond the things which are written, that none of you be puffed up against one another.  </span><span class="V7_NoBody"><span class="verse" id="V7">
7&#160;</span>
For who makes you different? And what do you have that you didn’t receive? But if you did receive it, why do you boast as if you had not received it?  </span><span class="V8_NoBody"><span class="verse" id="V8">
8&#160;</span>
You are already filled. You have already become rich. You have come to reign without us. Yes, and I wish that you did reign, that we also might reign with you.  </span><span class="V9_NoBody"><span class="verse" id="V9">
9&#160;</span>
For, I think that God has displayed us, the apostles, last of all, like men sentenced to death. For we are made a spectacle to the world, both to angels and men.  </span><span class="V10_NoBody"><span class="verse" id="V10">
10&#160;</span>
We are fools for Christ’s sake, but you are wise in Christ. We are weak, but you are strong. You have honor, but we have dishonor.  </span><span class="V11_NoBody"><span class="verse" id="V11">
11&#160;</span>
Even to this present hour we hunger, thirst, are naked, are beaten, and have no certain dwelling place.  </span><span class="V12_NoBody"><span class="verse" id="V12">
12&#160;</span>
We toil, working with our own hands. When people curse us, we bless. Being persecuted, we endure.  </span><span class="V13_NoBody"><span class="verse" id="V13">
13&#160;</span>
Being defamed, we entreat. We are made as the filth of the world, the dirt wiped off by all, even until now. </span></div>
<div class='p'><span class='V13_NoBody'>
 </span><span class="V14_NoBody"><span class="verse" id="V14">
14&#160;</span>
I don’t write these things to shame you, but to admonish you as my beloved children.  </span><span class="V15_NoBody"><span class="verse" id="V15">
15&#160;</span>
For though you have ten thousand tutors in Christ, you don’t have many fathers. For in Christ Jesus, I became your father through the Good News.  </span><span class="V16_NoBody"><span class="verse" id="V16">
16&#160;</span>
I beg you therefore, be imitators of me.  </span><span class="V17_NoBody"><span class="verse" id="V17">
17&#160;</span>
Because of this I have sent Timothy to you, who is my beloved and faithful child in the Lord, who will remind you of my ways which are in Christ, even as I teach everywhere in every assembly.  </span><span class="V18_NoBody"><span class="verse" id="V18">
18&#160;</span>
Now some are puffed up, as though I were not coming to you.  </span><span class="V19_NoBody"><span class="verse" id="V19">
19&#160;</span>
But I will come to you shortly, if the Lord is willing. And I will know, not the word of those who are puffed up, but the power.  </span><span class="V20_NoBody"><span class="verse" id="V20">
20&#160;</span>
For God’s Kingdom is not in word, but in power.  </span><span class="V21_NoBody"><span class="verse" id="V21">
21&#160;</span>
What do you want? Shall I come to you with a rod, or in love and a spirit of gentleness? </span></div>
<div class="footnote">
</div>
<hr /><div class="copyright">
<center> <a href="http://ebible.org/web/copyright.htm"">This website uses The World English Bible (Public Domain).</a> </center>
</div>
</div></body></html>
{% endblock %}