{% extends 'knowledge_base/base-web.html' %}{% block content %}﻿<!DOCTYPE html>
<div class="chapter">
<div class="verse-label" >1 Corinthians 10</div>
 
<div class='p'><span class='_NoBody'>
 <span class="V1_NoBody"><span class="verse" id="V1">
1&#160;</span>
Now I would not have you ignorant, brothers, that our fathers were all under the cloud, and all passed through the sea;  </span><span class="V2_NoBody"><span class="verse" id="V2">
2&#160;</span>
and were all baptized into Moses in the cloud and in the sea;  </span><span class="V3_NoBody"><span class="verse" id="V3">
3&#160;</span>
and all ate the same spiritual food;  </span><span class="V4_NoBody"><span class="verse" id="V4">
4&#160;</span>
and all drank the same spiritual drink. For they drank of a spiritual rock that followed them, and the rock was Christ.  </span><span class="V5_NoBody"><span class="verse" id="V5">
5&#160;</span>
However with most of them, God was not well pleased, for they were overthrown in the wilderness.  </span><span class="V6_NoBody"><span class="verse" id="V6">
6&#160;</span>
Now these things were our examples, to the intent we should not lust after evil things, as they also lusted.  </span><span class="V7_NoBody"><span class="verse" id="V7">
7&#160;</span>
Don’t be idolaters, as some of them were. As it is written, “The people sat down to eat and drink, and rose up to play.”  </span><span class="V8_NoBody"><span class="verse" id="V8">
8&#160;</span>
Let’s not commit sexual immorality, as some of them committed, and in one day twenty-three thousand fell.  </span><span class="V9_NoBody"><span class="verse" id="V9">
9&#160;</span>
Let’s not test Christ, as some of them tested, and perished by the serpents.  </span><span class="V10_NoBody"><span class="verse" id="V10">
10&#160;</span>
Don’t grumble, as some of them also grumbled, and perished by the destroyer.  </span><span class="V11_NoBody"><span class="verse" id="V11">
11&#160;</span>
Now all these things happened to them by way of example, and they were written for our admonition, on whom the ends of the ages have come.  </span><span class="V12_NoBody"><span class="verse" id="V12">
12&#160;</span>
Therefore let him who thinks he stands be careful that he doesn’t fall. </span></div>
<div class='p'><span class='V12_NoBody'>
 </span><span class="V13_NoBody"><span class="verse" id="V13">
13&#160;</span>
No temptation has taken you except what is common to man. God is faithful, who will not allow you to be tempted above what you are able, but will with the temptation also make the way of escape, that you may be able to endure it. </span></div>
<div class='p'><span class='V13_NoBody'>
 </span><span class="V14_NoBody"><span class="verse" id="V14">
14&#160;</span>
Therefore, my beloved, flee from idolatry.  </span><span class="V15_NoBody"><span class="verse" id="V15">
15&#160;</span>
I speak as to wise men. Judge what I say.  </span><span class="V16_NoBody"><span class="verse" id="V16">
16&#160;</span>
The cup of blessing which we bless, isn’t it a sharing of the blood of Christ? The bread which we break, isn’t it a sharing of the body of Christ?  </span><span class="V17_NoBody"><span class="verse" id="V17">
17&#160;</span>
Because there is one loaf of bread, we, who are many, are one body; for we all partake of the one loaf of bread.  </span><span class="V18_NoBody"><span class="verse" id="V18">
18&#160;</span>
Consider Israel according to the flesh. Don’t those who eat the sacrifices participate in the altar? </span></div>
<div class='p'><span class='V18_NoBody'>
 </span><span class="V19_NoBody"><span class="verse" id="V19">
19&#160;</span>
What am I saying then? That a thing sacrificed to idols is anything, or that an idol is anything?  </span><span class="V20_NoBody"><span class="verse" id="V20">
20&#160;</span>
But I say that the things which the Gentiles sacrifice, they sacrifice to demons, and not to God, and I don’t desire that you would have fellowship with demons.  </span><span class="V21_NoBody"><span class="verse" id="V21">
21&#160;</span>
You can’t both drink the cup of the Lord and the cup of demons. You can’t both partake of the table of the Lord and of the table of demons.  </span><span class="V22_NoBody"><span class="verse" id="V22">
22&#160;</span>
Or do we provoke the Lord to jealousy? Are we stronger than he? </span></div>
<div class='p'><span class='V22_NoBody'>
 </span><span class="V23_NoBody"><span class="verse" id="V23">
23&#160;</span>
“All things are lawful for me,” but not all things are profitable. “All things are lawful for me,” but not all things build up.  </span><span class="V24_NoBody"><span class="verse" id="V24">
24&#160;</span>
Let no one seek his own, but each one his neighbor’s good.  </span><span class="V25_NoBody"><span class="verse" id="V25">
25&#160;</span>
Whatever is sold in the butcher shop, eat, asking no question for the sake of conscience,  </span><span class="V26_NoBody"><span class="verse" id="V26">
26&#160;</span>
for “the earth is the Lord’s, and its fullness.”  </span><span class="V27_NoBody"><span class="verse" id="V27">
27&#160;</span>
But if one of those who don’t believe invites you to a meal, and you are inclined to go, eat whatever is set before you, asking no questions for the sake of conscience.  </span><span class="V28_NoBody"><span class="verse" id="V28">
28&#160;</span>
But if anyone says to you, “This was offered to idols,” don’t eat it for the sake of the one who told you, and for the sake of conscience. For “the earth is the Lord’s, with all its fullness.”  </span><span class="V29_NoBody"><span class="verse" id="V29">
29&#160;</span>
Conscience, I say, not your own, but the other’s conscience. For why is my liberty judged by another conscience?  </span><span class="V30_NoBody"><span class="verse" id="V30">
30&#160;</span>
If I partake with thankfulness, why am I denounced for something I give thanks for?  </span><span class="V31_NoBody"><span class="verse" id="V31">
31&#160;</span>
Whether therefore you eat, or drink, or whatever you do, do all to the glory of God.  </span><span class="V32_NoBody"><span class="verse" id="V32">
32&#160;</span>
Give no occasion for stumbling, whether to Jews, or to Greeks, or to the assembly of God;  </span><span class="V33_NoBody"><span class="verse" id="V33">
33&#160;</span>
even as I also please all men in all things, not seeking my own profit, but the profit of the many, that they may be saved. </span></div>
<div class="footnote">

</div>
<hr /><div class="copyright">
<center> <a href="http://ebible.org/web/copyright.htm"">This website uses The World English Bible (Public Domain).</a> </center>
</div>
</div></body></html>
{% endblock %}