{% extends 'knowledge_base/base-web.html' %}{% block content %}﻿<!DOCTYPE html>
<div class="chapter">
<div class="verse-label" >1 Corinthians 15</div>
 
<div class='p'><span class='_NoBody'>
 <span class="V1_NoBody"><span class="verse" id="V1">
1&#160;</span>
Now I declare to you, brothers, the Good News which I preached to you, which also you received, in which you also stand,  </span><span class="V2_NoBody"><span class="verse" id="V2">
2&#160;</span>
by which also you are saved, if you hold firmly the word which I preached to you—unless you believed in vain.  </span><span class="V3_NoBody"><span class="verse" id="V3">
3&#160;</span>
For I delivered to you first of all that which I also received: that Christ died for our sins according to the Scriptures,  </span><span class="V4_NoBody"><span class="verse" id="V4">
4&#160;</span>
that he was buried, that he was raised on the third day according to the Scriptures,  </span><span class="V5_NoBody"><span class="verse" id="V5">
5&#160;</span>
and that he appeared to Cephas, then to the twelve.  </span><span class="V6_NoBody"><span class="verse" id="V6">
6&#160;</span>
Then he appeared to over five hundred brothers at once, most of whom remain until now, but some have also fallen asleep.  </span><span class="V7_NoBody"><span class="verse" id="V7">
7&#160;</span>
Then he appeared to James, then to all the apostles,  </span><span class="V8_NoBody"><span class="verse" id="V8">
8&#160;</span>
and last of all, as to the child born at the wrong time, he appeared to me also.  </span><span class="V9_NoBody"><span class="verse" id="V9">
9&#160;</span>
For I am the least of the apostles, who is not worthy to be called an apostle, because I persecuted the assembly of God.  </span><span class="V10_NoBody"><span class="verse" id="V10">
10&#160;</span>
But by the grace of God I am what I am. His grace which was given to me was not futile, but I worked more than all of them; yet not I, but the grace of God which was with me.  </span><span class="V11_NoBody"><span class="verse" id="V11">
11&#160;</span>
Whether then it is I or they, so we preach, and so you believed. </span></div>
<div class='p'><span class='V11_NoBody'>
 </span><span class="V12_NoBody"><span class="verse" id="V12">
12&#160;</span>
Now if Christ is preached, that he has been raised from the dead, how do some among you say that there is no resurrection of the dead?  </span><span class="V13_NoBody"><span class="verse" id="V13">
13&#160;</span>
But if there is no resurrection of the dead, neither has Christ been raised.  </span><span class="V14_NoBody"><span class="verse" id="V14">
14&#160;</span>
If Christ has not been raised, then our preaching is in vain, and your faith also is in vain.  </span><span class="V15_NoBody"><span class="verse" id="V15">
15&#160;</span>
Yes, we are also found false witnesses of God, because we testified about God that he raised up Christ, whom he didn’t raise up, if it is so that the dead are not raised.  </span><span class="V16_NoBody"><span class="verse" id="V16">
16&#160;</span>
For if the dead aren’t raised, neither has Christ been raised.  </span><span class="V17_NoBody"><span class="verse" id="V17">
17&#160;</span>
If Christ has not been raised, your faith is vain; you are still in your sins.  </span><span class="V18_NoBody"><span class="verse" id="V18">
18&#160;</span>
Then they also who are fallen asleep in Christ have perished.  </span><span class="V19_NoBody"><span class="verse" id="V19">
19&#160;</span>
If we have only hoped in Christ in this life, we are of all men most pitiable. </span></div>
<div class='p'><span class='V19_NoBody'>
 </span><span class="V20_NoBody"><span class="verse" id="V20">
20&#160;</span>
But now Christ has been raised from the dead. He became the first fruits of those who are asleep.  </span><span class="V21_NoBody"><span class="verse" id="V21">
21&#160;</span>
For since death came by man, the resurrection of the dead also came by man.  </span><span class="V22_NoBody"><span class="verse" id="V22">
22&#160;</span>
For as in Adam all die, so also in Christ all will be made alive.  </span><span class="V23_NoBody"><span class="verse" id="V23">
23&#160;</span>
But each in his own order: Christ the first fruits, then those who are Christ’s, at his coming.  </span><span class="V24_NoBody"><span class="verse" id="V24">
24&#160;</span>
Then the end comes, when he will deliver up the Kingdom to God, even the Father, when he will have abolished all rule and all authority and power.  </span><span class="V25_NoBody"><span class="verse" id="V25">
25&#160;</span>
For he must reign until he has put all his enemies under his feet.  </span><span class="V26_NoBody"><span class="verse" id="V26">
26&#160;</span>
The last enemy that will be abolished is death.  </span><span class="V27_NoBody"><span class="verse" id="V27">
27&#160;</span>
For, “He put all things in subjection under his feet.” But when he says, “All things are put in subjection”, it is evident that he is excepted who subjected all things to him.  </span><span class="V28_NoBody"><span class="verse" id="V28">
28&#160;</span>
When all things have been subjected to him, then the Son will also himself be subjected to him who subjected all things to him, that God may be all in all. </span></div>
<div class='p'><span class='V28_NoBody'>
 </span><span class="V29_NoBody"><span class="verse" id="V29">
29&#160;</span>
Or else what will they do who are baptized for the dead? If the dead aren’t raised at all, why then are they baptized for the dead?  </span><span class="V30_NoBody"><span class="verse" id="V30">
30&#160;</span>
Why do we also stand in jeopardy every hour?  </span><span class="V31_NoBody"><span class="verse" id="V31">
31&#160;</span>
I affirm, by the boasting in you which I have in Christ Jesus our Lord, I die daily.  </span><span class="V32_NoBody"><span class="verse" id="V32">
32&#160;</span>
If I fought with animals at Ephesus for human purposes, what does it profit me? If the dead are not raised, then “let’s eat and drink, for tomorrow we die.”  </span><span class="V33_NoBody"><span class="verse" id="V33">
33&#160;</span>
Don’t be deceived! “Evil companionships corrupt good morals.”  </span><span class="V34_NoBody"><span class="verse" id="V34">
34&#160;</span>
Wake up righteously, and don’t sin, for some have no knowledge of God. I say this to your shame. </span></div>
<div class='p'><span class='V34_NoBody'>
 </span><span class="V35_NoBody"><span class="verse" id="V35">
35&#160;</span>
But someone will say, “How are the dead raised?” and, “With what kind of body do they come?”  </span><span class="V36_NoBody"><span class="verse" id="V36">
36&#160;</span>
You foolish one, that which you yourself sow is not made alive unless it dies.  </span><span class="V37_NoBody"><span class="verse" id="V37">
37&#160;</span>
That which you sow, you don’t sow the body that will be, but a bare grain, maybe of wheat, or of some other kind.  </span><span class="V38_NoBody"><span class="verse" id="V38">
38&#160;</span>
But God gives it a body even as it pleased him, and to each seed a body of its own.  </span><span class="V39_NoBody"><span class="verse" id="V39">
39&#160;</span>
All flesh is not the same flesh, but there is one flesh of men, another flesh of animals, another of fish, and another of birds.  </span><span class="V40_NoBody"><span class="verse" id="V40">
40&#160;</span>
There are also celestial bodies and terrestrial bodies; but the glory of the celestial differs from that of the terrestrial.  </span><span class="V41_NoBody"><span class="verse" id="V41">
41&#160;</span>
There is one glory of the sun, another glory of the moon, and another glory of the stars; for one star differs from another star in glory.  </span><span class="V42_NoBody"><span class="verse" id="V42">
42&#160;</span>
So also is the resurrection of the dead. The body is sown perishable; it is raised imperishable.  </span><span class="V43_NoBody"><span class="verse" id="V43">
43&#160;</span>
It is sown in dishonor; it is raised in glory. It is sown in weakness; it is raised in power.  </span><span class="V44_NoBody"><span class="verse" id="V44">
44&#160;</span>
It is sown a natural body; it is raised a spiritual body. There is a natural body and there is also a spiritual body. </span></div>
<div class='p'><span class='V44_NoBody'>
 </span><span class="V45_NoBody"><span class="verse" id="V45">
45&#160;</span>
So also it is written, “The first man, Adam, became a living soul.”  The last Adam became a life-giving spirit.  </span><span class="V46_NoBody"><span class="verse" id="V46">
46&#160;</span>
However that which is spiritual isn’t first, but that which is natural, then that which is spiritual.  </span><span class="V47_NoBody"><span class="verse" id="V47">
47&#160;</span>
The first man is of the earth, made of dust. The second man is the Lord from heaven.  </span><span class="V48_NoBody"><span class="verse" id="V48">
48&#160;</span>
As is the one made of dust, such are those who are also made of dust; and as is the heavenly, such are they also that are heavenly.  </span><span class="V49_NoBody"><span class="verse" id="V49">
49&#160;</span>
As we have borne the image of those made of dust, let’s also bear the image of the heavenly.  </span><span class="V50_NoBody"><span class="verse" id="V50">
50&#160;</span>
Now I say this, brothers, that flesh and blood can’t inherit God’s Kingdom; neither does the perishable inherit imperishable. </span></div>
<div class='p'><span class='V50_NoBody'>
 </span><span class="V51_NoBody"><span class="verse" id="V51">
51&#160;</span>
Behold, I tell you a mystery. We will not all sleep, but we will all be changed,  </span><span class="V52_NoBody"><span class="verse" id="V52">
52&#160;</span>
in a moment, in the twinkling of an eye, at the last trumpet. For the trumpet will sound and the dead will be raised incorruptible, and we will be changed.  </span><span class="V53_NoBody"><span class="verse" id="V53">
53&#160;</span>
For this perishable body must become imperishable, and this mortal must put on immortality.  </span><span class="V54_NoBody"><span class="verse" id="V54">
54&#160;</span>
But when this perishable body will have become imperishable, and this mortal will have put on immortality, then what is written will happen: “Death is swallowed up in victory.” </span></div>
<div class='q'><span class='V54_NoBody'>
 </span><span class="V55_NoBody"><span class="verse" id="V55">
55&#160;</span>
“Death, where is your sting? </span></div>
<div class='q2'><span class='V55_NoBody'>
Hades, where is your victory?” </span></div>
<div class='p'><span class='V55_NoBody'>
 </span><span class="V56_NoBody"><span class="verse" id="V56">
56&#160;</span>
The sting of death is sin, and the power of sin is the law.  </span><span class="V57_NoBody"><span class="verse" id="V57">
57&#160;</span>
But thanks be to God, who gives us the victory through our Lord Jesus Christ.  </span><span class="V58_NoBody"><span class="verse" id="V58">
58&#160;</span>
Therefore, my beloved brothers, be steadfast, immovable, always abounding in the Lord’s work, because you know that your labor is not in vain in the Lord. </span></div>
<div class="footnote">

</div>
<hr /><div class="copyright">
<center> <a href="http://ebible.org/web/copyright.htm"">This website uses The World English Bible (Public Domain).</a> </center>
</div>
</div></body></html>
{% endblock %}