{% extends 'knowledge_base/base-web.html' %}{% block content %}﻿<!DOCTYPE html>
<div class="chapter">
<div class="verse-label" >1 Peter 5</div>
 
<div class='p'><span class='_NoBody'>
 <span class="V1_NoBody"><span class="verse" id="V1">
1&#160;</span>
Therefore I exhort the elders among you, as a fellow elder, and a witness of the sufferings of Christ, and who will also share in the glory that will be revealed.  </span><span class="V2_NoBody"><span class="verse" id="V2">
2&#160;</span>
Shepherd the flock of God which is among you, exercising the oversight, not under compulsion, but voluntarily, not for dishonest gain, but willingly;  </span><span class="V3_NoBody"><span class="verse" id="V3">
3&#160;</span>
not as lording it over those entrusted to you, but making yourselves examples to the flock.  </span><span class="V4_NoBody"><span class="verse" id="V4">
4&#160;</span>
When the chief Shepherd is revealed, you will receive the crown of glory that doesn’t fade away. </span></div>
<div class='p'><span class='V4_NoBody'>
 </span><span class="V5_NoBody"><span class="verse" id="V5">
5&#160;</span>
Likewise, you younger ones, be subject to the elder. Yes, all of you clothe yourselves with humility, to subject yourselves to one another; for “God resists the proud, but gives grace to the humble.”  </span><span class="V6_NoBody"><span class="verse" id="V6">
6&#160;</span>
Humble yourselves therefore under the mighty hand of God, that he may exalt you in due time,  </span><span class="V7_NoBody"><span class="verse" id="V7">
7&#160;</span>
casting all your worries on him, because he cares for you. </span></div>
<div class='p'><span class='V7_NoBody'>
 </span><span class="V8_NoBody"><span class="verse" id="V8">
8&#160;</span>
Be sober and self-controlled. Be watchful. Your adversary, the devil, walks around like a roaring lion, seeking whom he may devour.  </span><span class="V9_NoBody"><span class="verse" id="V9">
9&#160;</span>
Withstand him steadfast in your faith, knowing that your brothers who are in the world are undergoing the same sufferings.  </span><span class="V10_NoBody"><span class="verse" id="V10">
10&#160;</span>
But may the God of all grace, who called you to his eternal glory by Christ Jesus, after you have suffered a little while, perfect, establish, strengthen, and settle you.  </span><span class="V11_NoBody"><span class="verse" id="V11">
11&#160;</span>
To him be the glory and the power forever and ever. Amen. </span></div>
<div class='p'><span class='V11_NoBody'>
 </span><span class="V12_NoBody"><span class="verse" id="V12">
12&#160;</span>
Through Silvanus, our faithful brother, as I consider him, I have written to you briefly, exhorting, and testifying that this is the true grace of God in which you stand.  </span><span class="V13_NoBody"><span class="verse" id="V13">
13&#160;</span>
She who is in Babylon, chosen together with you, greets you. So does Mark, my son.  </span><span class="V14_NoBody"><span class="verse" id="V14">
14&#160;</span>
Greet one another with a kiss of love. </span></div>
<div class='p'><span class='V14_NoBody'>
Peace be to all of you who are in Christ Jesus. Amen. </span></div>
<div class="footnote">

</div>
<hr /><div class="copyright">
<center> <a href="http://ebible.org/web/copyright.htm"">This website uses The World English Bible (Public Domain).</a> </center>
</div>
</div></body></html>
{% endblock %}