{% extends 'knowledge_base/base-web.html' %}{% block content %}﻿<!DOCTYPE html>
<div class="chapter">
<div class="verse-label" >1 Peter 3</div>
 
<div class='p'><span class='_NoBody'>
 <span class="V1_NoBody"><span class="verse" id="V1">
1&#160;</span>
In the same way, wives, be in subjection to your own husbands; so that, even if any don’t obey the Word, they may be won by the behavior of their wives without a word,  </span><span class="V2_NoBody"><span class="verse" id="V2">
2&#160;</span>
seeing your pure behavior in fear.  </span><span class="V3_NoBody"><span class="verse" id="V3">
3&#160;</span>
Let your beauty be not just the outward adorning of braiding the hair, and of wearing jewels of gold, or of putting on fine clothing;  </span><span class="V4_NoBody"><span class="verse" id="V4">
4&#160;</span>
but in the hidden person of the heart, in the incorruptible adornment of a gentle and quiet spirit, which is very precious in the sight of God.  </span><span class="V5_NoBody"><span class="verse" id="V5">
5&#160;</span>
For this is how in the past, the holy women who hoped in God also adorned themselves, being in subjection to their own husbands.  </span><span class="V6_NoBody"><span class="verse" id="V6">
6&#160;</span>
So Sarah obeyed Abraham, calling him lord, whose children you now are, if you do well, and are not put in fear by any terror. </span></div>
<div class='p'><span class='V6_NoBody'>
 </span><span class="V7_NoBody"><span class="verse" id="V7">
7&#160;</span>
You husbands, in the same way, live with your wives according to knowledge, giving honor to the woman, as to the weaker vessel, as also being joint heirs of the grace of life, that your prayers may not be hindered. </span></div>
<div class='p'><span class='V7_NoBody'>
 </span><span class="V8_NoBody"><span class="verse" id="V8">
8&#160;</span>
Finally, all of you be like-minded, compassionate, loving as brothers, tenderhearted, courteous,  </span><span class="V9_NoBody"><span class="verse" id="V9">
9&#160;</span>
not rendering evil for evil, or insult for insult; but instead blessing, knowing that you were called to this, that you may inherit a blessing.  </span><span class="V10_NoBody"><span class="verse" id="V10">
10&#160;</span>
For, </span></div>
<div class='q'><span class='V10_NoBody'>
“He who would love life </span></div>
<div class='q2'><span class='V10_NoBody'>
and see good days, </span></div>
<div class='q'><span class='V10_NoBody'>
let him keep his tongue from evil </span></div>
<div class='q2'><span class='V10_NoBody'>
and his lips from speaking deceit. </span></div>
<div class='q'><span class='V10_NoBody'>
 </span><span class="V11_NoBody"><span class="verse" id="V11">
11&#160;</span>
Let him turn away from evil and do good. </span></div>
<div class='q2'><span class='V11_NoBody'>
Let him seek peace and pursue it. </span></div>
<div class='q'><span class='V11_NoBody'>
 </span><span class="V12_NoBody"><span class="verse" id="V12">
12&#160;</span>
For the eyes of the Lord are on the righteous, </span></div>
<div class='q2'><span class='V12_NoBody'>
and his ears open to their prayer; </span></div>
<div class='q2'><span class='V12_NoBody'>
but the face of the Lord is against those who do evil.” </span></div>
<div class='p'><span class='V12_NoBody'>
 </span><span class="V13_NoBody"><span class="verse" id="V13">
13&#160;</span>
Now who will harm you if you become imitators of that which is good?  </span><span class="V14_NoBody"><span class="verse" id="V14">
14&#160;</span>
But even if you should suffer for righteousness’ sake, you are blessed. “Don’t fear what they fear, neither be troubled.”  </span><span class="V15_NoBody"><span class="verse" id="V15">
15&#160;</span>
But sanctify the Lord God in your hearts. Always be ready to give an answer to everyone who asks you a reason concerning the hope that is in you, with humility and fear,  </span><span class="V16_NoBody"><span class="verse" id="V16">
16&#160;</span>
having a good conscience. Thus, while you are spoken against as evildoers, they may be disappointed who curse your good way of life in Christ.  </span><span class="V17_NoBody"><span class="verse" id="V17">
17&#160;</span>
For it is better, if it is God’s will, that you suffer for doing well than for doing evil.  </span><span class="V18_NoBody"><span class="verse" id="V18">
18&#160;</span>
Because Christ also suffered for sins once, the righteous for the unrighteous, that he might bring you to God, being put to death in the flesh, but made alive in the Spirit,  </span><span class="V19_NoBody"><span class="verse" id="V19">
19&#160;</span>
in whom he also went and preached to the spirits in prison,  </span><span class="V20_NoBody"><span class="verse" id="V20">
20&#160;</span>
who before were disobedient, when God waited patiently in the days of Noah, while the ship was being built. In it, few, that is, eight souls, were saved through water.  </span><span class="V21_NoBody"><span class="verse" id="V21">
21&#160;</span>
This is a symbol of baptism, which now saves you—not the putting away of the filth of the flesh, but the answer of a good conscience toward God, through the resurrection of Jesus Christ,  </span><span class="V22_NoBody"><span class="verse" id="V22">
22&#160;</span>
who is at the right hand of God, having gone into heaven, angels and authorities and powers being made subject to him. </span></div>
<div class="footnote">

</div>
<hr /><div class="copyright">
<center> <a href="http://ebible.org/web/copyright.htm"">This website uses The World English Bible (Public Domain).</a> </center>
</div>
</div></body></html>
{% endblock %}