{% extends 'knowledge_base/base-web.html' %}{% block content %}﻿<!DOCTYPE html>
<div class="chapter">
<div class="verse-label" >1 Samuel 16</div>
 
<div class='p'><span class='_NoBody'>
 <span class="V1_NoBody"><span class="verse" id="V1">
1&#160;</span>
Yahweh said to Samuel, “How long will you mourn for Saul, since I have rejected him from being king over Israel? Fill your horn with oil, and go. I will send you to Jesse the Bethlehemite; for I have provided a king for myself among his sons.” </span></div>
<div class='p'><span class='V1_NoBody'>
 </span><span class="V2_NoBody"><span class="verse" id="V2">
2&#160;</span>
Samuel said, “How can I go? If Saul hears it, he will kill me.” </span></div>
<div class='p'><span class='V2_NoBody'>
Yahweh said, “Take a heifer with you, and say, I have come to sacrifice to Yahweh.  </span><span class="V3_NoBody"><span class="verse" id="V3">
3&#160;</span>
Call Jesse to the sacrifice, and I will show you what you shall do. You shall anoint to me him whom I name to you.” </span></div>
<div class='p'><span class='V3_NoBody'>
 </span><span class="V4_NoBody"><span class="verse" id="V4">
4&#160;</span>
Samuel did that which Yahweh spoke, and came to Bethlehem. The elders of the city came to meet him trembling, and said, “Do you come peaceably?” </span></div>
<div class='p'><span class='V4_NoBody'>
 </span><span class="V5_NoBody"><span class="verse" id="V5">
5&#160;</span>
He said, “Peaceably; I have come to sacrifice to Yahweh. Sanctify yourselves, and come with me to the sacrifice.” He sanctified Jesse and his sons, and called them to the sacrifice.  </span><span class="V6_NoBody"><span class="verse" id="V6">
6&#160;</span>
When they had come, he looked at Eliab, and said, “Surely Yahweh’s anointed is before him.” </span></div>
<div class='p'><span class='V6_NoBody'>
 </span><span class="V7_NoBody"><span class="verse" id="V7">
7&#160;</span>
But Yahweh said to Samuel, “Don’t look on his face, or on the height of his stature, because I have rejected him; for I don’t see as man sees. For man looks at the outward appearance, but Yahweh looks at the heart.”  </span><span class="V8_NoBody"><span class="verse" id="V8">
8&#160;</span>
Then Jesse called Abinadab, and made him pass before Samuel. He said, “Yahweh has not chosen this one, either.”  </span><span class="V9_NoBody"><span class="verse" id="V9">
9&#160;</span>
Then Jesse made Shammah to pass by. He said, “Yahweh has not chosen this one, either.”  </span><span class="V10_NoBody"><span class="verse" id="V10">
10&#160;</span>
Jesse made seven of his sons to pass before Samuel. Samuel said to Jesse, “Yahweh has not chosen these.”  </span><span class="V11_NoBody"><span class="verse" id="V11">
11&#160;</span>
Samuel said to Jesse, “Are all your children here?” </span></div>
<div class='p'><span class='V11_NoBody'>
He said, “There remains yet the youngest. Behold, he is keeping the sheep.” </span></div>
<div class='p'><span class='V11_NoBody'>
Samuel said to Jesse, “Send and get him, for we will not sit down until he comes here.” </span></div>
<div class='p'><span class='V11_NoBody'>
 </span><span class="V12_NoBody"><span class="verse" id="V12">
12&#160;</span>
He sent, and brought him in. Now he was ruddy, with a handsome face and good appearance. Yahweh said, “Arise! Anoint him, for this is he.” </span></div>
<div class='p'><span class='V12_NoBody'>
 </span><span class="V13_NoBody"><span class="verse" id="V13">
13&#160;</span>
Then Samuel took the horn of oil, and anointed him in the middle of his brothers. Then Yahweh’s Spirit came mightily on David from that day forward. So Samuel rose up and went to Ramah.  </span><span class="V14_NoBody"><span class="verse" id="V14">
14&#160;</span>
Now Yahweh’s Spirit departed from Saul, and an evil spirit from Yahweh troubled him.  </span><span class="V15_NoBody"><span class="verse" id="V15">
15&#160;</span>
Saul’s servants said to him, “See now, an evil spirit from God troubles you.  </span><span class="V16_NoBody"><span class="verse" id="V16">
16&#160;</span>
Let our lord now command your servants who are in front of you to seek out a man who is a skillful player on the harp. Then when the evil spirit from God is on you, he will play with his hand, and you will be well.” </span></div>
<div class='p'><span class='V16_NoBody'>
 </span><span class="V17_NoBody"><span class="verse" id="V17">
17&#160;</span>
Saul said to his servants, “Provide me now a man who can play well, and bring him to me.” </span></div>
<div class='p'><span class='V17_NoBody'>
 </span><span class="V18_NoBody"><span class="verse" id="V18">
18&#160;</span>
Then one of the young men answered, and said, “Behold, I have seen a son of Jesse the Bethlehemite who is skillful in playing, a mighty man of valor, a man of war, prudent in speech, and a handsome person; and Yahweh is with him.” </span></div>
<div class='p'><span class='V18_NoBody'>
 </span><span class="V19_NoBody"><span class="verse" id="V19">
19&#160;</span>
Therefore Saul sent messengers to Jesse, and said, “Send me David your son, who is with the sheep.” </span></div>
<div class='p'><span class='V19_NoBody'>
 </span><span class="V20_NoBody"><span class="verse" id="V20">
20&#160;</span>
Jesse took a donkey loaded with bread, and a container of wine, and a young goat, and sent them by David his son to Saul.  </span><span class="V21_NoBody"><span class="verse" id="V21">
21&#160;</span>
David came to Saul, and stood before him. He loved him greatly; and he became his armor bearer.  </span><span class="V22_NoBody"><span class="verse" id="V22">
22&#160;</span>
Saul sent to Jesse, saying, “Please let David stand before me; for he has found favor in my sight.”  </span><span class="V23_NoBody"><span class="verse" id="V23">
23&#160;</span>
When the spirit from God was on Saul, David took the harp, and played with his hand; so Saul was refreshed, and was well, and the evil spirit departed from him. </span></div>
<div class="footnote">
</div>
<hr /><div class="copyright">
<center> <a href="http://ebible.org/web/copyright.htm"">This website uses The World English Bible (Public Domain).</a> </center>
</div>
</div></body></html>
{% endblock %}