{% extends 'knowledge_base/base-web.html' %}{% block content %}﻿<!DOCTYPE html>
<div class="chapter">
<div class="verse-label" >2 Corinthians 5</div>
 
<div class='p'><span class='_NoBody'>
 <span class="V1_NoBody"><span class="verse" id="V1">
1&#160;</span>
For we know that if the earthly house of our tent is dissolved, we have a building from God, a house not made with hands, eternal, in the heavens.  </span><span class="V2_NoBody"><span class="verse" id="V2">
2&#160;</span>
For most certainly in this we groan, longing to be clothed with our habitation which is from heaven,  </span><span class="V3_NoBody"><span class="verse" id="V3">
3&#160;</span>
if indeed being clothed, we will not be found naked.  </span><span class="V4_NoBody"><span class="verse" id="V4">
4&#160;</span>
For indeed we who are in this tent do groan, being burdened, not that we desire to be unclothed, but that we desire to be clothed, that what is mortal may be swallowed up by life.  </span><span class="V5_NoBody"><span class="verse" id="V5">
5&#160;</span>
Now he who made us for this very thing is God, who also gave to us the down payment of the Spirit. </span></div>
<div class='p'><span class='V5_NoBody'>
 </span><span class="V6_NoBody"><span class="verse" id="V6">
6&#160;</span>
Therefore we are always confident and know that while we are at home in the body, we are absent from the Lord;  </span><span class="V7_NoBody"><span class="verse" id="V7">
7&#160;</span>
for we walk by faith, not by sight.  </span><span class="V8_NoBody"><span class="verse" id="V8">
8&#160;</span>
We are courageous, I say, and are willing rather to be absent from the body and to be at home with the Lord.  </span><span class="V9_NoBody"><span class="verse" id="V9">
9&#160;</span>
Therefore also we make it our aim, whether at home or absent, to be well pleasing to him.  </span><span class="V10_NoBody"><span class="verse" id="V10">
10&#160;</span>
For we must all be revealed before the judgment seat of Christ that each one may receive the things in the body according to what he has done, whether good or bad. </span></div>
<div class='p'><span class='V10_NoBody'>
 </span><span class="V11_NoBody"><span class="verse" id="V11">
11&#160;</span>
Knowing therefore the fear of the Lord, we persuade men, but we are revealed to God, and I hope that we are revealed also in your consciences.  </span><span class="V12_NoBody"><span class="verse" id="V12">
12&#160;</span>
For we are not commending ourselves to you again, but speak as giving you occasion of boasting on our behalf, that you may have something to answer those who boast in appearance, and not in heart.  </span><span class="V13_NoBody"><span class="verse" id="V13">
13&#160;</span>
For if we are beside ourselves, it is for God. Or if we are of sober mind, it is for you.  </span><span class="V14_NoBody"><span class="verse" id="V14">
14&#160;</span>
For the love of Christ constrains us; because we judge thus, that one died for all, therefore all died.  </span><span class="V15_NoBody"><span class="verse" id="V15">
15&#160;</span>
He died for all, that those who live should no longer live to themselves, but to him who for their sakes died and rose again.  </span><span class="V16_NoBody"><span class="verse" id="V16">
16&#160;</span>
Therefore we know no one after the flesh from now on. Even though we have known Christ after the flesh, yet now we know him so no more.  </span><span class="V17_NoBody"><span class="verse" id="V17">
17&#160;</span>
Therefore if anyone is in Christ, he is a new creation. The old things have passed away. Behold, all things have become new.  </span><span class="V18_NoBody"><span class="verse" id="V18">
18&#160;</span>
But all things are of God, who reconciled us to himself through Jesus Christ, and gave to us the ministry of reconciliation;  </span><span class="V19_NoBody"><span class="verse" id="V19">
19&#160;</span>
namely, that God was in Christ reconciling the world to himself, not reckoning to them their trespasses, and having committed to us the word of reconciliation. </span></div>
<div class='p'><span class='V19_NoBody'>
 </span><span class="V20_NoBody"><span class="verse" id="V20">
20&#160;</span>
We are therefore ambassadors on behalf of Christ, as though God were entreating by us: we beg you on behalf of Christ, be reconciled to God.  </span><span class="V21_NoBody"><span class="verse" id="V21">
21&#160;</span>
For him who knew no sin he made to be sin on our behalf; so that in him we might become the righteousness of God. </span></div>
<div class="footnote">

</div>
<hr /><div class="copyright">
<center> <a href="http://ebible.org/web/copyright.htm"">This website uses The World English Bible (Public Domain).</a> </center>
</div>
</div></body></html>
{% endblock %}