{% extends 'knowledge_base/base-web.html' %}{% block content %}﻿<!DOCTYPE html>
<div class="chapter">
<div class="verse-label" >2 Corinthians 4</div>
 
<div class='p'><span class='_NoBody'>
 <span class="V1_NoBody"><span class="verse" id="V1">
1&#160;</span>
Therefore seeing we have this ministry, even as we obtained mercy, we don’t faint.  </span><span class="V2_NoBody"><span class="verse" id="V2">
2&#160;</span>
But we have renounced the hidden things of shame, not walking in craftiness, nor handling the word of God deceitfully, but by the manifestation of the truth commending ourselves to every man’s conscience in the sight of God.  </span><span class="V3_NoBody"><span class="verse" id="V3">
3&#160;</span>
Even if our Good News is veiled, it is veiled in those who are dying,  </span><span class="V4_NoBody"><span class="verse" id="V4">
4&#160;</span>
in whom the god of this world has blinded the minds of the unbelieving, that the light of the Good News of the glory of Christ, who is the image of God, should not dawn on them.  </span><span class="V5_NoBody"><span class="verse" id="V5">
5&#160;</span>
For we don’t preach ourselves, but Christ Jesus as Lord, and ourselves as your servants for Jesus’ sake,  </span><span class="V6_NoBody"><span class="verse" id="V6">
6&#160;</span>
seeing it is God who said, “Light will shine out of darkness,” who has shone in our hearts to give the light of the knowledge of the glory of God in the face of Jesus Christ. </span></div>
<div class='p'><span class='V6_NoBody'>
 </span><span class="V7_NoBody"><span class="verse" id="V7">
7&#160;</span>
But we have this treasure in clay vessels, that the exceeding greatness of the power may be of God, and not from ourselves.  </span><span class="V8_NoBody"><span class="verse" id="V8">
8&#160;</span>
We are pressed on every side, yet not crushed; perplexed, yet not to despair;  </span><span class="V9_NoBody"><span class="verse" id="V9">
9&#160;</span>
pursued, yet not forsaken; struck down, yet not destroyed;  </span><span class="V10_NoBody"><span class="verse" id="V10">
10&#160;</span>
always carrying in the body the putting to death of the Lord Jesus, that the life of Jesus may also be revealed in our body.  </span><span class="V11_NoBody"><span class="verse" id="V11">
11&#160;</span>
For we who live are always delivered to death for Jesus’ sake, that the life also of Jesus may be revealed in our mortal flesh.  </span><span class="V12_NoBody"><span class="verse" id="V12">
12&#160;</span>
So then death works in us, but life in you.  </span><span class="V13_NoBody"><span class="verse" id="V13">
13&#160;</span>
But having the same spirit of faith, according to that which is written, “I believed, and therefore I spoke.” We also believe, and therefore we also speak;  </span><span class="V14_NoBody"><span class="verse" id="V14">
14&#160;</span>
knowing that he who raised the Lord Jesus will raise us also with Jesus, and will present us with you.  </span><span class="V15_NoBody"><span class="verse" id="V15">
15&#160;</span>
For all things are for your sakes, that the grace, being multiplied through the many, may cause the thanksgiving to abound to the glory of God. </span></div>
<div class='p'><span class='V15_NoBody'>
 </span><span class="V16_NoBody"><span class="verse" id="V16">
16&#160;</span>
Therefore we don’t faint, but though our outward man is decaying, yet our inward man is renewed day by day.  </span><span class="V17_NoBody"><span class="verse" id="V17">
17&#160;</span>
For our light affliction, which is for the moment, works for us more and more exceedingly an eternal weight of glory,  </span><span class="V18_NoBody"><span class="verse" id="V18">
18&#160;</span>
while we don’t look at the things which are seen, but at the things which are not seen. For the things which are seen are temporal, but the things which are not seen are eternal. </span></div>
<div class="footnote">

</div>
<hr /><div class="copyright">
<center> <a href="http://ebible.org/web/copyright.htm"">This website uses The World English Bible (Public Domain).</a> </center>
</div>
</div></body></html>
{% endblock %}