{% extends 'knowledge_base/base-web.html' %}{% block content %}﻿<!DOCTYPE html>
<div class="chapter">
<div class="verse-label" >2 Corinthians 12</div>
 
<div class='p'><span class='_NoBody'>
 <span class="V1_NoBody"><span class="verse" id="V1">
1&#160;</span>
It is doubtless not profitable for me to boast. For I will come to visions and revelations of the Lord.  </span><span class="V2_NoBody"><span class="verse" id="V2">
2&#160;</span>
I know a man in Christ, fourteen years ago (whether in the body, I don’t know, or whether out of the body, I don’t know; God knows), such a one caught up into the third heaven.  </span><span class="V3_NoBody"><span class="verse" id="V3">
3&#160;</span>
I know such a man (whether in the body, or outside of the body, I don’t know; God knows),  </span><span class="V4_NoBody"><span class="verse" id="V4">
4&#160;</span>
how he was caught up into Paradise, and heard unspeakable words, which it is not lawful for a man to utter.  </span><span class="V5_NoBody"><span class="verse" id="V5">
5&#160;</span>
On behalf of such a one I will boast, but on my own behalf I will not boast, except in my weaknesses.  </span><span class="V6_NoBody"><span class="verse" id="V6">
6&#160;</span>
For if I would desire to boast, I will not be foolish; for I will speak the truth. But I refrain, so that no man may think more of me than that which he sees in me or hears from me.  </span><span class="V7_NoBody"><span class="verse" id="V7">
7&#160;</span>
By reason of the exceeding greatness of the revelations, that I should not be exalted excessively, a thorn in the flesh was given to me: a messenger of Satan to torment me, that I should not be exalted excessively.  </span><span class="V8_NoBody"><span class="verse" id="V8">
8&#160;</span>
Concerning this thing, I begged the Lord three times that it might depart from me.  </span><span class="V9_NoBody"><span class="verse" id="V9">
9&#160;</span>
He has said to me, <span class='wj'>
“My grace is sufficient for you, for my power is made perfect in weakness.”</span>
 Most gladly therefore I will rather glory in my weaknesses, that the power of Christ may rest on me. </span></div>
<div class='p'><span class='V9_NoBody'>
 </span><span class="V10_NoBody"><span class="verse" id="V10">
10&#160;</span>
Therefore I take pleasure in weaknesses, in injuries, in necessities, in persecutions, and in distresses, for Christ’s sake. For when I am weak, then am I strong.  </span><span class="V11_NoBody"><span class="verse" id="V11">
11&#160;</span>
I have become foolish in boasting. You compelled me, for I ought to have been commended by you, for I am in no way inferior to the very best apostles, though I am nothing.  </span><span class="V12_NoBody"><span class="verse" id="V12">
12&#160;</span>
Truly the signs of an apostle were worked among you in all perseverance, in signs and wonders and mighty works.  </span><span class="V13_NoBody"><span class="verse" id="V13">
13&#160;</span>
For what is there in which you were made inferior to the rest of the assemblies, unless it is that I myself was not a burden to you? Forgive me this wrong. </span></div>
<div class='p'><span class='V13_NoBody'>
 </span><span class="V14_NoBody"><span class="verse" id="V14">
14&#160;</span>
Behold, this is the third time I am ready to come to you, and I will not be a burden to you; for I seek not your possessions, but you. For the children ought not to save up for the parents, but the parents for the children.  </span><span class="V15_NoBody"><span class="verse" id="V15">
15&#160;</span>
I will most gladly spend and be spent for your souls. If I love you more abundantly, am I loved the less?  </span><span class="V16_NoBody"><span class="verse" id="V16">
16&#160;</span>
Even so, I myself didn’t burden you. “But, being crafty, I caught you with deception.”  </span><span class="V17_NoBody"><span class="verse" id="V17">
17&#160;</span>
Did I take advantage of you by anyone of those whom I have sent to you?  </span><span class="V18_NoBody"><span class="verse" id="V18">
18&#160;</span>
I exhorted Titus, and I sent the brother with him. Did Titus take any advantage of you? Didn’t we walk in the same spirit? Didn’t we walk in the same steps? </span></div>
<div class='p'><span class='V18_NoBody'>
 </span><span class="V19_NoBody"><span class="verse" id="V19">
19&#160;</span>
Again, do you think that we are excusing ourselves to you? In the sight of God we speak in Christ. But all things, beloved, are for your edifying.  </span><span class="V20_NoBody"><span class="verse" id="V20">
20&#160;</span>
For I am afraid that by any means, when I come, I might find you not the way I want to, and that I might be found by you as you don’t desire, that by any means there would be strife, jealousy, outbursts of anger, factions, slander, whisperings, proud thoughts, or riots,  </span><span class="V21_NoBody"><span class="verse" id="V21">
21&#160;</span>
that again when I come my God would humble me before you, and I would mourn for many of those who have sinned before now, and not repented of the uncleanness, sexual immorality, and lustfulness which they committed. </span></div>
<div class="footnote">
</div>
<hr /><div class="copyright">
<center> <a href="http://ebible.org/web/copyright.htm"">This website uses The World English Bible (Public Domain).</a> </center>
</div>
</div></body></html>
{% endblock %}