{% extends 'knowledge_base/base-web.html' %}{% block content %}﻿<!DOCTYPE html>
<div class="chapter">
<div class="verse-label" >Acts 2</div>
 
<div class='p'><span class='_NoBody'>
 <span class="V1_NoBody"><span class="verse" id="V1">
1&#160;</span>
Now when the day of Pentecost had come, they were all with one accord in one place.  </span><span class="V2_NoBody"><span class="verse" id="V2">
2&#160;</span>
Suddenly there came from the sky a sound like the rushing of a mighty wind, and it filled all the house where they were sitting.  </span><span class="V3_NoBody"><span class="verse" id="V3">
3&#160;</span>
Tongues like fire appeared and were distributed to them, and one sat on each of them.  </span><span class="V4_NoBody"><span class="verse" id="V4">
4&#160;</span>
They were all filled with the Holy Spirit, and began to speak with other languages, as the Spirit gave them the ability to speak.  </span><span class="V5_NoBody"><span class="verse" id="V5">
5&#160;</span>
Now there were dwelling in Jerusalem Jews, devout men, from every nation under the sky.  </span><span class="V6_NoBody"><span class="verse" id="V6">
6&#160;</span>
When this sound was heard, the multitude came together and were bewildered, because everyone heard them speaking in his own language.  </span><span class="V7_NoBody"><span class="verse" id="V7">
7&#160;</span>
They were all amazed and marveled, saying to one another, “Behold, aren’t all these who speak Galileans?  </span><span class="V8_NoBody"><span class="verse" id="V8">
8&#160;</span>
How do we hear, everyone in our own native language?  </span><span class="V9_NoBody"><span class="verse" id="V9">
9&#160;</span>
Parthians, Medes, Elamites, and people from Mesopotamia, Judea, Cappadocia, Pontus, Asia,  </span><span class="V10_NoBody"><span class="verse" id="V10">
10&#160;</span>
Phrygia, Pamphylia, Egypt, the parts of Libya around Cyrene, visitors from Rome, both Jews and proselytes,  </span><span class="V11_NoBody"><span class="verse" id="V11">
11&#160;</span>
Cretans and Arabians: we hear them speaking in our languages the mighty works of God!”  </span><span class="V12_NoBody"><span class="verse" id="V12">
12&#160;</span>
They were all amazed, and were perplexed, saying to one another, “What does this mean?”  </span><span class="V13_NoBody"><span class="verse" id="V13">
13&#160;</span>
Others, mocking, said, “They are filled with new wine.” </span></div>
<div class='p'><span class='V13_NoBody'>
 </span><span class="V14_NoBody"><span class="verse" id="V14">
14&#160;</span>
But Peter, standing up with the eleven, lifted up his voice, and spoke out to them, “You men of Judea, and all you who dwell at Jerusalem, let this be known to you, and listen to my words.  </span><span class="V15_NoBody"><span class="verse" id="V15">
15&#160;</span>
For these aren’t drunken, as you suppose, seeing it is only the third hour of the day.  </span><span class="V16_NoBody"><span class="verse" id="V16">
16&#160;</span>
But this is what has been spoken through the prophet Joel: </span></div>
<div class='q'><span class='V16_NoBody'>
 </span><span class="V17_NoBody"><span class="verse" id="V17">
17&#160;</span>
‘It will be in the last days, says God, </span></div>
<div class='q2'><span class='V17_NoBody'>
that I will pour out my Spirit on all flesh. </span></div>
<div class='q'><span class='V17_NoBody'>
Your sons and your daughters will prophesy. </span></div>
<div class='q2'><span class='V17_NoBody'>
Your young men will see visions. </span></div>
<div class='q2'><span class='V17_NoBody'>
Your old men will dream dreams. </span></div>
<div class='q'><span class='V17_NoBody'>
 </span><span class="V18_NoBody"><span class="verse" id="V18">
18&#160;</span>
Yes, and on my servants and on my handmaidens in those days, </span></div>
<div class='q2'><span class='V18_NoBody'>
I will pour out my Spirit, and they will prophesy. </span></div>
<div class='q'><span class='V18_NoBody'>
 </span><span class="V19_NoBody"><span class="verse" id="V19">
19&#160;</span>
I will show wonders in the sky above, </span></div>
<div class='q2'><span class='V19_NoBody'>
and signs on the earth beneath: </span></div>
<div class='q2'><span class='V19_NoBody'>
blood, and fire, and billows of smoke. </span></div>
<div class='q'><span class='V19_NoBody'>
 </span><span class="V20_NoBody"><span class="verse" id="V20">
20&#160;</span>
The sun will be turned into darkness, </span></div>
<div class='q2'><span class='V20_NoBody'>
and the moon into blood, </span></div>
<div class='q2'><span class='V20_NoBody'>
before the great and glorious day of the Lord comes. </span></div>
<div class='q'><span class='V20_NoBody'>
 </span><span class="V21_NoBody"><span class="verse" id="V21">
21&#160;</span>
It will be that whoever will call on the name of the Lord will be saved.’ </span></div>
<div class='p'><span class='V21_NoBody'>
 </span><span class="V22_NoBody"><span class="verse" id="V22">
22&#160;</span>
“Men of Israel, hear these words! Jesus of Nazareth, a man approved by God to you by mighty works and wonders and signs which God did by him among you, even as you yourselves know,  </span><span class="V23_NoBody"><span class="verse" id="V23">
23&#160;</span>
him, being delivered up by the determined counsel and foreknowledge of God, you have taken by the hand of lawless men, crucified and killed;  </span><span class="V24_NoBody"><span class="verse" id="V24">
24&#160;</span>
whom God raised up, having freed him from the agony of death, because it was not possible that he should be held by it.  </span><span class="V25_NoBody"><span class="verse" id="V25">
25&#160;</span>
For David says concerning him, </span></div>
<div class='q'><span class='V25_NoBody'>
‘I saw the Lord always before my face, </span></div>
<div class='q2'><span class='V25_NoBody'>
for he is on my right hand, that I should not be moved. </span></div>
<div class='q'><span class='V25_NoBody'>
 </span><span class="V26_NoBody"><span class="verse" id="V26">
26&#160;</span>
Therefore my heart was glad, and my tongue rejoiced. </span></div>
<div class='q2'><span class='V26_NoBody'>
Moreover my flesh also will dwell in hope; </span></div>
<div class='q'><span class='V26_NoBody'>
 </span><span class="V27_NoBody"><span class="verse" id="V27">
27&#160;</span>
because you will not leave my soul in Hades, </span></div>
<div class='q2'><span class='V27_NoBody'>
neither will you allow your Holy One to see decay. </span></div>
<div class='q'><span class='V27_NoBody'>
 </span><span class="V28_NoBody"><span class="verse" id="V28">
28&#160;</span>
You made known to me the ways of life. </span></div>
<div class='q2'><span class='V28_NoBody'>
You will make me full of gladness with your presence.’ </span></div>
<div class='p'><span class='V28_NoBody'>
 </span><span class="V29_NoBody"><span class="verse" id="V29">
29&#160;</span>
“Brothers, I may tell you freely of the patriarch David, that he both died and was buried, and his tomb is with us to this day.  </span><span class="V30_NoBody"><span class="verse" id="V30">
30&#160;</span>
Therefore, being a prophet, and knowing that God had sworn with an oath to him that of the fruit of his body, according to the flesh, he would raise up the Christ to sit on his throne,  </span><span class="V31_NoBody"><span class="verse" id="V31">
31&#160;</span>
he foreseeing this spoke about the resurrection of the Christ, that his soul wasn’t left in Hades, and his flesh didn’t see decay.  </span><span class="V32_NoBody"><span class="verse" id="V32">
32&#160;</span>
This Jesus God raised up, to which we all are witnesses.  </span><span class="V33_NoBody"><span class="verse" id="V33">
33&#160;</span>
Being therefore exalted by the right hand of God, and having received from the Father the promise of the Holy Spirit, he has poured out this, which you now see and hear.  </span><span class="V34_NoBody"><span class="verse" id="V34">
34&#160;</span>
For David didn’t ascend into the heavens, but he says himself, </span></div>
<div class='q'><span class='V34_NoBody'>
‘The Lord said to my Lord, “Sit by my right hand </span></div>
<div class='q2'><span class='V34_NoBody'>
 </span><span class="V35_NoBody"><span class="verse" id="V35">
35&#160;</span>
until I make your enemies a footstool for your feet.” ’ </span></div>
<div class='p'><span class='V35_NoBody'>
 </span><span class="V36_NoBody"><span class="verse" id="V36">
36&#160;</span>
“Let all the house of Israel therefore know certainly that God has made him both Lord and Christ, this Jesus whom you crucified.” </span></div>
<div class='p'><span class='V36_NoBody'>
 </span><span class="V37_NoBody"><span class="verse" id="V37">
37&#160;</span>
Now when they heard this, they were cut to the heart, and said to Peter and the rest of the apostles, “Brothers, what shall we do?” </span></div>
<div class='p'><span class='V37_NoBody'>
 </span><span class="V38_NoBody"><span class="verse" id="V38">
38&#160;</span>
Peter said to them, “Repent, and be baptized, every one of you, in the name of Jesus Christ for the forgiveness of sins, and you will receive the gift of the Holy Spirit.  </span><span class="V39_NoBody"><span class="verse" id="V39">
39&#160;</span>
For the promise is to you, and to your children, and to all who are far off, even as many as the Lord our God will call to himself.”  </span><span class="V40_NoBody"><span class="verse" id="V40">
40&#160;</span>
With many other words he testified, and exhorted them, saying, “Save yourselves from this crooked generation!” </span></div>
<div class='p'><span class='V40_NoBody'>
 </span><span class="V41_NoBody"><span class="verse" id="V41">
41&#160;</span>
Then those who gladly received his word were baptized. There were added that day about three thousand souls.  </span><span class="V42_NoBody"><span class="verse" id="V42">
42&#160;</span>
They continued steadfastly in the apostles’ teaching and fellowship, in the breaking of bread, and prayer.  </span><span class="V43_NoBody"><span class="verse" id="V43">
43&#160;</span>
Fear came on every soul, and many wonders and signs were done through the apostles.  </span><span class="V44_NoBody"><span class="verse" id="V44">
44&#160;</span>
All who believed were together, and had all things in common.  </span><span class="V45_NoBody"><span class="verse" id="V45">
45&#160;</span>
They sold their possessions and goods, and distributed them to all, according as anyone had need.  </span><span class="V46_NoBody"><span class="verse" id="V46">
46&#160;</span>
Day by day, continuing steadfastly with one accord in the temple, and breaking bread at home, they took their food with gladness and singleness of heart,  </span><span class="V47_NoBody"><span class="verse" id="V47">
47&#160;</span>
praising God, and having favor with all the people. The Lord added to the assembly day by day those who were being saved. </span></div>
<div class="footnote">

</div>
<hr /><div class="copyright">
<center> <a href="http://ebible.org/web/copyright.htm"">This website uses The World English Bible (Public Domain).</a> </center>
</div>
</div></body></html>
{% endblock %}