{% extends 'knowledge_base/base-web.html' %}{% block content %}﻿<!DOCTYPE html>
<div class="chapter">
<div class="verse-label" >Ecclesiastes 12</div>
 
<div class='p'><span class='_NoBody'>
 <span class="V1_NoBody"><span class="verse" id="V1">
1&#160;</span>
Remember also your Creator in the days of your youth, </span></div>
<div class='q2'><span class='V1_NoBody'>
before the evil days come, and the years draw near, </span></div>
<div class='q2'><span class='V1_NoBody'>
when you will say, “I have no pleasure in them;” </span></div>
<div class='q'><span class='V1_NoBody'>
 </span><span class="V2_NoBody"><span class="verse" id="V2">
2&#160;</span>
Before the sun, the light, the moon, and the stars are darkened, </span></div>
<div class='q2'><span class='V2_NoBody'>
and the clouds return after the rain; </span></div>
<div class='q'><span class='V2_NoBody'>
 </span><span class="V3_NoBody"><span class="verse" id="V3">
3&#160;</span>
in the day when the keepers of the house shall tremble, </span></div>
<div class='q2'><span class='V3_NoBody'>
and the strong men shall bow themselves, </span></div>
<div class='q2'><span class='V3_NoBody'>
and the grinders cease because they are few, </span></div>
<div class='q2'><span class='V3_NoBody'>
and those who look out of the windows are darkened, </span></div>
<div class='q'><span class='V3_NoBody'>
 </span><span class="V4_NoBody"><span class="verse" id="V4">
4&#160;</span>
and the doors shall be shut in the street; </span></div>
<div class='q2'><span class='V4_NoBody'>
when the sound of the grinding is low, </span></div>
<div class='q2'><span class='V4_NoBody'>
and one shall rise up at the voice of a bird, </span></div>
<div class='q2'><span class='V4_NoBody'>
and all the daughters of music shall be brought low; </span></div>
<div class='q'><span class='V4_NoBody'>
 </span><span class="V5_NoBody"><span class="verse" id="V5">
5&#160;</span>
yes, they shall be afraid of heights, </span></div>
<div class='q2'><span class='V5_NoBody'>
and terrors will be on the way; </span></div>
<div class='q2'><span class='V5_NoBody'>
and the almond tree shall blossom, </span></div>
<div class='q2'><span class='V5_NoBody'>
and the grasshopper shall be a burden, </span></div>
<div class='q2'><span class='V5_NoBody'>
and desire shall fail; </span></div>
<div class='q2'><span class='V5_NoBody'>
because man goes to his everlasting home, </span></div>
<div class='q2'><span class='V5_NoBody'>
and the mourners go about the streets: </span></div>
<div class='q'><span class='V5_NoBody'>
 </span><span class="V6_NoBody"><span class="verse" id="V6">
6&#160;</span>
before the silver cord is severed, </span></div>
<div class='q2'><span class='V6_NoBody'>
or the golden bowl is broken, </span></div>
<div class='q2'><span class='V6_NoBody'>
or the pitcher is broken at the spring, </span></div>
<div class='q2'><span class='V6_NoBody'>
or the wheel broken at the cistern, </span></div>
<div class='q'><span class='V6_NoBody'>
 </span><span class="V7_NoBody"><span class="verse" id="V7">
7&#160;</span>
and the dust returns to the earth as it was, </span></div>
<div class='q2'><span class='V7_NoBody'>
and the spirit returns to God who gave it. </span></div>
<div class='q2'><span class='V7_NoBody'>
 </span><span class="V8_NoBody"><span class="verse" id="V8">
8&#160;</span>
“Vanity of vanities,” says the Preacher. </span></div>
<div class='q2'><span class='V8_NoBody'>
“All is vanity!” </span></div>
<div class='p'><span class='V8_NoBody'>
 </span><span class="V9_NoBody"><span class="verse" id="V9">
9&#160;</span>
Further, because the Preacher was wise, he still taught the people knowledge. Yes, he pondered, sought out, and set in order many proverbs.  </span><span class="V10_NoBody"><span class="verse" id="V10">
10&#160;</span>
The Preacher sought to find out acceptable words, and that which was written blamelessly, words of truth.  </span><span class="V11_NoBody"><span class="verse" id="V11">
11&#160;</span>
The words of the wise are like goads; and like nails well fastened are words from the masters of assemblies, which are given from one shepherd.  </span><span class="V12_NoBody"><span class="verse" id="V12">
12&#160;</span>
Furthermore, my son, be admonished: of making many books there is no end; and much study is a weariness of the flesh. </span></div>
<div class='p'><span class='V12_NoBody'>
 </span><span class="V13_NoBody"><span class="verse" id="V13">
13&#160;</span>
This is the end of the matter. All has been heard. Fear God and keep his commandments; for this is the whole duty of man.  </span><span class="V14_NoBody"><span class="verse" id="V14">
14&#160;</span>
For God will bring every work into judgment, with every hidden thing, whether it is good, or whether it is evil. </span></div>
<div class="footnote">
</div>
<hr /><div class="copyright">
<center> <a href="http://ebible.org/web/copyright.htm"">This website uses The World English Bible (Public Domain).</a> </center>
</div>
</div></body></html>
{% endblock %}