{% extends 'knowledge_base/base-web.html' %}{% block content %}﻿<!DOCTYPE html>
<div class="chapter">
<div class="verse-label" >Ephesians 4</div>
 
<div class='p'><span class='_NoBody'>
 <span class="V1_NoBody"><span class="verse" id="V1">
1&#160;</span>
I therefore, the prisoner in the Lord, beg you to walk worthily of the calling with which you were called,  </span><span class="V2_NoBody"><span class="verse" id="V2">
2&#160;</span>
with all lowliness and humility, with patience, bearing with one another in love,  </span><span class="V3_NoBody"><span class="verse" id="V3">
3&#160;</span>
being eager to keep the unity of the Spirit in the bond of peace.  </span><span class="V4_NoBody"><span class="verse" id="V4">
4&#160;</span>
There is one body and one Spirit, even as you also were called in one hope of your calling,  </span><span class="V5_NoBody"><span class="verse" id="V5">
5&#160;</span>
one Lord, one faith, one baptism,  </span><span class="V6_NoBody"><span class="verse" id="V6">
6&#160;</span>
one God and Father of all, who is over all and through all, and in us all.  </span><span class="V7_NoBody"><span class="verse" id="V7">
7&#160;</span>
But to each one of us, the grace was given according to the measure of the gift of Christ.  </span><span class="V8_NoBody"><span class="verse" id="V8">
8&#160;</span>
Therefore he says, </span></div>
<div class='q'><span class='V8_NoBody'>
“When he ascended on high, </span></div>
<div class='q2'><span class='V8_NoBody'>
he led captivity captive, </span></div>
<div class='q2'><span class='V8_NoBody'>
and gave gifts to people.” </span></div>
<div class='m'>
 </span><span class="V9_NoBody"><span class="verse" id="V9">
9&#160;</span>
Now this, “He ascended”, what is it but that he also first descended into the lower parts of the earth?  </span><span class="V10_NoBody"><span class="verse" id="V10">
10&#160;</span>
He who descended is the one who also ascended far above all the heavens, that he might fill all things. </span></div>
<div class='p'><span class='V10_NoBody'>
 </span><span class="V11_NoBody"><span class="verse" id="V11">
11&#160;</span>
He gave some to be apostles; and some, prophets; and some, evangelists; and some, shepherds and teachers;  </span><span class="V12_NoBody"><span class="verse" id="V12">
12&#160;</span>
for the perfecting of the saints, to the work of serving, to the building up of the body of Christ,  </span><span class="V13_NoBody"><span class="verse" id="V13">
13&#160;</span>
until we all attain to the unity of the faith and of the knowledge of the Son of God, to a full grown man, to the measure of the stature of the fullness of Christ,  </span><span class="V14_NoBody"><span class="verse" id="V14">
14&#160;</span>
that we may no longer be children, tossed back and forth and carried about with every wind of doctrine, by the trickery of men, in craftiness, after the wiles of error;  </span><span class="V15_NoBody"><span class="verse" id="V15">
15&#160;</span>
but speaking truth in love, we may grow up in all things into him who is the head, Christ,  </span><span class="V16_NoBody"><span class="verse" id="V16">
16&#160;</span>
from whom all the body, being fitted and knit together through that which every joint supplies, according to the working in measure of each individual part, makes the body increase to the building up of itself in love. </span></div>
<div class='p'><span class='V16_NoBody'>
 </span><span class="V17_NoBody"><span class="verse" id="V17">
17&#160;</span>
This I say therefore, and testify in the Lord, that you no longer walk as the rest of the Gentiles also walk, in the futility of their mind,  </span><span class="V18_NoBody"><span class="verse" id="V18">
18&#160;</span>
being darkened in their understanding, alienated from the life of God because of the ignorance that is in them, because of the hardening of their hearts.  </span><span class="V19_NoBody"><span class="verse" id="V19">
19&#160;</span>
They, having become callous, gave themselves up to lust, to work all uncleanness with greediness.  </span><span class="V20_NoBody"><span class="verse" id="V20">
20&#160;</span>
But you didn’t learn Christ that way,  </span><span class="V21_NoBody"><span class="verse" id="V21">
21&#160;</span>
if indeed you heard him, and were taught in him, even as truth is in Jesus:  </span><span class="V22_NoBody"><span class="verse" id="V22">
22&#160;</span>
that you put away, as concerning your former way of life, the old man that grows corrupt after the lusts of deceit,  </span><span class="V23_NoBody"><span class="verse" id="V23">
23&#160;</span>
and that you be renewed in the spirit of your mind,  </span><span class="V24_NoBody"><span class="verse" id="V24">
24&#160;</span>
and put on the new man, who in the likeness of God has been created in righteousness and holiness of truth. </span></div>
<div class='p'><span class='V24_NoBody'>
 </span><span class="V25_NoBody"><span class="verse" id="V25">
25&#160;</span>
Therefore putting away falsehood, speak truth each one with his neighbor. For we are members of one another.  </span><span class="V26_NoBody"><span class="verse" id="V26">
26&#160;</span>
“Be angry, and don’t sin.” Don’t let the sun go down on your wrath,  </span><span class="V27_NoBody"><span class="verse" id="V27">
27&#160;</span>
and don’t give place to the devil.  </span><span class="V28_NoBody"><span class="verse" id="V28">
28&#160;</span>
Let him who stole steal no more; but rather let him labor, producing with his hands something that is good, that he may have something to give to him who has need.  </span><span class="V29_NoBody"><span class="verse" id="V29">
29&#160;</span>
Let no corrupt speech proceed out of your mouth, but only what is good for building others up as the need may be, that it may give grace to those who hear.  </span><span class="V30_NoBody"><span class="verse" id="V30">
30&#160;</span>
Don’t grieve the Holy Spirit of God, in whom you were sealed for the day of redemption.  </span><span class="V31_NoBody"><span class="verse" id="V31">
31&#160;</span>
Let all bitterness, wrath, anger, outcry, and slander be put away from you, with all malice.  </span><span class="V32_NoBody"><span class="verse" id="V32">
32&#160;</span>
And be kind to one another, tender hearted, forgiving each other, just as God also in Christ forgave you. </span></div>
<div class="footnote">

</div>
<hr /><div class="copyright">
<center> <a href="http://ebible.org/web/copyright.htm"">This website uses The World English Bible (Public Domain).</a> </center>
</div>
</div></body></html>
{% endblock %}