{% extends 'knowledge_base/base-web.html' %}{% block content %}﻿<!DOCTYPE html>
<div class="chapter">
<div class="verse-label" >Galatians 5</div>
 
<div class='p'><span class='_NoBody'>
 <span class="V1_NoBody"><span class="verse" id="V1">
1&#160;</span>
Stand firm therefore in the liberty by which Christ has made us free, and don’t be entangled again with a yoke of bondage. </span></div>
<div class='p'><span class='V1_NoBody'>
 </span><span class="V2_NoBody"><span class="verse" id="V2">
2&#160;</span>
Behold, I, Paul, tell you that if you receive circumcision, Christ will profit you nothing.  </span><span class="V3_NoBody"><span class="verse" id="V3">
3&#160;</span>
Yes, I testify again to every man who receives circumcision that he is a debtor to do the whole law.  </span><span class="V4_NoBody"><span class="verse" id="V4">
4&#160;</span>
You are alienated from Christ, you who desire to be justified by the law. You have fallen away from grace.  </span><span class="V5_NoBody"><span class="verse" id="V5">
5&#160;</span>
For we, through the Spirit, by faith wait for the hope of righteousness.  </span><span class="V6_NoBody"><span class="verse" id="V6">
6&#160;</span>
For in Christ Jesus neither circumcision amounts to anything, nor uncircumcision, but faith working through love.  </span><span class="V7_NoBody"><span class="verse" id="V7">
7&#160;</span>
You were running well! Who interfered with you that you should not obey the truth?  </span><span class="V8_NoBody"><span class="verse" id="V8">
8&#160;</span>
This persuasion is not from him who calls you.  </span><span class="V9_NoBody"><span class="verse" id="V9">
9&#160;</span>
A little yeast grows through the whole lump.  </span><span class="V10_NoBody"><span class="verse" id="V10">
10&#160;</span>
I have confidence toward you in the Lord that you will think no other way. But he who troubles you will bear his judgment, whoever he is. </span></div>
<div class='p'><span class='V10_NoBody'>
 </span><span class="V11_NoBody"><span class="verse" id="V11">
11&#160;</span>
But I, brothers, if I still preach circumcision, why am I still persecuted? Then the stumbling block of the cross has been removed.  </span><span class="V12_NoBody"><span class="verse" id="V12">
12&#160;</span>
I wish that those who disturb you would cut themselves off. </span></div>
<div class='p'><span class='V12_NoBody'>
 </span><span class="V13_NoBody"><span class="verse" id="V13">
13&#160;</span>
For you, brothers, were called for freedom. Only don’t use your freedom for gain to the flesh, but through love be servants to one another.  </span><span class="V14_NoBody"><span class="verse" id="V14">
14&#160;</span>
For the whole law is fulfilled in one word, in this: “You shall love your neighbor as yourself.”  </span><span class="V15_NoBody"><span class="verse" id="V15">
15&#160;</span>
But if you bite and devour one another, be careful that you don’t consume one another. </span></div>
<div class='p'><span class='V15_NoBody'>
 </span><span class="V16_NoBody"><span class="verse" id="V16">
16&#160;</span>
But I say, walk by the Spirit, and you won’t fulfill the lust of the flesh.  </span><span class="V17_NoBody"><span class="verse" id="V17">
17&#160;</span>
For the flesh lusts against the Spirit, and the Spirit against the flesh; and these are contrary to one another, that you may not do the things that you desire.  </span><span class="V18_NoBody"><span class="verse" id="V18">
18&#160;</span>
But if you are led by the Spirit, you are not under the law.  </span><span class="V19_NoBody"><span class="verse" id="V19">
19&#160;</span>
Now the deeds of the flesh are obvious, which are: adultery, sexual immorality, uncleanness, lustfulness,  </span><span class="V20_NoBody"><span class="verse" id="V20">
20&#160;</span>
idolatry, sorcery, hatred, strife, jealousies, outbursts of anger, rivalries, divisions, heresies,  </span><span class="V21_NoBody"><span class="verse" id="V21">
21&#160;</span>
envy, murders, drunkenness, orgies, and things like these; of which I forewarn you, even as I also forewarned you, that those who practice such things will not inherit God’s Kingdom. </span></div>
<div class='p'><span class='V21_NoBody'>
 </span><span class="V22_NoBody"><span class="verse" id="V22">
22&#160;</span>
But the fruit of the Spirit is love, joy, peace, patience, kindness, goodness, faith,  </span><span class="V23_NoBody"><span class="verse" id="V23">
23&#160;</span>
gentleness, and self-control. Against such things there is no law.  </span><span class="V24_NoBody"><span class="verse" id="V24">
24&#160;</span>
Those who belong to Christ have crucified the flesh with its passions and lusts. </span></div>
<div class='p'><span class='V24_NoBody'>
 </span><span class="V25_NoBody"><span class="verse" id="V25">
25&#160;</span>
If we live by the Spirit, let’s also walk by the Spirit.  </span><span class="V26_NoBody"><span class="verse" id="V26">
26&#160;</span>
Let’s not become conceited, provoking one another, and envying one another. </span></div>
<div class="footnote">

</div>
<hr /><div class="copyright">
<center> <a href="http://ebible.org/web/copyright.htm"">This website uses The World English Bible (Public Domain).</a> </center>
</div>
</div></body></html>
{% endblock %}