{% extends 'knowledge_base/base-web.html' %}{% block content %}﻿<!DOCTYPE html>
<div class="chapter">
<div class="verse-label" >Galatians 3</div>
 
<div class='p'><span class='_NoBody'>
 <span class="V1_NoBody"><span class="verse" id="V1">
1&#160;</span>
Foolish Galatians, who has bewitched you not to obey the truth, before whose eyes Jesus Christ was openly portrayed among you as crucified?  </span><span class="V2_NoBody"><span class="verse" id="V2">
2&#160;</span>
I just want to learn this from you: Did you receive the Spirit by the works of the law, or by hearing of faith?  </span><span class="V3_NoBody"><span class="verse" id="V3">
3&#160;</span>
Are you so foolish? Having begun in the Spirit, are you now completed in the flesh?  </span><span class="V4_NoBody"><span class="verse" id="V4">
4&#160;</span>
Did you suffer so many things in vain, if it is indeed in vain?  </span><span class="V5_NoBody"><span class="verse" id="V5">
5&#160;</span>
He therefore who supplies the Spirit to you and does miracles among you, does he do it by the works of the law, or by hearing of faith?  </span><span class="V6_NoBody"><span class="verse" id="V6">
6&#160;</span>
Even as Abraham “believed God, and it was counted to him for righteousness.”  </span><span class="V7_NoBody"><span class="verse" id="V7">
7&#160;</span>
Know therefore that those who are of faith are children of Abraham.  </span><span class="V8_NoBody"><span class="verse" id="V8">
8&#160;</span>
The Scripture, foreseeing that God would justify the Gentiles by faith, preached the Good News beforehand to Abraham, saying, “In you all the nations will be blessed.”  </span><span class="V9_NoBody"><span class="verse" id="V9">
9&#160;</span>
So then, those who are of faith are blessed with the faithful Abraham.  </span><span class="V10_NoBody"><span class="verse" id="V10">
10&#160;</span>
For as many as are of the works of the law are under a curse. For it is written, “Cursed is everyone who doesn’t continue in all things that are written in the book of the law, to do them.”  </span><span class="V11_NoBody"><span class="verse" id="V11">
11&#160;</span>
Now that no man is justified by the law before God is evident, for, “The righteous will live by faith.”  </span><span class="V12_NoBody"><span class="verse" id="V12">
12&#160;</span>
The law is not of faith, but, “The man who does them will live by them.” </span></div>
<div class='p'><span class='V12_NoBody'>
 </span><span class="V13_NoBody"><span class="verse" id="V13">
13&#160;</span>
Christ redeemed us from the curse of the law, having become a curse for us. For it is written, “Cursed is everyone who hangs on a tree,”  </span><span class="V14_NoBody"><span class="verse" id="V14">
14&#160;</span>
that the blessing of Abraham might come on the Gentiles through Christ Jesus, that we might receive the promise of the Spirit through faith. </span></div>
<div class='p'><span class='V14_NoBody'>
 </span><span class="V15_NoBody"><span class="verse" id="V15">
15&#160;</span>
Brothers, speaking of human terms, though it is only a man’s covenant, yet when it has been confirmed, no one makes it void or adds to it.  </span><span class="V16_NoBody"><span class="verse" id="V16">
16&#160;</span>
Now the promises were spoken to Abraham and to his offspring. He doesn’t say, “To descendants”, as of many, but as of one, “To your offspring”, which is Christ.  </span><span class="V17_NoBody"><span class="verse" id="V17">
17&#160;</span>
Now I say this: A covenant confirmed beforehand by God in Christ, the law, which came four hundred thirty years after, does not annul, so as to make the promise of no effect.  </span><span class="V18_NoBody"><span class="verse" id="V18">
18&#160;</span>
For if the inheritance is of the law, it is no more of promise; but God has granted it to Abraham by promise. </span></div>
<div class='p'><span class='V18_NoBody'>
 </span><span class="V19_NoBody"><span class="verse" id="V19">
19&#160;</span>
Then why is there the law? It was added because of transgressions, until the offspring should come to whom the promise has been made. It was ordained through angels by the hand of a mediator.  </span><span class="V20_NoBody"><span class="verse" id="V20">
20&#160;</span>
Now a mediator is not between one, but God is one.  </span><span class="V21_NoBody"><span class="verse" id="V21">
21&#160;</span>
Is the law then against the promises of God? Certainly not! For if there had been a law given which could make alive, most certainly righteousness would have been of the law.  </span><span class="V22_NoBody"><span class="verse" id="V22">
22&#160;</span>
But the Scripture imprisoned all things under sin, that the promise by faith in Jesus Christ might be given to those who believe. </span></div>
<div class='p'><span class='V22_NoBody'>
 </span><span class="V23_NoBody"><span class="verse" id="V23">
23&#160;</span>
But before faith came, we were kept in custody under the law, confined for the faith which should afterwards be revealed.  </span><span class="V24_NoBody"><span class="verse" id="V24">
24&#160;</span>
So that the law has become our tutor to bring us to Christ, that we might be justified by faith.  </span><span class="V25_NoBody"><span class="verse" id="V25">
25&#160;</span>
But now that faith has come, we are no longer under a tutor.  </span><span class="V26_NoBody"><span class="verse" id="V26">
26&#160;</span>
For you are all children of God, through faith in Christ Jesus.  </span><span class="V27_NoBody"><span class="verse" id="V27">
27&#160;</span>
For as many of you as were baptized into Christ have put on Christ.  </span><span class="V28_NoBody"><span class="verse" id="V28">
28&#160;</span>
There is neither Jew nor Greek, there is neither slave nor free man, there is neither male nor female; for you are all one in Christ Jesus.  </span><span class="V29_NoBody"><span class="verse" id="V29">
29&#160;</span>
If you are Christ’s, then you are Abraham’s offspring and heirs according to promise. </span></div>
<div class="footnote">

</div>
<hr /><div class="copyright">
<center> <a href="http://ebible.org/web/copyright.htm"">This website uses The World English Bible (Public Domain).</a> </center>
</div>
</div></body></html>
{% endblock %}