{% extends 'knowledge_base/base-web.html' %}{% block content %}﻿<!DOCTYPE html>
<div class="chapter">
<div class="verse-label" >Hebrews 4</div>
 
<div class='p'><span class='_NoBody'>
 <span class="V1_NoBody"><span class="verse" id="V1">
1&#160;</span>
Let’s fear therefore, lest perhaps anyone of you should seem to have come short of a promise of entering into his rest.  </span><span class="V2_NoBody"><span class="verse" id="V2">
2&#160;</span>
For indeed we have had good news preached to us, even as they also did, but the word they heard didn’t profit them, because it wasn’t mixed with faith by those who heard.  </span><span class="V3_NoBody"><span class="verse" id="V3">
3&#160;</span>
For we who have believed do enter into that rest, even as he has said, “As I swore in my wrath, they will not enter into my rest;” although the works were finished from the foundation of the world.  </span><span class="V4_NoBody"><span class="verse" id="V4">
4&#160;</span>
For he has said this somewhere about the seventh day, “God rested on the seventh day from all his works;”  </span><span class="V5_NoBody"><span class="verse" id="V5">
5&#160;</span>
and in this place again, “They will not enter into my rest.” </span></div>
<div class='p'><span class='V5_NoBody'>
 </span><span class="V6_NoBody"><span class="verse" id="V6">
6&#160;</span>
Seeing therefore it remains that some should enter into it, and they to whom the good news was preached before failed to enter in because of disobedience,  </span><span class="V7_NoBody"><span class="verse" id="V7">
7&#160;</span>
he again defines a certain day, today, saying through David so long a time afterward (just as has been said), </span></div>
<div class='q'><span class='V7_NoBody'>
“Today if you will hear his voice, </span></div>
<div class='q2'><span class='V7_NoBody'>
don’t harden your hearts.” </span></div>
<div class='p'><span class='V7_NoBody'>
 </span><span class="V8_NoBody"><span class="verse" id="V8">
8&#160;</span>
For if Joshua had given them rest, he would not have spoken afterward of another day.  </span><span class="V9_NoBody"><span class="verse" id="V9">
9&#160;</span>
There remains therefore a Sabbath rest for the people of God.  </span><span class="V10_NoBody"><span class="verse" id="V10">
10&#160;</span>
For he who has entered into his rest has himself also rested from his works, as God did from his.  </span><span class="V11_NoBody"><span class="verse" id="V11">
11&#160;</span>
Let’s therefore give diligence to enter into that rest, lest anyone fall after the same example of disobedience.  </span><span class="V12_NoBody"><span class="verse" id="V12">
12&#160;</span>
For the word of God is living and active, and sharper than any two-edged sword, piercing even to the dividing of soul and spirit, of both joints and marrow, and is able to discern the thoughts and intentions of the heart.  </span><span class="V13_NoBody"><span class="verse" id="V13">
13&#160;</span>
There is no creature that is hidden from his sight, but all things are naked and laid open before the eyes of him to whom we must give an account. </span></div>
<div class='p'><span class='V13_NoBody'>
 </span><span class="V14_NoBody"><span class="verse" id="V14">
14&#160;</span>
Having then a great high priest who has passed through the heavens, Jesus, the Son of God, let’s hold tightly to our confession.  </span><span class="V15_NoBody"><span class="verse" id="V15">
15&#160;</span>
For we don’t have a high priest who can’t be touched with the feeling of our infirmities, but one who has been in all points tempted like we are, yet without sin.  </span><span class="V16_NoBody"><span class="verse" id="V16">
16&#160;</span>
Let’s therefore draw near with boldness to the throne of grace, that we may receive mercy and may find grace for help in time of need. </span></div>
<div class="footnote">

</div>
<hr /><div class="copyright">
<center> <a href="http://ebible.org/web/copyright.htm"">This website uses The World English Bible (Public Domain).</a> </center>
</div>
</div></body></html>
{% endblock %}