{% extends 'knowledge_base/base-web.html' %}{% block content %}﻿<!DOCTYPE html>
<div class="chapter">
<div class="verse-label" >Hebrews 11</div>
 
<div class='p'><span class='_NoBody'>
 <span class="V1_NoBody"><span class="verse" id="V1">
1&#160;</span>
Now faith is assurance of things hoped for, proof of things not seen.  </span><span class="V2_NoBody"><span class="verse" id="V2">
2&#160;</span>
For by this, the elders obtained testimony.  </span><span class="V3_NoBody"><span class="verse" id="V3">
3&#160;</span>
By faith, we understand that the universe has been framed by the word of God, so that what is seen has not been made out of things which are visible.  </span><span class="V4_NoBody"><span class="verse" id="V4">
4&#160;</span>
By faith, Abel offered to God a more excellent sacrifice than Cain, through which he had testimony given to him that he was righteous, God testifying with respect to his gifts; and through it he, being dead, still speaks.  </span><span class="V5_NoBody"><span class="verse" id="V5">
5&#160;</span>
By faith, Enoch was taken away, so that he wouldn’t see death, and he was not found, because God translated him. For he has had testimony given to him that before his translation he had been well pleasing to God.  </span><span class="V6_NoBody"><span class="verse" id="V6">
6&#160;</span>
Without faith it is impossible to be well pleasing to him, for he who comes to God must believe that he exists, and that he is a rewarder of those who seek him.  </span><span class="V7_NoBody"><span class="verse" id="V7">
7&#160;</span>
By faith, Noah, being warned about things not yet seen, moved with godly fear, prepared a ship for the saving of his house, through which he condemned the world, and became heir of the righteousness which is according to faith.  </span><span class="V8_NoBody"><span class="verse" id="V8">
8&#160;</span>
By faith, Abraham, when he was called, obeyed to go out to the place which he was to receive for an inheritance. He went out, not knowing where he went.  </span><span class="V9_NoBody"><span class="verse" id="V9">
9&#160;</span>
By faith, he lived as an alien in the land of promise, as in a land not his own, dwelling in tents with Isaac and Jacob, the heirs with him of the same promise.  </span><span class="V10_NoBody"><span class="verse" id="V10">
10&#160;</span>
For he looked for the city which has the foundations, whose builder and maker is God.  </span><span class="V11_NoBody"><span class="verse" id="V11">
11&#160;</span>
By faith, even Sarah herself received power to conceive, and she bore a child when she was past age, since she counted him faithful who had promised.  </span><span class="V12_NoBody"><span class="verse" id="V12">
12&#160;</span>
Therefore as many as the stars of the sky in multitude, and as innumerable as the sand which is by the sea shore, were fathered by one man, and him as good as dead.  </span><span class="V13_NoBody"><span class="verse" id="V13">
13&#160;</span>
These all died in faith, not having received the promises, but having seen them and embraced them from afar, and having confessed that they were strangers and pilgrims on the earth.  </span><span class="V14_NoBody"><span class="verse" id="V14">
14&#160;</span>
For those who say such things make it clear that they are seeking a country of their own.  </span><span class="V15_NoBody"><span class="verse" id="V15">
15&#160;</span>
If indeed they had been thinking of that country from which they went out, they would have had enough time to return.  </span><span class="V16_NoBody"><span class="verse" id="V16">
16&#160;</span>
But now they desire a better country, that is, a heavenly one. Therefore God is not ashamed of them, to be called their God, for he has prepared a city for them. </span></div>
<div class='p'><span class='V16_NoBody'>
 </span><span class="V17_NoBody"><span class="verse" id="V17">
17&#160;</span>
By faith, Abraham, being tested, offered up Isaac. Yes, he who had gladly received the promises was offering up his one and only son,  </span><span class="V18_NoBody"><span class="verse" id="V18">
18&#160;</span>
to whom it was said, “Your offspring will be accounted as from Isaac,”   </span><span class="V19_NoBody"><span class="verse" id="V19">
19&#160;</span>
concluding that God is able to raise up even from the dead. Figuratively speaking, he also did receive him back from the dead.  </span><span class="V20_NoBody"><span class="verse" id="V20">
20&#160;</span>
By faith, Isaac blessed Jacob and Esau, even concerning things to come.  </span><span class="V21_NoBody"><span class="verse" id="V21">
21&#160;</span>
By faith, Jacob, when he was dying, blessed each of the sons of Joseph, and worshiped, leaning on the top of his staff.  </span><span class="V22_NoBody"><span class="verse" id="V22">
22&#160;</span>
By faith, Joseph, when his end was near, made mention of the departure of the children of Israel, and gave instructions concerning his bones.  </span><span class="V23_NoBody"><span class="verse" id="V23">
23&#160;</span>
By faith, Moses, when he was born, was hidden for three months by his parents, because they saw that he was a beautiful child, and they were not afraid of the king’s commandment.  </span><span class="V24_NoBody"><span class="verse" id="V24">
24&#160;</span>
By faith, Moses, when he had grown up, refused to be called the son of Pharaoh’s daughter,  </span><span class="V25_NoBody"><span class="verse" id="V25">
25&#160;</span>
choosing rather to share ill treatment with God’s people than to enjoy the pleasures of sin for a time,  </span><span class="V26_NoBody"><span class="verse" id="V26">
26&#160;</span>
considering the reproach of Christ greater riches than the treasures of Egypt; for he looked to the reward.  </span><span class="V27_NoBody"><span class="verse" id="V27">
27&#160;</span>
By faith, he left Egypt, not fearing the wrath of the king; for he endured, as seeing him who is invisible.  </span><span class="V28_NoBody"><span class="verse" id="V28">
28&#160;</span>
By faith, he kept the Passover, and the sprinkling of the blood, that the destroyer of the firstborn should not touch them.  </span><span class="V29_NoBody"><span class="verse" id="V29">
29&#160;</span>
By faith, they passed through the Red Sea as on dry land. When the Egyptians tried to do so, they were swallowed up.  </span><span class="V30_NoBody"><span class="verse" id="V30">
30&#160;</span>
By faith, the walls of Jericho fell down, after they had been encircled for seven days.  </span><span class="V31_NoBody"><span class="verse" id="V31">
31&#160;</span>
By faith, Rahab the prostitute didn’t perish with those who were disobedient, having received the spies in peace.  </span><span class="V32_NoBody"><span class="verse" id="V32">
32&#160;</span>
What more shall I say? For the time would fail me if I told of Gideon, Barak, Samson, Jephthah, David, Samuel, and the prophets,  </span><span class="V33_NoBody"><span class="verse" id="V33">
33&#160;</span>
who through faith subdued kingdoms, worked out righteousness, obtained promises, stopped the mouths of lions,  </span><span class="V34_NoBody"><span class="verse" id="V34">
34&#160;</span>
quenched the power of fire, escaped the edge of the sword, from weakness were made strong, grew mighty in war, and caused foreign armies to flee.  </span><span class="V35_NoBody"><span class="verse" id="V35">
35&#160;</span>
Women received their dead by resurrection. Others were tortured, not accepting their deliverance, that they might obtain a better resurrection.  </span><span class="V36_NoBody"><span class="verse" id="V36">
36&#160;</span>
Others were tried by mocking and scourging, yes, moreover by bonds and imprisonment.  </span><span class="V37_NoBody"><span class="verse" id="V37">
37&#160;</span>
They were stoned. They were sawn apart. They were tempted. They were slain with the sword. They went around in sheep skins and in goat skins; being destitute, afflicted, ill-treated—  </span><span class="V38_NoBody"><span class="verse" id="V38">
38&#160;</span>
of whom the world was not worthy—wandering in deserts, mountains, caves, and the holes of the earth.  </span><span class="V39_NoBody"><span class="verse" id="V39">
39&#160;</span>
These all, having had testimony given to them through their faith, didn’t receive the promise,  </span><span class="V40_NoBody"><span class="verse" id="V40">
40&#160;</span>
God having provided some better thing concerning us, so that apart from us they should not be made perfect. </span></div>
<div class="footnote">

</div>
<hr /><div class="copyright">
<center> <a href="http://ebible.org/web/copyright.htm"">This website uses The World English Bible (Public Domain).</a> </center>
</div>
</div></body></html>
{% endblock %}