{% extends 'knowledge_base/base-web.html' %}{% block content %}﻿<!DOCTYPE html>
<div class="chapter">
<div class="verse-label" >Hebrews 12</div>
 
<div class='p'><span class='_NoBody'>
 <span class="V1_NoBody"><span class="verse" id="V1">
1&#160;</span>
Therefore let’s also, seeing we are surrounded by so great a cloud of witnesses, lay aside every weight and the sin which so easily entangles us, and let’s run with perseverance the race that is set before us,  </span><span class="V2_NoBody"><span class="verse" id="V2">
2&#160;</span>
looking to Jesus, the author and perfecter of faith, who for the joy that was set before him endured the cross, despising its shame, and has sat down at the right hand of the throne of God.  </span><span class="V3_NoBody"><span class="verse" id="V3">
3&#160;</span>
For consider him who has endured such contradiction of sinners against himself, that you don’t grow weary, fainting in your souls.  </span><span class="V4_NoBody"><span class="verse" id="V4">
4&#160;</span>
You have not yet resisted to blood, striving against sin.  </span><span class="V5_NoBody"><span class="verse" id="V5">
5&#160;</span>
You have forgotten the exhortation which reasons with you as with children, </span></div>
<div class='q'><span class='V5_NoBody'>
“My son, don’t take lightly the chastening of the Lord, </span></div>
<div class='q2'><span class='V5_NoBody'>
nor faint when you are reproved by him; </span></div>
<div class='q2'><span class='V5_NoBody'>
 </span><span class="V6_NoBody"><span class="verse" id="V6">
6&#160;</span>
for whom the Lord loves, he disciplines, </span></div>
<div class='q2'><span class='V6_NoBody'>
and chastises every son whom he receives.” </span></div>
<div class='p'><span class='V6_NoBody'>
 </span><span class="V7_NoBody"><span class="verse" id="V7">
7&#160;</span>
It is for discipline that you endure. God deals with you as with children, for what son is there whom his father doesn’t discipline?  </span><span class="V8_NoBody"><span class="verse" id="V8">
8&#160;</span>
But if you are without discipline, of which all have been made partakers, then you are illegitimate, and not children.  </span><span class="V9_NoBody"><span class="verse" id="V9">
9&#160;</span>
Furthermore, we had the fathers of our flesh to chasten us, and we paid them respect. Shall we not much rather be in subjection to the Father of spirits, and live?  </span><span class="V10_NoBody"><span class="verse" id="V10">
10&#160;</span>
For they indeed, for a few days, punished us as seemed good to them; but he for our profit, that we may be partakers of his holiness.  </span><span class="V11_NoBody"><span class="verse" id="V11">
11&#160;</span>
All chastening seems for the present to be not joyous but grievous; yet afterward it yields the peaceful fruit of righteousness to those who have been trained by it.  </span><span class="V12_NoBody"><span class="verse" id="V12">
12&#160;</span>
Therefore lift up the hands that hang down and the feeble knees,   </span><span class="V13_NoBody"><span class="verse" id="V13">
13&#160;</span>
and make straight paths for your feet, so what is lame may not be dislocated, but rather be healed. </span></div>
<div class='p'><span class='V13_NoBody'>
 </span><span class="V14_NoBody"><span class="verse" id="V14">
14&#160;</span>
Follow after peace with all men, and the sanctification without which no man will see the Lord,  </span><span class="V15_NoBody"><span class="verse" id="V15">
15&#160;</span>
looking carefully lest there be any man who falls short of the grace of God, lest any root of bitterness springing up trouble you, and many be defiled by it,  </span><span class="V16_NoBody"><span class="verse" id="V16">
16&#160;</span>
lest there be any sexually immoral person, or profane person, like Esau, who sold his birthright for one meal.  </span><span class="V17_NoBody"><span class="verse" id="V17">
17&#160;</span>
For you know that even when he afterward desired to inherit the blessing, he was rejected, for he found no place for a change of mind though he sought it diligently with tears. </span></div>
<div class='p'><span class='V17_NoBody'>
 </span><span class="V18_NoBody"><span class="verse" id="V18">
18&#160;</span>
For you have not come to a mountain that might be touched, and that burned with fire, and to blackness, darkness, storm,  </span><span class="V19_NoBody"><span class="verse" id="V19">
19&#160;</span>
the sound of a trumpet, and the voice of words; which those who heard it begged that not one more word should be spoken to them,  </span><span class="V20_NoBody"><span class="verse" id="V20">
20&#160;</span>
for they could not stand that which was commanded, “If even an animal touches the mountain, it shall be stoned”.  </span><span class="V21_NoBody"><span class="verse" id="V21">
21&#160;</span>
So fearful was the appearance that Moses said, “I am terrified and trembling.” </span></div>
<div class='p'><span class='V21_NoBody'>
 </span><span class="V22_NoBody"><span class="verse" id="V22">
22&#160;</span>
But you have come to Mount Zion, and to the city of the living God, the heavenly Jerusalem, and to innumerable multitudes of angels,  </span><span class="V23_NoBody"><span class="verse" id="V23">
23&#160;</span>
to the festal gathering and assembly of the firstborn who are enrolled in heaven, to God the Judge of all, to the spirits of just men made perfect,  </span><span class="V24_NoBody"><span class="verse" id="V24">
24&#160;</span>
to Jesus, the mediator of a new covenant, and to the blood of sprinkling that speaks better than that of Abel. </span></div>
<div class='p'><span class='V24_NoBody'>
 </span><span class="V25_NoBody"><span class="verse" id="V25">
25&#160;</span>
See that you don’t refuse him who speaks. For if they didn’t escape when they refused him who warned on the earth, how much more will we not escape who turn away from him who warns from heaven,  </span><span class="V26_NoBody"><span class="verse" id="V26">
26&#160;</span>
whose voice shook the earth then, but now he has promised, saying, “Yet once more I will shake not only the earth, but also the heavens.”  </span><span class="V27_NoBody"><span class="verse" id="V27">
27&#160;</span>
This phrase, “Yet once more” signifies the removing of those things that are shaken, as of things that have been made, that those things which are not shaken may remain.  </span><span class="V28_NoBody"><span class="verse" id="V28">
28&#160;</span>
Therefore, receiving a Kingdom that can’t be shaken, let’s have grace, through which we serve God acceptably, with reverence and awe,  </span><span class="V29_NoBody"><span class="verse" id="V29">
29&#160;</span>
for our God is a consuming fire. </span></div>
<div class="footnote">

</div>
<hr /><div class="copyright">
<center> <a href="http://ebible.org/web/copyright.htm"">This website uses The World English Bible (Public Domain).</a> </center>
</div>
</div></body></html>
{% endblock %}