{% extends 'knowledge_base/base-web.html' %}{% block content %}﻿<!DOCTYPE html>
<div class="chapter">
<div class="verse-label" >Hebrews 10</div>
 
<div class='p'><span class='_NoBody'>
 <span class="V1_NoBody"><span class="verse" id="V1">
1&#160;</span>
For the law, having a shadow of the good to come, not the very image of the things, can never with the same sacrifices year by year, which they offer continually, make perfect those who draw near.  </span><span class="V2_NoBody"><span class="verse" id="V2">
2&#160;</span>
Or else wouldn’t they have ceased to be offered, because the worshipers, having been once cleansed, would have had no more consciousness of sins?  </span><span class="V3_NoBody"><span class="verse" id="V3">
3&#160;</span>
But in those sacrifices there is a yearly reminder of sins.  </span><span class="V4_NoBody"><span class="verse" id="V4">
4&#160;</span>
For it is impossible that the blood of bulls and goats should take away sins.  </span><span class="V5_NoBody"><span class="verse" id="V5">
5&#160;</span>
Therefore when he comes into the world, he says, </span></div>
<div class='q'><span class='V5_NoBody'>
“You didn’t desire sacrifice and offering, </span></div>
<div class='q2'><span class='V5_NoBody'>
but you prepared a body for me. </span></div>
<div class='q'><span class='V5_NoBody'>
 </span><span class="V6_NoBody"><span class="verse" id="V6">
6&#160;</span>
You had no pleasure in whole burnt offerings and sacrifices for sin. </span></div>
<div class='q2'><span class='V6_NoBody'>
 </span><span class="V7_NoBody"><span class="verse" id="V7">
7&#160;</span>
Then I said, ‘Behold, I have come (in the scroll of the book it is written of me) </span></div>
<div class='q2'><span class='V7_NoBody'>
to do your will, O God.’ ” </span></div>
<div class='p'><span class='V7_NoBody'>
 </span><span class="V8_NoBody"><span class="verse" id="V8">
8&#160;</span>
Previously saying, “Sacrifices and offerings and whole burnt offerings and sacrifices for sin you didn’t desire, neither had pleasure in them” (those which are offered according to the law),  </span><span class="V9_NoBody"><span class="verse" id="V9">
9&#160;</span>
then he has said, “Behold, I have come to do your will.” He takes away the first, that he may establish the second,  </span><span class="V10_NoBody"><span class="verse" id="V10">
10&#160;</span>
by which will we have been sanctified through the offering of the body of Jesus Christ once for all.  </span><span class="V11_NoBody"><span class="verse" id="V11">
11&#160;</span>
Every priest indeed stands day by day serving and often offering the same sacrifices which can never take away sins,  </span><span class="V12_NoBody"><span class="verse" id="V12">
12&#160;</span>
but he, when he had offered one sacrifice for sins forever, sat down on the right hand of God,  </span><span class="V13_NoBody"><span class="verse" id="V13">
13&#160;</span>
from that time waiting until his enemies are made the footstool of his feet.  </span><span class="V14_NoBody"><span class="verse" id="V14">
14&#160;</span>
For by one offering he has perfected forever those who are being sanctified.  </span><span class="V15_NoBody"><span class="verse" id="V15">
15&#160;</span>
The Holy Spirit also testifies to us, for after saying, </span></div>
<div class='q'><span class='V15_NoBody'>
 </span><span class="V16_NoBody"><span class="verse" id="V16">
16&#160;</span>
“This is the covenant that I will make with them: </span></div>
<div class='q2'><span class='V16_NoBody'>
‘After those days,’ says the Lord, </span></div>
<div class='q'><span class='V16_NoBody'>
‘I will put my laws on their heart, </span></div>
<div class='q2'><span class='V16_NoBody'>
I will also write them on their mind;’ ” </span></div>
<div class='p'><span class='V16_NoBody'>
then he says, </span></div>
<div class='q'><span class='V16_NoBody'>
 </span><span class="V17_NoBody"><span class="verse" id="V17">
17&#160;</span>
“I will remember their sins and their iniquities no more.” </span></div>
<div class='p'><span class='V17_NoBody'>
 </span><span class="V18_NoBody"><span class="verse" id="V18">
18&#160;</span>
Now where remission of these is, there is no more offering for sin. </span></div>
<div class='p'><span class='V18_NoBody'>
 </span><span class="V19_NoBody"><span class="verse" id="V19">
19&#160;</span>
Having therefore, brothers, boldness to enter into the holy place by the blood of Jesus,  </span><span class="V20_NoBody"><span class="verse" id="V20">
20&#160;</span>
by the way which he dedicated for us, a new and living way, through the veil, that is to say, his flesh,  </span><span class="V21_NoBody"><span class="verse" id="V21">
21&#160;</span>
and having a great priest over God’s house,  </span><span class="V22_NoBody"><span class="verse" id="V22">
22&#160;</span>
let’s draw near with a true heart in fullness of faith, having our hearts sprinkled from an evil conscience, and having our body washed with pure water,  </span><span class="V23_NoBody"><span class="verse" id="V23">
23&#160;</span>
let’s hold fast the confession of our hope without wavering; for he who promised is faithful. </span></div>
<div class='p'><span class='V23_NoBody'>
 </span><span class="V24_NoBody"><span class="verse" id="V24">
24&#160;</span>
Let’s consider how to provoke one another to love and good works,  </span><span class="V25_NoBody"><span class="verse" id="V25">
25&#160;</span>
not forsaking our own assembling together, as the custom of some is, but exhorting one another, and so much the more as you see the Day approaching. </span></div>
<div class='p'><span class='V25_NoBody'>
 </span><span class="V26_NoBody"><span class="verse" id="V26">
26&#160;</span>
For if we sin willfully after we have received the knowledge of the truth, there remains no more a sacrifice for sins,  </span><span class="V27_NoBody"><span class="verse" id="V27">
27&#160;</span>
but a certain fearful expectation of judgment, and a fierceness of fire which will devour the adversaries.  </span><span class="V28_NoBody"><span class="verse" id="V28">
28&#160;</span>
A man who disregards Moses’ law dies without compassion on the word of two or three witnesses.  </span><span class="V29_NoBody"><span class="verse" id="V29">
29&#160;</span>
How much worse punishment do you think he will be judged worthy of who has trodden under foot the Son of God, and has counted the blood of the covenant with which he was sanctified an unholy thing, and has insulted the Spirit of grace?  </span><span class="V30_NoBody"><span class="verse" id="V30">
30&#160;</span>
For we know him who said, “Vengeance belongs to me;” says the Lord, “I will repay.” Again, “The Lord will judge his people.”  </span><span class="V31_NoBody"><span class="verse" id="V31">
31&#160;</span>
It is a fearful thing to fall into the hands of the living God. </span></div>
<div class='p'><span class='V31_NoBody'>
 </span><span class="V32_NoBody"><span class="verse" id="V32">
32&#160;</span>
But remember the former days, in which, after you were enlightened, you endured a great struggle with sufferings;  </span><span class="V33_NoBody"><span class="verse" id="V33">
33&#160;</span>
partly, being exposed to both reproaches and oppressions; and partly, becoming partakers with those who were treated so.  </span><span class="V34_NoBody"><span class="verse" id="V34">
34&#160;</span>
For you both had compassion on me in my chains, and joyfully accepted the plundering of your possessions, knowing that you have for yourselves a better possession and an enduring one in the heavens.  </span><span class="V35_NoBody"><span class="verse" id="V35">
35&#160;</span>
Therefore don’t throw away your boldness, which has a great reward.  </span><span class="V36_NoBody"><span class="verse" id="V36">
36&#160;</span>
For you need endurance so that, having done the will of God, you may receive the promise. </span></div>
<div class='q'><span class='V36_NoBody'>
 </span><span class="V37_NoBody"><span class="verse" id="V37">
37&#160;</span>
“In a very little while, </span></div>
<div class='q2'><span class='V37_NoBody'>
he who comes will come, and will not wait. </span></div>
<div class='q'><span class='V37_NoBody'>
 </span><span class="V38_NoBody"><span class="verse" id="V38">
38&#160;</span>
But the righteous will live by faith. </span></div>
<div class='q2'><span class='V38_NoBody'>
If he shrinks back, my soul has no pleasure in him.” </span></div>
<div class='p'><span class='V38_NoBody'>
 </span><span class="V39_NoBody"><span class="verse" id="V39">
39&#160;</span>
But we are not of those who shrink back to destruction, but of those who have faith to the saving of the soul. </span></div>
<div class="footnote">

</div>
<hr /><div class="copyright">
<center> <a href="http://ebible.org/web/copyright.htm"">This website uses The World English Bible (Public Domain).</a> </center>
</div>
</div></body></html>
{% endblock %}