{% extends 'knowledge_base/base-web.html' %}{% block content %}﻿<!DOCTYPE html>
<div class="chapter">
<div class="verse-label" >Hebrews 13</div>
 
<div class='p'><span class='_NoBody'>
 <span class="V1_NoBody"><span class="verse" id="V1">
1&#160;</span>
Let brotherly love continue.  </span><span class="V2_NoBody"><span class="verse" id="V2">
2&#160;</span>
Don’t forget to show hospitality to strangers, for in doing so, some have entertained angels without knowing it.  </span><span class="V3_NoBody"><span class="verse" id="V3">
3&#160;</span>
Remember those who are in bonds, as bound with them, and those who are ill-treated, since you are also in the body.  </span><span class="V4_NoBody"><span class="verse" id="V4">
4&#160;</span>
Let marriage be held in honor among all, and let the bed be undefiled; but God will judge the sexually immoral and adulterers. </span></div>
<div class='p'><span class='V4_NoBody'>
 </span><span class="V5_NoBody"><span class="verse" id="V5">
5&#160;</span>
Be free from the love of money, content with such things as you have, for he has said, “I will in no way leave you, neither will I in any way forsake you.”  </span><span class="V6_NoBody"><span class="verse" id="V6">
6&#160;</span>
So that with good courage we say, </span></div>
<div class='q'><span class='V6_NoBody'>
“The Lord is my helper. I will not fear. </span></div>
<div class='q2'><span class='V6_NoBody'>
What can man do to me?” </span></div>
<div class='p'><span class='V6_NoBody'>
 </span><span class="V7_NoBody"><span class="verse" id="V7">
7&#160;</span>
Remember your leaders, men who spoke to you the word of God, and considering the results of their conduct, imitate their faith.  </span><span class="V8_NoBody"><span class="verse" id="V8">
8&#160;</span>
Jesus Christ is the same yesterday, today, and forever.  </span><span class="V9_NoBody"><span class="verse" id="V9">
9&#160;</span>
Don’t be carried away by various and strange teachings, for it is good that the heart be established by grace, not by food, through which those who were so occupied were not benefited. </span></div>
<div class='p'><span class='V9_NoBody'>
 </span><span class="V10_NoBody"><span class="verse" id="V10">
10&#160;</span>
We have an altar from which those who serve the holy tabernacle have no right to eat.  </span><span class="V11_NoBody"><span class="verse" id="V11">
11&#160;</span>
For the bodies of those animals, whose blood is brought into the holy place by the high priest as an offering for sin, are burned outside of the camp.  </span><span class="V12_NoBody"><span class="verse" id="V12">
12&#160;</span>
Therefore Jesus also, that he might sanctify the people through his own blood, suffered outside of the gate.  </span><span class="V13_NoBody"><span class="verse" id="V13">
13&#160;</span>
Let’s therefore go out to him outside of the camp, bearing his reproach.  </span><span class="V14_NoBody"><span class="verse" id="V14">
14&#160;</span>
For we don’t have here an enduring city, but we seek that which is to come.  </span><span class="V15_NoBody"><span class="verse" id="V15">
15&#160;</span>
Through him, then, let’s offer up a sacrifice of praise to God  continually, that is, the fruit of lips which proclaim allegiance to his name.  </span><span class="V16_NoBody"><span class="verse" id="V16">
16&#160;</span>
But don’t forget to be doing good and sharing, for with such sacrifices God is well pleased. </span></div>
<div class='p'><span class='V16_NoBody'>
 </span><span class="V17_NoBody"><span class="verse" id="V17">
17&#160;</span>
Obey your leaders and submit to them, for they watch on behalf of your souls, as those who will give account, that they may do this with joy, and not with groaning, for that would be unprofitable for you. </span></div>
<div class='p'><span class='V17_NoBody'>
 </span><span class="V18_NoBody"><span class="verse" id="V18">
18&#160;</span>
Pray for us, for we are persuaded that we have a good conscience, desiring to live honorably in all things.  </span><span class="V19_NoBody"><span class="verse" id="V19">
19&#160;</span>
I strongly urge you to do this, that I may be restored to you sooner. </span></div>
<div class='p'><span class='V19_NoBody'>
 </span><span class="V20_NoBody"><span class="verse" id="V20">
20&#160;</span>
Now may the God of peace, who brought again from the dead the great shepherd of the sheep with the blood of an eternal covenant, our Lord Jesus,  </span><span class="V21_NoBody"><span class="verse" id="V21">
21&#160;</span>
make you complete in every good work to do his will, working in you that which is well pleasing in his sight, through Jesus Christ, to whom be the glory forever and ever. Amen. </span></div>
<div class='p'><span class='V21_NoBody'>
 </span><span class="V22_NoBody"><span class="verse" id="V22">
22&#160;</span>
But I exhort you, brothers, endure the word of exhortation; for I have written to you in few words.  </span><span class="V23_NoBody"><span class="verse" id="V23">
23&#160;</span>
Know that our brother Timothy has been freed, with whom, if he comes shortly, I will see you. </span></div>
<div class='p'><span class='V23_NoBody'>
 </span><span class="V24_NoBody"><span class="verse" id="V24">
24&#160;</span>
Greet all of your leaders and all the saints. The Italians greet you. </span></div>
<div class='p'><span class='V24_NoBody'>
 </span><span class="V25_NoBody"><span class="verse" id="V25">
25&#160;</span>
Grace be with you all. Amen. </span></div>
<div class="footnote">

</div>
<hr /><div class="copyright">
<center> <a href="http://ebible.org/web/copyright.htm"">This website uses The World English Bible (Public Domain).</a> </center>
</div>
</div></body></html>
{% endblock %}