{% extends 'knowledge_base/base-web.html' %}{% block content %}﻿<!DOCTYPE html>
<div class="chapter">
<div class="verse-label" >James 1</div>
<div class='mt'>The Letter from James  
</span></div>
<div class='p'><span class='_NoBody'>
 <span class="V1_NoBody"><span class="verse" id="V1">
1&#160;</span>
James, a servant of God and of the Lord Jesus Christ, to the twelve tribes which are in the Dispersion: Greetings. </span></div>
<div class='p'><span class='V1_NoBody'>
 </span><span class="V2_NoBody"><span class="verse" id="V2">
2&#160;</span>
Count it all joy, my brothers, when you fall into various temptations,  </span><span class="V3_NoBody"><span class="verse" id="V3">
3&#160;</span>
knowing that the testing of your faith produces endurance.  </span><span class="V4_NoBody"><span class="verse" id="V4">
4&#160;</span>
Let endurance have its perfect work, that you may be perfect and complete, lacking in nothing. </span></div>
<div class='p'><span class='V4_NoBody'>
 </span><span class="V5_NoBody"><span class="verse" id="V5">
5&#160;</span>
But if any of you lacks wisdom, let him ask of God, who gives to all liberally and without reproach, and it will be given to him.  </span><span class="V6_NoBody"><span class="verse" id="V6">
6&#160;</span>
But let him ask in faith, without any doubting, for he who doubts is like a wave of the sea, driven by the wind and tossed.  </span><span class="V7_NoBody"><span class="verse" id="V7">
7&#160;</span>
For that man shouldn’t think that he will receive anything from the Lord.  </span><span class="V8_NoBody"><span class="verse" id="V8">
8&#160;</span>
He is a double-minded man, unstable in all his ways. </span></div>
<div class='p'><span class='V8_NoBody'>
 </span><span class="V9_NoBody"><span class="verse" id="V9">
9&#160;</span>
But let the brother in humble circumstances glory in his high position;  </span><span class="V10_NoBody"><span class="verse" id="V10">
10&#160;</span>
and the rich, in that he is made humble, because like the flower in the grass, he will pass away.  </span><span class="V11_NoBody"><span class="verse" id="V11">
11&#160;</span>
For the sun arises with the scorching wind and withers the grass, and the flower in it falls, and the beauty of its appearance perishes. So the rich man will also fade away in his pursuits. </span></div>
<div class='p'><span class='V11_NoBody'>
 </span><span class="V12_NoBody"><span class="verse" id="V12">
12&#160;</span>
Blessed is a person who endures temptation, for when he has been approved, he will receive the crown of life, which the Lord promised to those who love him. </span></div>
<div class='p'><span class='V12_NoBody'>
 </span><span class="V13_NoBody"><span class="verse" id="V13">
13&#160;</span>
Let no man say when he is tempted, “I am tempted by God,” for God can’t be tempted by evil, and he himself tempts no one.  </span><span class="V14_NoBody"><span class="verse" id="V14">
14&#160;</span>
But each one is tempted when he is drawn away by his own lust and enticed.  </span><span class="V15_NoBody"><span class="verse" id="V15">
15&#160;</span>
Then the lust, when it has conceived, bears sin. The sin, when it is full grown, produces death.  </span><span class="V16_NoBody"><span class="verse" id="V16">
16&#160;</span>
Don’t be deceived, my beloved brothers.  </span><span class="V17_NoBody"><span class="verse" id="V17">
17&#160;</span>
Every good gift and every perfect gift is from above, coming down from the Father of lights, with whom can be no variation, nor turning shadow.  </span><span class="V18_NoBody"><span class="verse" id="V18">
18&#160;</span>
Of his own will he gave birth to us by the word of truth, that we should be a kind of first fruits of his creatures. </span></div>
<div class='p'><span class='V18_NoBody'>
 </span><span class="V19_NoBody"><span class="verse" id="V19">
19&#160;</span>
So, then, my beloved brothers, let every man be swift to hear, slow to speak, and slow to anger;  </span><span class="V20_NoBody"><span class="verse" id="V20">
20&#160;</span>
for the anger of man doesn’t produce the righteousness of God.  </span><span class="V21_NoBody"><span class="verse" id="V21">
21&#160;</span>
Therefore, putting away all filthiness and overflowing of wickedness, receive with humility the implanted word, which is able to save your souls.  </span><span class="V22_NoBody"><span class="verse" id="V22">
22&#160;</span>
But be doers of the word, and not only hearers, deluding your own selves.  </span><span class="V23_NoBody"><span class="verse" id="V23">
23&#160;</span>
For if anyone is a hearer of the word and not a doer, he is like a man looking at his natural face in a mirror;  </span><span class="V24_NoBody"><span class="verse" id="V24">
24&#160;</span>
for he sees himself, and goes away, and immediately forgets what kind of man he was.  </span><span class="V25_NoBody"><span class="verse" id="V25">
25&#160;</span>
But he who looks into the perfect law of freedom and continues, not being a hearer who forgets, but a doer of the work, this man will be blessed in what he does. </span></div>
<div class='p'><span class='V25_NoBody'>
 </span><span class="V26_NoBody"><span class="verse" id="V26">
26&#160;</span>
If anyone among you thinks himself to be religious while he doesn’t bridle his tongue, but deceives his heart, this man’s religion is worthless.  </span><span class="V27_NoBody"><span class="verse" id="V27">
27&#160;</span>
Pure religion and undefiled before our God and Father is this: to visit the fatherless and widows in their affliction, and to keep oneself unstained by the world. </span></div>
<div class="footnote">

</div>
<hr /><div class="copyright">
<center> <a href="http://ebible.org/web/copyright.htm"">This website uses The World English Bible (Public Domain).</a> </center>
</div>
</div></body></html>
{% endblock %}