{% extends 'knowledge_base/base-web.html' %}{% block content %}﻿<!DOCTYPE html>
<div class="chapter">
<div class="verse-label" >James 4</div>
 
<div class='p'><span class='_NoBody'>
 <span class="V1_NoBody"><span class="verse" id="V1">
1&#160;</span>
Where do wars and fightings among you come from? Don’t they come from your pleasures that war in your members?  </span><span class="V2_NoBody"><span class="verse" id="V2">
2&#160;</span>
You lust, and don’t have. You murder and covet, and can’t obtain. You fight and make war. You don’t have, because you don’t ask.  </span><span class="V3_NoBody"><span class="verse" id="V3">
3&#160;</span>
You ask, and don’t receive, because you ask with wrong motives, so that you may spend it on your pleasures.  </span><span class="V4_NoBody"><span class="verse" id="V4">
4&#160;</span>
You adulterers and adulteresses, don’t you know that friendship with the world is hostility toward God? Whoever therefore wants to be a friend of the world makes himself an enemy of God.  </span><span class="V5_NoBody"><span class="verse" id="V5">
5&#160;</span>
Or do you think that the Scripture says in vain, “The Spirit who lives in us yearns jealously”?  </span><span class="V6_NoBody"><span class="verse" id="V6">
6&#160;</span>
But he gives more grace. Therefore it says, “God resists the proud, but gives grace to the humble.”  </span><span class="V7_NoBody"><span class="verse" id="V7">
7&#160;</span>
Be subject therefore to God. Resist the devil, and he will flee from you.  </span><span class="V8_NoBody"><span class="verse" id="V8">
8&#160;</span>
Draw near to God, and he will draw near to you. Cleanse your hands, you sinners. Purify your hearts, you double-minded.  </span><span class="V9_NoBody"><span class="verse" id="V9">
9&#160;</span>
Lament, mourn, and weep. Let your laughter be turned to mourning, and your joy to gloom.  </span><span class="V10_NoBody"><span class="verse" id="V10">
10&#160;</span>
Humble yourselves in the sight of the Lord, and he will exalt you. </span></div>
<div class='p'><span class='V10_NoBody'>
 </span><span class="V11_NoBody"><span class="verse" id="V11">
11&#160;</span>
Don’t speak against one another, brothers. He who speaks against a brother and judges his brother, speaks against the law and judges the law. But if you judge the law, you are not a doer of the law, but a judge.  </span><span class="V12_NoBody"><span class="verse" id="V12">
12&#160;</span>
Only one is the lawgiver, who is able to save and to destroy. But who are you to judge another? </span></div>
<div class='p'><span class='V12_NoBody'>
 </span><span class="V13_NoBody"><span class="verse" id="V13">
13&#160;</span>
Come now, you who say, “Today or tomorrow let’s go into this city, and spend a year there, trade, and make a profit.”  </span><span class="V14_NoBody"><span class="verse" id="V14">
14&#160;</span>
Whereas you don’t know what your life will be like tomorrow. For what is your life? For you are a vapor that appears for a little time, and then vanishes away.  </span><span class="V15_NoBody"><span class="verse" id="V15">
15&#160;</span>
For you ought to say, “If the Lord wills, we will both live, and do this or that.”  </span><span class="V16_NoBody"><span class="verse" id="V16">
16&#160;</span>
But now you glory in your boasting. All such boasting is evil.  </span><span class="V17_NoBody"><span class="verse" id="V17">
17&#160;</span>
To him therefore who knows to do good, and doesn’t do it, to him it is sin. </span></div>
<div class="footnote">

</div>
<hr /><div class="copyright">
<center> <a href="http://ebible.org/web/copyright.htm"">This website uses The World English Bible (Public Domain).</a> </center>
</div>
</div></body></html>
{% endblock %}