{% extends 'knowledge_base/base-web.html' %}{% block content %}﻿<!DOCTYPE html>
<div class="chapter">
<div class="verse-label" >John 8</div>
 
<div class='nb'>
 <span class="V1_NoBody"><span class="verse" id="V1">
1&#160;</span>
but Jesus went to the Mount of Olives.  </span><span class="V2_NoBody"><span class="verse" id="V2">
2&#160;</span>
Now very early in the morning, he came again into the temple, and all the people came to him. He sat down and taught them.  </span><span class="V3_NoBody"><span class="verse" id="V3">
3&#160;</span>
The scribes and the Pharisees brought a woman taken in adultery. Having set her in the middle,  </span><span class="V4_NoBody"><span class="verse" id="V4">
4&#160;</span>
they told him, “Teacher, we found this woman in adultery, in the very act.  </span><span class="V5_NoBody"><span class="verse" id="V5">
5&#160;</span>
Now in our law, Moses commanded us to stone such women. What then do you say about her?”  </span><span class="V6_NoBody"><span class="verse" id="V6">
6&#160;</span>
They said this testing him, that they might have something to accuse him of. </span></div>
<div class='p'><span class='V6_NoBody'>
But Jesus stooped down and wrote on the ground with his finger.  </span><span class="V7_NoBody"><span class="verse" id="V7">
7&#160;</span>
But when they continued asking him, he looked up and said to them, <span class='wj'>
“He who is without sin among you, let him throw the first stone at her.” </span>
  </span><span class="V8_NoBody"><span class="verse" id="V8">
8&#160;</span>
Again he stooped down and wrote on the ground with his finger. </span></div>
<div class='p'><span class='V8_NoBody'>
 </span><span class="V9_NoBody"><span class="verse" id="V9">
9&#160;</span>
They, when they heard it, being convicted by their conscience, went out one by one, beginning from the oldest, even to the last. Jesus was left alone with the woman where she was, in the middle.  </span><span class="V10_NoBody"><span class="verse" id="V10">
10&#160;</span>
Jesus, standing up, saw her and said, <span class='wj'>
“Woman, where are your accusers? Did no one condemn you?”</span>
 </span></div>
<div class='p'><span class='V10_NoBody'>
 </span><span class="V11_NoBody"><span class="verse" id="V11">
11&#160;</span>
She said, “No one, Lord.” </span></div>
<div class='p'><span class='V11_NoBody'>
Jesus said, <span class='wj'>
“Neither do I condemn you. Go your way. From now on, sin no more.”</span>
 </span></div>
<div class='p'><span class='V11_NoBody'>
 </span><span class="V12_NoBody"><span class="verse" id="V12">
12&#160;</span>
Again, therefore, Jesus spoke to them, saying, <span class='wj'>
“I am the light of the world.</span>
 <span class='wj'>
He who follows me will not walk in the darkness, but will have the light of life.”</span>
 </span></div>
<div class='p'><span class='V12_NoBody'>
 </span><span class="V13_NoBody"><span class="verse" id="V13">
13&#160;</span>
The Pharisees therefore said to him, “You testify about yourself. Your testimony is not valid.” </span></div>
<div class='p'><span class='V13_NoBody'>
 </span><span class="V14_NoBody"><span class="verse" id="V14">
14&#160;</span>
Jesus answered them, <span class='wj'>
“Even if I testify about myself, my testimony is true, for I know where I came from, and where I am going; but you don’t know where I came from, or where I am going. </span>
  </span><span class="V15_NoBody"><span class="verse" id="V15">
15&#160;</span>
 <span class='wj'>
You judge according to the flesh. I judge no one. </span>
  </span><span class="V16_NoBody"><span class="verse" id="V16">
16&#160;</span>
 <span class='wj'>
Even if I do judge, my judgment is true, for I am not alone, but I am with the Father who sent me. </span>
  </span><span class="V17_NoBody"><span class="verse" id="V17">
17&#160;</span>
 <span class='wj'>
It’s also written in your law that the testimony of two people is valid.</span>
  </span><span class="V18_NoBody"><span class="verse" id="V18">
18&#160;</span>
 <span class='wj'>
I am one who testifies about myself, and the Father who sent me testifies about me.”</span>
 </span></div>
<div class='p'><span class='V18_NoBody'>
 </span><span class="V19_NoBody"><span class="verse" id="V19">
19&#160;</span>
They said therefore to him, “Where is your Father?” </span></div>
<div class='p'><span class='V19_NoBody'>
Jesus answered, <span class='wj'>
“You know neither me nor my Father. If you knew me, you would know my Father also.”</span>
  </span><span class="V20_NoBody"><span class="verse" id="V20">
20&#160;</span>
Jesus spoke these words in the treasury, as he taught in the temple. Yet no one arrested him, because his hour had not yet come.  </span><span class="V21_NoBody"><span class="verse" id="V21">
21&#160;</span>
Jesus said therefore again to them, <span class='wj'>
“I am going away, and you will seek me, and you will die in your sins. Where I go, you can’t come.” </span>
 </span></div>
<div class='p'><span class='V21_NoBody'>
 </span><span class="V22_NoBody"><span class="verse" id="V22">
22&#160;</span>
The Jews therefore said, “Will he kill himself, because he says, <span class='wj'>
‘Where I am going, you can’t come’</span>
?” </span></div>
<div class='p'><span class='V22_NoBody'>
 </span><span class="V23_NoBody"><span class="verse" id="V23">
23&#160;</span>
He said to them, <span class='wj'>
“You are from beneath. I am from above. You are of this world. I am not of this world. </span>
  </span><span class="V24_NoBody"><span class="verse" id="V24">
24&#160;</span>
 <span class='wj'>
I said therefore to you that you will die in your sins; for unless you believe that I am</span>
 <span class='wj'>
he, you will die in your sins.” </span>
 </span></div>
<div class='p'><span class='V24_NoBody'>
 </span><span class="V25_NoBody"><span class="verse" id="V25">
25&#160;</span>
They said therefore to him, “Who are you?” </span></div>
<div class='p'><span class='V25_NoBody'>
Jesus said to them, <span class='wj'>
“Just what I have been saying to you from the beginning. </span>
  </span><span class="V26_NoBody"><span class="verse" id="V26">
26&#160;</span>
 <span class='wj'>
I have many things to speak and to judge concerning you. However he who sent me is true; and the things which I heard from him, these I say to the world.”</span>
 </span></div>
<div class='p'><span class='V26_NoBody'>
 </span><span class="V27_NoBody"><span class="verse" id="V27">
27&#160;</span>
They didn’t understand that he spoke to them about the Father.  </span><span class="V28_NoBody"><span class="verse" id="V28">
28&#160;</span>
Jesus therefore said to them, <span class='wj'>
“When you have lifted up the Son of Man, then you will know that I am he, and I do nothing of myself, but as my Father taught me, I say these things. </span>
  </span><span class="V29_NoBody"><span class="verse" id="V29">
29&#160;</span>
 <span class='wj'>
He who sent me is with me. The Father hasn’t left me alone, for I always do the things that are pleasing to him.”</span>
 </span></div>
<div class='p'><span class='V29_NoBody'>
 </span><span class="V30_NoBody"><span class="verse" id="V30">
30&#160;</span>
As he spoke these things, many believed in him.  </span><span class="V31_NoBody"><span class="verse" id="V31">
31&#160;</span>
Jesus therefore said to those Jews who had believed him, <span class='wj'>
“If you remain in my word, then you are truly my disciples. </span>
  </span><span class="V32_NoBody"><span class="verse" id="V32">
32&#160;</span>
 <span class='wj'>
You will know the truth, and the truth will make you free.” </span>
 </span></div>
<div class='p'><span class='V32_NoBody'>
 </span><span class="V33_NoBody"><span class="verse" id="V33">
33&#160;</span>
They answered him, “We are Abraham’s offspring, and have never been in bondage to anyone. How do you say, <span class='wj'>
‘You will be made free’</span>
?” </span></div>
<div class='p'><span class='V33_NoBody'>
 </span><span class="V34_NoBody"><span class="verse" id="V34">
34&#160;</span>
Jesus answered them, <span class='wj'>
“Most certainly I tell you, everyone who commits sin is the bondservant of sin. </span>
  </span><span class="V35_NoBody"><span class="verse" id="V35">
35&#160;</span>
 <span class='wj'>
A bondservant doesn’t live in the house forever. A son remains forever. </span>
  </span><span class="V36_NoBody"><span class="verse" id="V36">
36&#160;</span>
 <span class='wj'>
If therefore the Son makes you free, you will be free indeed. </span>
  </span><span class="V37_NoBody"><span class="verse" id="V37">
37&#160;</span>
 <span class='wj'>
I know that you are Abraham’s offspring, yet you seek to kill me, because my word finds no place in you. </span>
  </span><span class="V38_NoBody"><span class="verse" id="V38">
38&#160;</span>
 <span class='wj'>
I say the things which I have seen with my Father; and you also do the things which you have seen with your father.”</span>
 </span></div>
<div class='p'><span class='V38_NoBody'>
 </span><span class="V39_NoBody"><span class="verse" id="V39">
39&#160;</span>
They answered him, “Our father is Abraham.” </span></div>
<div class='p'><span class='V39_NoBody'>
Jesus said to them, <span class='wj'>
“If you were Abraham’s children, you would do the works of Abraham. </span>
  </span><span class="V40_NoBody"><span class="verse" id="V40">
40&#160;</span>
 <span class='wj'>
But now you seek to kill me, a man who has told you the truth which I heard from God. Abraham didn’t do this. </span>
  </span><span class="V41_NoBody"><span class="verse" id="V41">
41&#160;</span>
 <span class='wj'>
You do the works of your father.”</span>
 </span></div>
<div class='p'><span class='V41_NoBody'>
They said to him, “We were not born of sexual immorality. We have one Father, God.” </span></div>
<div class='p'><span class='V41_NoBody'>
 </span><span class="V42_NoBody"><span class="verse" id="V42">
42&#160;</span>
Therefore Jesus said to them, <span class='wj'>
“If God were your father, you would love me, for I came out and have come from God. For I haven’t come of myself, but he sent me. </span>
  </span><span class="V43_NoBody"><span class="verse" id="V43">
43&#160;</span>
 <span class='wj'>
Why don’t you understand my speech? Because you can’t hear my word. </span>
  </span><span class="V44_NoBody"><span class="verse" id="V44">
44&#160;</span>
 <span class='wj'>
You are of your father, the devil, and you want to do the desires of your father. He was a murderer from the beginning, and doesn’t stand in the truth, because there is no truth in him. When he speaks a lie, he speaks on his own; for he is a liar, and the father of lies. </span>
  </span><span class="V45_NoBody"><span class="verse" id="V45">
45&#160;</span>
 <span class='wj'>
But because I tell the truth, you don’t believe me. </span>
  </span><span class="V46_NoBody"><span class="verse" id="V46">
46&#160;</span>
 <span class='wj'>
Which of you convicts me of sin? If I tell the truth, why do you not believe me? </span>
  </span><span class="V47_NoBody"><span class="verse" id="V47">
47&#160;</span>
 <span class='wj'>
He who is of God hears the words of God. For this cause you don’t hear, because you are not of God.”</span>
 </span></div>
<div class='p'><span class='V47_NoBody'>
 </span><span class="V48_NoBody"><span class="verse" id="V48">
48&#160;</span>
Then the Jews answered him, “Don’t we say well that you are a Samaritan, and have a demon?” </span></div>
<div class='p'><span class='V48_NoBody'>
 </span><span class="V49_NoBody"><span class="verse" id="V49">
49&#160;</span>
Jesus answered, <span class='wj'>
“I don’t have a demon, but I honor my Father and you dishonor me. </span>
  </span><span class="V50_NoBody"><span class="verse" id="V50">
50&#160;</span>
 <span class='wj'>
But I don’t seek my own glory. There is one who seeks and judges. </span>
  </span><span class="V51_NoBody"><span class="verse" id="V51">
51&#160;</span>
 <span class='wj'>
Most certainly, I tell you, if a person keeps my word, he will never see death.”</span>
 </span></div>
<div class='p'><span class='V51_NoBody'>
 </span><span class="V52_NoBody"><span class="verse" id="V52">
52&#160;</span>
Then the Jews said to him, “Now we know that you have a demon. Abraham died, as did the prophets; and you say, <span class='wj'>
‘If a man keeps my word, he will never taste of death.’</span>
  </span><span class="V53_NoBody"><span class="verse" id="V53">
53&#160;</span>
Are you greater than our father, Abraham, who died? The prophets died. Who do you make yourself out to be?” </span></div>
<div class='p'><span class='V53_NoBody'>
 </span><span class="V54_NoBody"><span class="verse" id="V54">
54&#160;</span>
Jesus answered, <span class='wj'>
“If I glorify myself, my glory is nothing. It is my Father who glorifies me, of whom you say that he is our God. </span>
  </span><span class="V55_NoBody"><span class="verse" id="V55">
55&#160;</span>
 <span class='wj'>
You have not known him, but I know him. If I said, ‘I don’t know him,’ I would be like you, a liar. But I know him and keep his word. </span>
  </span><span class="V56_NoBody"><span class="verse" id="V56">
56&#160;</span>
 <span class='wj'>
Your father Abraham rejoiced to see my day. He saw it, and was glad.”</span>
 </span></div>
<div class='p'><span class='V56_NoBody'>
 </span><span class="V57_NoBody"><span class="verse" id="V57">
57&#160;</span>
The Jews therefore said to him, “You are not yet fifty years old! Have you seen Abraham?” </span></div>
<div class='p'><span class='V57_NoBody'>
 </span><span class="V58_NoBody"><span class="verse" id="V58">
58&#160;</span>
Jesus said to them, <span class='wj'>
“Most certainly, I tell you, before Abraham came into existence, I AM.</span>
<span class='wj'>
”</span>
 </span></div>
<div class='p'><span class='V58_NoBody'>
 </span><span class="V59_NoBody"><span class="verse" id="V59">
59&#160;</span>
Therefore they took up stones to throw at him, but Jesus was hidden, and went out of the temple, having gone through the middle of them, and so passed by. </span></div>
<div class="footnote">

</div>
<hr /><div class="copyright">
<center> <a href="http://ebible.org/web/copyright.htm"">This website uses The World English Bible (Public Domain).</a> </center>
</div>
</div></body></html>
{% endblock %}