{% extends 'knowledge_base/base-web.html' %}{% block content %}﻿<!DOCTYPE html>
<div class="chapter">
<div class="verse-label" >John 7</div>
 
<div class='p'><span class='_NoBody'>
 <span class="V1_NoBody"><span class="verse" id="V1">
1&#160;</span>
After these things, Jesus was walking in Galilee, for he wouldn’t walk in Judea, because the Jews sought to kill him.  </span><span class="V2_NoBody"><span class="verse" id="V2">
2&#160;</span>
Now the feast of the Jews, the Feast of Booths, was at hand.  </span><span class="V3_NoBody"><span class="verse" id="V3">
3&#160;</span>
His brothers therefore said to him, “Depart from here and go into Judea, that your disciples also may see your works which you do.  </span><span class="V4_NoBody"><span class="verse" id="V4">
4&#160;</span>
For no one does anything in secret while he seeks to be known openly. If you do these things, reveal yourself to the world.”  </span><span class="V5_NoBody"><span class="verse" id="V5">
5&#160;</span>
For even his brothers didn’t believe in him. </span></div>
<div class='p'><span class='V5_NoBody'>
 </span><span class="V6_NoBody"><span class="verse" id="V6">
6&#160;</span>
Jesus therefore said to them, <span class='wj'>
“My time has not yet come, but your time is always ready. </span>
  </span><span class="V7_NoBody"><span class="verse" id="V7">
7&#160;</span>
 <span class='wj'>
The world can’t hate you, but it hates me, because I testify about it, that its works are evil. </span>
  </span><span class="V8_NoBody"><span class="verse" id="V8">
8&#160;</span>
 <span class='wj'>
You go up to the feast. I am not yet going up to this feast, because my time is not yet fulfilled.”</span>
 </span></div>
<div class='p'><span class='V8_NoBody'>
 </span><span class="V9_NoBody"><span class="verse" id="V9">
9&#160;</span>
Having said these things to them, he stayed in Galilee.  </span><span class="V10_NoBody"><span class="verse" id="V10">
10&#160;</span>
But when his brothers had gone up to the feast, then he also went up, not publicly, but as it were in secret.  </span><span class="V11_NoBody"><span class="verse" id="V11">
11&#160;</span>
The Jews therefore sought him at the feast, and said, “Where is he?”  </span><span class="V12_NoBody"><span class="verse" id="V12">
12&#160;</span>
There was much murmuring among the multitudes concerning him. Some said, “He is a good man.” Others said, “Not so, but he leads the multitude astray.”  </span><span class="V13_NoBody"><span class="verse" id="V13">
13&#160;</span>
Yet no one spoke openly of him for fear of the Jews.  </span><span class="V14_NoBody"><span class="verse" id="V14">
14&#160;</span>
But when it was now the middle of the feast, Jesus went up into the temple and taught.  </span><span class="V15_NoBody"><span class="verse" id="V15">
15&#160;</span>
The Jews therefore marveled, saying, “How does this man know letters, having never been educated?” </span></div>
<div class='p'><span class='V15_NoBody'>
 </span><span class="V16_NoBody"><span class="verse" id="V16">
16&#160;</span>
Jesus therefore answered them, <span class='wj'>
“My teaching is not mine, but his who sent me. </span>
  </span><span class="V17_NoBody"><span class="verse" id="V17">
17&#160;</span>
 <span class='wj'>
If anyone desires to do his will, he will know about the teaching, whether it is from God, or if I am speaking from myself. </span>
  </span><span class="V18_NoBody"><span class="verse" id="V18">
18&#160;</span>
 <span class='wj'>
He who speaks from himself seeks his own glory, but he who seeks the glory of him who sent him is true, and no unrighteousness is in him. </span>
  </span><span class="V19_NoBody"><span class="verse" id="V19">
19&#160;</span>
 <span class='wj'>
Didn’t Moses give you the law, and yet none of you keeps the law? Why do you seek to kill me?”</span>
 </span></div>
<div class='p'><span class='V19_NoBody'>
 </span><span class="V20_NoBody"><span class="verse" id="V20">
20&#160;</span>
The multitude answered, “You have a demon! Who seeks to kill you?” </span></div>
<div class='p'><span class='V20_NoBody'>
 </span><span class="V21_NoBody"><span class="verse" id="V21">
21&#160;</span>
Jesus answered them, <span class='wj'>
“I did one work and you all marvel because of it. </span>
  </span><span class="V22_NoBody"><span class="verse" id="V22">
22&#160;</span>
 <span class='wj'>
Moses has given you circumcision (not that it is of Moses, but of the fathers), and on the Sabbath you circumcise a boy. </span>
  </span><span class="V23_NoBody"><span class="verse" id="V23">
23&#160;</span>
 <span class='wj'>
If a boy receives circumcision on the Sabbath, that the law of Moses may not be broken, are you angry with me, because I made a man completely healthy on the Sabbath? </span>
  </span><span class="V24_NoBody"><span class="verse" id="V24">
24&#160;</span>
 <span class='wj'>
Don’t judge according to appearance, but judge righteous judgment.” </span>
 </span></div>
<div class='p'><span class='V24_NoBody'>
 </span><span class="V25_NoBody"><span class="verse" id="V25">
25&#160;</span>
Therefore some of them of Jerusalem said, “Isn’t this he whom they seek to kill?  </span><span class="V26_NoBody"><span class="verse" id="V26">
26&#160;</span>
Behold, he speaks openly, and they say nothing to him. Can it be that the rulers indeed know that this is truly the Christ?  </span><span class="V27_NoBody"><span class="verse" id="V27">
27&#160;</span>
However we know where this man comes from, but when the Christ comes, no one will know where he comes from.” </span></div>
<div class='p'><span class='V27_NoBody'>
 </span><span class="V28_NoBody"><span class="verse" id="V28">
28&#160;</span>
Jesus therefore cried out in the temple, teaching and saying, <span class='wj'>
“You both know me, and know where I am from. I have not come of myself, but he who sent me is true, whom you don’t know. </span>
  </span><span class="V29_NoBody"><span class="verse" id="V29">
29&#160;</span>
 <span class='wj'>
I know him, because I am from him, and he sent me.”</span>
 </span></div>
<div class='p'><span class='V29_NoBody'>
 </span><span class="V30_NoBody"><span class="verse" id="V30">
30&#160;</span>
They sought therefore to take him; but no one laid a hand on him, because his hour had not yet come.  </span><span class="V31_NoBody"><span class="verse" id="V31">
31&#160;</span>
But of the multitude, many believed in him. They said, “When the Christ comes, he won’t do more signs than those which this man has done, will he?”  </span><span class="V32_NoBody"><span class="verse" id="V32">
32&#160;</span>
The Pharisees heard the multitude murmuring these things concerning him, and the chief priests and the Pharisees sent officers to arrest him. </span></div>
<div class='p'><span class='V32_NoBody'>
 </span><span class="V33_NoBody"><span class="verse" id="V33">
33&#160;</span>
Then Jesus said, <span class='wj'>
“I will be with you a little while longer, then I go to him who sent me. </span>
  </span><span class="V34_NoBody"><span class="verse" id="V34">
34&#160;</span>
 <span class='wj'>
You will seek me, and won’t find me. You can’t come where I am.”</span>
 </span></div>
<div class='p'><span class='V34_NoBody'>
 </span><span class="V35_NoBody"><span class="verse" id="V35">
35&#160;</span>
The Jews therefore said among themselves, “Where will this man go that we won’t find him? Will he go to the Dispersion among the Greeks, and teach the Greeks?  </span><span class="V36_NoBody"><span class="verse" id="V36">
36&#160;</span>
What is this word that he said, <span class='wj'>
‘You will seek me, and won’t find me;’</span>
 and <span class='wj'>
‘Where I am, you can’t come’</span>
?” </span></div>
<div class='p'><span class='V36_NoBody'>
 </span><span class="V37_NoBody"><span class="verse" id="V37">
37&#160;</span>
Now on the last and greatest day of the feast, Jesus stood and cried out, <span class='wj'>
“If anyone is thirsty, let him come to me and drink! </span>
  </span><span class="V38_NoBody"><span class="verse" id="V38">
38&#160;</span>
 <span class='wj'>
He who believes in me, as the Scripture has said, from within him will flow rivers of living water.”</span>
  </span><span class="V39_NoBody"><span class="verse" id="V39">
39&#160;</span>
But he said this about the Spirit, which those believing in him were to receive. For the Holy Spirit was not yet given, because Jesus wasn’t yet glorified. </span></div>
<div class='p'><span class='V39_NoBody'>
 </span><span class="V40_NoBody"><span class="verse" id="V40">
40&#160;</span>
Many of the multitude therefore, when they heard these words, said, “This is truly the prophet.”  </span><span class="V41_NoBody"><span class="verse" id="V41">
41&#160;</span>
Others said, “This is the Christ.” But some said, “What, does the Christ come out of Galilee?  </span><span class="V42_NoBody"><span class="verse" id="V42">
42&#160;</span>
Hasn’t the Scripture said that the Christ comes of the offspring of David,  and from Bethlehem, the village where David was?”  </span><span class="V43_NoBody"><span class="verse" id="V43">
43&#160;</span>
So a division arose in the multitude because of him.  </span><span class="V44_NoBody"><span class="verse" id="V44">
44&#160;</span>
Some of them would have arrested him, but no one laid hands on him.  </span><span class="V45_NoBody"><span class="verse" id="V45">
45&#160;</span>
The officers therefore came to the chief priests and Pharisees, and they said to them, “Why didn’t you bring him?” </span></div>
<div class='p'><span class='V45_NoBody'>
 </span><span class="V46_NoBody"><span class="verse" id="V46">
46&#160;</span>
The officers answered, “No man ever spoke like this man!” </span></div>
<div class='p'><span class='V46_NoBody'>
 </span><span class="V47_NoBody"><span class="verse" id="V47">
47&#160;</span>
The Pharisees therefore answered them, “You aren’t also led astray, are you?  </span><span class="V48_NoBody"><span class="verse" id="V48">
48&#160;</span>
Have any of the rulers believed in him, or of the Pharisees?  </span><span class="V49_NoBody"><span class="verse" id="V49">
49&#160;</span>
But this multitude that doesn’t know the law is cursed.” </span></div>
<div class='p'><span class='V49_NoBody'>
 </span><span class="V50_NoBody"><span class="verse" id="V50">
50&#160;</span>
Nicodemus (he who came to him by night, being one of them) said to them,  </span><span class="V51_NoBody"><span class="verse" id="V51">
51&#160;</span>
“Does our law judge a man, unless it first hears from him personally and knows what he does?” </span></div>
<div class='p'><span class='V51_NoBody'>
 </span><span class="V52_NoBody"><span class="verse" id="V52">
52&#160;</span>
They answered him, “Are you also from Galilee? Search, and see that no prophet has arisen out of Galilee.” </span></div>
<div class='p'><span class='V52_NoBody'>
 </span><span class="V53_NoBody"><span class="verse" id="V53">
53&#160;</span>
Everyone went to his own house, </span></div>
<div class="footnote">

</div>
<hr /><div class="copyright">
<center> <a href="http://ebible.org/web/copyright.htm"">This website uses The World English Bible (Public Domain).</a> </center>
</div>
</div></body></html>
{% endblock %}