{% extends 'knowledge_base/base-web.html' %}{% block content %}﻿<!DOCTYPE html>
<div class="chapter">
<div class="verse-label" >John 6</div>
 
<div class='p'><span class='_NoBody'>
 <span class="V1_NoBody"><span class="verse" id="V1">
1&#160;</span>
After these things, Jesus went away to the other side of the sea of Galilee, which is also called the Sea of Tiberias.  </span><span class="V2_NoBody"><span class="verse" id="V2">
2&#160;</span>
A great multitude followed him, because they saw his signs which he did on those who were sick.  </span><span class="V3_NoBody"><span class="verse" id="V3">
3&#160;</span>
Jesus went up into the mountain, and he sat there with his disciples.  </span><span class="V4_NoBody"><span class="verse" id="V4">
4&#160;</span>
Now the Passover, the feast of the Jews, was at hand.  </span><span class="V5_NoBody"><span class="verse" id="V5">
5&#160;</span>
Jesus therefore lifting up his eyes, and seeing that a great multitude was coming to him, said to Philip, <span class='wj'>
“Where are we to buy bread, that these may eat?”</span>
  </span><span class="V6_NoBody"><span class="verse" id="V6">
6&#160;</span>
He said this to test him, for he himself knew what he would do. </span></div>
<div class='p'><span class='V6_NoBody'>
 </span><span class="V7_NoBody"><span class="verse" id="V7">
7&#160;</span>
Philip answered him, “Two hundred denarii worth of bread is not sufficient for them, that every one of them may receive a little.” </span></div>
<div class='p'><span class='V7_NoBody'>
 </span><span class="V8_NoBody"><span class="verse" id="V8">
8&#160;</span>
One of his disciples, Andrew, Simon Peter’s brother, said to him,  </span><span class="V9_NoBody"><span class="verse" id="V9">
9&#160;</span>
“There is a boy here who has five barley loaves and two fish, but what are these among so many?” </span></div>
<div class='p'><span class='V9_NoBody'>
 </span><span class="V10_NoBody"><span class="verse" id="V10">
10&#160;</span>
Jesus said, <span class='wj'>
“Have the people sit down.”</span>
 Now there was much grass in that place. So the men sat down, in number about five thousand.  </span><span class="V11_NoBody"><span class="verse" id="V11">
11&#160;</span>
Jesus took the loaves; and having given thanks, he distributed to the disciples, and the disciples to those who were sitting down; likewise also of the fish as much as they desired.  </span><span class="V12_NoBody"><span class="verse" id="V12">
12&#160;</span>
When they were filled, he said to his disciples, <span class='wj'>
“Gather up the broken pieces which are left over, that nothing be lost.”</span>
  </span><span class="V13_NoBody"><span class="verse" id="V13">
13&#160;</span>
So they gathered them up, and filled twelve baskets with broken pieces from the five barley loaves, which were left over by those who had eaten.  </span><span class="V14_NoBody"><span class="verse" id="V14">
14&#160;</span>
When therefore the people saw the sign which Jesus did, they said, “This is truly the prophet who comes into the world.”  </span><span class="V15_NoBody"><span class="verse" id="V15">
15&#160;</span>
Jesus therefore, perceiving that they were about to come and take him by force to make him king, withdrew again to the mountain by himself. </span></div>
<div class='p'><span class='V15_NoBody'>
 </span><span class="V16_NoBody"><span class="verse" id="V16">
16&#160;</span>
When evening came, his disciples went down to the sea.  </span><span class="V17_NoBody"><span class="verse" id="V17">
17&#160;</span>
They entered into the boat, and were going over the sea to Capernaum. It was now dark, and Jesus had not come to them.  </span><span class="V18_NoBody"><span class="verse" id="V18">
18&#160;</span>
The sea was tossed by a great wind blowing.  </span><span class="V19_NoBody"><span class="verse" id="V19">
19&#160;</span>
When therefore they had rowed about twenty-five or thirty stadia,  they saw Jesus walking on the sea, and drawing near to the boat; and they were afraid.  </span><span class="V20_NoBody"><span class="verse" id="V20">
20&#160;</span>
But he said to them, <span class='wj'>
“It is I.</span>
 <span class='wj'>
Don’t be afraid.”</span>
  </span><span class="V21_NoBody"><span class="verse" id="V21">
21&#160;</span>
They were willing therefore to receive him into the boat. Immediately the boat was at the land where they were going. </span></div>
<div class='p'><span class='V21_NoBody'>
 </span><span class="V22_NoBody"><span class="verse" id="V22">
22&#160;</span>
On the next day, the multitude that stood on the other side of the sea saw that there was no other boat there, except the one in which his disciples had embarked, and that Jesus hadn’t entered with his disciples into the boat, but his disciples had gone away alone.  </span><span class="V23_NoBody"><span class="verse" id="V23">
23&#160;</span>
However boats from Tiberias came near to the place where they ate the bread after the Lord had given thanks.  </span><span class="V24_NoBody"><span class="verse" id="V24">
24&#160;</span>
When the multitude therefore saw that Jesus wasn’t there, nor his disciples, they themselves got into the boats, and came to Capernaum, seeking Jesus.  </span><span class="V25_NoBody"><span class="verse" id="V25">
25&#160;</span>
When they found him on the other side of the sea, they asked him, “Rabbi, when did you come here?” </span></div>
<div class='p'><span class='V25_NoBody'>
 </span><span class="V26_NoBody"><span class="verse" id="V26">
26&#160;</span>
Jesus answered them, <span class='wj'>
“Most certainly I tell you, you seek me, not because you saw signs, but because you ate of the loaves, and were filled. </span>
  </span><span class="V27_NoBody"><span class="verse" id="V27">
27&#160;</span>
 <span class='wj'>
Don’t work for the food which perishes, but for the food which remains to eternal life, which the Son of Man will give to you. For God the Father has sealed him.”</span>
 </span></div>
<div class='p'><span class='V27_NoBody'>
 </span><span class="V28_NoBody"><span class="verse" id="V28">
28&#160;</span>
They said therefore to him, “What must we do, that we may work the works of God?” </span></div>
<div class='p'><span class='V28_NoBody'>
 </span><span class="V29_NoBody"><span class="verse" id="V29">
29&#160;</span>
Jesus answered them, <span class='wj'>
“This is the work of God, that you believe in him whom he has sent.”</span>
 </span></div>
<div class='p'><span class='V29_NoBody'>
 </span><span class="V30_NoBody"><span class="verse" id="V30">
30&#160;</span>
They said therefore to him, “What then do you do for a sign, that we may see and believe you? What work do you do?  </span><span class="V31_NoBody"><span class="verse" id="V31">
31&#160;</span>
Our fathers ate the manna in the wilderness. As it is written, ‘He gave them bread out of heaven to eat.’ ” </span></div>
<div class='p'><span class='V31_NoBody'>
 </span><span class="V32_NoBody"><span class="verse" id="V32">
32&#160;</span>
Jesus therefore said to them, <span class='wj'>
“Most certainly, I tell you, it wasn’t Moses who gave you the bread out of heaven, but my Father gives you the true bread out of heaven. </span>
  </span><span class="V33_NoBody"><span class="verse" id="V33">
33&#160;</span>
 <span class='wj'>
For the bread of God is that which comes down out of heaven, and gives life to the world.”</span>
 </span></div>
<div class='p'><span class='V33_NoBody'>
 </span><span class="V34_NoBody"><span class="verse" id="V34">
34&#160;</span>
They said therefore to him, “Lord, always give us this bread.” </span></div>
<div class='p'><span class='V34_NoBody'>
 </span><span class="V35_NoBody"><span class="verse" id="V35">
35&#160;</span>
Jesus said to them, <span class='wj'>
“I am the bread of life. Whoever comes to me will not be hungry, and whoever believes in me will never be thirsty. </span>
  </span><span class="V36_NoBody"><span class="verse" id="V36">
36&#160;</span>
 <span class='wj'>
But I told you that you have seen me, and yet you don’t believe. </span>
  </span><span class="V37_NoBody"><span class="verse" id="V37">
37&#160;</span>
 <span class='wj'>
All those whom the Father gives me will come to me. He who comes to me I will in no way throw out. </span>
  </span><span class="V38_NoBody"><span class="verse" id="V38">
38&#160;</span>
 <span class='wj'>
For I have come down from heaven, not to do my own will, but the will of him who sent me. </span>
  </span><span class="V39_NoBody"><span class="verse" id="V39">
39&#160;</span>
 <span class='wj'>
This is the will of my Father who sent me, that of all he has given to me I should lose nothing, but should raise him up at the last day. </span>
  </span><span class="V40_NoBody"><span class="verse" id="V40">
40&#160;</span>
 <span class='wj'>
This is the will of the one who sent me, that everyone who sees the Son, and believes in him, should have eternal life; and I will raise him up at the last day.”</span>
 </span></div>
<div class='p'><span class='V40_NoBody'>
 </span><span class="V41_NoBody"><span class="verse" id="V41">
41&#160;</span>
The Jews therefore murmured concerning him, because he said, <span class='wj'>
“I am the bread which came down out of heaven.”</span>
  </span><span class="V42_NoBody"><span class="verse" id="V42">
42&#160;</span>
They said, “Isn’t this Jesus, the son of Joseph, whose father and mother we know? How then does he say, <span class='wj'>
‘I have come down out of heaven?’ ” </span>
 </span></div>
<div class='p'><span class='V42_NoBody'>
 </span><span class="V43_NoBody"><span class="verse" id="V43">
43&#160;</span>
Therefore Jesus answered them, <span class='wj'>
“Don’t murmur among yourselves. </span>
  </span><span class="V44_NoBody"><span class="verse" id="V44">
44&#160;</span>
 <span class='wj'>
No one can come to me unless the Father who sent me draws him, and I will raise him up in the last day. </span>
  </span><span class="V45_NoBody"><span class="verse" id="V45">
45&#160;</span>
 <span class='wj'>
It is written in the prophets, ‘They will all be taught by God.’ </span>
  <span class='wj'>
Therefore everyone who hears from the Father and has learned, comes to me. </span>
  </span><span class="V46_NoBody"><span class="verse" id="V46">
46&#160;</span>
 <span class='wj'>
Not that anyone has seen the Father, except he who is from God. He has seen the Father. </span>
  </span><span class="V47_NoBody"><span class="verse" id="V47">
47&#160;</span>
 <span class='wj'>
Most certainly, I tell you, he who believes in me has eternal life. </span>
  </span><span class="V48_NoBody"><span class="verse" id="V48">
48&#160;</span>
 <span class='wj'>
I am the bread of life. </span>
  </span><span class="V49_NoBody"><span class="verse" id="V49">
49&#160;</span>
 <span class='wj'>
Your fathers ate the manna in the wilderness and they died. </span>
  </span><span class="V50_NoBody"><span class="verse" id="V50">
50&#160;</span>
 <span class='wj'>
This is the bread which comes down out of heaven, that anyone may eat of it and not die. </span>
  </span><span class="V51_NoBody"><span class="verse" id="V51">
51&#160;</span>
 <span class='wj'>
I am the living bread which came down out of heaven. If anyone eats of this bread, he will live forever. Yes, the bread which I will give for the life of the world is my flesh.”</span>
 </span></div>
<div class='p'><span class='V51_NoBody'>
 </span><span class="V52_NoBody"><span class="verse" id="V52">
52&#160;</span>
The Jews therefore contended with one another, saying, “How can this man give us his flesh to eat?” </span></div>
<div class='p'><span class='V52_NoBody'>
 </span><span class="V53_NoBody"><span class="verse" id="V53">
53&#160;</span>
Jesus therefore said to them, <span class='wj'>
“Most certainly I tell you, unless you eat the flesh of the Son of Man and drink his blood, you don’t have life in yourselves. </span>
  </span><span class="V54_NoBody"><span class="verse" id="V54">
54&#160;</span>
 <span class='wj'>
He who eats my flesh and drinks my blood has eternal life, and I will raise him up at the last day. </span>
  </span><span class="V55_NoBody"><span class="verse" id="V55">
55&#160;</span>
 <span class='wj'>
For my flesh is food indeed, and my blood is drink indeed. </span>
  </span><span class="V56_NoBody"><span class="verse" id="V56">
56&#160;</span>
 <span class='wj'>
He who eats my flesh and drinks my blood lives in me, and I in him. </span>
  </span><span class="V57_NoBody"><span class="verse" id="V57">
57&#160;</span>
 <span class='wj'>
As the living Father sent me, and I live because of the Father; so he who feeds on me, he will also live because of me. </span>
  </span><span class="V58_NoBody"><span class="verse" id="V58">
58&#160;</span>
 <span class='wj'>
This is the bread which came down out of heaven—not as our fathers ate the manna, and died. He who eats this bread will live forever.”</span>
  </span><span class="V59_NoBody"><span class="verse" id="V59">
59&#160;</span>
He said these things in the synagogue, as he taught in Capernaum. </span></div>
<div class='p'><span class='V59_NoBody'>
 </span><span class="V60_NoBody"><span class="verse" id="V60">
60&#160;</span>
Therefore many of his disciples, when they heard this, said, “This is a hard saying! Who can listen to it?” </span></div>
<div class='p'><span class='V60_NoBody'>
 </span><span class="V61_NoBody"><span class="verse" id="V61">
61&#160;</span>
But Jesus knowing in himself that his disciples murmured at this, said to them, <span class='wj'>
“Does this cause you to stumble? </span>
  </span><span class="V62_NoBody"><span class="verse" id="V62">
62&#160;</span>
 <span class='wj'>
Then what if you would see the Son of Man ascending to where he was before? </span>
  </span><span class="V63_NoBody"><span class="verse" id="V63">
63&#160;</span>
 <span class='wj'>
It is the spirit who gives life. The flesh profits nothing. The words that I speak to you are spirit, and are life. </span>
  </span><span class="V64_NoBody"><span class="verse" id="V64">
64&#160;</span>
 <span class='wj'>
But there are some of you who don’t believe.”</span>
 For Jesus knew from the beginning who they were who didn’t believe, and who it was who would betray him.  </span><span class="V65_NoBody"><span class="verse" id="V65">
65&#160;</span>
He said, <span class='wj'>
“For this cause I have said to you that no one can come to me, unless it is given to him by my Father.”</span>
 </span></div>
<div class='p'><span class='V65_NoBody'>
 </span><span class="V66_NoBody"><span class="verse" id="V66">
66&#160;</span>
At this, many of his disciples went back, and walked no more with him.  </span><span class="V67_NoBody"><span class="verse" id="V67">
67&#160;</span>
Jesus said therefore to the twelve, <span class='wj'>
“You don’t also want to go away, do you?”</span>
 </span></div>
<div class='p'><span class='V67_NoBody'>
 </span><span class="V68_NoBody"><span class="verse" id="V68">
68&#160;</span>
Simon Peter answered him, “Lord, to whom would we go? You have the words of eternal life.  </span><span class="V69_NoBody"><span class="verse" id="V69">
69&#160;</span>
We have come to believe and know that you are the Christ, the Son of the living God.” </span></div>
<div class='p'><span class='V69_NoBody'>
 </span><span class="V70_NoBody"><span class="verse" id="V70">
70&#160;</span>
Jesus answered them, <span class='wj'>
“Didn’t I choose you, the twelve, and one of you is a devil?”</span>
  </span><span class="V71_NoBody"><span class="verse" id="V71">
71&#160;</span>
Now he spoke of Judas, the son of Simon Iscariot, for it was he who would betray him, being one of the twelve. </span></div>
<div class="footnote">

</div>
<hr /><div class="copyright">
<center> <a href="http://ebible.org/web/copyright.htm"">This website uses The World English Bible (Public Domain).</a> </center>
</div>
</div></body></html>
{% endblock %}