{% extends 'knowledge_base/base-web.html' %}{% block content %}﻿<!DOCTYPE html>
<div class="chapter">
<div class="verse-label" >John 9</div>
 
<div class='p'><span class='_NoBody'>
 <span class="V1_NoBody"><span class="verse" id="V1">
1&#160;</span>
As he passed by, he saw a man blind from birth.  </span><span class="V2_NoBody"><span class="verse" id="V2">
2&#160;</span>
His disciples asked him, “Rabbi, who sinned, this man or his parents, that he was born blind?” </span></div>
<div class='p'><span class='V2_NoBody'>
 </span><span class="V3_NoBody"><span class="verse" id="V3">
3&#160;</span>
Jesus answered, <span class='wj'>
“This man didn’t sin, nor did his parents; but, that the works of God might be revealed in him. </span>
  </span><span class="V4_NoBody"><span class="verse" id="V4">
4&#160;</span>
 <span class='wj'>
I must work the works of him who sent me while it is day. The night is coming, when no one can work. </span>
  </span><span class="V5_NoBody"><span class="verse" id="V5">
5&#160;</span>
 <span class='wj'>
While I am in the world, I am the light of the world.”</span>
  </span><span class="V6_NoBody"><span class="verse" id="V6">
6&#160;</span>
When he had said this, he spat on the ground, made mud with the saliva, anointed the blind man’s eyes with the mud,  </span><span class="V7_NoBody"><span class="verse" id="V7">
7&#160;</span>
and said to him, <span class='wj'>
“Go, wash in the pool of Siloam”</span>
 (which means “Sent”). So he went away, washed, and came back seeing.  </span><span class="V8_NoBody"><span class="verse" id="V8">
8&#160;</span>
The neighbors therefore, and those who saw that he was blind before, said, “Isn’t this he who sat and begged?”  </span><span class="V9_NoBody"><span class="verse" id="V9">
9&#160;</span>
Others were saying, “It is he.” Still others were saying, “He looks like him.” </span></div>
<div class='p'><span class='V9_NoBody'>
He said, “I am he.”  </span><span class="V10_NoBody"><span class="verse" id="V10">
10&#160;</span>
They therefore were asking him, “How were your eyes opened?” </span></div>
<div class='p'><span class='V10_NoBody'>
 </span><span class="V11_NoBody"><span class="verse" id="V11">
11&#160;</span>
He answered, “A man called Jesus made mud, anointed my eyes, and said to me, <span class='wj'>
‘Go to the pool of Siloam and wash.’</span>
 So I went away and washed, and I received sight.” </span></div>
<div class='p'><span class='V11_NoBody'>
 </span><span class="V12_NoBody"><span class="verse" id="V12">
12&#160;</span>
Then they asked him, “Where is he?” </span></div>
<div class='p'><span class='V12_NoBody'>
He said, “I don’t know.” </span></div>
<div class='p'><span class='V12_NoBody'>
 </span><span class="V13_NoBody"><span class="verse" id="V13">
13&#160;</span>
They brought him who had been blind to the Pharisees.  </span><span class="V14_NoBody"><span class="verse" id="V14">
14&#160;</span>
It was a Sabbath when Jesus made the mud and opened his eyes.  </span><span class="V15_NoBody"><span class="verse" id="V15">
15&#160;</span>
Again therefore the Pharisees also asked him how he received his sight. He said to them, “He put mud on my eyes, I washed, and I see.” </span></div>
<div class='p'><span class='V15_NoBody'>
 </span><span class="V16_NoBody"><span class="verse" id="V16">
16&#160;</span>
Some therefore of the Pharisees said, “This man is not from God, because he doesn’t keep the Sabbath.” Others said, “How can a man who is a sinner do such signs?” There was division among them.  </span><span class="V17_NoBody"><span class="verse" id="V17">
17&#160;</span>
Therefore they asked the blind man again, “What do you say about him, because he opened your eyes?” </span></div>
<div class='p'><span class='V17_NoBody'>
He said, “He is a prophet.” </span></div>
<div class='p'><span class='V17_NoBody'>
 </span><span class="V18_NoBody"><span class="verse" id="V18">
18&#160;</span>
The Jews therefore didn’t believe concerning him, that he had been blind, and had received his sight, until they called the parents of him who had received his sight,  </span><span class="V19_NoBody"><span class="verse" id="V19">
19&#160;</span>
and asked them, “Is this your son, whom you say was born blind? How then does he now see?” </span></div>
<div class='p'><span class='V19_NoBody'>
 </span><span class="V20_NoBody"><span class="verse" id="V20">
20&#160;</span>
His parents answered them, “We know that this is our son, and that he was born blind;  </span><span class="V21_NoBody"><span class="verse" id="V21">
21&#160;</span>
but how he now sees, we don’t know; or who opened his eyes, we don’t know. He is of age. Ask him. He will speak for himself.”  </span><span class="V22_NoBody"><span class="verse" id="V22">
22&#160;</span>
His parents said these things because they feared the Jews; for the Jews had already agreed that if any man would confess him as Christ, he would be put out of the synagogue.  </span><span class="V23_NoBody"><span class="verse" id="V23">
23&#160;</span>
Therefore his parents said, “He is of age. Ask him.” </span></div>
<div class='p'><span class='V23_NoBody'>
 </span><span class="V24_NoBody"><span class="verse" id="V24">
24&#160;</span>
So they called the man who was blind a second time, and said to him, “Give glory to God. We know that this man is a sinner.” </span></div>
<div class='p'><span class='V24_NoBody'>
 </span><span class="V25_NoBody"><span class="verse" id="V25">
25&#160;</span>
He therefore answered, “I don’t know if he is a sinner. One thing I do know: that though I was blind, now I see.” </span></div>
<div class='p'><span class='V25_NoBody'>
 </span><span class="V26_NoBody"><span class="verse" id="V26">
26&#160;</span>
They said to him again, “What did he do to you? How did he open your eyes?” </span></div>
<div class='p'><span class='V26_NoBody'>
 </span><span class="V27_NoBody"><span class="verse" id="V27">
27&#160;</span>
He answered them, “I told you already, and you didn’t listen. Why do you want to hear it again? You don’t also want to become his disciples, do you?” </span></div>
<div class='p'><span class='V27_NoBody'>
 </span><span class="V28_NoBody"><span class="verse" id="V28">
28&#160;</span>
They insulted him and said, “You are his disciple, but we are disciples of Moses.  </span><span class="V29_NoBody"><span class="verse" id="V29">
29&#160;</span>
We know that God has spoken to Moses. But as for this man, we don’t know where he comes from.” </span></div>
<div class='p'><span class='V29_NoBody'>
 </span><span class="V30_NoBody"><span class="verse" id="V30">
30&#160;</span>
The man answered them, “How amazing! You don’t know where he comes from, yet he opened my eyes.  </span><span class="V31_NoBody"><span class="verse" id="V31">
31&#160;</span>
We know that God doesn’t listen to sinners, but if anyone is a worshiper of God, and does his will, he listens to him.  </span><span class="V32_NoBody"><span class="verse" id="V32">
32&#160;</span>
Since the world began it has never been heard of that anyone opened the eyes of someone born blind.  </span><span class="V33_NoBody"><span class="verse" id="V33">
33&#160;</span>
If this man were not from God, he could do nothing.” </span></div>
<div class='p'><span class='V33_NoBody'>
 </span><span class="V34_NoBody"><span class="verse" id="V34">
34&#160;</span>
They answered him, “You were altogether born in sins, and do you teach us?” Then they threw him out. </span></div>
<div class='p'><span class='V34_NoBody'>
 </span><span class="V35_NoBody"><span class="verse" id="V35">
35&#160;</span>
Jesus heard that they had thrown him out, and finding him, he said, <span class='wj'>
“Do you believe in the Son of God?”</span>
 </span></div>
<div class='p'><span class='V35_NoBody'>
 </span><span class="V36_NoBody"><span class="verse" id="V36">
36&#160;</span>
He answered, “Who is he, Lord, that I may believe in him?” </span></div>
<div class='p'><span class='V36_NoBody'>
 </span><span class="V37_NoBody"><span class="verse" id="V37">
37&#160;</span>
Jesus said to him, <span class='wj'>
“You have both seen him, and it is he who speaks with you.”</span>
 </span></div>
<div class='p'><span class='V37_NoBody'>
 </span><span class="V38_NoBody"><span class="verse" id="V38">
38&#160;</span>
He said, “Lord, I believe!” and he worshiped him. </span></div>
<div class='p'><span class='V38_NoBody'>
 </span><span class="V39_NoBody"><span class="verse" id="V39">
39&#160;</span>
Jesus said, <span class='wj'>
“I came into this world for judgment, that those who don’t see may see; and that those who see may become blind.”</span>
 </span></div>
<div class='p'><span class='V39_NoBody'>
 </span><span class="V40_NoBody"><span class="verse" id="V40">
40&#160;</span>
Those of the Pharisees who were with him heard these things, and said to him, “Are we also blind?” </span></div>
<div class='p'><span class='V40_NoBody'>
 </span><span class="V41_NoBody"><span class="verse" id="V41">
41&#160;</span>
Jesus said to them, <span class='wj'>
“If you were blind, you would have no sin; but now you say, ‘We see.’ Therefore your sin remains.</span>
 </span></div>
<div class="footnote">

</div>
<hr /><div class="copyright">
<center> <a href="http://ebible.org/web/copyright.htm"">This website uses The World English Bible (Public Domain).</a> </center>
</div>
</div></body></html>
{% endblock %}