{% extends 'knowledge_base/base-web.html' %}{% block content %}﻿<!DOCTYPE html>
<div class="chapter">
<div class="verse-label" >John 16</div>
 
<div class='p'><span class='_NoBody'>
 <span class="V1_NoBody"><span class="verse" id="V1">
1&#160;</span>
 <span class='wj'>
“I have said these things to you so that you wouldn’t be caused to stumble. </span>
  </span><span class="V2_NoBody"><span class="verse" id="V2">
2&#160;</span>
 <span class='wj'>
They will put you out of the synagogues. Yes, the time comes that whoever kills you will think that he offers service to God. </span>
  </span><span class="V3_NoBody"><span class="verse" id="V3">
3&#160;</span>
 <span class='wj'>
They will do these things</span>
 <span class='wj'>
because they have not known the Father, nor me. </span>
  </span><span class="V4_NoBody"><span class="verse" id="V4">
4&#160;</span>
 <span class='wj'>
But I have told you these things, so that when the time comes, you may remember that I told you about them. I didn’t tell you these things from the beginning, because I was with you. </span>
  </span><span class="V5_NoBody"><span class="verse" id="V5">
5&#160;</span>
 <span class='wj'>
But now I am going to him who sent me, and none of you asks me, ‘Where are you going?’ </span>
  </span><span class="V6_NoBody"><span class="verse" id="V6">
6&#160;</span>
 <span class='wj'>
But because I have told you these things, sorrow has filled your heart. </span>
  </span><span class="V7_NoBody"><span class="verse" id="V7">
7&#160;</span>
 <span class='wj'>
Nevertheless I tell you the truth: It is to your advantage that I go away, for if I don’t go away, the Counselor won’t come to you. But if I go, I will send him to you. </span>
  </span><span class="V8_NoBody"><span class="verse" id="V8">
8&#160;</span>
 <span class='wj'>
When he has come, he will convict the world about sin, about righteousness, and about judgment; </span>
  </span><span class="V9_NoBody"><span class="verse" id="V9">
9&#160;</span>
 <span class='wj'>
about sin, because they don’t believe in me; </span>
  </span><span class="V10_NoBody"><span class="verse" id="V10">
10&#160;</span>
 <span class='wj'>
about righteousness, because I am going to my Father, and you won’t see me any more; </span>
  </span><span class="V11_NoBody"><span class="verse" id="V11">
11&#160;</span>
 <span class='wj'>
about judgment, because the prince of this world has been judged. </span>
 </span></div>
<div class='p'><span class='V11_NoBody'>
 </span><span class="V12_NoBody"><span class="verse" id="V12">
12&#160;</span>
 <span class='wj'>
“I still have many things to tell you, but you can’t bear them now. </span>
  </span><span class="V13_NoBody"><span class="verse" id="V13">
13&#160;</span>
 <span class='wj'>
However when he, the Spirit of truth, has come, he will guide you into all truth, for he will not speak from himself; but whatever he hears, he will speak. He will declare to you things that are coming. </span>
  </span><span class="V14_NoBody"><span class="verse" id="V14">
14&#160;</span>
 <span class='wj'>
He will glorify me, for he will take from what is mine, and will declare it to you. </span>
  </span><span class="V15_NoBody"><span class="verse" id="V15">
15&#160;</span>
 <span class='wj'>
All things that the Father has are mine; therefore I said that he takes</span>
 <span class='wj'>
of mine and will declare it to you. </span>
  </span><span class="V16_NoBody"><span class="verse" id="V16">
16&#160;</span>
 <span class='wj'>
A little while, and you will not see me. Again a little while, and you will see me.”</span>
 </span></div>
<div class='p'><span class='V16_NoBody'>
 </span><span class="V17_NoBody"><span class="verse" id="V17">
17&#160;</span>
Some of his disciples therefore said to one another, “What is this that he says to us, <span class='wj'>
‘A little while, and you won’t see me, and again a little while, and you will see me;’</span>
 and, <span class='wj'>
‘Because I go to the Father’</span>
?”  </span><span class="V18_NoBody"><span class="verse" id="V18">
18&#160;</span>
They said therefore, “What is this that he says, <span class='wj'>
‘A little while’</span>
? We don’t know what he is saying.” </span></div>
<div class='p'><span class='V18_NoBody'>
 </span><span class="V19_NoBody"><span class="verse" id="V19">
19&#160;</span>
Therefore Jesus perceived that they wanted to ask him, and he said to them, <span class='wj'>
“Do you inquire among yourselves concerning this, that I said, ‘A little while, and you won’t see me, and again a little while, and you will see me?’ </span>
  </span><span class="V20_NoBody"><span class="verse" id="V20">
20&#160;</span>
 <span class='wj'>
Most certainly I tell you that you will weep and lament, but the world will rejoice. You will be sorrowful, but your sorrow will be turned into joy. </span>
  </span><span class="V21_NoBody"><span class="verse" id="V21">
21&#160;</span>
 <span class='wj'>
A woman, when she gives birth, has sorrow because her time has come. But when she has delivered the child, she doesn’t remember the anguish any more, for the joy that a human being is born into the world. </span>
  </span><span class="V22_NoBody"><span class="verse" id="V22">
22&#160;</span>
 <span class='wj'>
Therefore you now have sorrow, but I will see you again, and your heart will rejoice, and no one will take your joy away from you.</span>
 </span></div>
<div class='p'><span class='V22_NoBody'>
 </span><span class="V23_NoBody"><span class="verse" id="V23">
23&#160;</span>
 <span class='wj'>
“In that day you will ask me no questions. Most certainly I tell you, whatever you may ask of the Father in my name, he will give it to you. </span>
  </span><span class="V24_NoBody"><span class="verse" id="V24">
24&#160;</span>
 <span class='wj'>
Until now, you have asked nothing in my name. Ask, and you will receive, that your joy may be made full. </span>
  </span><span class="V25_NoBody"><span class="verse" id="V25">
25&#160;</span>
 <span class='wj'>
I have spoken these things to you in figures of speech. But the time is coming when I will no more speak to you in figures of speech, but will tell you plainly about the Father. </span>
  </span><span class="V26_NoBody"><span class="verse" id="V26">
26&#160;</span>
 <span class='wj'>
In that day you will ask in my name; and I don’t say to you that I will pray to the Father for you, </span>
  </span><span class="V27_NoBody"><span class="verse" id="V27">
27&#160;</span>
 <span class='wj'>
for the Father himself loves you, because you have loved me, and have believed that I came from God. </span>
  </span><span class="V28_NoBody"><span class="verse" id="V28">
28&#160;</span>
 <span class='wj'>
I came from the Father, and have come into the world. Again, I leave the world, and go to the Father.”</span>
 </span></div>
<div class='p'><span class='V28_NoBody'>
 </span><span class="V29_NoBody"><span class="verse" id="V29">
29&#160;</span>
His disciples said to him, “Behold, now you are speaking plainly, and using no figures of speech.  </span><span class="V30_NoBody"><span class="verse" id="V30">
30&#160;</span>
Now we know that you know all things, and don’t need for anyone to question you. By this we believe that you came from God.” </span></div>
<div class='p'><span class='V30_NoBody'>
 </span><span class="V31_NoBody"><span class="verse" id="V31">
31&#160;</span>
Jesus answered them, <span class='wj'>
“Do you now believe? </span>
  </span><span class="V32_NoBody"><span class="verse" id="V32">
32&#160;</span>
 <span class='wj'>
Behold, the time is coming, yes, and has now come, that you will be scattered, everyone to his own place, and you will leave me alone. Yet I am not alone, because the Father is with me. </span>
  </span><span class="V33_NoBody"><span class="verse" id="V33">
33&#160;</span>
 <span class='wj'>
I have told you these things, that in me you may have peace. In the world you have trouble; but cheer up! I have overcome the world.” </span>
 </span></div>
<div class="footnote">

</div>
<hr /><div class="copyright">
<center> <a href="http://ebible.org/web/copyright.htm"">This website uses The World English Bible (Public Domain).</a> </center>
</div>
</div></body></html>
{% endblock %}