{% extends 'knowledge_base/base-web.html' %}{% block content %}﻿<!DOCTYPE html>
<div class="chapter">
<div class="verse-label" >John 15</div>
 
<div class='p'><span class='_NoBody'>
 <span class="V1_NoBody"><span class="verse" id="V1">
1&#160;</span>
 <span class='wj'>
“I am the true vine, and my Father is the farmer. </span>
  </span><span class="V2_NoBody"><span class="verse" id="V2">
2&#160;</span>
 <span class='wj'>
Every branch in me that doesn’t bear fruit, he takes away. Every branch that bears fruit, he prunes, that it may bear more fruit. </span>
  </span><span class="V3_NoBody"><span class="verse" id="V3">
3&#160;</span>
 <span class='wj'>
You are already pruned clean because of the word which I have spoken to you. </span>
  </span><span class="V4_NoBody"><span class="verse" id="V4">
4&#160;</span>
 <span class='wj'>
Remain in me, and I in you. As the branch can’t bear fruit by itself unless it remains in the vine, so neither can you, unless you remain in me. </span>
  </span><span class="V5_NoBody"><span class="verse" id="V5">
5&#160;</span>
 <span class='wj'>
I am the vine. You are the branches. He who remains in me and I in him bears much fruit, for apart from me you can do nothing. </span>
  </span><span class="V6_NoBody"><span class="verse" id="V6">
6&#160;</span>
 <span class='wj'>
If a man doesn’t remain in me, he is thrown out as a branch and is withered; and they gather them, throw them into the fire, and they are burned. </span>
  </span><span class="V7_NoBody"><span class="verse" id="V7">
7&#160;</span>
 <span class='wj'>
If you remain in me, and my words remain in you, you will ask whatever you desire, and it will be done for you.</span>
 </span></div>
<div class='p'><span class='V7_NoBody'>
 </span><span class="V8_NoBody"><span class="verse" id="V8">
8&#160;</span>
 <span class='wj'>
“In this my Father is glorified, that you bear much fruit; and so you will be my disciples. </span>
  </span><span class="V9_NoBody"><span class="verse" id="V9">
9&#160;</span>
 <span class='wj'>
Even as the Father has loved me, I also have loved you. Remain in my love. </span>
  </span><span class="V10_NoBody"><span class="verse" id="V10">
10&#160;</span>
 <span class='wj'>
If you keep my commandments, you will remain in my love; even as I have kept my Father’s commandments, and remain in his love. </span>
  </span><span class="V11_NoBody"><span class="verse" id="V11">
11&#160;</span>
 <span class='wj'>
I have spoken these things to you, that my joy may remain in you, and that your joy may be made full.</span>
 </span></div>
<div class='p'><span class='V11_NoBody'>
 </span><span class="V12_NoBody"><span class="verse" id="V12">
12&#160;</span>
 <span class='wj'>
“This is my commandment, that you love one another, even as I have loved you. </span>
  </span><span class="V13_NoBody"><span class="verse" id="V13">
13&#160;</span>
 <span class='wj'>
Greater love has no one than this, that someone lay down his life for his friends. </span>
  </span><span class="V14_NoBody"><span class="verse" id="V14">
14&#160;</span>
 <span class='wj'>
You are my friends, if you do whatever I command you. </span>
  </span><span class="V15_NoBody"><span class="verse" id="V15">
15&#160;</span>
 <span class='wj'>
No longer do I call you servants, for the servant doesn’t know what his lord does. But I have called you friends, for everything that I heard from my Father, I have made known to you. </span>
  </span><span class="V16_NoBody"><span class="verse" id="V16">
16&#160;</span>
 <span class='wj'>
You didn’t choose me, but I chose you and appointed you, that you should go and bear fruit, and that your fruit should remain; that whatever you will ask of the Father in my name, he may give it to you.</span>
 </span></div>
<div class='p'><span class='V16_NoBody'>
 </span><span class="V17_NoBody"><span class="verse" id="V17">
17&#160;</span>
 <span class='wj'>
“I command these things to you, that you may love one another. </span>
  </span><span class="V18_NoBody"><span class="verse" id="V18">
18&#160;</span>
 <span class='wj'>
If the world hates you, you know that it has hated me before it hated you. </span>
  </span><span class="V19_NoBody"><span class="verse" id="V19">
19&#160;</span>
 <span class='wj'>
If you were of the world, the world would love its own. But because you are not of the world, since I chose you out of the world, therefore the world hates you. </span>
  </span><span class="V20_NoBody"><span class="verse" id="V20">
20&#160;</span>
 <span class='wj'>
Remember the word that I said to you: ‘A servant is not greater than his lord.’</span>
 <span class='wj'>
If they persecuted me, they will also persecute you. If they kept my word, they will also keep yours. </span>
  </span><span class="V21_NoBody"><span class="verse" id="V21">
21&#160;</span>
 <span class='wj'>
But they will do all these things to you for my name’s sake, because they don’t know him who sent me. </span>
  </span><span class="V22_NoBody"><span class="verse" id="V22">
22&#160;</span>
 <span class='wj'>
If I had not come and spoken to them, they would not have had sin; but now they have no excuse for their sin. </span>
  </span><span class="V23_NoBody"><span class="verse" id="V23">
23&#160;</span>
 <span class='wj'>
He who hates me, hates my Father also. </span>
  </span><span class="V24_NoBody"><span class="verse" id="V24">
24&#160;</span>
 <span class='wj'>
If I hadn’t done among them the works which no one else did, they wouldn’t have had sin. But now they have seen and also hated both me and my Father. </span>
  </span><span class="V25_NoBody"><span class="verse" id="V25">
25&#160;</span>
 <span class='wj'>
But this happened so that the word may be fulfilled which was written in their law, ‘They hated me without a cause.’</span>
 </span></div>
<div class='p'><span class='V25_NoBody'>
 </span><span class="V26_NoBody"><span class="verse" id="V26">
26&#160;</span>
 <span class='wj'>
“When the Counselor</span>
 <span class='wj'>
has come, whom I will send to you from the Father, the Spirit of truth, who proceeds from the Father, he will testify about me. </span>
  </span><span class="V27_NoBody"><span class="verse" id="V27">
27&#160;</span>
 <span class='wj'>
You will also testify, because you have been with me from the beginning.</span>
 </span></div>
<div class="footnote">

</div>
<hr /><div class="copyright">
<center> <a href="http://ebible.org/web/copyright.htm"">This website uses The World English Bible (Public Domain).</a> </center>
</div>
</div></body></html>
{% endblock %}