{% extends 'knowledge_base/base-web.html' %}{% block content %}﻿<!DOCTYPE html>
<div class="chapter">
<div class="verse-label" >John 11</div>
 
<div class='p'><span class='_NoBody'>
 <span class="V1_NoBody"><span class="verse" id="V1">
1&#160;</span>
Now a certain man was sick, Lazarus from Bethany, of the village of Mary and her sister, Martha.  </span><span class="V2_NoBody"><span class="verse" id="V2">
2&#160;</span>
It was that Mary who had anointed the Lord with ointment and wiped his feet with her hair, whose brother, Lazarus, was sick.  </span><span class="V3_NoBody"><span class="verse" id="V3">
3&#160;</span>
The sisters therefore sent to him, saying, “Lord, behold, he for whom you have great affection is sick.”  </span><span class="V4_NoBody"><span class="verse" id="V4">
4&#160;</span>
But when Jesus heard it, he said, <span class='wj'>
“This sickness is not to death, but for the glory of God, that God’s Son may be glorified by it.”</span>
  </span><span class="V5_NoBody"><span class="verse" id="V5">
5&#160;</span>
Now Jesus loved Martha, and her sister, and Lazarus.  </span><span class="V6_NoBody"><span class="verse" id="V6">
6&#160;</span>
When therefore he heard that he was sick, he stayed two days in the place where he was.  </span><span class="V7_NoBody"><span class="verse" id="V7">
7&#160;</span>
Then after this he said to the disciples, <span class='wj'>
“Let’s go into Judea again.”</span>
 </span></div>
<div class='p'><span class='V7_NoBody'>
 </span><span class="V8_NoBody"><span class="verse" id="V8">
8&#160;</span>
The disciples asked him, “Rabbi, the Jews were just trying to stone you. Are you going there again?” </span></div>
<div class='p'><span class='V8_NoBody'>
 </span><span class="V9_NoBody"><span class="verse" id="V9">
9&#160;</span>
Jesus answered, <span class='wj'>
“Aren’t there twelve hours of daylight? If a man walks in the day, he doesn’t stumble, because he sees the light of this world. </span>
  </span><span class="V10_NoBody"><span class="verse" id="V10">
10&#160;</span>
 <span class='wj'>
But if a man walks in the night, he stumbles, because the light isn’t in him.”</span>
  </span><span class="V11_NoBody"><span class="verse" id="V11">
11&#160;</span>
He said these things, and after that, he said to them, <span class='wj'>
“Our friend, Lazarus, has fallen asleep, but I am going so that I may awake him out of sleep.”</span>
 </span></div>
<div class='p'><span class='V11_NoBody'>
 </span><span class="V12_NoBody"><span class="verse" id="V12">
12&#160;</span>
The disciples therefore said, “Lord, if he has fallen asleep, he will recover.” </span></div>
<div class='p'><span class='V12_NoBody'>
 </span><span class="V13_NoBody"><span class="verse" id="V13">
13&#160;</span>
Now Jesus had spoken of his death, but they thought that he spoke of taking rest in sleep.  </span><span class="V14_NoBody"><span class="verse" id="V14">
14&#160;</span>
So Jesus said to them plainly then, <span class='wj'>
“Lazarus is dead. </span>
  </span><span class="V15_NoBody"><span class="verse" id="V15">
15&#160;</span>
 <span class='wj'>
I am glad for your sakes that I was not there, so that you may believe. Nevertheless, let’s go to him.”</span>
 </span></div>
<div class='p'><span class='V15_NoBody'>
 </span><span class="V16_NoBody"><span class="verse" id="V16">
16&#160;</span>
Thomas therefore, who is called Didymus, said to his fellow disciples, “Let’s go also, that we may die with him.” </span></div>
<div class='p'><span class='V16_NoBody'>
 </span><span class="V17_NoBody"><span class="verse" id="V17">
17&#160;</span>
So when Jesus came, he found that he had been in the tomb four days already.  </span><span class="V18_NoBody"><span class="verse" id="V18">
18&#160;</span>
Now Bethany was near Jerusalem, about fifteen stadia away.  </span><span class="V19_NoBody"><span class="verse" id="V19">
19&#160;</span>
Many of the Jews had joined the women around Martha and Mary, to console them concerning their brother.  </span><span class="V20_NoBody"><span class="verse" id="V20">
20&#160;</span>
Then when Martha heard that Jesus was coming, she went and met him, but Mary stayed in the house.  </span><span class="V21_NoBody"><span class="verse" id="V21">
21&#160;</span>
Therefore Martha said to Jesus, “Lord, if you would have been here, my brother wouldn’t have died.  </span><span class="V22_NoBody"><span class="verse" id="V22">
22&#160;</span>
Even now I know that whatever you ask of God, God will give you.”  </span><span class="V23_NoBody"><span class="verse" id="V23">
23&#160;</span>
Jesus said to her, <span class='wj'>
“Your brother will rise again.”</span>
 </span></div>
<div class='p'><span class='V23_NoBody'>
 </span><span class="V24_NoBody"><span class="verse" id="V24">
24&#160;</span>
Martha said to him, “I know that he will rise again in the resurrection at the last day.” </span></div>
<div class='p'><span class='V24_NoBody'>
 </span><span class="V25_NoBody"><span class="verse" id="V25">
25&#160;</span>
Jesus said to her, <span class='wj'>
“I am the resurrection and the life. He who believes in me will still live, even if he dies. </span>
  </span><span class="V26_NoBody"><span class="verse" id="V26">
26&#160;</span>
 <span class='wj'>
Whoever lives and believes in me will never die. Do you believe this?”</span>
 </span></div>
<div class='p'><span class='V26_NoBody'>
 </span><span class="V27_NoBody"><span class="verse" id="V27">
27&#160;</span>
She said to him, “Yes, Lord. I have come to believe that you are the Christ, God’s Son, he who comes into the world.” </span></div>
<div class='p'><span class='V27_NoBody'>
 </span><span class="V28_NoBody"><span class="verse" id="V28">
28&#160;</span>
When she had said this, she went away and called Mary, her sister, secretly, saying, “The Teacher is here and is calling you.” </span></div>
<div class='p'><span class='V28_NoBody'>
 </span><span class="V29_NoBody"><span class="verse" id="V29">
29&#160;</span>
When she heard this, she arose quickly and went to him.  </span><span class="V30_NoBody"><span class="verse" id="V30">
30&#160;</span>
Now Jesus had not yet come into the village, but was in the place where Martha met him.  </span><span class="V31_NoBody"><span class="verse" id="V31">
31&#160;</span>
Then the Jews who were with her in the house and were consoling her, when they saw Mary, that she rose up quickly and went out, followed her, saying, “She is going to the tomb to weep there.”  </span><span class="V32_NoBody"><span class="verse" id="V32">
32&#160;</span>
Therefore when Mary came to where Jesus was and saw him, she fell down at his feet, saying to him, “Lord, if you would have been here, my brother wouldn’t have died.” </span></div>
<div class='p'><span class='V32_NoBody'>
 </span><span class="V33_NoBody"><span class="verse" id="V33">
33&#160;</span>
When Jesus therefore saw her weeping, and the Jews weeping who came with her, he groaned in the spirit, and was troubled,  </span><span class="V34_NoBody"><span class="verse" id="V34">
34&#160;</span>
and said, <span class='wj'>
“Where have you laid him?”</span>
 </span></div>
<div class='p'><span class='V34_NoBody'>
They told him, “Lord, come and see.” </span></div>
<div class='p'><span class='V34_NoBody'>
 </span><span class="V35_NoBody"><span class="verse" id="V35">
35&#160;</span>
Jesus wept. </span></div>
<div class='p'><span class='V35_NoBody'>
 </span><span class="V36_NoBody"><span class="verse" id="V36">
36&#160;</span>
The Jews therefore said, “See how much affection he had for him!”  </span><span class="V37_NoBody"><span class="verse" id="V37">
37&#160;</span>
Some of them said, “Couldn’t this man, who opened the eyes of him who was blind, have also kept this man from dying?” </span></div>
<div class='p'><span class='V37_NoBody'>
 </span><span class="V38_NoBody"><span class="verse" id="V38">
38&#160;</span>
Jesus therefore, again groaning in himself, came to the tomb. Now it was a cave, and a stone lay against it.  </span><span class="V39_NoBody"><span class="verse" id="V39">
39&#160;</span>
Jesus said, <span class='wj'>
“Take away the stone.”</span>
 </span></div>
<div class='p'><span class='V39_NoBody'>
Martha, the sister of him who was dead, said to him, “Lord, by this time there is a stench, for he has been dead four days.” </span></div>
<div class='p'><span class='V39_NoBody'>
 </span><span class="V40_NoBody"><span class="verse" id="V40">
40&#160;</span>
Jesus said to her, <span class='wj'>
“Didn’t I tell you that if you believed, you would see God’s glory?”</span>
 </span></div>
<div class='p'><span class='V40_NoBody'>
 </span><span class="V41_NoBody"><span class="verse" id="V41">
41&#160;</span>
So they took away the stone from the place where the dead man was lying. Jesus lifted up his eyes, and said, <span class='wj'>
“Father, I thank you that you listened to me. </span>
  </span><span class="V42_NoBody"><span class="verse" id="V42">
42&#160;</span>
 <span class='wj'>
I know that you always listen to me, but because of the multitude standing around I said this, that they may believe that you sent me.” </span>
  </span><span class="V43_NoBody"><span class="verse" id="V43">
43&#160;</span>
When he had said this, he cried with a loud voice, <span class='wj'>
“Lazarus, come out!”</span>
 </span></div>
<div class='p'><span class='V43_NoBody'>
 </span><span class="V44_NoBody"><span class="verse" id="V44">
44&#160;</span>
He who was dead came out, bound hand and foot with wrappings, and his face was wrapped around with a cloth. </span></div>
<div class='p'><span class='V44_NoBody'>
Jesus said to them, <span class='wj'>
“Free him, and let him go.”</span>
 </span></div>
<div class='p'><span class='V44_NoBody'>
 </span><span class="V45_NoBody"><span class="verse" id="V45">
45&#160;</span>
Therefore many of the Jews who came to Mary and saw what Jesus did believed in him.  </span><span class="V46_NoBody"><span class="verse" id="V46">
46&#160;</span>
But some of them went away to the Pharisees and told them the things which Jesus had done.  </span><span class="V47_NoBody"><span class="verse" id="V47">
47&#160;</span>
The chief priests therefore and the Pharisees gathered a council, and said, “What are we doing? For this man does many signs.  </span><span class="V48_NoBody"><span class="verse" id="V48">
48&#160;</span>
If we leave him alone like this, everyone will believe in him, and the Romans will come and take away both our place and our nation.” </span></div>
<div class='p'><span class='V48_NoBody'>
 </span><span class="V49_NoBody"><span class="verse" id="V49">
49&#160;</span>
But a certain one of them, Caiaphas, being high priest that year, said to them, “You know nothing at all,  </span><span class="V50_NoBody"><span class="verse" id="V50">
50&#160;</span>
nor do you consider that it is advantageous for us that one man should die for the people, and that the whole nation not perish.”  </span><span class="V51_NoBody"><span class="verse" id="V51">
51&#160;</span>
Now he didn’t say this of himself, but being high priest that year, he prophesied that Jesus would die for the nation,  </span><span class="V52_NoBody"><span class="verse" id="V52">
52&#160;</span>
and not for the nation only, but that he might also gather together into one the children of God who are scattered abroad.  </span><span class="V53_NoBody"><span class="verse" id="V53">
53&#160;</span>
So from that day forward they took counsel that they might put him to death.  </span><span class="V54_NoBody"><span class="verse" id="V54">
54&#160;</span>
Jesus therefore walked no more openly among the Jews, but departed from there into the country near the wilderness, to a city called Ephraim. He stayed there with his disciples. </span></div>
<div class='p'><span class='V54_NoBody'>
 </span><span class="V55_NoBody"><span class="verse" id="V55">
55&#160;</span>
Now the Passover of the Jews was at hand. Many went up from the country to Jerusalem before the Passover, to purify themselves.  </span><span class="V56_NoBody"><span class="verse" id="V56">
56&#160;</span>
Then they sought for Jesus and spoke with one another as they stood in the temple, “What do you think—that he isn’t coming to the feast at all?”  </span><span class="V57_NoBody"><span class="verse" id="V57">
57&#160;</span>
Now the chief priests and the Pharisees had commanded that if anyone knew where he was, he should report it, that they might seize him. </span></div>
<div class="footnote">

</div>
<hr /><div class="copyright">
<center> <a href="http://ebible.org/web/copyright.htm"">This website uses The World English Bible (Public Domain).</a> </center>
</div>
</div></body></html>
{% endblock %}