{% extends 'knowledge_base/base-web.html' %}{% block content %}﻿<!DOCTYPE html>
<div class="chapter">
<div class="verse-label" >Luke 8</div>
 
<div class='p'><span class='_NoBody'>
 <span class="V1_NoBody"><span class="verse" id="V1">
1&#160;</span>
Soon afterwards, he went about through cities and villages, preaching and bringing the good news of God’s Kingdom. With him were the twelve,  </span><span class="V2_NoBody"><span class="verse" id="V2">
2&#160;</span>
and certain women who had been healed of evil spirits and infirmities: Mary who was called Magdalene, from whom seven demons had gone out;  </span><span class="V3_NoBody"><span class="verse" id="V3">
3&#160;</span>
and Joanna, the wife of Chuzas, Herod’s steward; Susanna; and many others; who served them from their possessions.  </span><span class="V4_NoBody"><span class="verse" id="V4">
4&#160;</span>
When a great multitude came together, and people from every city were coming to him, he spoke by a parable.  </span><span class="V5_NoBody"><span class="verse" id="V5">
5&#160;</span>
 <span class='wj'>
“The farmer went out to sow his seed. As he sowed, some fell along the road, and it was trampled under foot, and the birds of the sky devoured it. </span>
  </span><span class="V6_NoBody"><span class="verse" id="V6">
6&#160;</span>
 <span class='wj'>
Other seed fell on the rock, and as soon as it grew, it withered away, because it had no moisture. </span>
  </span><span class="V7_NoBody"><span class="verse" id="V7">
7&#160;</span>
 <span class='wj'>
Other fell amid the thorns, and the thorns grew with it, and choked it. </span>
  </span><span class="V8_NoBody"><span class="verse" id="V8">
8&#160;</span>
 <span class='wj'>
Other fell into the good ground, and grew, and produced one hundred times as much fruit.”</span>
 As he said these things, he called out, <span class='wj'>
“He who has ears to hear, let him hear!”</span>
 </span></div>
<div class='p'><span class='V8_NoBody'>
 </span><span class="V9_NoBody"><span class="verse" id="V9">
9&#160;</span>
Then his disciples asked him, “What does this parable mean?” </span></div>
<div class='p'><span class='V9_NoBody'>
 </span><span class="V10_NoBody"><span class="verse" id="V10">
10&#160;</span>
He said, <span class='wj'>
“To you it is given to know the mysteries of God’s Kingdom, but to the rest in parables; that ‘seeing they may not see, and hearing they may not understand.’</span>
  </span><span class="V11_NoBody"><span class="verse" id="V11">
11&#160;</span>
 <span class='wj'>
Now the parable is this: The seed is the word of God. </span>
  </span><span class="V12_NoBody"><span class="verse" id="V12">
12&#160;</span>
 <span class='wj'>
Those along the road are those who hear, then the devil comes, and takes away the word from their heart, that they may not believe and be saved. </span>
  </span><span class="V13_NoBody"><span class="verse" id="V13">
13&#160;</span>
 <span class='wj'>
Those on the rock are they who, when they hear, receive the word with joy; but these have no root, who believe for a while, then fall away in time of temptation. </span>
  </span><span class="V14_NoBody"><span class="verse" id="V14">
14&#160;</span>
 <span class='wj'>
That which fell among the thorns, these are those who have heard, and as they go on their way they are choked with cares, riches, and pleasures of life, and bring no fruit to maturity. </span>
  </span><span class="V15_NoBody"><span class="verse" id="V15">
15&#160;</span>
 <span class='wj'>
Those in the good ground, these are those who with an honest and good heart, having heard the word, hold it tightly, and produce fruit with perseverance.</span>
 </span></div>
<div class='p'><span class='V15_NoBody'>
 </span><span class="V16_NoBody"><span class="verse" id="V16">
16&#160;</span>
 <span class='wj'>
“No one, when he has lit a lamp, covers it with a container, or puts it under a bed; but puts it on a stand, that those who enter in may see the light. </span>
  </span><span class="V17_NoBody"><span class="verse" id="V17">
17&#160;</span>
 <span class='wj'>
For nothing is hidden that will not be revealed; nor anything secret that will not be known and come to light. </span>
  </span><span class="V18_NoBody"><span class="verse" id="V18">
18&#160;</span>
 <span class='wj'>
Be careful therefore how you hear. For whoever has, to him will be given; and whoever doesn’t have, from him will be taken away even that which he thinks he has.”</span>
 </span></div>
<div class='p'><span class='V18_NoBody'>
 </span><span class="V19_NoBody"><span class="verse" id="V19">
19&#160;</span>
His mother and brothers came to him, and they could not come near him for the crowd.  </span><span class="V20_NoBody"><span class="verse" id="V20">
20&#160;</span>
Some people told him, “Your mother and your brothers stand outside, desiring to see you.” </span></div>
<div class='p'><span class='V20_NoBody'>
 </span><span class="V21_NoBody"><span class="verse" id="V21">
21&#160;</span>
But he answered them, <span class='wj'>
“My mother and my brothers are these who hear the word of God, and do it.”</span>
 </span></div>
<div class='p'><span class='V21_NoBody'>
 </span><span class="V22_NoBody"><span class="verse" id="V22">
22&#160;</span>
Now on one of those days, he entered into a boat, himself and his disciples, and he said to them, <span class='wj'>
“Let’s go over to the other side of the lake.”</span>
 So they launched out.  </span><span class="V23_NoBody"><span class="verse" id="V23">
23&#160;</span>
But as they sailed, he fell asleep. A wind storm came down on the lake, and they were taking on dangerous amounts of water.  </span><span class="V24_NoBody"><span class="verse" id="V24">
24&#160;</span>
They came to him, and awoke him, saying, “Master, master, we are dying!” He awoke, and rebuked the wind and the raging of the water, and they ceased, and it was calm.  </span><span class="V25_NoBody"><span class="verse" id="V25">
25&#160;</span>
He said to them, <span class='wj'>
“Where is your faith?”</span>
 Being afraid they marveled, saying to one another, “Who is this then, that he commands even the winds and the water, and they obey him?”  </span><span class="V26_NoBody"><span class="verse" id="V26">
26&#160;</span>
They arrived at the country of the Gadarenes, which is opposite Galilee. </span></div>
<div class='p'><span class='V26_NoBody'>
 </span><span class="V27_NoBody"><span class="verse" id="V27">
27&#160;</span>
When Jesus stepped ashore, a certain man out of the city who had demons for a long time met him. He wore no clothes, and didn’t live in a house, but in the tombs.  </span><span class="V28_NoBody"><span class="verse" id="V28">
28&#160;</span>
When he saw Jesus, he cried out, and fell down before him, and with a loud voice said, “What do I have to do with you, Jesus, you Son of the Most High God? I beg you, don’t torment me!”  </span><span class="V29_NoBody"><span class="verse" id="V29">
29&#160;</span>
For Jesus was commanding the unclean spirit to come out of the man. For the unclean spirit had often seized the man. He was kept under guard, and bound with chains and fetters. Breaking the bonds apart, he was driven by the demon into the desert. </span></div>
<div class='p'><span class='V29_NoBody'>
 </span><span class="V30_NoBody"><span class="verse" id="V30">
30&#160;</span>
Jesus asked him, <span class='wj'>
“What is your name?”</span>
 </span></div>
<div class='p'><span class='V30_NoBody'>
He said, “Legion,” for many demons had entered into him.  </span><span class="V31_NoBody"><span class="verse" id="V31">
31&#160;</span>
They begged him that he would not command them to go into the abyss.  </span><span class="V32_NoBody"><span class="verse" id="V32">
32&#160;</span>
Now there was there a herd of many pigs feeding on the mountain, and they begged him that he would allow them to enter into those. Then he allowed them.  </span><span class="V33_NoBody"><span class="verse" id="V33">
33&#160;</span>
The demons came out of the man, and entered into the pigs, and the herd rushed down the steep bank into the lake, and were drowned.  </span><span class="V34_NoBody"><span class="verse" id="V34">
34&#160;</span>
When those who fed them saw what had happened, they fled and told it in the city and in the country. </span></div>
<div class='p'><span class='V34_NoBody'>
 </span><span class="V35_NoBody"><span class="verse" id="V35">
35&#160;</span>
People went out to see what had happened. They came to Jesus and found the man from whom the demons had gone out, sitting at Jesus’ feet, clothed and in his right mind; and they were afraid.  </span><span class="V36_NoBody"><span class="verse" id="V36">
36&#160;</span>
Those who saw it told them how he who had been possessed by demons was healed.  </span><span class="V37_NoBody"><span class="verse" id="V37">
37&#160;</span>
All the people of the surrounding country of the Gadarenes asked him to depart from them, for they were very much afraid. Then he entered into the boat and returned.  </span><span class="V38_NoBody"><span class="verse" id="V38">
38&#160;</span>
But the man from whom the demons had gone out begged him that he might go with him, but Jesus sent him away, saying,  </span><span class="V39_NoBody"><span class="verse" id="V39">
39&#160;</span>
 <span class='wj'>
“Return to your house, and declare what great things God has done for you.”</span>
 He went his way, proclaiming throughout the whole city what great things Jesus had done for him. </span></div>
<div class='p'><span class='V39_NoBody'>
 </span><span class="V40_NoBody"><span class="verse" id="V40">
40&#160;</span>
When Jesus returned, the multitude welcomed him, for they were all waiting for him.  </span><span class="V41_NoBody"><span class="verse" id="V41">
41&#160;</span>
Behold, a man named Jairus came. He was a ruler of the synagogue. He fell down at Jesus’ feet, and begged him to come into his house,  </span><span class="V42_NoBody"><span class="verse" id="V42">
42&#160;</span>
for he had an only daughter, about twelve years of age, and she was dying. But as he went, the multitudes pressed against him.  </span><span class="V43_NoBody"><span class="verse" id="V43">
43&#160;</span>
A woman who had a flow of blood for twelve years, who had spent all her living on physicians and could not be healed by any  </span><span class="V44_NoBody"><span class="verse" id="V44">
44&#160;</span>
came behind him, and touched the fringe of his cloak. Immediately the flow of her blood stopped.  </span><span class="V45_NoBody"><span class="verse" id="V45">
45&#160;</span>
Jesus said, <span class='wj'>
“Who touched me?”</span>
 </span></div>
<div class='p'><span class='V45_NoBody'>
When all denied it, Peter and those with him said, “Master, the multitudes press and jostle you, and you say, <span class='wj'>
‘Who touched me?’</span>
” </span></div>
<div class='p'><span class='V45_NoBody'>
 </span><span class="V46_NoBody"><span class="verse" id="V46">
46&#160;</span>
But Jesus said, <span class='wj'>
“Someone did touch me, for I perceived that power has gone out of me.”</span>
  </span><span class="V47_NoBody"><span class="verse" id="V47">
47&#160;</span>
When the woman saw that she was not hidden, she came trembling, and falling down before him declared to him in the presence of all the people the reason why she had touched him, and how she was healed immediately.  </span><span class="V48_NoBody"><span class="verse" id="V48">
48&#160;</span>
He said to her, <span class='wj'>
“Daughter, cheer up. Your faith has made you well. Go in peace.”</span>
 </span></div>
<div class='p'><span class='V48_NoBody'>
 </span><span class="V49_NoBody"><span class="verse" id="V49">
49&#160;</span>
While he still spoke, one from the ruler of the synagogue’s house came, saying to him, “Your daughter is dead. Don’t trouble the Teacher.” </span></div>
<div class='p'><span class='V49_NoBody'>
 </span><span class="V50_NoBody"><span class="verse" id="V50">
50&#160;</span>
But Jesus hearing it, answered him, <span class='wj'>
“Don’t be afraid. Only believe, and she will be healed.”</span>
 </span></div>
<div class='p'><span class='V50_NoBody'>
 </span><span class="V51_NoBody"><span class="verse" id="V51">
51&#160;</span>
When he came to the house, he didn’t allow anyone to enter in, except Peter, John, James, the father of the child, and her mother.  </span><span class="V52_NoBody"><span class="verse" id="V52">
52&#160;</span>
All were weeping and mourning her, but he said, <span class='wj'>
“Don’t weep. She isn’t dead, but sleeping.”</span>
 </span></div>
<div class='p'><span class='V52_NoBody'>
 </span><span class="V53_NoBody"><span class="verse" id="V53">
53&#160;</span>
They were ridiculing him, knowing that she was dead.  </span><span class="V54_NoBody"><span class="verse" id="V54">
54&#160;</span>
But he put them all outside, and taking her by the hand, he called, saying, <span class='wj'>
“Child, arise!”</span>
  </span><span class="V55_NoBody"><span class="verse" id="V55">
55&#160;</span>
Her spirit returned, and she rose up immediately. He commanded that something be given to her to eat.  </span><span class="V56_NoBody"><span class="verse" id="V56">
56&#160;</span>
Her parents were amazed, but he commanded them to tell no one what had been done. </span></div>
<div class="footnote">

</div>
<hr /><div class="copyright">
<center> <a href="http://ebible.org/web/copyright.htm"">This website uses The World English Bible (Public Domain).</a> </center>
</div>
</div></body></html>
{% endblock %}