{% extends 'knowledge_base/base-web.html' %}{% block content %}﻿<!DOCTYPE html>
<div class="chapter">
<div class="verse-label" >Luke 6</div>
 
<div class='p'><span class='_NoBody'>
 <span class="V1_NoBody"><span class="verse" id="V1">
1&#160;</span>
Now on the second Sabbath after the first, he was going through the grain fields. His disciples plucked the heads of grain and ate, rubbing them in their hands.  </span><span class="V2_NoBody"><span class="verse" id="V2">
2&#160;</span>
But some of the Pharisees said to them, “Why do you do that which is not lawful to do on the Sabbath day?” </span></div>
<div class='p'><span class='V2_NoBody'>
 </span><span class="V3_NoBody"><span class="verse" id="V3">
3&#160;</span>
Jesus, answering them, said, <span class='wj'>
“Haven’t you read what David did when he was hungry, he, and those who were with him; </span>
  </span><span class="V4_NoBody"><span class="verse" id="V4">
4&#160;</span>
 <span class='wj'>
how he entered into God’s house, and took and ate the show bread, and gave also to those who were with him, which is not lawful to eat except for the priests alone?”</span>
  </span><span class="V5_NoBody"><span class="verse" id="V5">
5&#160;</span>
He said to them, <span class='wj'>
“The Son of Man is lord of the Sabbath.”</span>
 </span></div>
<div class='p'><span class='V5_NoBody'>
 </span><span class="V6_NoBody"><span class="verse" id="V6">
6&#160;</span>
It also happened on another Sabbath that he entered into the synagogue and taught. There was a man there, and his right hand was withered.  </span><span class="V7_NoBody"><span class="verse" id="V7">
7&#160;</span>
The scribes and the Pharisees watched him, to see whether he would heal on the Sabbath, that they might find an accusation against him.  </span><span class="V8_NoBody"><span class="verse" id="V8">
8&#160;</span>
But he knew their thoughts; and he said to the man who had the withered hand, <span class='wj'>
“Rise up, and stand in the middle.”</span>
 He arose and stood.  </span><span class="V9_NoBody"><span class="verse" id="V9">
9&#160;</span>
Then Jesus said to them, <span class='wj'>
“I will ask you something: Is it lawful on the Sabbath to do good, or to do harm? To save a life, or to kill?”</span>
  </span><span class="V10_NoBody"><span class="verse" id="V10">
10&#160;</span>
He looked around at them all, and said to the man, <span class='wj'>
“Stretch out your hand.”</span>
 He did, and his hand was restored as sound as the other.  </span><span class="V11_NoBody"><span class="verse" id="V11">
11&#160;</span>
But they were filled with rage, and talked with one another about what they might do to Jesus. </span></div>
<div class='p'><span class='V11_NoBody'>
 </span><span class="V12_NoBody"><span class="verse" id="V12">
12&#160;</span>
In these days, he went out to the mountain to pray, and he continued all night in prayer to God.  </span><span class="V13_NoBody"><span class="verse" id="V13">
13&#160;</span>
When it was day, he called his disciples, and from them he chose twelve, whom he also named apostles:  </span><span class="V14_NoBody"><span class="verse" id="V14">
14&#160;</span>
Simon, whom he also named Peter; Andrew, his brother; James; John; Philip; Bartholomew;  </span><span class="V15_NoBody"><span class="verse" id="V15">
15&#160;</span>
Matthew; Thomas; James, the son of Alphaeus; Simon, who was called the Zealot;  </span><span class="V16_NoBody"><span class="verse" id="V16">
16&#160;</span>
Judas the son of James; and Judas Iscariot, who also became a traitor.  </span><span class="V17_NoBody"><span class="verse" id="V17">
17&#160;</span>
He came down with them, and stood on a level place, with a crowd of his disciples, and a great number of the people from all Judea and Jerusalem, and the sea coast of Tyre and Sidon, who came to hear him and to be healed of their diseases;  </span><span class="V18_NoBody"><span class="verse" id="V18">
18&#160;</span>
as well as those who were troubled by unclean spirits, and they were being healed.  </span><span class="V19_NoBody"><span class="verse" id="V19">
19&#160;</span>
All the multitude sought to touch him, for power came out of him and healed them all. </span></div>
<div class='p'><span class='V19_NoBody'>
 </span><span class="V20_NoBody"><span class="verse" id="V20">
20&#160;</span>
He lifted up his eyes to his disciples, and said, </span></div>
<div class='q'><span class='V20_NoBody'>
<span class='wj'>
“Blessed are you who are poor,</span>
 </span></div>
<div class='q2'><span class='V20_NoBody'>
<span class='wj'>
God’s Kingdom is yours.</span>
 </span></div>
<div class='q'><span class='V20_NoBody'>
 </span><span class="V21_NoBody"><span class="verse" id="V21">
21&#160;</span>
 <span class='wj'>
Blessed are you who hunger now,</span>
 </span></div>
<div class='q2'><span class='V21_NoBody'>
<span class='wj'>
for you will be filled.</span>
 </span></div>
<div class='q'><span class='V21_NoBody'>
<span class='wj'>
Blessed are you who weep now,</span>
 </span></div>
<div class='q2'><span class='V21_NoBody'>
<span class='wj'>
for you will laugh.</span>
 </span></div>
<div class='q'><span class='V21_NoBody'>
 </span><span class="V22_NoBody"><span class="verse" id="V22">
22&#160;</span>
 <span class='wj'>
Blessed are you when men hate you, and when they exclude and mock you, and throw out your name as evil, for the Son of Man’s sake. </span>
 </span></div>
<div class='q2'><span class='V22_NoBody'>
 </span><span class="V23_NoBody"><span class="verse" id="V23">
23&#160;</span>
 <span class='wj'>
Rejoice in that day, and leap for joy, for behold, your reward is great in heaven, for their fathers did the same thing to the prophets.</span>
 </span></div>
<div class='b'>
 &#160; </span></div>
<div class='q'><span class='V23_NoBody'>
 </span><span class="V24_NoBody"><span class="verse" id="V24">
24&#160;</span>
 <span class='wj'>
“But woe to you who are rich!</span>
 </span></div>
<div class='q2'><span class='V24_NoBody'>
<span class='wj'>
For you have received your consolation.</span>
 </span></div>
<div class='q'><span class='V24_NoBody'>
 </span><span class="V25_NoBody"><span class="verse" id="V25">
25&#160;</span>
 <span class='wj'>
Woe to you, you who are full now,</span>
 </span></div>
<div class='q2'><span class='V25_NoBody'>
<span class='wj'>
for you will be hungry.</span>
 </span></div>
<div class='q'><span class='V25_NoBody'>
<span class='wj'>
Woe to you who laugh now,</span>
 </span></div>
<div class='q2'><span class='V25_NoBody'>
<span class='wj'>
for you will mourn and weep.</span>
 </span></div>
<div class='q'><span class='V25_NoBody'>
 </span><span class="V26_NoBody"><span class="verse" id="V26">
26&#160;</span>
 <span class='wj'>
Woe,</span>
 <span class='wj'>
when</span>
 <span class='wj'>
men speak well of you,</span>
 </span></div>
<div class='q2'><span class='V26_NoBody'>
<span class='wj'>
for their fathers did the same thing to the false prophets.</span>
 </span></div>
<div class='p'><span class='V26_NoBody'>
 </span><span class="V27_NoBody"><span class="verse" id="V27">
27&#160;</span>
 <span class='wj'>
“But I tell you who hear: love your enemies, do good to those who hate you, </span>
  </span><span class="V28_NoBody"><span class="verse" id="V28">
28&#160;</span>
 <span class='wj'>
bless those who curse you, and pray for those who mistreat you. </span>
  </span><span class="V29_NoBody"><span class="verse" id="V29">
29&#160;</span>
 <span class='wj'>
To him who strikes you on the cheek, offer also the other; and from him who takes away your cloak, don’t withhold your coat also. </span>
  </span><span class="V30_NoBody"><span class="verse" id="V30">
30&#160;</span>
 <span class='wj'>
Give to everyone who asks you, and don’t ask him who takes away your goods to give them back again.</span>
 </span></div>
<div class='p'><span class='V30_NoBody'>
 </span><span class="V31_NoBody"><span class="verse" id="V31">
31&#160;</span>
 <span class='wj'>
“As you would like people to do to you, do exactly so to them. </span>
  </span><span class="V32_NoBody"><span class="verse" id="V32">
32&#160;</span>
 <span class='wj'>
If you love those who love you, what credit is that to you? For even sinners love those who love them. </span>
  </span><span class="V33_NoBody"><span class="verse" id="V33">
33&#160;</span>
 <span class='wj'>
If you do good to those who do good to you, what credit is that to you? For even sinners do the same. </span>
  </span><span class="V34_NoBody"><span class="verse" id="V34">
34&#160;</span>
 <span class='wj'>
If you lend to those from whom you hope to receive, what credit is that to you? Even sinners lend to sinners, to receive back as much. </span>
  </span><span class="V35_NoBody"><span class="verse" id="V35">
35&#160;</span>
 <span class='wj'>
But love your enemies, and do good, and lend, expecting nothing back; and your reward will be great, and you will be children of the Most High; for he is kind toward the unthankful and evil.</span>
 </span></div>
<div class='q'><span class='V35_NoBody'>
 </span><span class="V36_NoBody"><span class="verse" id="V36">
36&#160;</span>
 <span class='wj'>
“Therefore be merciful,</span>
 </span></div>
<div class='q2'><span class='V36_NoBody'>
<span class='wj'>
even as your Father is also merciful.</span>
 </span></div>
<div class='q'><span class='V36_NoBody'>
 </span><span class="V37_NoBody"><span class="verse" id="V37">
37&#160;</span>
 <span class='wj'>
Don’t judge,</span>
 </span></div>
<div class='q2'><span class='V37_NoBody'>
<span class='wj'>
and you won’t be judged.</span>
 </span></div>
<div class='q'><span class='V37_NoBody'>
<span class='wj'>
Don’t condemn,</span>
 </span></div>
<div class='q2'><span class='V37_NoBody'>
<span class='wj'>
and you won’t be condemned.</span>
 </span></div>
<div class='q'><span class='V37_NoBody'>
<span class='wj'>
Set free,</span>
 </span></div>
<div class='q2'><span class='V37_NoBody'>
<span class='wj'>
and you will be set free.</span>
 </span></div>
<div class='p'><span class='V37_NoBody'>
 </span><span class="V38_NoBody"><span class="verse" id="V38">
38&#160;</span>
 <span class='wj'>
“Give, and it will be given to you: good measure, pressed down, shaken together, and running over, will be given to you.</span>
 <span class='wj'>
For with the same measure you measure it will be measured back to you.”</span>
 </span></div>
<div class='p'><span class='V38_NoBody'>
 </span><span class="V39_NoBody"><span class="verse" id="V39">
39&#160;</span>
He spoke a parable to them. <span class='wj'>
“Can the blind guide the blind? Won’t they both fall into a pit? </span>
  </span><span class="V40_NoBody"><span class="verse" id="V40">
40&#160;</span>
 <span class='wj'>
A disciple is not above his teacher, but everyone when he is fully trained will be like his teacher. </span>
  </span><span class="V41_NoBody"><span class="verse" id="V41">
41&#160;</span>
 <span class='wj'>
Why do you see the speck of chaff that is in your brother’s eye, but don’t consider the beam that is in your own eye? </span>
  </span><span class="V42_NoBody"><span class="verse" id="V42">
42&#160;</span>
 <span class='wj'>
Or how can you tell your brother, ‘Brother, let me remove the speck of chaff that is in your eye,’ when you yourself don’t see the beam that is in your own eye? You hypocrite! First remove the beam from your own eye, and then you can see clearly to remove the speck of chaff that is in your brother’s eye. </span>
  </span><span class="V43_NoBody"><span class="verse" id="V43">
43&#160;</span>
 <span class='wj'>
For there is no good tree that produces rotten fruit; nor again a rotten tree that produces good fruit. </span>
  </span><span class="V44_NoBody"><span class="verse" id="V44">
44&#160;</span>
 <span class='wj'>
For each tree is known by its own fruit. For people don’t gather figs from thorns, nor do they gather grapes from a bramble bush. </span>
  </span><span class="V45_NoBody"><span class="verse" id="V45">
45&#160;</span>
 <span class='wj'>
The good man out of the good treasure of his heart brings out that which is good, and the evil man out of the evil treasure of his heart brings out that which is evil, for out of the abundance of the heart, his mouth speaks.</span>
 </span></div>
<div class='p'><span class='V45_NoBody'>
 </span><span class="V46_NoBody"><span class="verse" id="V46">
46&#160;</span>
 <span class='wj'>
“Why do you call me, ‘Lord, Lord,’ and don’t do the things which I say? </span>
  </span><span class="V47_NoBody"><span class="verse" id="V47">
47&#160;</span>
 <span class='wj'>
Everyone who comes to me, and hears my words, and does them, I will show you who he is like. </span>
  </span><span class="V48_NoBody"><span class="verse" id="V48">
48&#160;</span>
 <span class='wj'>
He is like a man building a house, who dug and went deep, and laid a foundation on the rock. When a flood arose, the stream broke against that house, and could not shake it, because it was founded on the rock. </span>
  </span><span class="V49_NoBody"><span class="verse" id="V49">
49&#160;</span>
 <span class='wj'>
But he who hears, and doesn’t do, is like a man who built a house on the earth without a foundation, against which the stream broke, and immediately it fell, and the ruin of that house was great.”</span>
 </span></div>
<div class="footnote">

</div>
<hr /><div class="copyright">
<center> <a href="http://ebible.org/web/copyright.htm"">This website uses The World English Bible (Public Domain).</a> </center>
</div>
</div></body></html>
{% endblock %}