{% extends 'knowledge_base/base-web.html' %}{% block content %}﻿<!DOCTYPE html>
<div class="chapter">
<div class="verse-label" >Luke 19</div>
 
<div class='p'><span class='_NoBody'>
 <span class="V1_NoBody"><span class="verse" id="V1">
1&#160;</span>
He entered and was passing through Jericho.  </span><span class="V2_NoBody"><span class="verse" id="V2">
2&#160;</span>
There was a man named Zacchaeus. He was a chief tax collector, and he was rich.  </span><span class="V3_NoBody"><span class="verse" id="V3">
3&#160;</span>
He was trying to see who Jesus was, and couldn’t because of the crowd, because he was short.  </span><span class="V4_NoBody"><span class="verse" id="V4">
4&#160;</span>
He ran on ahead, and climbed up into a sycamore tree to see him, for he was going to pass that way.  </span><span class="V5_NoBody"><span class="verse" id="V5">
5&#160;</span>
When Jesus came to the place, he looked up and saw him, and said to him, <span class='wj'>
“Zacchaeus, hurry and come down, for today I must stay at your house.” </span>
  </span><span class="V6_NoBody"><span class="verse" id="V6">
6&#160;</span>
He hurried, came down, and received him joyfully.  </span><span class="V7_NoBody"><span class="verse" id="V7">
7&#160;</span>
When they saw it, they all murmured, saying, “He has gone in to lodge with a man who is a sinner.” </span></div>
<div class='p'><span class='V7_NoBody'>
 </span><span class="V8_NoBody"><span class="verse" id="V8">
8&#160;</span>
Zacchaeus stood and said to the Lord, “Behold, Lord, half of my goods I give to the poor. If I have wrongfully exacted anything of anyone, I restore four times as much.” </span></div>
<div class='p'><span class='V8_NoBody'>
 </span><span class="V9_NoBody"><span class="verse" id="V9">
9&#160;</span>
Jesus said to him, <span class='wj'>
“Today, salvation has come to this house, because he also is a son of Abraham. </span>
  </span><span class="V10_NoBody"><span class="verse" id="V10">
10&#160;</span>
 <span class='wj'>
For the Son of Man came to seek and to save that which was lost.” </span>
 </span></div>
<div class='p'><span class='V10_NoBody'>
 </span><span class="V11_NoBody"><span class="verse" id="V11">
11&#160;</span>
As they heard these things, he went on and told a parable, because he was near Jerusalem, and they supposed that God’s Kingdom would be revealed immediately.  </span><span class="V12_NoBody"><span class="verse" id="V12">
12&#160;</span>
He said therefore, <span class='wj'>
“A certain nobleman went into a far country to receive for himself a kingdom and to return. </span>
  </span><span class="V13_NoBody"><span class="verse" id="V13">
13&#160;</span>
 <span class='wj'>
He called ten servants of his and gave them ten mina coins, </span>
 <span class='wj'>
and told them, ‘Conduct business until I come.’ </span>
  </span><span class="V14_NoBody"><span class="verse" id="V14">
14&#160;</span>
 <span class='wj'>
But his citizens hated him, and sent an envoy after him, saying, ‘We don’t want this man to reign over us.’</span>
 </span></div>
<div class='p'><span class='V14_NoBody'>
 </span><span class="V15_NoBody"><span class="verse" id="V15">
15&#160;</span>
 <span class='wj'>
“When he had come back again, having received the kingdom, he commanded these servants, to whom he had given the money, to be called to him, that he might know what they had gained by conducting business. </span>
  </span><span class="V16_NoBody"><span class="verse" id="V16">
16&#160;</span>
 <span class='wj'>
The first came before him, saying, ‘Lord, your mina has made ten more minas.’</span>
 </span></div>
<div class='p'><span class='V16_NoBody'>
 </span><span class="V17_NoBody"><span class="verse" id="V17">
17&#160;</span>
 <span class='wj'>
“He said to him, ‘Well done, you good servant! Because you were found faithful with very little, you shall have authority over ten cities.’ </span>
 </span></div>
<div class='p'><span class='V17_NoBody'>
 </span><span class="V18_NoBody"><span class="verse" id="V18">
18&#160;</span>
 <span class='wj'>
“The second came, saying, ‘Your mina, Lord, has made five minas.’ </span>
 </span></div>
<div class='p'><span class='V18_NoBody'>
 </span><span class="V19_NoBody"><span class="verse" id="V19">
19&#160;</span>
 <span class='wj'>
“So he said to him, ‘And you are to be over five cities.’ </span>
  </span><span class="V20_NoBody"><span class="verse" id="V20">
20&#160;</span>
 <span class='wj'>
Another came, saying, ‘Lord, behold, your mina, which I kept laid away in a handkerchief, </span>
  </span><span class="V21_NoBody"><span class="verse" id="V21">
21&#160;</span>
 <span class='wj'>
for I feared you, because you are an exacting man. You take up that which you didn’t lay down, and reap that which you didn’t sow.’</span>
 </span></div>
<div class='p'><span class='V21_NoBody'>
 </span><span class="V22_NoBody"><span class="verse" id="V22">
22&#160;</span>
 <span class='wj'>
“He said to him, ‘Out of your own mouth I will judge you, you wicked servant! You knew that I am an exacting man, taking up that which I didn’t lay down, and reaping that which I didn’t sow. </span>
  </span><span class="V23_NoBody"><span class="verse" id="V23">
23&#160;</span>
 <span class='wj'>
Then why didn’t you deposit my money in the bank, and at my coming, I might have earned interest on it?’ </span>
  </span><span class="V24_NoBody"><span class="verse" id="V24">
24&#160;</span>
 <span class='wj'>
He said to those who stood by, ‘Take the mina away from him and give it to him who has the ten minas.’</span>
 </span></div>
<div class='p'><span class='V24_NoBody'>
 </span><span class="V25_NoBody"><span class="verse" id="V25">
25&#160;</span>
 <span class='wj'>
“They said to him, ‘Lord, he has ten minas!’ </span>
  </span><span class="V26_NoBody"><span class="verse" id="V26">
26&#160;</span>
 <span class='wj'>
‘For I tell you that to everyone who has, will more be given; but from him who doesn’t have, even that which he has will be taken away from him. </span>
  </span><span class="V27_NoBody"><span class="verse" id="V27">
27&#160;</span>
 <span class='wj'>
But bring those enemies of mine who didn’t want me to reign over them here, and kill them before me.’ ”</span>
  </span><span class="V28_NoBody"><span class="verse" id="V28">
28&#160;</span>
Having said these things, he went on ahead, going up to Jerusalem. </span></div>
<div class='p'><span class='V28_NoBody'>
 </span><span class="V29_NoBody"><span class="verse" id="V29">
29&#160;</span>
When he came near to Bethsphage and Bethany, at the mountain that is called Olivet, he sent two of his disciples,  </span><span class="V30_NoBody"><span class="verse" id="V30">
30&#160;</span>
saying, <span class='wj'>
“Go your way into the village on the other side, in which, as you enter, you will find a colt tied, which no man had ever sat upon. Untie it and bring it. </span>
  </span><span class="V31_NoBody"><span class="verse" id="V31">
31&#160;</span>
 <span class='wj'>
If anyone asks you, ‘Why are you untying it?’ say to him: ‘The Lord needs it.’ ”</span>
 </span></div>
<div class='p'><span class='V31_NoBody'>
 </span><span class="V32_NoBody"><span class="verse" id="V32">
32&#160;</span>
Those who were sent went away, and found things just as he had told them.  </span><span class="V33_NoBody"><span class="verse" id="V33">
33&#160;</span>
As they were untying the colt, its owners said to them, “Why are you untying the colt?”  </span><span class="V34_NoBody"><span class="verse" id="V34">
34&#160;</span>
They said, “The Lord needs it.”  </span><span class="V35_NoBody"><span class="verse" id="V35">
35&#160;</span>
Then they brought it to Jesus. They threw their cloaks on the colt, and sat Jesus on them.  </span><span class="V36_NoBody"><span class="verse" id="V36">
36&#160;</span>
As he went, they spread their cloaks on the road.  </span><span class="V37_NoBody"><span class="verse" id="V37">
37&#160;</span>
As he was now getting near, at the descent of the Mount of Olives, the whole multitude of the disciples began to rejoice and praise God with a loud voice for all the mighty works which they had seen,  </span><span class="V38_NoBody"><span class="verse" id="V38">
38&#160;</span>
saying, “Blessed is the King who comes in the name of the Lord!  Peace in heaven, and glory in the highest!” </span></div>
<div class='p'><span class='V38_NoBody'>
 </span><span class="V39_NoBody"><span class="verse" id="V39">
39&#160;</span>
Some of the Pharisees from the multitude said to him, “Teacher, rebuke your disciples!” </span></div>
<div class='p'><span class='V39_NoBody'>
 </span><span class="V40_NoBody"><span class="verse" id="V40">
40&#160;</span>
He answered them, <span class='wj'>
“I tell you that if these were silent, the stones would cry out.”</span>
 </span></div>
<div class='p'><span class='V40_NoBody'>
 </span><span class="V41_NoBody"><span class="verse" id="V41">
41&#160;</span>
When he came near, he saw the city and wept over it,  </span><span class="V42_NoBody"><span class="verse" id="V42">
42&#160;</span>
saying, <span class='wj'>
“If you, even you, had known today the things which belong to your peace! But now, they are hidden from your eyes. </span>
  </span><span class="V43_NoBody"><span class="verse" id="V43">
43&#160;</span>
 <span class='wj'>
For the days will come on you, when your enemies will throw up a barricade against you, surround you, hem you in on every side, </span>
  </span><span class="V44_NoBody"><span class="verse" id="V44">
44&#160;</span>
 <span class='wj'>
and will dash you and your children within you to the ground. They will not leave in you one stone on another, because you didn’t know the time of your visitation.”</span>
 </span></div>
<div class='p'><span class='V44_NoBody'>
 </span><span class="V45_NoBody"><span class="verse" id="V45">
45&#160;</span>
He entered into the temple, and began to drive out those who bought and sold in it,  </span><span class="V46_NoBody"><span class="verse" id="V46">
46&#160;</span>
saying to them, <span class='wj'>
“It is written, ‘My house is a house of prayer,’ </span>
 <span class='wj'>
but you have made it a ‘den of robbers’!” </span>
 </span></div>
<div class='p'><span class='V46_NoBody'>
 </span><span class="V47_NoBody"><span class="verse" id="V47">
47&#160;</span>
He was teaching daily in the temple, but the chief priests, the scribes, and the leading men among the people sought to destroy him.  </span><span class="V48_NoBody"><span class="verse" id="V48">
48&#160;</span>
They couldn’t find what they might do, for all the people hung on to every word that he said. </span></div>
<div class="footnote">

</div>
<hr /><div class="copyright">
<center> <a href="http://ebible.org/web/copyright.htm"">This website uses The World English Bible (Public Domain).</a> </center>
</div>
</div></body></html>
{% endblock %}