{% extends 'knowledge_base/base-web.html' %}{% block content %}﻿<!DOCTYPE html>
<div class="chapter">
<div class="verse-label" >Luke 23</div>
 
<div class='p'><span class='_NoBody'>
 <span class="V1_NoBody"><span class="verse" id="V1">
1&#160;</span>
The whole company of them rose up and brought him before Pilate.  </span><span class="V2_NoBody"><span class="verse" id="V2">
2&#160;</span>
They began to accuse him, saying, “We found this man perverting the nation, forbidding paying taxes to Caesar, and saying that he himself is Christ, a king.” </span></div>
<div class='p'><span class='V2_NoBody'>
 </span><span class="V3_NoBody"><span class="verse" id="V3">
3&#160;</span>
Pilate asked him, “Are you the King of the Jews?” </span></div>
<div class='p'><span class='V3_NoBody'>
He answered him, <span class='wj'>
“So you say.”</span>
 </span></div>
<div class='p'><span class='V3_NoBody'>
 </span><span class="V4_NoBody"><span class="verse" id="V4">
4&#160;</span>
Pilate said to the chief priests and the multitudes, “I find no basis for a charge against this man.” </span></div>
<div class='p'><span class='V4_NoBody'>
 </span><span class="V5_NoBody"><span class="verse" id="V5">
5&#160;</span>
But they insisted, saying, “He stirs up the people, teaching throughout all Judea, beginning from Galilee even to this place.”  </span><span class="V6_NoBody"><span class="verse" id="V6">
6&#160;</span>
But when Pilate heard Galilee mentioned, he asked if the man was a Galilean.  </span><span class="V7_NoBody"><span class="verse" id="V7">
7&#160;</span>
When he found out that he was in Herod’s jurisdiction, he sent him to Herod, who was also in Jerusalem during those days. </span></div>
<div class='p'><span class='V7_NoBody'>
 </span><span class="V8_NoBody"><span class="verse" id="V8">
8&#160;</span>
Now when Herod saw Jesus, he was exceedingly glad, for he had wanted to see him for a long time, because he had heard many things about him. He hoped to see some miracle done by him.  </span><span class="V9_NoBody"><span class="verse" id="V9">
9&#160;</span>
He questioned him with many words, but he gave no answers.  </span><span class="V10_NoBody"><span class="verse" id="V10">
10&#160;</span>
The chief priests and the scribes stood, vehemently accusing him.  </span><span class="V11_NoBody"><span class="verse" id="V11">
11&#160;</span>
Herod with his soldiers humiliated him and mocked him. Dressing him in luxurious clothing, they sent him back to Pilate.  </span><span class="V12_NoBody"><span class="verse" id="V12">
12&#160;</span>
Herod and Pilate became friends with each other that very day, for before that they were enemies with each other. </span></div>
<div class='p'><span class='V12_NoBody'>
 </span><span class="V13_NoBody"><span class="verse" id="V13">
13&#160;</span>
Pilate called together the chief priests, the rulers, and the people,  </span><span class="V14_NoBody"><span class="verse" id="V14">
14&#160;</span>
and said to them, “You brought this man to me as one that perverts the people, and behold, having examined him before you, I found no basis for a charge against this man concerning those things of which you accuse him.  </span><span class="V15_NoBody"><span class="verse" id="V15">
15&#160;</span>
Neither has Herod, for I sent you to him, and see, nothing worthy of death has been done by him.  </span><span class="V16_NoBody"><span class="verse" id="V16">
16&#160;</span>
I will therefore chastise him and release him.” </span></div>
<div class='p'><span class='V16_NoBody'>
 </span><span class="V17_NoBody"><span class="verse" id="V17">
17&#160;</span>
Now he had to release one prisoner to them at the feast.  </span><span class="V18_NoBody"><span class="verse" id="V18">
18&#160;</span>
But they all cried out together, saying, “Away with this man! Release to us Barabbas!”—  </span><span class="V19_NoBody"><span class="verse" id="V19">
19&#160;</span>
one who was thrown into prison for a certain revolt in the city, and for murder. </span></div>
<div class='p'><span class='V19_NoBody'>
 </span><span class="V20_NoBody"><span class="verse" id="V20">
20&#160;</span>
Then Pilate spoke to them again, wanting to release Jesus,  </span><span class="V21_NoBody"><span class="verse" id="V21">
21&#160;</span>
but they shouted, saying, “Crucify! Crucify him!” </span></div>
<div class='p'><span class='V21_NoBody'>
 </span><span class="V22_NoBody"><span class="verse" id="V22">
22&#160;</span>
He said to them the third time, “Why? What evil has this man done? I have found no capital crime in him. I will therefore chastise him and release him.”  </span><span class="V23_NoBody"><span class="verse" id="V23">
23&#160;</span>
But they were urgent with loud voices, asking that he might be crucified. Their voices and the voices of the chief priests prevailed.  </span><span class="V24_NoBody"><span class="verse" id="V24">
24&#160;</span>
Pilate decreed that what they asked for should be done.  </span><span class="V25_NoBody"><span class="verse" id="V25">
25&#160;</span>
He released him who had been thrown into prison for insurrection and murder, for whom they asked, but he delivered Jesus up to their will. </span></div>
<div class='p'><span class='V25_NoBody'>
 </span><span class="V26_NoBody"><span class="verse" id="V26">
26&#160;</span>
When they led him away, they grabbed one Simon of Cyrene, coming from the country, and laid on him the cross, to carry it after Jesus.  </span><span class="V27_NoBody"><span class="verse" id="V27">
27&#160;</span>
A great multitude of the people followed him, including women who also mourned and lamented him.  </span><span class="V28_NoBody"><span class="verse" id="V28">
28&#160;</span>
But Jesus, turning to them, said, <span class='wj'>
“Daughters of Jerusalem, don’t weep for me, but weep for yourselves and for your children. </span>
  </span><span class="V29_NoBody"><span class="verse" id="V29">
29&#160;</span>
 <span class='wj'>
For behold, the days are coming in which they will say, ‘Blessed are the barren, the wombs that never bore, and the breasts that never nursed.’ </span>
  </span><span class="V30_NoBody"><span class="verse" id="V30">
30&#160;</span>
 <span class='wj'>
Then they will begin to tell the mountains, ‘Fall on us!’ and tell the hills, ‘Cover us.’</span>
  </span><span class="V31_NoBody"><span class="verse" id="V31">
31&#160;</span>
 <span class='wj'>
For if they do these things in the green tree, what will be done in the dry?”</span>
 </span></div>
<div class='p'><span class='V31_NoBody'>
 </span><span class="V32_NoBody"><span class="verse" id="V32">
32&#160;</span>
There were also others, two criminals, led with him to be put to death.  </span><span class="V33_NoBody"><span class="verse" id="V33">
33&#160;</span>
When they came to the place that is called “The Skull”, they crucified him there with the criminals, one on the right and the other on the left. </span></div>
<div class='p'><span class='V33_NoBody'>
 </span><span class="V34_NoBody"><span class="verse" id="V34">
34&#160;</span>
Jesus said, <span class='wj'>
“Father, forgive them, for they don’t know what they are doing.”</span>
 </span></div>
<div class='p'><span class='V34_NoBody'>
Dividing his garments among them, they cast lots.  </span><span class="V35_NoBody"><span class="verse" id="V35">
35&#160;</span>
The people stood watching. The rulers with them also scoffed at him, saying, “He saved others. Let him save himself, if this is the Christ of God, his chosen one!” </span></div>
<div class='p'><span class='V35_NoBody'>
 </span><span class="V36_NoBody"><span class="verse" id="V36">
36&#160;</span>
The soldiers also mocked him, coming to him and offering him vinegar,  </span><span class="V37_NoBody"><span class="verse" id="V37">
37&#160;</span>
and saying, “If you are the King of the Jews, save yourself!” </span></div>
<div class='p'><span class='V37_NoBody'>
 </span><span class="V38_NoBody"><span class="verse" id="V38">
38&#160;</span>
An inscription was also written over him in letters of Greek, Latin, and Hebrew: “THIS IS THE KING OF THE JEWS.” </span></div>
<div class='p'><span class='V38_NoBody'>
 </span><span class="V39_NoBody"><span class="verse" id="V39">
39&#160;</span>
One of the criminals who was hanged insulted him, saying, “If you are the Christ, save yourself and us!” </span></div>
<div class='p'><span class='V39_NoBody'>
 </span><span class="V40_NoBody"><span class="verse" id="V40">
40&#160;</span>
But the other answered, and rebuking him said, “Don’t you even fear God, seeing you are under the same condemnation?  </span><span class="V41_NoBody"><span class="verse" id="V41">
41&#160;</span>
And we indeed justly, for we receive the due reward for our deeds, but this man has done nothing wrong.”  </span><span class="V42_NoBody"><span class="verse" id="V42">
42&#160;</span>
He said to Jesus, “Lord, remember me when you come into your Kingdom.” </span></div>
<div class='p'><span class='V42_NoBody'>
 </span><span class="V43_NoBody"><span class="verse" id="V43">
43&#160;</span>
Jesus said to him, <span class='wj'>
“Assuredly I tell you, today you will be with me in Paradise.”</span>
 </span></div>
<div class='p'><span class='V43_NoBody'>
 </span><span class="V44_NoBody"><span class="verse" id="V44">
44&#160;</span>
It was now about the sixth hour, and darkness came over the whole land until the ninth hour.  </span><span class="V45_NoBody"><span class="verse" id="V45">
45&#160;</span>
The sun was darkened, and the veil of the temple was torn in two.  </span><span class="V46_NoBody"><span class="verse" id="V46">
46&#160;</span>
Jesus, crying with a loud voice, said, <span class='wj'>
“Father, into your hands I commit my spirit!”</span>
 Having said this, he breathed his last. </span></div>
<div class='p'><span class='V46_NoBody'>
 </span><span class="V47_NoBody"><span class="verse" id="V47">
47&#160;</span>
When the centurion saw what was done, he glorified God, saying, “Certainly this was a righteous man.”  </span><span class="V48_NoBody"><span class="verse" id="V48">
48&#160;</span>
All the multitudes that came together to see this, when they saw the things that were done, returned home beating their breasts.  </span><span class="V49_NoBody"><span class="verse" id="V49">
49&#160;</span>
All his acquaintances and the women who followed with him from Galilee stood at a distance, watching these things. </span></div>
<div class='p'><span class='V49_NoBody'>
 </span><span class="V50_NoBody"><span class="verse" id="V50">
50&#160;</span>
Behold, a man named Joseph, who was a member of the council, a good and righteous man  </span><span class="V51_NoBody"><span class="verse" id="V51">
51&#160;</span>
(he had not consented to their counsel and deed), from Arimathaea, a city of the Jews, who was also waiting for God’s Kingdom:  </span><span class="V52_NoBody"><span class="verse" id="V52">
52&#160;</span>
this man went to Pilate, and asked for Jesus’ body.  </span><span class="V53_NoBody"><span class="verse" id="V53">
53&#160;</span>
He took it down, and wrapped it in a linen cloth, and laid him in a tomb that was cut in stone, where no one had ever been laid.  </span><span class="V54_NoBody"><span class="verse" id="V54">
54&#160;</span>
It was the day of the Preparation, and the Sabbath was drawing near.  </span><span class="V55_NoBody"><span class="verse" id="V55">
55&#160;</span>
The women, who had come with him out of Galilee, followed after, and saw the tomb, and how his body was laid.  </span><span class="V56_NoBody"><span class="verse" id="V56">
56&#160;</span>
They returned and prepared spices and ointments. On the Sabbath they rested according to the commandment. </span></div>
<div class="footnote">

</div>
<hr /><div class="copyright">
<center> <a href="http://ebible.org/web/copyright.htm"">This website uses The World English Bible (Public Domain).</a> </center>
</div>
</div></body></html>
{% endblock %}