{% extends 'knowledge_base/base-web.html' %}{% block content %}﻿<!DOCTYPE html>
<div class="chapter">
<div class="verse-label" >Matthew 5</div>
 
<div class='p'><span class='_NoBody'>
 <span class="V1_NoBody"><span class="verse" id="V1">
1&#160;</span>
Seeing the multitudes, he went up onto the mountain. When he had sat down, his disciples came to him.  </span><span class="V2_NoBody"><span class="verse" id="V2">
2&#160;</span>
He opened his mouth and taught them, saying, </span></div>
<div class='q'><span class='V2_NoBody'>
 </span><span class="V3_NoBody"><span class="verse" id="V3">
3&#160;</span>
 <span class='wj'>
“Blessed are the poor in spirit,</span>
 </span></div>
<div class='q2'><span class='V3_NoBody'>
<span class='wj'>
for theirs is the Kingdom of Heaven.</span>
 </span></div>
<div class='q'><span class='V3_NoBody'>
 </span><span class="V4_NoBody"><span class="verse" id="V4">
4&#160;</span>
 <span class='wj'>
Blessed are those who mourn,</span>
 </span></div>
<div class='q2'><span class='V4_NoBody'>
<span class='wj'>
for they shall be comforted.</span>
 </span></div>
<div class='q'><span class='V4_NoBody'>
 </span><span class="V5_NoBody"><span class="verse" id="V5">
5&#160;</span>
 <span class='wj'>
Blessed are the gentle,</span>
 </span></div>
<div class='q2'><span class='V5_NoBody'>
<span class='wj'>
for they shall inherit the earth.</span>
 </span></div>
<div class='q'><span class='V5_NoBody'>
 </span><span class="V6_NoBody"><span class="verse" id="V6">
6&#160;</span>
 <span class='wj'>
Blessed are those who hunger and thirst after righteousness, </span>
 </span></div>
<div class='q2'><span class='V6_NoBody'>
<span class='wj'>
for they shall be filled.</span>
 </span></div>
<div class='q'><span class='V6_NoBody'>
 </span><span class="V7_NoBody"><span class="verse" id="V7">
7&#160;</span>
 <span class='wj'>
Blessed are the merciful,</span>
 </span></div>
<div class='q2'><span class='V7_NoBody'>
<span class='wj'>
for they shall obtain mercy.</span>
 </span></div>
<div class='q'><span class='V7_NoBody'>
 </span><span class="V8_NoBody"><span class="verse" id="V8">
8&#160;</span>
 <span class='wj'>
Blessed are the pure in heart,</span>
 </span></div>
<div class='q2'><span class='V8_NoBody'>
<span class='wj'>
for they shall see God.</span>
 </span></div>
<div class='q'><span class='V8_NoBody'>
 </span><span class="V9_NoBody"><span class="verse" id="V9">
9&#160;</span>
 <span class='wj'>
Blessed are the peacemakers,</span>
 </span></div>
<div class='q2'><span class='V9_NoBody'>
<span class='wj'>
for they shall be called children of God.</span>
 </span></div>
<div class='q'><span class='V9_NoBody'>
 </span><span class="V10_NoBody"><span class="verse" id="V10">
10&#160;</span>
 <span class='wj'>
Blessed are those who have been persecuted for righteousness’ sake, </span>
 </span></div>
<div class='q2'><span class='V10_NoBody'>
<span class='wj'>
for theirs is the Kingdom of Heaven.</span>
 </span></div>
<div class='p'><span class='V10_NoBody'>
 </span><span class="V11_NoBody"><span class="verse" id="V11">
11&#160;</span>
 <span class='wj'>
“Blessed are you when people reproach you, persecute you, and say all kinds of evil against you falsely, for my sake. </span>
  </span><span class="V12_NoBody"><span class="verse" id="V12">
12&#160;</span>
 <span class='wj'>
Rejoice, and be exceedingly glad, for great is your reward in heaven. For that is how they persecuted the prophets who were before you. </span>
 </span></div>
<div class='p'><span class='V12_NoBody'>
 </span><span class="V13_NoBody"><span class="verse" id="V13">
13&#160;</span>
 <span class='wj'>
“You are the salt of the earth, but if the salt has lost its flavor, with what will it be salted? It is then good for nothing, but to be cast out and trodden under the feet of men. </span>
  </span><span class="V14_NoBody"><span class="verse" id="V14">
14&#160;</span>
 <span class='wj'>
You are the light of the world. A city located on a hill can’t be hidden. </span>
  </span><span class="V15_NoBody"><span class="verse" id="V15">
15&#160;</span>
 <span class='wj'>
Neither do you light a lamp, and put it under a measuring basket, but on a stand; and it shines to all who are in the house. </span>
  </span><span class="V16_NoBody"><span class="verse" id="V16">
16&#160;</span>
 <span class='wj'>
Even so, let your light shine before men; that they may see your good works, and glorify your Father who is in heaven.</span>
 </span></div>
<div class='p'><span class='V16_NoBody'>
 </span><span class="V17_NoBody"><span class="verse" id="V17">
17&#160;</span>
 <span class='wj'>
“Don’t think that I came to destroy the law or the prophets. I didn’t come to destroy, but to fulfill. </span>
  </span><span class="V18_NoBody"><span class="verse" id="V18">
18&#160;</span>
 <span class='wj'>
For most certainly, I tell you, until heaven and earth pass away, not even one smallest letter</span>
 <span class='wj'>
or one tiny pen stroke</span>
 <span class='wj'>
shall in any way pass away from the law, until all things are accomplished. </span>
  </span><span class="V19_NoBody"><span class="verse" id="V19">
19&#160;</span>
 <span class='wj'>
Whoever, therefore, shall break one of these least commandments, and teach others to do so, shall be called least in the Kingdom of Heaven; but whoever shall do and teach them shall be called great in the Kingdom of Heaven. </span>
  </span><span class="V20_NoBody"><span class="verse" id="V20">
20&#160;</span>
 <span class='wj'>
For I tell you that unless your righteousness exceeds that of the scribes and Pharisees, there is no way you will enter into the Kingdom of Heaven.</span>
 </span></div>
<div class='p'><span class='V20_NoBody'>
 </span><span class="V21_NoBody"><span class="verse" id="V21">
21&#160;</span>
 <span class='wj'>
“You have heard that it was said to the ancient ones, ‘You shall not murder;’</span>
 <span class='wj'>
and ‘Whoever murders will be in danger of the judgment.’ </span>
  </span><span class="V22_NoBody"><span class="verse" id="V22">
22&#160;</span>
 <span class='wj'>
But I tell you that everyone who is angry with his brother without a cause </span>
  <span class='wj'>
will be in danger of the judgment. Whoever says to his brother, ‘Raca!’ </span>
 <span class='wj'>
will be in danger of the council. Whoever says, ‘You fool!’ will be in danger of the fire of Gehenna.</span>
  </span></div>
<div class='p'><span class='V22_NoBody'>
 </span><span class="V23_NoBody"><span class="verse" id="V23">
23&#160;</span>
 <span class='wj'>
“If therefore you are offering your gift at the altar, and there remember that your brother has anything against you, </span>
  </span><span class="V24_NoBody"><span class="verse" id="V24">
24&#160;</span>
 <span class='wj'>
leave your gift there before the altar, and go your way. First be reconciled to your brother, and then come and offer your gift. </span>
  </span><span class="V25_NoBody"><span class="verse" id="V25">
25&#160;</span>
 <span class='wj'>
Agree with your adversary quickly, while you are with him on the way; lest perhaps the prosecutor deliver you to the judge, and the judge deliver you to the officer, and you be cast into prison. </span>
  </span><span class="V26_NoBody"><span class="verse" id="V26">
26&#160;</span>
 <span class='wj'>
Most certainly I tell you, you shall by no means get out of there, until you have paid the last penny.</span>
 </span></div>
<div class='p'><span class='V26_NoBody'>
 </span><span class="V27_NoBody"><span class="verse" id="V27">
27&#160;</span>
 <span class='wj'>
“You have heard that it was said, </span>
 <span class='wj'>
‘You shall not commit adultery;’</span>
  </span><span class="V28_NoBody"><span class="verse" id="V28">
28&#160;</span>
 <span class='wj'>
but I tell you that everyone who gazes at a woman to lust after her has committed adultery with her already in his heart. </span>
  </span><span class="V29_NoBody"><span class="verse" id="V29">
29&#160;</span>
 <span class='wj'>
If your right eye causes you to stumble, pluck it out and throw it away from you. For it is more profitable for you that one of your members should perish, than for your whole body to be cast into Gehenna.</span>
  </span><span class="V30_NoBody"><span class="verse" id="V30">
30&#160;</span>
 <span class='wj'>
If your right hand causes you to stumble, cut it off, and throw it away from you. For it is more profitable for you that one of your members should perish, than for your whole body to be cast into Gehenna.</span>
 </span></div>
<div class='p'><span class='V30_NoBody'>
 </span><span class="V31_NoBody"><span class="verse" id="V31">
31&#160;</span>
 <span class='wj'>
“It was also said, ‘Whoever shall put away his wife, let him give her a writing of divorce,’</span>
  </span><span class="V32_NoBody"><span class="verse" id="V32">
32&#160;</span>
 <span class='wj'>
but I tell you that whoever puts away his wife, except for the cause of sexual immorality, makes her an adulteress; and whoever marries her when she is put away commits adultery.</span>
 </span></div>
<div class='p'><span class='V32_NoBody'>
 </span><span class="V33_NoBody"><span class="verse" id="V33">
33&#160;</span>
 <span class='wj'>
“Again you have heard that it was said to the ancient ones, ‘You shall not make false vows, but shall perform to the Lord your vows,’</span>
  </span><span class="V34_NoBody"><span class="verse" id="V34">
34&#160;</span>
 <span class='wj'>
but I tell you, don’t swear at all: neither by heaven, for it is the throne of God; </span>
  </span><span class="V35_NoBody"><span class="verse" id="V35">
35&#160;</span>
 <span class='wj'>
nor by the earth, for it is the footstool of his feet; nor by Jerusalem, for it is the city of the great King. </span>
  </span><span class="V36_NoBody"><span class="verse" id="V36">
36&#160;</span>
 <span class='wj'>
Neither shall you swear by your head, for you can’t make one hair white or black. </span>
  </span><span class="V37_NoBody"><span class="verse" id="V37">
37&#160;</span>
 <span class='wj'>
But let your ‘Yes’ be ‘Yes’ and your ‘No’ be ‘No.’ Whatever is more than these is of the evil one.</span>
 </span></div>
<div class='p'><span class='V37_NoBody'>
 </span><span class="V38_NoBody"><span class="verse" id="V38">
38&#160;</span>
 <span class='wj'>
“You have heard that it was said, ‘An eye for an eye, and a tooth for a tooth.’</span>
  </span><span class="V39_NoBody"><span class="verse" id="V39">
39&#160;</span>
 <span class='wj'>
But I tell you, don’t resist him who is evil; but whoever strikes you on your right cheek, turn to him the other also. </span>
  </span><span class="V40_NoBody"><span class="verse" id="V40">
40&#160;</span>
 <span class='wj'>
If anyone sues you to take away your coat, let him have your cloak also. </span>
  </span><span class="V41_NoBody"><span class="verse" id="V41">
41&#160;</span>
 <span class='wj'>
Whoever compels you to go one mile, go with him two. </span>
  </span><span class="V42_NoBody"><span class="verse" id="V42">
42&#160;</span>
 <span class='wj'>
Give to him who asks you, and don’t turn away him who desires to borrow from you.</span>
 </span></div>
<div class='p'><span class='V42_NoBody'>
 </span><span class="V43_NoBody"><span class="verse" id="V43">
43&#160;</span>
 <span class='wj'>
“You have heard that it was said, ‘You shall love your neighbor </span>
 <span class='wj'>
and hate your enemy.’</span>
  </span><span class="V44_NoBody"><span class="verse" id="V44">
44&#160;</span>
 <span class='wj'>
But I tell you, love your enemies, bless those who curse you, do good to those who hate you, and pray for those who mistreat you and persecute you, </span>
  </span><span class="V45_NoBody"><span class="verse" id="V45">
45&#160;</span>
 <span class='wj'>
that you may be children of your Father who is in heaven. For he makes his sun to rise on the evil and the good, and sends rain on the just and the unjust. </span>
  </span><span class="V46_NoBody"><span class="verse" id="V46">
46&#160;</span>
 <span class='wj'>
For if you love those who love you, what reward do you have? Don’t even the tax collectors do the same? </span>
  </span><span class="V47_NoBody"><span class="verse" id="V47">
47&#160;</span>
 <span class='wj'>
If you only greet your friends, what more do you do than others? Don’t even the tax collectors</span>
 <span class='wj'>
do the same? </span>
  </span><span class="V48_NoBody"><span class="verse" id="V48">
48&#160;</span>
 <span class='wj'>
Therefore you shall be perfect, just as your Father in heaven is perfect.</span>
 </span></div>
<div class="footnote">

</div>
<hr /><div class="copyright">
<center> <a href="http://ebible.org/web/copyright.htm"">This website uses The World English Bible (Public Domain).</a> </center>
</div>
</div></body></html>
{% endblock %}