{% extends 'knowledge_base/base-web.html' %}{% block content %}﻿<!DOCTYPE html>
<div class="chapter">
<div class="verse-label" >Matthew 9</div>
 
<div class='p'><span class='_NoBody'>
 <span class="V1_NoBody"><span class="verse" id="V1">
1&#160;</span>
He entered into a boat, and crossed over, and came into his own city.  </span><span class="V2_NoBody"><span class="verse" id="V2">
2&#160;</span>
Behold, they brought to him a man who was paralyzed, lying on a bed. Jesus, seeing their faith, said to the paralytic, <span class='wj'>
“Son, cheer up! Your sins are forgiven you.”</span>
 </span></div>
<div class='p'><span class='V2_NoBody'>
 </span><span class="V3_NoBody"><span class="verse" id="V3">
3&#160;</span>
Behold, some of the scribes said to themselves, “This man blasphemes.” </span></div>
<div class='p'><span class='V3_NoBody'>
 </span><span class="V4_NoBody"><span class="verse" id="V4">
4&#160;</span>
Jesus, knowing their thoughts, said, <span class='wj'>
“Why do you think evil in your hearts? </span>
  </span><span class="V5_NoBody"><span class="verse" id="V5">
5&#160;</span>
 <span class='wj'>
For which is easier, to say, ‘Your sins are forgiven;’ or to say, ‘Get up, and walk?’ </span>
  </span><span class="V6_NoBody"><span class="verse" id="V6">
6&#160;</span>
 <span class='wj'>
But that you may know that the Son of Man has authority on earth to forgive sins-”</span>
 (then he said to the paralytic), <span class='wj'>
“Get up, and take up your mat, and go to your house.”</span>
 </span></div>
<div class='p'><span class='V6_NoBody'>
 </span><span class="V7_NoBody"><span class="verse" id="V7">
7&#160;</span>
He arose and departed to his house.  </span><span class="V8_NoBody"><span class="verse" id="V8">
8&#160;</span>
But when the multitudes saw it, they marveled and glorified God, who had given such authority to men. </span></div>
<div class='p'><span class='V8_NoBody'>
 </span><span class="V9_NoBody"><span class="verse" id="V9">
9&#160;</span>
As Jesus passed by from there, he saw a man called Matthew sitting at the tax collection office. He said to him, <span class='wj'>
“Follow me.”</span>
 He got up and followed him.  </span><span class="V10_NoBody"><span class="verse" id="V10">
10&#160;</span>
As he sat in the house, behold, many tax collectors and sinners came and sat down with Jesus and his disciples.  </span><span class="V11_NoBody"><span class="verse" id="V11">
11&#160;</span>
When the Pharisees saw it, they said to his disciples, “Why does your teacher eat with tax collectors and sinners?” </span></div>
<div class='p'><span class='V11_NoBody'>
 </span><span class="V12_NoBody"><span class="verse" id="V12">
12&#160;</span>
When Jesus heard it, he said to them, <span class='wj'>
“Those who are healthy have no need for a physician, but those who are sick do. </span>
  </span><span class="V13_NoBody"><span class="verse" id="V13">
13&#160;</span>
 <span class='wj'>
But you go and learn what this means: ‘I desire mercy, and not sacrifice,’</span>
 <span class='wj'>
for I came not to call the righteous, but sinners to repentance.”</span>
 </span></div>
<div class='p'><span class='V13_NoBody'>
 </span><span class="V14_NoBody"><span class="verse" id="V14">
14&#160;</span>
Then John’s disciples came to him, saying, “Why do we and the Pharisees fast often, but your disciples don’t fast?” </span></div>
<div class='p'><span class='V14_NoBody'>
 </span><span class="V15_NoBody"><span class="verse" id="V15">
15&#160;</span>
Jesus said to them, <span class='wj'>
“Can the friends of the bridegroom mourn, as long as the bridegroom is with them? But the days will come when the bridegroom will be taken away from them, and then they will fast. </span>
  </span><span class="V16_NoBody"><span class="verse" id="V16">
16&#160;</span>
 <span class='wj'>
No one puts a piece of unshrunk cloth on an old garment; for the patch would tear away from the garment, and a worse hole is made. </span>
  </span><span class="V17_NoBody"><span class="verse" id="V17">
17&#160;</span>
 <span class='wj'>
Neither do people put new wine into old wine skins, or else the skins would burst, and the wine be spilled, and the skins ruined. No, they put new wine into fresh wine skins, and both are preserved.”</span>
 </span></div>
<div class='p'><span class='V17_NoBody'>
 </span><span class="V18_NoBody"><span class="verse" id="V18">
18&#160;</span>
While he told these things to them, behold, a ruler came and worshiped him, saying, “My daughter has just died, but come and lay your hand on her, and she will live.” </span></div>
<div class='p'><span class='V18_NoBody'>
 </span><span class="V19_NoBody"><span class="verse" id="V19">
19&#160;</span>
Jesus got up and followed him, as did his disciples.  </span><span class="V20_NoBody"><span class="verse" id="V20">
20&#160;</span>
Behold, a woman who had a discharge of blood for twelve years came behind him, and touched the fringe of his garment;  </span><span class="V21_NoBody"><span class="verse" id="V21">
21&#160;</span>
for she said within herself, “If I just touch his garment, I will be made well.” </span></div>
<div class='p'><span class='V21_NoBody'>
 </span><span class="V22_NoBody"><span class="verse" id="V22">
22&#160;</span>
But Jesus, turning around and seeing her, said, <span class='wj'>
“Daughter, cheer up! Your faith has made you well.”</span>
 And the woman was made well from that hour. </span></div>
<div class='p'><span class='V22_NoBody'>
 </span><span class="V23_NoBody"><span class="verse" id="V23">
23&#160;</span>
When Jesus came into the ruler’s house, and saw the flute players, and the crowd in noisy disorder,  </span><span class="V24_NoBody"><span class="verse" id="V24">
24&#160;</span>
he said to them, <span class='wj'>
“Make room, because the girl isn’t dead, but sleeping.”</span>
 </span></div>
<div class='p'><span class='V24_NoBody'>
They were ridiculing him.  </span><span class="V25_NoBody"><span class="verse" id="V25">
25&#160;</span>
But when the crowd was put out, he entered in, took her by the hand, and the girl arose.  </span><span class="V26_NoBody"><span class="verse" id="V26">
26&#160;</span>
The report of this went out into all that land. </span></div>
<div class='p'><span class='V26_NoBody'>
 </span><span class="V27_NoBody"><span class="verse" id="V27">
27&#160;</span>
As Jesus passed by from there, two blind men followed him, calling out and saying, “Have mercy on us, son of David!” </span></div>
<div class='p'><span class='V27_NoBody'>
 </span><span class="V28_NoBody"><span class="verse" id="V28">
28&#160;</span>
When he had come into the house, the blind men came to him. Jesus said to them, <span class='wj'>
“Do you believe that I am able to do this?”</span>
 </span></div>
<div class='p'><span class='V28_NoBody'>
They told him, “Yes, Lord.” </span></div>
<div class='p'><span class='V28_NoBody'>
 </span><span class="V29_NoBody"><span class="verse" id="V29">
29&#160;</span>
Then he touched their eyes, saying, <span class='wj'>
“According to your faith be it done to you.”</span>
  </span><span class="V30_NoBody"><span class="verse" id="V30">
30&#160;</span>
Their eyes were opened. Jesus strictly commanded them, saying, <span class='wj'>
“See that no one knows about this.”</span>
  </span><span class="V31_NoBody"><span class="verse" id="V31">
31&#160;</span>
But they went out and spread abroad his fame in all that land. </span></div>
<div class='p'><span class='V31_NoBody'>
 </span><span class="V32_NoBody"><span class="verse" id="V32">
32&#160;</span>
As they went out, behold, a mute man who was demon possessed was brought to him.  </span><span class="V33_NoBody"><span class="verse" id="V33">
33&#160;</span>
When the demon was cast out, the mute man spoke. The multitudes marveled, saying, “Nothing like this has ever been seen in Israel!” </span></div>
<div class='p'><span class='V33_NoBody'>
 </span><span class="V34_NoBody"><span class="verse" id="V34">
34&#160;</span>
But the Pharisees said, “By the prince of the demons, he casts out demons.” </span></div>
<div class='p'><span class='V34_NoBody'>
 </span><span class="V35_NoBody"><span class="verse" id="V35">
35&#160;</span>
Jesus went about all the cities and the villages, teaching in their synagogues, and preaching the Good News of the Kingdom, and healing every disease and every sickness among the people.  </span><span class="V36_NoBody"><span class="verse" id="V36">
36&#160;</span>
But when he saw the multitudes, he was moved with compassion for them, because they were harassed and scattered, like sheep without a shepherd.  </span><span class="V37_NoBody"><span class="verse" id="V37">
37&#160;</span>
Then he said to his disciples, <span class='wj'>
“The harvest indeed is plentiful, but the laborers are few. </span>
  </span><span class="V38_NoBody"><span class="verse" id="V38">
38&#160;</span>
 <span class='wj'>
Pray therefore that the Lord of the harvest will send out laborers into his harvest.”</span>
 </span></div>
<div class="footnote">

</div>
<hr /><div class="copyright">
<center> <a href="http://ebible.org/web/copyright.htm"">This website uses The World English Bible (Public Domain).</a> </center>
</div>
</div></body></html>
{% endblock %}