{% extends 'knowledge_base/base-web.html' %}{% block content %}﻿<!DOCTYPE html>
<div class="chapter">
<div class="verse-label" >Matthew 15</div>
 
<div class='p'><span class='_NoBody'>
 <span class="V1_NoBody"><span class="verse" id="V1">
1&#160;</span>
Then Pharisees and scribes came to Jesus from Jerusalem, saying,  </span><span class="V2_NoBody"><span class="verse" id="V2">
2&#160;</span>
“Why do your disciples disobey the tradition of the elders? For they don’t wash their hands when they eat bread.” </span></div>
<div class='p'><span class='V2_NoBody'>
 </span><span class="V3_NoBody"><span class="verse" id="V3">
3&#160;</span>
He answered them, <span class='wj'>
“Why do you also disobey the commandment of God because of your tradition? </span>
  </span><span class="V4_NoBody"><span class="verse" id="V4">
4&#160;</span>
 <span class='wj'>
For God commanded, ‘Honor your father and your mother,’</span>
 <span class='wj'>
and, ‘He who speaks evil of father or mother, let him be put to death.’</span>
  </span><span class="V5_NoBody"><span class="verse" id="V5">
5&#160;</span>
 <span class='wj'>
But you say, ‘Whoever may tell his father or his mother, “Whatever help you might otherwise have gotten from me is a gift devoted to God,” </span>
  </span><span class="V6_NoBody"><span class="verse" id="V6">
6&#160;</span>
 <span class='wj'>
he shall not honor his father or mother.’ You have made the commandment of God void because of your tradition. </span>
  </span><span class="V7_NoBody"><span class="verse" id="V7">
7&#160;</span>
 <span class='wj'>
You hypocrites! Well did Isaiah prophesy of you, saying,</span>
 </span></div>
<div class='q'><span class='V7_NoBody'>
 </span><span class="V8_NoBody"><span class="verse" id="V8">
8&#160;</span>
 <span class='wj'>
‘These people draw near to me with their mouth,</span>
 </span></div>
<div class='q2'><span class='V8_NoBody'>
<span class='wj'>
and honor me with their lips;</span>
 </span></div>
<div class='q2'><span class='V8_NoBody'>
<span class='wj'>
but their heart is far from me.</span>
 </span></div>
<div class='q'><span class='V8_NoBody'>
 </span><span class="V9_NoBody"><span class="verse" id="V9">
9&#160;</span>
 <span class='wj'>
And in vain do they worship me,</span>
 </span></div>
<div class='q2'><span class='V9_NoBody'>
<span class='wj'>
teaching as doctrine rules made by men.’ ”</span>
 </span></div>
<div class='p'><span class='V9_NoBody'>
 </span><span class="V10_NoBody"><span class="verse" id="V10">
10&#160;</span>
He summoned the multitude, and said to them, <span class='wj'>
“Hear, and understand. </span>
  </span><span class="V11_NoBody"><span class="verse" id="V11">
11&#160;</span>
 <span class='wj'>
That which enters into the mouth doesn’t defile the man; but that which proceeds out of the mouth, this defiles the man.”</span>
 </span></div>
<div class='p'><span class='V11_NoBody'>
 </span><span class="V12_NoBody"><span class="verse" id="V12">
12&#160;</span>
Then the disciples came, and said to him, “Do you know that the Pharisees were offended when they heard this saying?” </span></div>
<div class='p'><span class='V12_NoBody'>
 </span><span class="V13_NoBody"><span class="verse" id="V13">
13&#160;</span>
But he answered, <span class='wj'>
“Every plant which my heavenly Father didn’t plant will be uprooted. </span>
  </span><span class="V14_NoBody"><span class="verse" id="V14">
14&#160;</span>
 <span class='wj'>
Leave them alone. They are blind guides of the blind. If the blind guide the blind, both will fall into a pit.”</span>
 </span></div>
<div class='p'><span class='V14_NoBody'>
 </span><span class="V15_NoBody"><span class="verse" id="V15">
15&#160;</span>
Peter answered him, “Explain the parable to us.” </span></div>
<div class='p'><span class='V15_NoBody'>
 </span><span class="V16_NoBody"><span class="verse" id="V16">
16&#160;</span>
So Jesus said, <span class='wj'>
“Do you also still not understand? </span>
  </span><span class="V17_NoBody"><span class="verse" id="V17">
17&#160;</span>
 <span class='wj'>
Don’t you understand that whatever goes into the mouth passes into the belly, and then out of the body? </span>
  </span><span class="V18_NoBody"><span class="verse" id="V18">
18&#160;</span>
 <span class='wj'>
But the things which proceed out of the mouth come out of the heart, and they defile the man. </span>
  </span><span class="V19_NoBody"><span class="verse" id="V19">
19&#160;</span>
 <span class='wj'>
For out of the heart come evil thoughts, murders, adulteries, sexual sins, thefts, false testimony, and blasphemies. </span>
  </span><span class="V20_NoBody"><span class="verse" id="V20">
20&#160;</span>
 <span class='wj'>
These are the things which defile the man; but to eat with unwashed hands doesn’t defile the man.”</span>
 </span></div>
<div class='p'><span class='V20_NoBody'>
 </span><span class="V21_NoBody"><span class="verse" id="V21">
21&#160;</span>
Jesus went out from there, and withdrew into the region of Tyre and Sidon.  </span><span class="V22_NoBody"><span class="verse" id="V22">
22&#160;</span>
Behold, a Canaanite woman came out from those borders, and cried, saying, “Have mercy on me, Lord, you son of David! My daughter is severely possessed by a demon!” </span></div>
<div class='p'><span class='V22_NoBody'>
 </span><span class="V23_NoBody"><span class="verse" id="V23">
23&#160;</span>
But he answered her not a word. </span></div>
<div class='p'><span class='V23_NoBody'>
His disciples came and begged him, saying, “Send her away; for she cries after us.” </span></div>
<div class='p'><span class='V23_NoBody'>
 </span><span class="V24_NoBody"><span class="verse" id="V24">
24&#160;</span>
But he answered, <span class='wj'>
“I wasn’t sent to anyone but the lost sheep of the house of Israel.”</span>
 </span></div>
<div class='p'><span class='V24_NoBody'>
 </span><span class="V25_NoBody"><span class="verse" id="V25">
25&#160;</span>
But she came and worshiped him, saying, “Lord, help me.” </span></div>
<div class='p'><span class='V25_NoBody'>
 </span><span class="V26_NoBody"><span class="verse" id="V26">
26&#160;</span>
But he answered, <span class='wj'>
“It is not appropriate to take the children’s bread and throw it to the dogs.”</span>
 </span></div>
<div class='p'><span class='V26_NoBody'>
 </span><span class="V27_NoBody"><span class="verse" id="V27">
27&#160;</span>
But she said, “Yes, Lord, but even the dogs eat the crumbs which fall from their masters’ table.” </span></div>
<div class='p'><span class='V27_NoBody'>
 </span><span class="V28_NoBody"><span class="verse" id="V28">
28&#160;</span>
Then Jesus answered her, <span class='wj'>
“Woman, great is your faith! Be it done to you even as you desire.”</span>
 And her daughter was healed from that hour. </span></div>
<div class='p'><span class='V28_NoBody'>
 </span><span class="V29_NoBody"><span class="verse" id="V29">
29&#160;</span>
Jesus departed from there, and came near to the sea of Galilee; and he went up into the mountain, and sat there.  </span><span class="V30_NoBody"><span class="verse" id="V30">
30&#160;</span>
Great multitudes came to him, having with them the lame, blind, mute, maimed, and many others, and they put them down at his feet. He healed them,  </span><span class="V31_NoBody"><span class="verse" id="V31">
31&#160;</span>
so that the multitude wondered when they saw the mute speaking, the injured healed, the lame walking, and the blind seeing—and they glorified the God of Israel. </span></div>
<div class='p'><span class='V31_NoBody'>
 </span><span class="V32_NoBody"><span class="verse" id="V32">
32&#160;</span>
Jesus summoned his disciples and said, <span class='wj'>
“I have compassion on the multitude, because they continue with me now three days and have nothing to eat. I don’t want to send them away fasting, or they might faint on the way.” </span>
 </span></div>
<div class='p'><span class='V32_NoBody'>
 </span><span class="V33_NoBody"><span class="verse" id="V33">
33&#160;</span>
The disciples said to him, “Where should we get so many loaves in a deserted place as to satisfy so great a multitude?” </span></div>
<div class='p'><span class='V33_NoBody'>
 </span><span class="V34_NoBody"><span class="verse" id="V34">
34&#160;</span>
Jesus said to them, <span class='wj'>
“How many loaves do you have?”</span>
 </span></div>
<div class='p'><span class='V34_NoBody'>
They said, “Seven, and a few small fish.” </span></div>
<div class='p'><span class='V34_NoBody'>
 </span><span class="V35_NoBody"><span class="verse" id="V35">
35&#160;</span>
He commanded the multitude to sit down on the ground;  </span><span class="V36_NoBody"><span class="verse" id="V36">
36&#160;</span>
and he took the seven loaves and the fish. He gave thanks and broke them, and gave to the disciples, and the disciples to the multitudes.  </span><span class="V37_NoBody"><span class="verse" id="V37">
37&#160;</span>
They all ate, and were filled. They took up seven baskets full of the broken pieces that were left over.  </span><span class="V38_NoBody"><span class="verse" id="V38">
38&#160;</span>
Those who ate were four thousand men, in addition to women and children.  </span><span class="V39_NoBody"><span class="verse" id="V39">
39&#160;</span>
Then he sent away the multitudes, got into the boat, and came into the borders of Magdala. </span></div>
<div class="footnote">

</div>
<hr /><div class="copyright">
<center> <a href="http://ebible.org/web/copyright.htm"">This website uses The World English Bible (Public Domain).</a> </center>
</div>
</div></body></html>
{% endblock %}