{% extends 'knowledge_base/base-web.html' %}{% block content %}﻿<!DOCTYPE html>
<div class="chapter">
<div class="verse-label" >Matthew 11</div>
 
<div class='p'><span class='_NoBody'>
 <span class="V1_NoBody"><span class="verse" id="V1">
1&#160;</span>
When Jesus had finished directing his twelve disciples, he departed from there to teach and preach in their cities.  </span><span class="V2_NoBody"><span class="verse" id="V2">
2&#160;</span>
Now when John heard in the prison the works of Christ, he sent two of his disciples  </span><span class="V3_NoBody"><span class="verse" id="V3">
3&#160;</span>
and said to him, “Are you he who comes, or should we look for another?” </span></div>
<div class='p'><span class='V3_NoBody'>
 </span><span class="V4_NoBody"><span class="verse" id="V4">
4&#160;</span>
Jesus answered them, <span class='wj'>
“Go and tell John the things which you hear and see: </span>
  </span><span class="V5_NoBody"><span class="verse" id="V5">
5&#160;</span>
 <span class='wj'>
the blind receive their sight, the lame walk, the lepers are cleansed, the deaf hear,</span>
 <span class='wj'>
the dead are raised up, and the poor have good news preached to them.</span>
  </span><span class="V6_NoBody"><span class="verse" id="V6">
6&#160;</span>
 <span class='wj'>
Blessed is he who finds no occasion for stumbling in me.”</span>
 </span></div>
<div class='p'><span class='V6_NoBody'>
 </span><span class="V7_NoBody"><span class="verse" id="V7">
7&#160;</span>
As these went their way, Jesus began to say to the multitudes concerning John, <span class='wj'>
“What did you go out into the wilderness to see? A reed shaken by the wind? </span>
  </span><span class="V8_NoBody"><span class="verse" id="V8">
8&#160;</span>
 <span class='wj'>
But what did you go out to see? A man in soft clothing? Behold, those who wear soft clothing are in kings’ houses. </span>
  </span><span class="V9_NoBody"><span class="verse" id="V9">
9&#160;</span>
 <span class='wj'>
But why did you go out? To see a prophet? Yes, I tell you, and much more than a prophet. </span>
  </span><span class="V10_NoBody"><span class="verse" id="V10">
10&#160;</span>
 <span class='wj'>
For this is he, of whom it is written, ‘Behold, I send my messenger before your face, who will prepare your way before you.’</span>
  </span><span class="V11_NoBody"><span class="verse" id="V11">
11&#160;</span>
 <span class='wj'>
Most certainly I tell you, among those who are born of women there has not arisen anyone greater than John the Baptizer; yet he who is least in the Kingdom of Heaven is greater than he. </span>
  </span><span class="V12_NoBody"><span class="verse" id="V12">
12&#160;</span>
 <span class='wj'>
From the days of John the Baptizer until now, the Kingdom of Heaven suffers violence, and the violent take it by force.</span>
  </span><span class="V13_NoBody"><span class="verse" id="V13">
13&#160;</span>
 <span class='wj'>
For all the prophets and the law prophesied until John. </span>
  </span><span class="V14_NoBody"><span class="verse" id="V14">
14&#160;</span>
 <span class='wj'>
If you are willing to receive it, this is Elijah, who is to come. </span>
  </span><span class="V15_NoBody"><span class="verse" id="V15">
15&#160;</span>
 <span class='wj'>
He who has ears to hear, let him hear.</span>
 </span></div>
<div class='p'><span class='V15_NoBody'>
 </span><span class="V16_NoBody"><span class="verse" id="V16">
16&#160;</span>
 <span class='wj'>
“But to what shall I compare this generation? It is like children sitting in the marketplaces, who call to their companions </span>
  </span><span class="V17_NoBody"><span class="verse" id="V17">
17&#160;</span>
 <span class='wj'>
and say, ‘We played the flute for you, and you didn’t dance. We mourned for you, and you didn’t lament.’ </span>
  </span><span class="V18_NoBody"><span class="verse" id="V18">
18&#160;</span>
 <span class='wj'>
For John came neither eating nor drinking, and they say, ‘He has a demon.’ </span>
  </span><span class="V19_NoBody"><span class="verse" id="V19">
19&#160;</span>
 <span class='wj'>
The Son of Man came eating and drinking, and they say, ‘Behold, a gluttonous man and a drunkard, a friend of tax collectors and sinners!’ But wisdom is justified by her children.”</span>
 </span></div>
<div class='p'><span class='V19_NoBody'>
 </span><span class="V20_NoBody"><span class="verse" id="V20">
20&#160;</span>
Then he began to denounce the cities in which most of his mighty works had been done, because they didn’t repent.  </span><span class="V21_NoBody"><span class="verse" id="V21">
21&#160;</span>
 <span class='wj'>
“Woe to you, Chorazin! Woe to you, Bethsaida! For if the mighty works had been done in Tyre and Sidon which were done in you, they would have repented long ago in sackcloth and ashes. </span>
  </span><span class="V22_NoBody"><span class="verse" id="V22">
22&#160;</span>
 <span class='wj'>
But I tell you, it will be more tolerable for Tyre and Sidon on the day of judgment than for you. </span>
  </span><span class="V23_NoBody"><span class="verse" id="V23">
23&#160;</span>
 <span class='wj'>
You, Capernaum, who are exalted to heaven, you will go down to Hades. </span>
 <span class='wj'>
For if the mighty works had been done in Sodom which were done in you, it would have remained until today. </span>
  </span><span class="V24_NoBody"><span class="verse" id="V24">
24&#160;</span>
 <span class='wj'>
But I tell you that it will be more tolerable for the land of Sodom, on the day of judgment, than for you.”</span>
 </span></div>
<div class='p'><span class='V24_NoBody'>
 </span><span class="V25_NoBody"><span class="verse" id="V25">
25&#160;</span>
At that time, Jesus answered, <span class='wj'>
“I thank you, Father, Lord of heaven and earth, that you hid these things from the wise and understanding, and revealed them to infants. </span>
  </span><span class="V26_NoBody"><span class="verse" id="V26">
26&#160;</span>
 <span class='wj'>
Yes, Father, for so it was well-pleasing in your sight. </span>
  </span><span class="V27_NoBody"><span class="verse" id="V27">
27&#160;</span>
 <span class='wj'>
All things have been delivered to me by my Father. No one knows the Son, except the Father; neither does anyone know the Father, except the Son, and he to whom the Son desires to reveal him.</span>
 </span></div>
<div class='p'><span class='V27_NoBody'>
 </span><span class="V28_NoBody"><span class="verse" id="V28">
28&#160;</span>
 <span class='wj'>
“Come to me, all you who labor and are heavily burdened, and I will give you rest. </span>
  </span><span class="V29_NoBody"><span class="verse" id="V29">
29&#160;</span>
 <span class='wj'>
Take my yoke upon you, and learn from me, for I am gentle and humble in heart; and you will find rest for your souls. </span>
  </span><span class="V30_NoBody"><span class="verse" id="V30">
30&#160;</span>
 <span class='wj'>
For my yoke is easy, and my burden is light.”</span>
 </span></div>
<div class="footnote">

</div>
<hr /><div class="copyright">
<center> <a href="http://ebible.org/web/copyright.htm"">This website uses The World English Bible (Public Domain).</a> </center>
</div>
</div></body></html>
{% endblock %}