{% extends 'knowledge_base/base-web.html' %}{% block content %}﻿<!DOCTYPE html>
<div class="chapter">
<div class="verse-label" >Matthew 26</div>
 
<div class='p'><span class='_NoBody'>
 <span class="V1_NoBody"><span class="verse" id="V1">
1&#160;</span>
 When Jesus had finished all these words, he said to his disciples,  </span><span class="V2_NoBody"><span class="verse" id="V2">
2&#160;</span>
 <span class='wj'>
“You know that after two days the Passover is coming, and the Son of Man will be delivered up to be crucified.”</span>
 </span></div>
<div class='p'><span class='V2_NoBody'>
 </span><span class="V3_NoBody"><span class="verse" id="V3">
3&#160;</span>
Then the chief priests, the scribes, and the elders of the people were gathered together in the court of the high priest, who was called Caiaphas.  </span><span class="V4_NoBody"><span class="verse" id="V4">
4&#160;</span>
They took counsel together that they might take Jesus by deceit, and kill him.  </span><span class="V5_NoBody"><span class="verse" id="V5">
5&#160;</span>
But they said, “Not during the feast, lest a riot occur among the people.” </span></div>
<div class='p'><span class='V5_NoBody'>
 </span><span class="V6_NoBody"><span class="verse" id="V6">
6&#160;</span>
Now when Jesus was in Bethany, in the house of Simon the leper,  </span><span class="V7_NoBody"><span class="verse" id="V7">
7&#160;</span>
a woman came to him having an alabaster jar of very expensive ointment, and she poured it on his head as he sat at the table.  </span><span class="V8_NoBody"><span class="verse" id="V8">
8&#160;</span>
But when his disciples saw this, they were indignant, saying, “Why this waste?  </span><span class="V9_NoBody"><span class="verse" id="V9">
9&#160;</span>
For this ointment might have been sold for much, and given to the poor.” </span></div>
<div class='p'><span class='V9_NoBody'>
 </span><span class="V10_NoBody"><span class="verse" id="V10">
10&#160;</span>
However, knowing this, Jesus said to them, <span class='wj'>
“Why do you trouble the woman? She has done a good work for me. </span>
  </span><span class="V11_NoBody"><span class="verse" id="V11">
11&#160;</span>
 <span class='wj'>
For you always have the poor with you; but you don’t always have me. </span>
  </span><span class="V12_NoBody"><span class="verse" id="V12">
12&#160;</span>
 <span class='wj'>
For in pouring this ointment on my body, she did it to prepare me for burial. </span>
  </span><span class="V13_NoBody"><span class="verse" id="V13">
13&#160;</span>
 <span class='wj'>
Most certainly I tell you, wherever this Good News is preached in the whole world, what this woman has done will also be spoken of as a memorial of her.”</span>
 </span></div>
<div class='p'><span class='V13_NoBody'>
 </span><span class="V14_NoBody"><span class="verse" id="V14">
14&#160;</span>
Then one of the twelve, who was called Judas Iscariot, went to the chief priests,  </span><span class="V15_NoBody"><span class="verse" id="V15">
15&#160;</span>
and said, “What are you willing to give me, that I should deliver him to you?” They weighed out for him thirty pieces of silver.  </span><span class="V16_NoBody"><span class="verse" id="V16">
16&#160;</span>
From that time he sought opportunity to betray him. </span></div>
<div class='p'><span class='V16_NoBody'>
 </span><span class="V17_NoBody"><span class="verse" id="V17">
17&#160;</span>
Now on the first day of unleavened bread, the disciples came to Jesus, saying to him, “Where do you want us to prepare for you to eat the Passover?” </span></div>
<div class='p'><span class='V17_NoBody'>
 </span><span class="V18_NoBody"><span class="verse" id="V18">
18&#160;</span>
He said, <span class='wj'>
“Go into the city to a certain person, and tell him, ‘The Teacher says, “My time is at hand. I will keep the Passover at your house with my disciples.” ’ ”</span>
 </span></div>
<div class='p'><span class='V18_NoBody'>
 </span><span class="V19_NoBody"><span class="verse" id="V19">
19&#160;</span>
The disciples did as Jesus commanded them, and they prepared the Passover.  </span><span class="V20_NoBody"><span class="verse" id="V20">
20&#160;</span>
Now when evening had come, he was reclining at the table with the twelve disciples.  </span><span class="V21_NoBody"><span class="verse" id="V21">
21&#160;</span>
As they were eating, he said, <span class='wj'>
“Most certainly I tell you that one of you will betray me.”</span>
 </span></div>
<div class='p'><span class='V21_NoBody'>
 </span><span class="V22_NoBody"><span class="verse" id="V22">
22&#160;</span>
They were exceedingly sorrowful, and each began to ask him, “It isn’t me, is it, Lord?” </span></div>
<div class='p'><span class='V22_NoBody'>
 </span><span class="V23_NoBody"><span class="verse" id="V23">
23&#160;</span>
He answered, <span class='wj'>
“He who dipped his hand with me in the dish will betray me. </span>
  </span><span class="V24_NoBody"><span class="verse" id="V24">
24&#160;</span>
 <span class='wj'>
The Son of Man goes, even as it is written of him, but woe to that man through whom the Son of Man is betrayed! It would be better for that man if he had not been born.”</span>
 </span></div>
<div class='p'><span class='V24_NoBody'>
 </span><span class="V25_NoBody"><span class="verse" id="V25">
25&#160;</span>
Judas, who betrayed him, answered, “It isn’t me, is it, Rabbi?” </span></div>
<div class='p'><span class='V25_NoBody'>
He said to him, <span class='wj'>
“You said it.”</span>
 </span></div>
<div class='p'><span class='V25_NoBody'>
 </span><span class="V26_NoBody"><span class="verse" id="V26">
26&#160;</span>
As they were eating, Jesus took bread, gave thanks for it, and broke it. He gave to the disciples, and said, <span class='wj'>
“Take, eat; this is my body.”</span>
  </span><span class="V27_NoBody"><span class="verse" id="V27">
27&#160;</span>
He took the cup, gave thanks, and gave to them, saying, <span class='wj'>
“All of you drink it, </span>
  </span><span class="V28_NoBody"><span class="verse" id="V28">
28&#160;</span>
 <span class='wj'>
for this is my blood of the new covenant, which is poured out for many for the remission of sins. </span>
  </span><span class="V29_NoBody"><span class="verse" id="V29">
29&#160;</span>
 <span class='wj'>
But I tell you that I will not drink of this fruit of the vine from now on, until that day when I drink it anew with you in my Father’s Kingdom.” </span>
  </span><span class="V30_NoBody"><span class="verse" id="V30">
30&#160;</span>
When they had sung a hymn, they went out to the Mount of Olives. </span></div>
<div class='p'><span class='V30_NoBody'>
 </span><span class="V31_NoBody"><span class="verse" id="V31">
31&#160;</span>
Then Jesus said to them, <span class='wj'>
“All of you will be made to stumble because of me tonight, for it is written, ‘I will strike the shepherd, and the sheep of the flock will be scattered.’</span>
  </span><span class="V32_NoBody"><span class="verse" id="V32">
32&#160;</span>
 <span class='wj'>
But after I am raised up, I will go before you into Galilee.” </span>
 </span></div>
<div class='p'><span class='V32_NoBody'>
 </span><span class="V33_NoBody"><span class="verse" id="V33">
33&#160;</span>
But Peter answered him, “Even if all will be made to stumble because of you, I will never be made to stumble.” </span></div>
<div class='p'><span class='V33_NoBody'>
 </span><span class="V34_NoBody"><span class="verse" id="V34">
34&#160;</span>
Jesus said to him, <span class='wj'>
“Most certainly I tell you that tonight, before the rooster crows, you will deny me three times.”</span>
 </span></div>
<div class='p'><span class='V34_NoBody'>
 </span><span class="V35_NoBody"><span class="verse" id="V35">
35&#160;</span>
Peter said to him, “Even if I must die with you, I will not deny you.” All of the disciples also said likewise. </span></div>
<div class='p'><span class='V35_NoBody'>
 </span><span class="V36_NoBody"><span class="verse" id="V36">
36&#160;</span>
Then Jesus came with them to a place called Gethsemane, and said to his disciples, <span class='wj'>
“Sit here, while I go there and pray.”</span>
  </span><span class="V37_NoBody"><span class="verse" id="V37">
37&#160;</span>
He took with him Peter and the two sons of Zebedee, and began to be sorrowful and severely troubled.  </span><span class="V38_NoBody"><span class="verse" id="V38">
38&#160;</span>
Then he said to them, <span class='wj'>
“My soul is exceedingly sorrowful, even to death. Stay here, and watch with me.”</span>
 </span></div>
<div class='p'><span class='V38_NoBody'>
 </span><span class="V39_NoBody"><span class="verse" id="V39">
39&#160;</span>
He went forward a little, fell on his face, and prayed, saying, <span class='wj'>
“My Father, if it is possible, let this cup pass away from me; nevertheless, not what I desire, but what you desire.”</span>
 </span></div>
<div class='p'><span class='V39_NoBody'>
 </span><span class="V40_NoBody"><span class="verse" id="V40">
40&#160;</span>
He came to the disciples, and found them sleeping, and said to Peter, <span class='wj'>
“What, couldn’t you watch with me for one hour? </span>
  </span><span class="V41_NoBody"><span class="verse" id="V41">
41&#160;</span>
 <span class='wj'>
Watch and pray, that you don’t enter into temptation. The spirit indeed is willing, but the flesh is weak.”</span>
 </span></div>
<div class='p'><span class='V41_NoBody'>
 </span><span class="V42_NoBody"><span class="verse" id="V42">
42&#160;</span>
Again, a second time he went away, and prayed, saying, <span class='wj'>
“My Father, if this cup can’t pass away from me unless I drink it, your desire be done.” </span>
  </span><span class="V43_NoBody"><span class="verse" id="V43">
43&#160;</span>
He came again and found them sleeping, for their eyes were heavy.  </span><span class="V44_NoBody"><span class="verse" id="V44">
44&#160;</span>
He left them again, went away, and prayed a third time, saying the same words.  </span><span class="V45_NoBody"><span class="verse" id="V45">
45&#160;</span>
Then he came to his disciples, and said to them, <span class='wj'>
“Sleep on now, and take your rest. Behold, the hour is at hand, and the Son of Man is betrayed into the hands of sinners. </span>
  </span><span class="V46_NoBody"><span class="verse" id="V46">
46&#160;</span>
 <span class='wj'>
Arise, let’s be going. Behold, he who betrays me is at hand.” </span>
 </span></div>
<div class='p'><span class='V46_NoBody'>
 </span><span class="V47_NoBody"><span class="verse" id="V47">
47&#160;</span>
While he was still speaking, behold, Judas, one of the twelve, came, and with him a great multitude with swords and clubs, from the chief priests and elders of the people.  </span><span class="V48_NoBody"><span class="verse" id="V48">
48&#160;</span>
Now he who betrayed him gave them a sign, saying, “Whoever I kiss, he is the one. Seize him.”  </span><span class="V49_NoBody"><span class="verse" id="V49">
49&#160;</span>
Immediately he came to Jesus, and said, “Hail, Rabbi!” and kissed him. </span></div>
<div class='p'><span class='V49_NoBody'>
 </span><span class="V50_NoBody"><span class="verse" id="V50">
50&#160;</span>
Jesus said to him, <span class='wj'>
“Friend, why are you here?”</span>
 Then they came and laid hands on Jesus, and took him.  </span><span class="V51_NoBody"><span class="verse" id="V51">
51&#160;</span>
Behold, one of those who were with Jesus stretched out his hand, and drew his sword, and struck the servant of the high priest, and struck off his ear.  </span><span class="V52_NoBody"><span class="verse" id="V52">
52&#160;</span>
Then Jesus said to him, <span class='wj'>
“Put your sword back into its place, for all those who take the sword will die by the sword. </span>
  </span><span class="V53_NoBody"><span class="verse" id="V53">
53&#160;</span>
 <span class='wj'>
Or do you think that I couldn’t ask my Father, and he would even now send me more than twelve legions of angels? </span>
  </span><span class="V54_NoBody"><span class="verse" id="V54">
54&#160;</span>
 <span class='wj'>
How then would the Scriptures be fulfilled that it must be so?” </span>
 </span></div>
<div class='p'><span class='V54_NoBody'>
 </span><span class="V55_NoBody"><span class="verse" id="V55">
55&#160;</span>
In that hour Jesus said to the multitudes, <span class='wj'>
“Have you come out as against a robber with swords and clubs to seize me? I sat daily in the temple teaching, and you didn’t arrest me. </span>
  </span><span class="V56_NoBody"><span class="verse" id="V56">
56&#160;</span>
 <span class='wj'>
But all this has happened that the Scriptures of the prophets might be fulfilled.”</span>
 </span></div>
<div class='p'><span class='V56_NoBody'>
Then all the disciples left him and fled.  </span><span class="V57_NoBody"><span class="verse" id="V57">
57&#160;</span>
Those who had taken Jesus led him away to Caiaphas the high priest, where the scribes and the elders were gathered together.  </span><span class="V58_NoBody"><span class="verse" id="V58">
58&#160;</span>
But Peter followed him from a distance, to the court of the high priest, and entered in and sat with the officers, to see the end. </span></div>
<div class='p'><span class='V58_NoBody'>
 </span><span class="V59_NoBody"><span class="verse" id="V59">
59&#160;</span>
Now the chief priests, the elders, and the whole council sought false testimony against Jesus, that they might put him to death;  </span><span class="V60_NoBody"><span class="verse" id="V60">
60&#160;</span>
and they found none. Even though many false witnesses came forward, they found none. But at last two false witnesses came forward,  </span><span class="V61_NoBody"><span class="verse" id="V61">
61&#160;</span>
and said, “This man said, ‘I am able to destroy the temple of God, and to build it in three days.’ ” </span></div>
<div class='p'><span class='V61_NoBody'>
 </span><span class="V62_NoBody"><span class="verse" id="V62">
62&#160;</span>
The high priest stood up, and said to him, “Have you no answer? What is this that these testify against you?”  </span><span class="V63_NoBody"><span class="verse" id="V63">
63&#160;</span>
But Jesus held his peace. The high priest answered him, “I adjure you by the living God, that you tell us whether you are the Christ, the Son of God.” </span></div>
<div class='p'><span class='V63_NoBody'>
 </span><span class="V64_NoBody"><span class="verse" id="V64">
64&#160;</span>
Jesus said to him, <span class='wj'>
“You have said it. Nevertheless, I tell you, after this you will see the Son of Man sitting at the right hand of Power, and coming on the clouds of the sky.”</span>
 </span></div>
<div class='p'><span class='V64_NoBody'>
 </span><span class="V65_NoBody"><span class="verse" id="V65">
65&#160;</span>
Then the high priest tore his clothing, saying, “He has spoken blasphemy! Why do we need any more witnesses? Behold, now you have heard his blasphemy.  </span><span class="V66_NoBody"><span class="verse" id="V66">
66&#160;</span>
What do you think?” </span></div>
<div class='p'><span class='V66_NoBody'>
They answered, “He is worthy of death!”  </span><span class="V67_NoBody"><span class="verse" id="V67">
67&#160;</span>
Then they spat in his face and beat him with their fists, and some slapped him,  </span><span class="V68_NoBody"><span class="verse" id="V68">
68&#160;</span>
saying, “Prophesy to us, you Christ! Who hit you?” </span></div>
<div class='p'><span class='V68_NoBody'>
 </span><span class="V69_NoBody"><span class="verse" id="V69">
69&#160;</span>
Now Peter was sitting outside in the court, and a maid came to him, saying, “You were also with Jesus, the Galilean!” </span></div>
<div class='p'><span class='V69_NoBody'>
 </span><span class="V70_NoBody"><span class="verse" id="V70">
70&#160;</span>
But he denied it before them all, saying, “I don’t know what you are talking about.” </span></div>
<div class='p'><span class='V70_NoBody'>
 </span><span class="V71_NoBody"><span class="verse" id="V71">
71&#160;</span>
When he had gone out onto the porch, someone else saw him, and said to those who were there, “This man also was with Jesus of Nazareth.” </span></div>
<div class='p'><span class='V71_NoBody'>
 </span><span class="V72_NoBody"><span class="verse" id="V72">
72&#160;</span>
Again he denied it with an oath, “I don’t know the man.” </span></div>
<div class='p'><span class='V72_NoBody'>
 </span><span class="V73_NoBody"><span class="verse" id="V73">
73&#160;</span>
After a little while those who stood by came and said to Peter, “Surely you are also one of them, for your speech makes you known.” </span></div>
<div class='p'><span class='V73_NoBody'>
 </span><span class="V74_NoBody"><span class="verse" id="V74">
74&#160;</span>
Then he began to curse and to swear, “I don’t know the man!” </span></div>
<div class='p'><span class='V74_NoBody'>
Immediately the rooster crowed.  </span><span class="V75_NoBody"><span class="verse" id="V75">
75&#160;</span>
Peter remembered the word which Jesus had said to him, <span class='wj'>
“Before the rooster crows, you will deny me three times.”</span>
 Then he went out and wept bitterly. </span></div>
<div class="footnote">

</div>
<hr /><div class="copyright">
<center> <a href="http://ebible.org/web/copyright.htm"">This website uses The World English Bible (Public Domain).</a> </center>
</div>
</div></body></html>
{% endblock %}