{% extends 'knowledge_base/base-web.html' %}{% block content %}﻿<!DOCTYPE html>
<div class="chapter">
<div class="verse-label" >Mark 3</div>
 
<div class='p'><span class='_NoBody'>
 <span class="V1_NoBody"><span class="verse" id="V1">
1&#160;</span>
He entered again into the synagogue, and there was a man there who had his hand withered.  </span><span class="V2_NoBody"><span class="verse" id="V2">
2&#160;</span>
They watched him, whether he would heal him on the Sabbath day, that they might accuse him.  </span><span class="V3_NoBody"><span class="verse" id="V3">
3&#160;</span>
He said to the man who had his hand withered, <span class='wj'>
“Stand up.”</span>
  </span><span class="V4_NoBody"><span class="verse" id="V4">
4&#160;</span>
He said to them, <span class='wj'>
“Is it lawful on the Sabbath day to do good, or to do harm? To save a life, or to kill?”</span>
 But they were silent.  </span><span class="V5_NoBody"><span class="verse" id="V5">
5&#160;</span>
When he had looked around at them with anger, being grieved at the hardening of their hearts, he said to the man, <span class='wj'>
“Stretch out your hand.” </span>
 He stretched it out, and his hand was restored as healthy as the other.  </span><span class="V6_NoBody"><span class="verse" id="V6">
6&#160;</span>
The Pharisees went out, and immediately conspired with the Herodians against him, how they might destroy him. </span></div>
<div class='p'><span class='V6_NoBody'>
 </span><span class="V7_NoBody"><span class="verse" id="V7">
7&#160;</span>
Jesus withdrew to the sea with his disciples, and a great multitude followed him from Galilee, from Judea,  </span><span class="V8_NoBody"><span class="verse" id="V8">
8&#160;</span>
from Jerusalem, from Idumaea, beyond the Jordan, and those from around Tyre and Sidon. A great multitude, hearing what great things he did, came to him.  </span><span class="V9_NoBody"><span class="verse" id="V9">
9&#160;</span>
He spoke to his disciples that a little boat should stay near him because of the crowd, so that they wouldn’t press on him.  </span><span class="V10_NoBody"><span class="verse" id="V10">
10&#160;</span>
For he had healed many, so that as many as had diseases pressed on him that they might touch him.  </span><span class="V11_NoBody"><span class="verse" id="V11">
11&#160;</span>
The unclean spirits, whenever they saw him, fell down before him, and cried, “You are the Son of God!”  </span><span class="V12_NoBody"><span class="verse" id="V12">
12&#160;</span>
He sternly warned them that they should not make him known. </span></div>
<div class='p'><span class='V12_NoBody'>
 </span><span class="V13_NoBody"><span class="verse" id="V13">
13&#160;</span>
He went up into the mountain, and called to himself those whom he wanted, and they went to him.  </span><span class="V14_NoBody"><span class="verse" id="V14">
14&#160;</span>
He appointed twelve, that they might be with him, and that he might send them out to preach,  </span><span class="V15_NoBody"><span class="verse" id="V15">
15&#160;</span>
and to have authority to heal sicknesses and to cast out demons:  </span><span class="V16_NoBody"><span class="verse" id="V16">
16&#160;</span>
Simon (to whom he gave the name Peter);  </span><span class="V17_NoBody"><span class="verse" id="V17">
17&#160;</span>
James the son of Zebedee; and John, the brother of James, (whom he called Boanerges, which means, Sons of Thunder);  </span><span class="V18_NoBody"><span class="verse" id="V18">
18&#160;</span>
Andrew; Philip; Bartholomew; Matthew; Thomas; James, the son of Alphaeus; Thaddaeus; Simon the Zealot;  </span><span class="V19_NoBody"><span class="verse" id="V19">
19&#160;</span>
and Judas Iscariot, who also betrayed him. </span></div>
<div class='p'><span class='V19_NoBody'>
Then he came into a house.  </span><span class="V20_NoBody"><span class="verse" id="V20">
20&#160;</span>
The multitude came together again, so that they could not so much as eat bread.  </span><span class="V21_NoBody"><span class="verse" id="V21">
21&#160;</span>
When his friends heard it, they went out to seize him; for they said, “He is insane.”  </span><span class="V22_NoBody"><span class="verse" id="V22">
22&#160;</span>
The scribes who came down from Jerusalem said, “He has Beelzebul,” and, “By the prince of the demons he casts out the demons.” </span></div>
<div class='p'><span class='V22_NoBody'>
 </span><span class="V23_NoBody"><span class="verse" id="V23">
23&#160;</span>
He summoned them, and said to them in parables, <span class='wj'>
“How can Satan cast out Satan? </span>
  </span><span class="V24_NoBody"><span class="verse" id="V24">
24&#160;</span>
 <span class='wj'>
If a kingdom is divided against itself, that kingdom cannot stand. </span>
  </span><span class="V25_NoBody"><span class="verse" id="V25">
25&#160;</span>
 <span class='wj'>
If a house is divided against itself, that house cannot stand. </span>
  </span><span class="V26_NoBody"><span class="verse" id="V26">
26&#160;</span>
 <span class='wj'>
If Satan has risen up against himself, and is divided, he can’t stand, but has an end. </span>
  </span><span class="V27_NoBody"><span class="verse" id="V27">
27&#160;</span>
 <span class='wj'>
But no one can enter into the house of the strong man to plunder unless he first binds the strong man; then he will plunder his house. </span>
  </span><span class="V28_NoBody"><span class="verse" id="V28">
28&#160;</span>
 <span class='wj'>
Most certainly I tell you, all sins of the descendants of man will be forgiven, including their blasphemies with which they may blaspheme; </span>
  </span><span class="V29_NoBody"><span class="verse" id="V29">
29&#160;</span>
 <span class='wj'>
but whoever may blaspheme against the Holy Spirit never has forgiveness, but is subject to eternal condemnation.”</span>
  </span><span class="V30_NoBody"><span class="verse" id="V30">
30&#160;</span>
—because they said, “He has an unclean spirit.” </span></div>
<div class='p'><span class='V30_NoBody'>
 </span><span class="V31_NoBody"><span class="verse" id="V31">
31&#160;</span>
His mother and his brothers came, and standing outside, they sent to him, calling him.  </span><span class="V32_NoBody"><span class="verse" id="V32">
32&#160;</span>
A multitude was sitting around him, and they told him, “Behold, your mother, your brothers, and your sisters are outside looking for you.” </span></div>
<div class='p'><span class='V32_NoBody'>
 </span><span class="V33_NoBody"><span class="verse" id="V33">
33&#160;</span>
He answered them, <span class='wj'>
“Who are my mother and my brothers?”</span>
  </span><span class="V34_NoBody"><span class="verse" id="V34">
34&#160;</span>
Looking around at those who sat around him, he said, <span class='wj'>
“Behold, my mother and my brothers! </span>
  </span><span class="V35_NoBody"><span class="verse" id="V35">
35&#160;</span>
 <span class='wj'>
For whoever does the will of God is my brother, my sister, and mother.”</span>
 </span></div>
<div class="footnote">

</div>
<hr /><div class="copyright">
<center> <a href="http://ebible.org/web/copyright.htm"">This website uses The World English Bible (Public Domain).</a> </center>
</div>
</div></body></html>
{% endblock %}