{% extends 'knowledge_base/base-web.html' %}{% block content %}﻿<!DOCTYPE html>
<div class="chapter">
<div class="verse-label" >Mark 2</div>
 
<div class='p'><span class='_NoBody'>
 <span class="V1_NoBody"><span class="verse" id="V1">
1&#160;</span>
When he entered again into Capernaum after some days, it was heard that he was in the house.  </span><span class="V2_NoBody"><span class="verse" id="V2">
2&#160;</span>
Immediately many were gathered together, so that there was no more room, not even around the door; and he spoke the word to them.  </span><span class="V3_NoBody"><span class="verse" id="V3">
3&#160;</span>
Four people came, carrying a paralytic to him.  </span><span class="V4_NoBody"><span class="verse" id="V4">
4&#160;</span>
When they could not come near to him for the crowd, they removed the roof where he was. When they had broken it up, they let down the mat that the paralytic was lying on.  </span><span class="V5_NoBody"><span class="verse" id="V5">
5&#160;</span>
Jesus, seeing their faith, said to the paralytic, <span class='wj'>
“Son, your sins are forgiven you.”</span>
 </span></div>
<div class='p'><span class='V5_NoBody'>
 </span><span class="V6_NoBody"><span class="verse" id="V6">
6&#160;</span>
But there were some of the scribes sitting there, and reasoning in their hearts,  </span><span class="V7_NoBody"><span class="verse" id="V7">
7&#160;</span>
“Why does this man speak blasphemies like that? Who can forgive sins but God alone?” </span></div>
<div class='p'><span class='V7_NoBody'>
 </span><span class="V8_NoBody"><span class="verse" id="V8">
8&#160;</span>
Immediately Jesus, perceiving in his spirit that they so reasoned within themselves, said to them, <span class='wj'>
“Why do you reason these things in your hearts? </span>
  </span><span class="V9_NoBody"><span class="verse" id="V9">
9&#160;</span>
 <span class='wj'>
Which is easier, to tell the paralytic, ‘Your sins are forgiven;’ or to say, ‘Arise, and take up your bed, and walk?’ </span>
  </span><span class="V10_NoBody"><span class="verse" id="V10">
10&#160;</span>
 <span class='wj'>
But that you may know that the Son of Man has authority on earth to forgive sins”</span>
—he said to the paralytic—  </span><span class="V11_NoBody"><span class="verse" id="V11">
11&#160;</span>
 <span class='wj'>
“I tell you, arise, take up your mat, and go to your house.” </span>
 </span></div>
<div class='p'><span class='V11_NoBody'>
 </span><span class="V12_NoBody"><span class="verse" id="V12">
12&#160;</span>
He arose, and immediately took up the mat, and went out in front of them all; so that they were all amazed, and glorified God, saying, “We never saw anything like this!” </span></div>
<div class='p'><span class='V12_NoBody'>
 </span><span class="V13_NoBody"><span class="verse" id="V13">
13&#160;</span>
He went out again by the seaside. All the multitude came to him, and he taught them.  </span><span class="V14_NoBody"><span class="verse" id="V14">
14&#160;</span>
As he passed by, he saw Levi, the son of Alphaeus, sitting at the tax office, and he said to him, <span class='wj'>
“Follow me.”</span>
 And he arose and followed him. </span></div>
<div class='p'><span class='V14_NoBody'>
 </span><span class="V15_NoBody"><span class="verse" id="V15">
15&#160;</span>
He was reclining at the table in his house, and many tax collectors and sinners sat down with Jesus and his disciples, for there were many, and they followed him.  </span><span class="V16_NoBody"><span class="verse" id="V16">
16&#160;</span>
The scribes and the Pharisees, when they saw that he was eating with the sinners and tax collectors, said to his disciples, “Why is it that he eats and drinks with tax collectors and sinners?” </span></div>
<div class='p'><span class='V16_NoBody'>
 </span><span class="V17_NoBody"><span class="verse" id="V17">
17&#160;</span>
When Jesus heard it, he said to them, <span class='wj'>
“Those who are healthy have no need for a physician, but those who are sick. I came not to call the righteous, but sinners to repentance.”</span>
 </span></div>
<div class='p'><span class='V17_NoBody'>
 </span><span class="V18_NoBody"><span class="verse" id="V18">
18&#160;</span>
John’s disciples and the Pharisees were fasting, and they came and asked him, “Why do John’s disciples and the disciples of the Pharisees fast, but your disciples don’t fast?” </span></div>
<div class='p'><span class='V18_NoBody'>
 </span><span class="V19_NoBody"><span class="verse" id="V19">
19&#160;</span>
Jesus said to them, <span class='wj'>
“Can the groomsmen fast while the bridegroom is with them? As long as they have the bridegroom with them, they can’t fast. </span>
  </span><span class="V20_NoBody"><span class="verse" id="V20">
20&#160;</span>
 <span class='wj'>
But the days will come when the bridegroom will be taken away from them, and then they will fast in that day. </span>
  </span><span class="V21_NoBody"><span class="verse" id="V21">
21&#160;</span>
 <span class='wj'>
No one sews a piece of unshrunk cloth on an old garment, or else the patch shrinks and the new tears away from the old, and a worse hole is made. </span>
  </span><span class="V22_NoBody"><span class="verse" id="V22">
22&#160;</span>
 <span class='wj'>
No one puts new wine into old wineskins, or else the new wine will burst the skins, and the wine pours out, and the skins will be destroyed; but they put new wine into fresh wineskins.”</span>
 </span></div>
<div class='p'><span class='V22_NoBody'>
 </span><span class="V23_NoBody"><span class="verse" id="V23">
23&#160;</span>
He was going on the Sabbath day through the grain fields, and his disciples began, as they went, to pluck the ears of grain.  </span><span class="V24_NoBody"><span class="verse" id="V24">
24&#160;</span>
The Pharisees said to him, “Behold, why do they do that which is not lawful on the Sabbath day?” </span></div>
<div class='p'><span class='V24_NoBody'>
 </span><span class="V25_NoBody"><span class="verse" id="V25">
25&#160;</span>
He said to them, <span class='wj'>
“Did you never read what David did, when he had need, and was hungry—he, and those who were with him? </span>
  </span><span class="V26_NoBody"><span class="verse" id="V26">
26&#160;</span>
 <span class='wj'>
How he entered into God’s house at the time of Abiathar the high priest, and ate the show bread, which is not lawful to eat except for the priests, and gave also to those who were with him?”</span>
  </span><span class="V27_NoBody"><span class="verse" id="V27">
27&#160;</span>
He said to them, <span class='wj'>
“The Sabbath was made for man, not man for the Sabbath. </span>
  </span><span class="V28_NoBody"><span class="verse" id="V28">
28&#160;</span>
 <span class='wj'>
Therefore the Son of Man is lord even of the Sabbath.”</span>
 </span></div>
<div class="footnote">
</div>
<hr /><div class="copyright">
<center> <a href="http://ebible.org/web/copyright.htm"">This website uses The World English Bible (Public Domain).</a> </center>
</div>
</div></body></html>
{% endblock %}