{% extends 'knowledge_base/base-web.html' %}{% block content %}﻿<!DOCTYPE html>
<div class="chapter">
<div class="verse-label" >Mark 1</div>
<div class='mt2'>The Good News According to </div><div class='mt'>Mark  
</span></div>
<div class='p'><span class='_NoBody'>
 <span class="V1_NoBody"><span class="verse" id="V1">
1&#160;</span>
The beginning of the Good News of Jesus Christ, the Son of God.  </span><span class="V2_NoBody"><span class="verse" id="V2">
2&#160;</span>
As it is written in the prophets, </span></div>
<div class='q'><span class='V2_NoBody'>
“Behold, I send my messenger before your face, </span></div>
<div class='q2'><span class='V2_NoBody'>
who will prepare your way before you: </span></div>
<div class='q'><span class='V2_NoBody'>
 </span><span class="V3_NoBody"><span class="verse" id="V3">
3&#160;</span>
the voice of one crying in the wilderness, </span></div>
<div class='q2'><span class='V3_NoBody'>
‘Make ready the way of the Lord! </span></div>
<div class='q2'><span class='V3_NoBody'>
Make his paths straight!’ ” </span></div>
<div class='p'><span class='V3_NoBody'>
 </span><span class="V4_NoBody"><span class="verse" id="V4">
4&#160;</span>
John came baptizing in the wilderness and preaching the baptism of repentance for forgiveness of sins.  </span><span class="V5_NoBody"><span class="verse" id="V5">
5&#160;</span>
All the country of Judea and all those of Jerusalem went out to him. They were baptized by him in the Jordan river, confessing their sins.  </span><span class="V6_NoBody"><span class="verse" id="V6">
6&#160;</span>
John was clothed with camel’s hair and a leather belt around his waist. He ate locusts and wild honey.  </span><span class="V7_NoBody"><span class="verse" id="V7">
7&#160;</span>
He preached, saying, “After me comes he who is mightier than I, the thong of whose sandals I am not worthy to stoop down and loosen.  </span><span class="V8_NoBody"><span class="verse" id="V8">
8&#160;</span>
I baptized you in water, but he will baptize you in the Holy Spirit.” </span></div>
<div class='p'><span class='V8_NoBody'>
 </span><span class="V9_NoBody"><span class="verse" id="V9">
9&#160;</span>
In those days, Jesus came from Nazareth of Galilee, and was baptized by John in the Jordan.  </span><span class="V10_NoBody"><span class="verse" id="V10">
10&#160;</span>
Immediately coming up from the water, he saw the heavens parting, and the Spirit descending on him like a dove.  </span><span class="V11_NoBody"><span class="verse" id="V11">
11&#160;</span>
A voice came out of the sky, “You are my beloved Son, in whom I am well pleased.” </span></div>
<div class='p'><span class='V11_NoBody'>
 </span><span class="V12_NoBody"><span class="verse" id="V12">
12&#160;</span>
Immediately the Spirit drove him out into the wilderness.  </span><span class="V13_NoBody"><span class="verse" id="V13">
13&#160;</span>
He was there in the wilderness forty days tempted by Satan. He was with the wild animals; and the angels were serving him. </span></div>
<div class='p'><span class='V13_NoBody'>
 </span><span class="V14_NoBody"><span class="verse" id="V14">
14&#160;</span>
Now after John was taken into custody, Jesus came into Galilee, preaching the Good News of God’s Kingdom,  </span><span class="V15_NoBody"><span class="verse" id="V15">
15&#160;</span>
and saying, <span class='wj'>
“The time is fulfilled, and God’s Kingdom is at hand! Repent, and believe in the Good News.”</span>
 </span></div>
<div class='p'><span class='V15_NoBody'>
 </span><span class="V16_NoBody"><span class="verse" id="V16">
16&#160;</span>
Passing along by the sea of Galilee, he saw Simon and Andrew, the brother of Simon, casting a net into the sea, for they were fishermen.  </span><span class="V17_NoBody"><span class="verse" id="V17">
17&#160;</span>
Jesus said to them, <span class='wj'>
“Come after me, and I will make you into fishers for men.”</span>
 </span></div>
<div class='p'><span class='V17_NoBody'>
 </span><span class="V18_NoBody"><span class="verse" id="V18">
18&#160;</span>
Immediately they left their nets, and followed him.  </span><span class="V19_NoBody"><span class="verse" id="V19">
19&#160;</span>
Going on a little further from there, he saw James the son of Zebedee, and John, his brother, who were also in the boat mending the nets.  </span><span class="V20_NoBody"><span class="verse" id="V20">
20&#160;</span>
Immediately he called them, and they left their father, Zebedee, in the boat with the hired servants, and went after him.  </span><span class="V21_NoBody"><span class="verse" id="V21">
21&#160;</span>
They went into Capernaum, and immediately on the Sabbath day he entered into the synagogue and taught.  </span><span class="V22_NoBody"><span class="verse" id="V22">
22&#160;</span>
They were astonished at his teaching, for he taught them as having authority, and not as the scribes.  </span><span class="V23_NoBody"><span class="verse" id="V23">
23&#160;</span>
Immediately there was in their synagogue a man with an unclean spirit, and he cried out,  </span><span class="V24_NoBody"><span class="verse" id="V24">
24&#160;</span>
saying, “Ha! What do we have to do with you, Jesus, you Nazarene? Have you come to destroy us? I know you who you are: the Holy One of God!” </span></div>
<div class='p'><span class='V24_NoBody'>
 </span><span class="V25_NoBody"><span class="verse" id="V25">
25&#160;</span>
Jesus rebuked him, saying, <span class='wj'>
“Be quiet, and come out of him!” </span>
 </span></div>
<div class='p'><span class='V25_NoBody'>
 </span><span class="V26_NoBody"><span class="verse" id="V26">
26&#160;</span>
The unclean spirit, convulsing him and crying with a loud voice, came out of him.  </span><span class="V27_NoBody"><span class="verse" id="V27">
27&#160;</span>
They were all amazed, so that they questioned among themselves, saying, “What is this? A new teaching? For with authority he commands even the unclean spirits, and they obey him!”  </span><span class="V28_NoBody"><span class="verse" id="V28">
28&#160;</span>
The report of him went out immediately everywhere into all the region of Galilee and its surrounding area. </span></div>
<div class='p'><span class='V28_NoBody'>
 </span><span class="V29_NoBody"><span class="verse" id="V29">
29&#160;</span>
Immediately, when they had come out of the synagogue, they came into the house of Simon and Andrew, with James and John.  </span><span class="V30_NoBody"><span class="verse" id="V30">
30&#160;</span>
Now Simon’s wife’s mother lay sick with a fever, and immediately they told him about her.  </span><span class="V31_NoBody"><span class="verse" id="V31">
31&#160;</span>
He came and took her by the hand, and raised her up. The fever left her immediately, and she served them.  </span><span class="V32_NoBody"><span class="verse" id="V32">
32&#160;</span>
At evening, when the sun had set, they brought to him all who were sick, and those who were possessed by demons.  </span><span class="V33_NoBody"><span class="verse" id="V33">
33&#160;</span>
All the city was gathered together at the door.  </span><span class="V34_NoBody"><span class="verse" id="V34">
34&#160;</span>
He healed many who were sick with various diseases, and cast out many demons. He didn’t allow the demons to speak, because they knew him. </span></div>
<div class='p'><span class='V34_NoBody'>
 </span><span class="V35_NoBody"><span class="verse" id="V35">
35&#160;</span>
Early in the morning, while it was still dark, he rose up and went out, and departed into a deserted place, and prayed there.  </span><span class="V36_NoBody"><span class="verse" id="V36">
36&#160;</span>
Simon and those who were with him searched for him.  </span><span class="V37_NoBody"><span class="verse" id="V37">
37&#160;</span>
They found him and told him, “Everyone is looking for you.” </span></div>
<div class='p'><span class='V37_NoBody'>
 </span><span class="V38_NoBody"><span class="verse" id="V38">
38&#160;</span>
He said to them, <span class='wj'>
“Let’s go elsewhere into the next towns, that I may preach there also, because I came out for this reason.”</span>
  </span><span class="V39_NoBody"><span class="verse" id="V39">
39&#160;</span>
He went into their synagogues throughout all Galilee, preaching and casting out demons. </span></div>
<div class='p'><span class='V39_NoBody'>
 </span><span class="V40_NoBody"><span class="verse" id="V40">
40&#160;</span>
A leper came to him, begging him, kneeling down to him, and saying to him, “If you want to, you can make me clean.” </span></div>
<div class='p'><span class='V40_NoBody'>
 </span><span class="V41_NoBody"><span class="verse" id="V41">
41&#160;</span>
Being moved with compassion, he stretched out his hand, and touched him, and said to him, <span class='wj'>
“I want to. Be made clean.”</span>
  </span><span class="V42_NoBody"><span class="verse" id="V42">
42&#160;</span>
When he had said this, immediately the leprosy departed from him, and he was made clean.  </span><span class="V43_NoBody"><span class="verse" id="V43">
43&#160;</span>
He strictly warned him, and immediately sent him out,  </span><span class="V44_NoBody"><span class="verse" id="V44">
44&#160;</span>
and said to him, <span class='wj'>
“See you say nothing to anybody, but go show yourself to the priest, and offer for your cleansing the things which Moses commanded, for a testimony to them.”</span>
 </span></div>
<div class='p'><span class='V44_NoBody'>
 </span><span class="V45_NoBody"><span class="verse" id="V45">
45&#160;</span>
But he went out, and began to proclaim it much, and to spread about the matter, so that Jesus could no more openly enter into a city, but was outside in desert places. People came to him from everywhere. </span></div>
<div class="footnote">

</div>
<hr /><div class="copyright">
<center> <a href="http://ebible.org/web/copyright.htm"">This website uses The World English Bible (Public Domain).</a> </center>
</div>
</div></body></html>
{% endblock %}