{% extends 'knowledge_base/base-web.html' %}{% block content %}﻿<!DOCTYPE html>
<div class="chapter">
<div class="verse-label" >Mark 10</div>
 
<div class='p'><span class='_NoBody'>
 <span class="V1_NoBody"><span class="verse" id="V1">
1&#160;</span>
He arose from there and came into the borders of Judea and beyond the Jordan. Multitudes came together to him again. As he usually did, he was again teaching them.  </span><span class="V2_NoBody"><span class="verse" id="V2">
2&#160;</span>
Pharisees came to him testing him, and asked him, “Is it lawful for a man to divorce his wife?” </span></div>
<div class='p'><span class='V2_NoBody'>
 </span><span class="V3_NoBody"><span class="verse" id="V3">
3&#160;</span>
He answered, <span class='wj'>
“What did Moses command you?”</span>
 </span></div>
<div class='p'><span class='V3_NoBody'>
 </span><span class="V4_NoBody"><span class="verse" id="V4">
4&#160;</span>
They said, “Moses allowed a certificate of divorce to be written, and to divorce her.” </span></div>
<div class='p'><span class='V4_NoBody'>
 </span><span class="V5_NoBody"><span class="verse" id="V5">
5&#160;</span>
But Jesus said to them, <span class='wj'>
“For your hardness of heart, he wrote you this commandment. </span>
  </span><span class="V6_NoBody"><span class="verse" id="V6">
6&#160;</span>
 <span class='wj'>
But from the beginning of the creation, God made them male and female.</span>
  </span><span class="V7_NoBody"><span class="verse" id="V7">
7&#160;</span>
 <span class='wj'>
For this cause a man will leave his father and mother, and will join to his wife, </span>
  </span><span class="V8_NoBody"><span class="verse" id="V8">
8&#160;</span>
 <span class='wj'>
and the two will become one flesh,</span>
 <span class='wj'>
so that they are no longer two, but one flesh. </span>
  </span><span class="V9_NoBody"><span class="verse" id="V9">
9&#160;</span>
 <span class='wj'>
What therefore God has joined together, let no man separate.” </span>
 </span></div>
<div class='p'><span class='V9_NoBody'>
 </span><span class="V10_NoBody"><span class="verse" id="V10">
10&#160;</span>
In the house, his disciples asked him again about the same matter.  </span><span class="V11_NoBody"><span class="verse" id="V11">
11&#160;</span>
He said to them, <span class='wj'>
“Whoever divorces his wife, and marries another, commits adultery against her. </span>
  </span><span class="V12_NoBody"><span class="verse" id="V12">
12&#160;</span>
 <span class='wj'>
If a woman herself divorces her husband, and marries another, she commits adultery.”</span>
 </span></div>
<div class='p'><span class='V12_NoBody'>
 </span><span class="V13_NoBody"><span class="verse" id="V13">
13&#160;</span>
They were bringing to him little children, that he should touch them, but the disciples rebuked those who were bringing them.  </span><span class="V14_NoBody"><span class="verse" id="V14">
14&#160;</span>
But when Jesus saw it, he was moved with indignation, and said to them, <span class='wj'>
“Allow the little children to come to me! Don’t forbid them, for God’s Kingdom belongs to such as these. </span>
  </span><span class="V15_NoBody"><span class="verse" id="V15">
15&#160;</span>
 <span class='wj'>
Most certainly I tell you, whoever will not receive God’s Kingdom like a little child, he will in no way enter into it.”</span>
  </span><span class="V16_NoBody"><span class="verse" id="V16">
16&#160;</span>
He took them in his arms, and blessed them, laying his hands on them. </span></div>
<div class='p'><span class='V16_NoBody'>
 </span><span class="V17_NoBody"><span class="verse" id="V17">
17&#160;</span>
As he was going out into the way, one ran to him, knelt before him, and asked him, “Good Teacher, what shall I do that I may inherit eternal life?” </span></div>
<div class='p'><span class='V17_NoBody'>
 </span><span class="V18_NoBody"><span class="verse" id="V18">
18&#160;</span>
Jesus said to him, <span class='wj'>
“Why do you call me good? No one is good except one—God. </span>
  </span><span class="V19_NoBody"><span class="verse" id="V19">
19&#160;</span>
 <span class='wj'>
You know the commandments: ‘Do not murder,’ ‘Do not commit adultery,’ ‘Do not steal,’ ‘Do not give false testimony,’ ‘Do not defraud,’ ‘Honor your father and mother.’ ”</span>
 </span></div>
<div class='p'><span class='V19_NoBody'>
 </span><span class="V20_NoBody"><span class="verse" id="V20">
20&#160;</span>
He said to him, “Teacher, I have observed all these things from my youth.” </span></div>
<div class='p'><span class='V20_NoBody'>
 </span><span class="V21_NoBody"><span class="verse" id="V21">
21&#160;</span>
Jesus looking at him loved him, and said to him, <span class='wj'>
“One thing you lack. Go, sell whatever you have, and give to the poor, and you will have treasure in heaven; and come, follow me, taking up the cross.”</span>
 </span></div>
<div class='p'><span class='V21_NoBody'>
 </span><span class="V22_NoBody"><span class="verse" id="V22">
22&#160;</span>
But his face fell at that saying, and he went away sorrowful, for he was one who had great possessions.  </span><span class="V23_NoBody"><span class="verse" id="V23">
23&#160;</span>
Jesus looked around, and said to his disciples, <span class='wj'>
“How difficult it is for those who have riches to enter into God’s Kingdom!”</span>
 </span></div>
<div class='p'><span class='V23_NoBody'>
 </span><span class="V24_NoBody"><span class="verse" id="V24">
24&#160;</span>
The disciples were amazed at his words. But Jesus answered again, <span class='wj'>
“Children, how hard it is for those who trust in riches to enter into God’s Kingdom! </span>
  </span><span class="V25_NoBody"><span class="verse" id="V25">
25&#160;</span>
 <span class='wj'>
It is easier for a camel to go through a needle’s eye than for a rich man to enter into God’s Kingdom.”</span>
 </span></div>
<div class='p'><span class='V25_NoBody'>
 </span><span class="V26_NoBody"><span class="verse" id="V26">
26&#160;</span>
They were exceedingly astonished, saying to him, “Then who can be saved?” </span></div>
<div class='p'><span class='V26_NoBody'>
 </span><span class="V27_NoBody"><span class="verse" id="V27">
27&#160;</span>
Jesus, looking at them, said, <span class='wj'>
“With men it is impossible, but not with God, for all things are possible with God.”</span>
 </span></div>
<div class='p'><span class='V27_NoBody'>
 </span><span class="V28_NoBody"><span class="verse" id="V28">
28&#160;</span>
Peter began to tell him, “Behold, we have left all, and have followed you.” </span></div>
<div class='p'><span class='V28_NoBody'>
 </span><span class="V29_NoBody"><span class="verse" id="V29">
29&#160;</span>
Jesus said, <span class='wj'>
“Most certainly I tell you, there is no one who has left house, or brothers, or sisters, or father, or mother, or wife, or children, or land, for my sake, and for the sake of the Good News, </span>
  </span><span class="V30_NoBody"><span class="verse" id="V30">
30&#160;</span>
 <span class='wj'>
but he will receive one hundred times more now in this time: houses, brothers, sisters, mothers, children, and land, with persecutions; and in the age to come eternal life. </span>
  </span><span class="V31_NoBody"><span class="verse" id="V31">
31&#160;</span>
 <span class='wj'>
But many who are first will be last; and the last first.”</span>
 </span></div>
<div class='p'><span class='V31_NoBody'>
 </span><span class="V32_NoBody"><span class="verse" id="V32">
32&#160;</span>
They were on the way, going up to Jerusalem; and Jesus was going in front of them, and they were amazed; and those who followed were afraid. He again took the twelve, and began to tell them the things that were going to happen to him.  </span><span class="V33_NoBody"><span class="verse" id="V33">
33&#160;</span>
 <span class='wj'>
“Behold, we are going up to Jerusalem. The Son of Man will be delivered to the chief priests and the scribes. They will condemn him to death, and will deliver him to the Gentiles. </span>
  </span><span class="V34_NoBody"><span class="verse" id="V34">
34&#160;</span>
 <span class='wj'>
They will mock him, spit on him, scourge him, and kill him. On the third day he will rise again.”</span>
 </span></div>
<div class='p'><span class='V34_NoBody'>
 </span><span class="V35_NoBody"><span class="verse" id="V35">
35&#160;</span>
James and John, the sons of Zebedee, came near to him, saying, “Teacher, we want you to do for us whatever we will ask.” </span></div>
<div class='p'><span class='V35_NoBody'>
 </span><span class="V36_NoBody"><span class="verse" id="V36">
36&#160;</span>
He said to them, <span class='wj'>
“What do you want me to do for you?”</span>
 </span></div>
<div class='p'><span class='V36_NoBody'>
 </span><span class="V37_NoBody"><span class="verse" id="V37">
37&#160;</span>
They said to him, “Grant to us that we may sit, one at your right hand, and one at your left hand, in your glory.” </span></div>
<div class='p'><span class='V37_NoBody'>
 </span><span class="V38_NoBody"><span class="verse" id="V38">
38&#160;</span>
But Jesus said to them, <span class='wj'>
“You don’t know what you are asking. Are you able to drink the cup that I drink, and to be baptized with the baptism that I am baptized with?”</span>
 </span></div>
<div class='p'><span class='V38_NoBody'>
 </span><span class="V39_NoBody"><span class="verse" id="V39">
39&#160;</span>
They said to him, “We are able.” </span></div>
<div class='p'><span class='V39_NoBody'>
Jesus said to them, <span class='wj'>
“You shall indeed drink the cup that I drink, and you shall be baptized with the baptism that I am baptized with; </span>
  </span><span class="V40_NoBody"><span class="verse" id="V40">
40&#160;</span>
 <span class='wj'>
but to sit at my right hand and at my left hand is not mine to give, but for whom it has been prepared.”</span>
 </span></div>
<div class='p'><span class='V40_NoBody'>
 </span><span class="V41_NoBody"><span class="verse" id="V41">
41&#160;</span>
When the ten heard it, they began to be indignant toward James and John. </span></div>
<div class='p'><span class='V41_NoBody'>
 </span><span class="V42_NoBody"><span class="verse" id="V42">
42&#160;</span>
Jesus summoned them, and said to them, <span class='wj'>
“You know that they who are recognized as rulers over the nations lord it over them, and their great ones exercise authority over them. </span>
  </span><span class="V43_NoBody"><span class="verse" id="V43">
43&#160;</span>
 <span class='wj'>
But it shall not be so among you, but whoever wants to become great among you shall be your servant. </span>
  </span><span class="V44_NoBody"><span class="verse" id="V44">
44&#160;</span>
 <span class='wj'>
Whoever of you wants to become first among you, shall be bondservant of all. </span>
  </span><span class="V45_NoBody"><span class="verse" id="V45">
45&#160;</span>
 <span class='wj'>
For the Son of Man also came not to be served, but to serve, and to give his life as a ransom for many.”</span>
 </span></div>
<div class='p'><span class='V45_NoBody'>
 </span><span class="V46_NoBody"><span class="verse" id="V46">
46&#160;</span>
They came to Jericho. As he went out from Jericho, with his disciples and a great multitude, the son of Timaeus, Bartimaeus, a blind beggar, was sitting by the road.  </span><span class="V47_NoBody"><span class="verse" id="V47">
47&#160;</span>
When he heard that it was Jesus the Nazarene, he began to cry out, and say, “Jesus, you son of David, have mercy on me!”  </span><span class="V48_NoBody"><span class="verse" id="V48">
48&#160;</span>
Many rebuked him, that he should be quiet, but he cried out much more, “You son of David, have mercy on me!” </span></div>
<div class='p'><span class='V48_NoBody'>
 </span><span class="V49_NoBody"><span class="verse" id="V49">
49&#160;</span>
Jesus stood still, and said, <span class='wj'>
“Call him.”</span>
 </span></div>
<div class='p'><span class='V49_NoBody'>
They called the blind man, saying to him, “Cheer up! Get up. He is calling you!” </span></div>
<div class='p'><span class='V49_NoBody'>
 </span><span class="V50_NoBody"><span class="verse" id="V50">
50&#160;</span>
He, casting away his cloak, sprang up, and came to Jesus. </span></div>
<div class='p'><span class='V50_NoBody'>
 </span><span class="V51_NoBody"><span class="verse" id="V51">
51&#160;</span>
Jesus asked him, <span class='wj'>
“What do you want me to do for you?”</span>
 </span></div>
<div class='p'><span class='V51_NoBody'>
The blind man said to him, “Rabboni, that I may see again.” </span></div>
<div class='p'><span class='V51_NoBody'>
 </span><span class="V52_NoBody"><span class="verse" id="V52">
52&#160;</span>
Jesus said to him, <span class='wj'>
“Go your way. Your faith has made you well.” </span>
 Immediately he received his sight, and followed Jesus on the way. </span></div>
<div class="footnote">

</div>
<hr /><div class="copyright">
<center> <a href="http://ebible.org/web/copyright.htm"">This website uses The World English Bible (Public Domain).</a> </center>
</div>
</div></body></html>
{% endblock %}