{% extends 'knowledge_base/base-web.html' %}{% block content %}﻿<!DOCTYPE html>
<div class="chapter">
<div class="verse-label" >Philippians 3</div>
 
<div class='p'><span class='_NoBody'>
 <span class="V1_NoBody"><span class="verse" id="V1">
1&#160;</span>
Finally, my brothers, rejoice in the Lord! To write the same things to you, to me indeed is not tiresome, but for you it is safe.  </span><span class="V2_NoBody"><span class="verse" id="V2">
2&#160;</span>
Beware of the dogs; beware of the evil workers; beware of the false circumcision.  </span><span class="V3_NoBody"><span class="verse" id="V3">
3&#160;</span>
For we are the circumcision, who worship God in the Spirit, and rejoice in Christ Jesus, and have no confidence in the flesh;  </span><span class="V4_NoBody"><span class="verse" id="V4">
4&#160;</span>
though I myself might have confidence even in the flesh. If any other man thinks that he has confidence in the flesh, I yet more:  </span><span class="V5_NoBody"><span class="verse" id="V5">
5&#160;</span>
circumcised the eighth day, of the stock of Israel, of the tribe of Benjamin, a Hebrew of Hebrews; concerning the law, a Pharisee;  </span><span class="V6_NoBody"><span class="verse" id="V6">
6&#160;</span>
concerning zeal, persecuting the assembly; concerning the righteousness which is in the law, found blameless. </span></div>
<div class='p'><span class='V6_NoBody'>
 </span><span class="V7_NoBody"><span class="verse" id="V7">
7&#160;</span>
However, I consider those things that were gain to me as a loss for Christ.  </span><span class="V8_NoBody"><span class="verse" id="V8">
8&#160;</span>
Yes most certainly, and I count all things to be a loss for the excellency of the knowledge of Christ Jesus, my Lord, for whom I suffered the loss of all things, and count them nothing but refuse, that I may gain Christ  </span><span class="V9_NoBody"><span class="verse" id="V9">
9&#160;</span>
and be found in him, not having a righteousness of my own, that which is of the law, but that which is through faith in Christ, the righteousness which is from God by faith,  </span><span class="V10_NoBody"><span class="verse" id="V10">
10&#160;</span>
that I may know him, and the power of his resurrection, and the fellowship of his sufferings, becoming conformed to his death,  </span><span class="V11_NoBody"><span class="verse" id="V11">
11&#160;</span>
if by any means I may attain to the resurrection from the dead.  </span><span class="V12_NoBody"><span class="verse" id="V12">
12&#160;</span>
Not that I have already obtained, or am already made perfect; but I press on, that I may take hold of that for which also I was taken hold of by Christ Jesus. </span></div>
<div class='p'><span class='V12_NoBody'>
 </span><span class="V13_NoBody"><span class="verse" id="V13">
13&#160;</span>
Brothers, I don’t regard myself as yet having taken hold, but one thing I do: forgetting the things which are behind, and stretching forward to the things which are before,  </span><span class="V14_NoBody"><span class="verse" id="V14">
14&#160;</span>
I press on toward the goal for the prize of the high calling of God in Christ Jesus.  </span><span class="V15_NoBody"><span class="verse" id="V15">
15&#160;</span>
Let us therefore, as many as are perfect, think this way. If in anything you think otherwise, God will also reveal that to you.  </span><span class="V16_NoBody"><span class="verse" id="V16">
16&#160;</span>
Nevertheless, to the extent that we have already attained, let’s walk by the same rule. Let’s be of the same mind. </span></div>
<div class='p'><span class='V16_NoBody'>
 </span><span class="V17_NoBody"><span class="verse" id="V17">
17&#160;</span>
Brothers, be imitators together of me, and note those who walk this way, even as you have us for an example.  </span><span class="V18_NoBody"><span class="verse" id="V18">
18&#160;</span>
For many walk, of whom I told you often, and now tell you even weeping, as the enemies of the cross of Christ,  </span><span class="V19_NoBody"><span class="verse" id="V19">
19&#160;</span>
whose end is destruction, whose god is the belly, and whose glory is in their shame, who think about earthly things.  </span><span class="V20_NoBody"><span class="verse" id="V20">
20&#160;</span>
For our citizenship is in heaven, from where we also wait for a Savior, the Lord Jesus Christ,  </span><span class="V21_NoBody"><span class="verse" id="V21">
21&#160;</span>
who will change the body of our humiliation to be conformed to the body of his glory, according to the working by which he is able even to subject all things to himself. </span></div>
<div class="footnote">
</div>
<hr /><div class="copyright">
<center> <a href="http://ebible.org/web/copyright.htm"">This website uses The World English Bible (Public Domain).</a> </center>
</div>
</div></body></html>
{% endblock %}