{% extends 'knowledge_base/base-web.html' %}{% block content %}﻿<!DOCTYPE html>
<div class="chapter">
<div class="verse-label" >Proverbs 3</div>
 
<div class='q'><span class='_NoBody'>
 <span class="V1_NoBody"><span class="verse" id="V1">
1&#160;</span>
My son, don’t forget my teaching; </span></div>
<div class='q2'><span class='V1_NoBody'>
but let your heart keep my commandments: </span></div>
<div class='q'><span class='V1_NoBody'>
 </span><span class="V2_NoBody"><span class="verse" id="V2">
2&#160;</span>
for they will add to you length of days, </span></div>
<div class='q2'><span class='V2_NoBody'>
years of life, and peace. </span></div>
<div class='q'><span class='V2_NoBody'>
 </span><span class="V3_NoBody"><span class="verse" id="V3">
3&#160;</span>
Don’t let kindness and truth forsake you. </span></div>
<div class='q2'><span class='V3_NoBody'>
Bind them around your neck. </span></div>
<div class='q2'><span class='V3_NoBody'>
Write them on the tablet of your heart. </span></div>
<div class='q'><span class='V3_NoBody'>
 </span><span class="V4_NoBody"><span class="verse" id="V4">
4&#160;</span>
So you will find favor, </span></div>
<div class='q2'><span class='V4_NoBody'>
and good understanding in the sight of God and man. </span></div>
<div class='q'><span class='V4_NoBody'>
 </span><span class="V5_NoBody"><span class="verse" id="V5">
5&#160;</span>
Trust in Yahweh with all your heart, </span></div>
<div class='q2'><span class='V5_NoBody'>
and don’t lean on your own understanding. </span></div>
<div class='q'><span class='V5_NoBody'>
 </span><span class="V6_NoBody"><span class="verse" id="V6">
6&#160;</span>
In all your ways acknowledge him, </span></div>
<div class='q2'><span class='V6_NoBody'>
and he will make your paths straight. </span></div>
<div class='q'><span class='V6_NoBody'>
 </span><span class="V7_NoBody"><span class="verse" id="V7">
7&#160;</span>
Don’t be wise in your own eyes. </span></div>
<div class='q2'><span class='V7_NoBody'>
Fear Yahweh, and depart from evil. </span></div>
<div class='q'><span class='V7_NoBody'>
 </span><span class="V8_NoBody"><span class="verse" id="V8">
8&#160;</span>
It will be health to your body, </span></div>
<div class='q2'><span class='V8_NoBody'>
and nourishment to your bones. </span></div>
<div class='q'><span class='V8_NoBody'>
 </span><span class="V9_NoBody"><span class="verse" id="V9">
9&#160;</span>
Honor Yahweh with your substance, </span></div>
<div class='q2'><span class='V9_NoBody'>
with the first fruits of all your increase: </span></div>
<div class='q'><span class='V9_NoBody'>
 </span><span class="V10_NoBody"><span class="verse" id="V10">
10&#160;</span>
so your barns will be filled with plenty, </span></div>
<div class='q2'><span class='V10_NoBody'>
and your vats will overflow with new wine. </span></div>
<div class='q'><span class='V10_NoBody'>
 </span><span class="V11_NoBody"><span class="verse" id="V11">
11&#160;</span>
My son, don’t despise Yahweh’s discipline, </span></div>
<div class='q2'><span class='V11_NoBody'>
neither be weary of his correction; </span></div>
<div class='q'><span class='V11_NoBody'>
 </span><span class="V12_NoBody"><span class="verse" id="V12">
12&#160;</span>
for whom Yahweh loves, he corrects, </span></div>
<div class='q2'><span class='V12_NoBody'>
even as a father reproves the son in whom he delights. </span></div>
<div class='b'>
 &#160; </span></div>
<div class='q'><span class='V12_NoBody'>
 </span><span class="V13_NoBody"><span class="verse" id="V13">
13&#160;</span>
Happy is the man who finds wisdom, </span></div>
<div class='q2'><span class='V13_NoBody'>
the man who gets understanding. </span></div>
<div class='q'><span class='V13_NoBody'>
 </span><span class="V14_NoBody"><span class="verse" id="V14">
14&#160;</span>
For her good profit is better than getting silver, </span></div>
<div class='q2'><span class='V14_NoBody'>
and her return is better than fine gold. </span></div>
<div class='q'><span class='V14_NoBody'>
 </span><span class="V15_NoBody"><span class="verse" id="V15">
15&#160;</span>
She is more precious than rubies. </span></div>
<div class='q2'><span class='V15_NoBody'>
None of the things you can desire are to be compared to her. </span></div>
<div class='q'><span class='V15_NoBody'>
 </span><span class="V16_NoBody"><span class="verse" id="V16">
16&#160;</span>
Length of days is in her right hand. </span></div>
<div class='q2'><span class='V16_NoBody'>
In her left hand are riches and honor. </span></div>
<div class='q'><span class='V16_NoBody'>
 </span><span class="V17_NoBody"><span class="verse" id="V17">
17&#160;</span>
Her ways are ways of pleasantness. </span></div>
<div class='q2'><span class='V17_NoBody'>
All her paths are peace. </span></div>
<div class='q'><span class='V17_NoBody'>
 </span><span class="V18_NoBody"><span class="verse" id="V18">
18&#160;</span>
She is a tree of life to those who lay hold of her. </span></div>
<div class='q2'><span class='V18_NoBody'>
Happy is everyone who retains her. </span></div>
<div class='q'><span class='V18_NoBody'>
 </span><span class="V19_NoBody"><span class="verse" id="V19">
19&#160;</span>
By wisdom Yahweh founded the earth. </span></div>
<div class='q2'><span class='V19_NoBody'>
By understanding, he established the heavens. </span></div>
<div class='q'><span class='V19_NoBody'>
 </span><span class="V20_NoBody"><span class="verse" id="V20">
20&#160;</span>
By his knowledge, the depths were broken up, </span></div>
<div class='q2'><span class='V20_NoBody'>
and the skies drop down the dew. </span></div>
<div class='q'><span class='V20_NoBody'>
 </span><span class="V21_NoBody"><span class="verse" id="V21">
21&#160;</span>
My son, let them not depart from your eyes. </span></div>
<div class='q2'><span class='V21_NoBody'>
Keep sound wisdom and discretion: </span></div>
<div class='q'><span class='V21_NoBody'>
 </span><span class="V22_NoBody"><span class="verse" id="V22">
22&#160;</span>
so they will be life to your soul, </span></div>
<div class='q2'><span class='V22_NoBody'>
and grace for your neck. </span></div>
<div class='q'><span class='V22_NoBody'>
 </span><span class="V23_NoBody"><span class="verse" id="V23">
23&#160;</span>
Then you shall walk in your way securely. </span></div>
<div class='q2'><span class='V23_NoBody'>
Your foot won’t stumble. </span></div>
<div class='q'><span class='V23_NoBody'>
 </span><span class="V24_NoBody"><span class="verse" id="V24">
24&#160;</span>
When you lie down, you will not be afraid. </span></div>
<div class='q2'><span class='V24_NoBody'>
Yes, you will lie down, and your sleep will be sweet. </span></div>
<div class='q'><span class='V24_NoBody'>
 </span><span class="V25_NoBody"><span class="verse" id="V25">
25&#160;</span>
Don’t be afraid of sudden fear, </span></div>
<div class='q2'><span class='V25_NoBody'>
neither of the desolation of the wicked, when it comes; </span></div>
<div class='q'><span class='V25_NoBody'>
 </span><span class="V26_NoBody"><span class="verse" id="V26">
26&#160;</span>
for Yahweh will be your confidence, </span></div>
<div class='q2'><span class='V26_NoBody'>
and will keep your foot from being taken. </span></div>
<div class='b'>
 &#160; </span></div>
<div class='q'><span class='V26_NoBody'>
 </span><span class="V27_NoBody"><span class="verse" id="V27">
27&#160;</span>
Don’t withhold good from those to whom it is due, </span></div>
<div class='q2'><span class='V27_NoBody'>
when it is in the power of your hand to do it. </span></div>
<div class='q'><span class='V27_NoBody'>
 </span><span class="V28_NoBody"><span class="verse" id="V28">
28&#160;</span>
Don’t say to your neighbor, “Go, and come again; </span></div>
<div class='q2'><span class='V28_NoBody'>
tomorrow I will give it to you,” </span></div>
<div class='q2'><span class='V28_NoBody'>
when you have it by you. </span></div>
<div class='q'><span class='V28_NoBody'>
 </span><span class="V29_NoBody"><span class="verse" id="V29">
29&#160;</span>
Don’t devise evil against your neighbor, </span></div>
<div class='q2'><span class='V29_NoBody'>
since he dwells securely by you. </span></div>
<div class='q'><span class='V29_NoBody'>
 </span><span class="V30_NoBody"><span class="verse" id="V30">
30&#160;</span>
Don’t strive with a man without cause, </span></div>
<div class='q2'><span class='V30_NoBody'>
if he has done you no harm. </span></div>
<div class='q'><span class='V30_NoBody'>
 </span><span class="V31_NoBody"><span class="verse" id="V31">
31&#160;</span>
Don’t envy the man of violence. </span></div>
<div class='q2'><span class='V31_NoBody'>
Choose none of his ways. </span></div>
<div class='q'><span class='V31_NoBody'>
 </span><span class="V32_NoBody"><span class="verse" id="V32">
32&#160;</span>
For the perverse is an abomination to Yahweh, </span></div>
<div class='q2'><span class='V32_NoBody'>
but his friendship is with the upright. </span></div>
<div class='q'><span class='V32_NoBody'>
 </span><span class="V33_NoBody"><span class="verse" id="V33">
33&#160;</span>
Yahweh’s curse is in the house of the wicked, </span></div>
<div class='q2'><span class='V33_NoBody'>
but he blesses the habitation of the righteous. </span></div>
<div class='q'><span class='V33_NoBody'>
 </span><span class="V34_NoBody"><span class="verse" id="V34">
34&#160;</span>
Surely he mocks the mockers, </span></div>
<div class='q2'><span class='V34_NoBody'>
but he gives grace to the humble. </span></div>
<div class='q'><span class='V34_NoBody'>
 </span><span class="V35_NoBody"><span class="verse" id="V35">
35&#160;</span>
The wise will inherit glory, </span></div>
<div class='q2'><span class='V35_NoBody'>
but shame will be the promotion of fools. </span></div>
<div class="footnote">
</div>
<hr /><div class="copyright">
<center> <a href="http://ebible.org/web/copyright.htm"">This website uses The World English Bible (Public Domain).</a> </center>
</div>
</div></body></html>
{% endblock %}