{% extends 'knowledge_base/base-web.html' %}{% block content %}﻿<!DOCTYPE html>
<div class="chapter">
<div class="verse-label" >Proverbs 16</div>
 
<div class='q'><span class='_NoBody'>
 <span class="V1_NoBody"><span class="verse" id="V1">
1&#160;</span>
The plans of the heart belong to man, </span></div>
<div class='q2'><span class='V1_NoBody'>
but the answer of the tongue is from Yahweh. </span></div>
<div class='q'><span class='V1_NoBody'>
 </span><span class="V2_NoBody"><span class="verse" id="V2">
2&#160;</span>
All the ways of a man are clean in his own eyes; </span></div>
<div class='q2'><span class='V2_NoBody'>
but Yahweh weighs the motives. </span></div>
<div class='q'><span class='V2_NoBody'>
 </span><span class="V3_NoBody"><span class="verse" id="V3">
3&#160;</span>
Commit your deeds to Yahweh, </span></div>
<div class='q2'><span class='V3_NoBody'>
and your plans shall succeed. </span></div>
<div class='q'><span class='V3_NoBody'>
 </span><span class="V4_NoBody"><span class="verse" id="V4">
4&#160;</span>
Yahweh has made everything for its own end— </span></div>
<div class='q2'><span class='V4_NoBody'>
yes, even the wicked for the day of evil. </span></div>
<div class='q'><span class='V4_NoBody'>
 </span><span class="V5_NoBody"><span class="verse" id="V5">
5&#160;</span>
Everyone who is proud in heart is an abomination to Yahweh: </span></div>
<div class='q2'><span class='V5_NoBody'>
they shall certainly not be unpunished. </span></div>
<div class='q'><span class='V5_NoBody'>
 </span><span class="V6_NoBody"><span class="verse" id="V6">
6&#160;</span>
By mercy and truth iniquity is atoned for. </span></div>
<div class='q2'><span class='V6_NoBody'>
By the fear of Yahweh men depart from evil. </span></div>
<div class='q'><span class='V6_NoBody'>
 </span><span class="V7_NoBody"><span class="verse" id="V7">
7&#160;</span>
When a man’s ways please Yahweh, </span></div>
<div class='q2'><span class='V7_NoBody'>
he makes even his enemies to be at peace with him. </span></div>
<div class='q'><span class='V7_NoBody'>
 </span><span class="V8_NoBody"><span class="verse" id="V8">
8&#160;</span>
Better is a little with righteousness, </span></div>
<div class='q2'><span class='V8_NoBody'>
than great revenues with injustice. </span></div>
<div class='q'><span class='V8_NoBody'>
 </span><span class="V9_NoBody"><span class="verse" id="V9">
9&#160;</span>
A man’s heart plans his course, </span></div>
<div class='q2'><span class='V9_NoBody'>
but Yahweh directs his steps. </span></div>
<div class='q'><span class='V9_NoBody'>
 </span><span class="V10_NoBody"><span class="verse" id="V10">
10&#160;</span>
Inspired judgments are on the lips of the king. </span></div>
<div class='q2'><span class='V10_NoBody'>
He shall not betray his mouth. </span></div>
<div class='q'><span class='V10_NoBody'>
 </span><span class="V11_NoBody"><span class="verse" id="V11">
11&#160;</span>
Honest balances and scales are Yahweh’s; </span></div>
<div class='q2'><span class='V11_NoBody'>
all the weights in the bag are his work. </span></div>
<div class='q'><span class='V11_NoBody'>
 </span><span class="V12_NoBody"><span class="verse" id="V12">
12&#160;</span>
It is an abomination for kings to do wrong, </span></div>
<div class='q2'><span class='V12_NoBody'>
for the throne is established by righteousness. </span></div>
<div class='q'><span class='V12_NoBody'>
 </span><span class="V13_NoBody"><span class="verse" id="V13">
13&#160;</span>
Righteous lips are the delight of kings. </span></div>
<div class='q2'><span class='V13_NoBody'>
They value one who speaks the truth. </span></div>
<div class='q'><span class='V13_NoBody'>
 </span><span class="V14_NoBody"><span class="verse" id="V14">
14&#160;</span>
The king’s wrath is a messenger of death, </span></div>
<div class='q2'><span class='V14_NoBody'>
but a wise man will pacify it. </span></div>
<div class='q'><span class='V14_NoBody'>
 </span><span class="V15_NoBody"><span class="verse" id="V15">
15&#160;</span>
In the light of the king’s face is life. </span></div>
<div class='q2'><span class='V15_NoBody'>
His favor is like a cloud of the spring rain. </span></div>
<div class='q'><span class='V15_NoBody'>
 </span><span class="V16_NoBody"><span class="verse" id="V16">
16&#160;</span>
How much better it is to get wisdom than gold! </span></div>
<div class='q2'><span class='V16_NoBody'>
Yes, to get understanding is to be chosen rather than silver. </span></div>
<div class='q'><span class='V16_NoBody'>
 </span><span class="V17_NoBody"><span class="verse" id="V17">
17&#160;</span>
The highway of the upright is to depart from evil. </span></div>
<div class='q2'><span class='V17_NoBody'>
He who keeps his way preserves his soul. </span></div>
<div class='q'><span class='V17_NoBody'>
 </span><span class="V18_NoBody"><span class="verse" id="V18">
18&#160;</span>
Pride goes before destruction, </span></div>
<div class='q2'><span class='V18_NoBody'>
and an arrogant spirit before a fall. </span></div>
<div class='q'><span class='V18_NoBody'>
 </span><span class="V19_NoBody"><span class="verse" id="V19">
19&#160;</span>
It is better to be of a lowly spirit with the poor, </span></div>
<div class='q2'><span class='V19_NoBody'>
than to divide the plunder with the proud. </span></div>
<div class='q'><span class='V19_NoBody'>
 </span><span class="V20_NoBody"><span class="verse" id="V20">
20&#160;</span>
He who heeds the Word finds prosperity. </span></div>
<div class='q2'><span class='V20_NoBody'>
Whoever trusts in Yahweh is blessed. </span></div>
<div class='q'><span class='V20_NoBody'>
 </span><span class="V21_NoBody"><span class="verse" id="V21">
21&#160;</span>
The wise in heart shall be called prudent. </span></div>
<div class='q2'><span class='V21_NoBody'>
Pleasantness of the lips promotes instruction. </span></div>
<div class='q'><span class='V21_NoBody'>
 </span><span class="V22_NoBody"><span class="verse" id="V22">
22&#160;</span>
Understanding is a fountain of life to one who has it, </span></div>
<div class='q2'><span class='V22_NoBody'>
but the punishment of fools is their folly. </span></div>
<div class='q'><span class='V22_NoBody'>
 </span><span class="V23_NoBody"><span class="verse" id="V23">
23&#160;</span>
The heart of the wise instructs his mouth, </span></div>
<div class='q2'><span class='V23_NoBody'>
and adds learning to his lips. </span></div>
<div class='q'><span class='V23_NoBody'>
 </span><span class="V24_NoBody"><span class="verse" id="V24">
24&#160;</span>
Pleasant words are a honeycomb, </span></div>
<div class='q2'><span class='V24_NoBody'>
sweet to the soul, and health to the bones. </span></div>
<div class='q'><span class='V24_NoBody'>
 </span><span class="V25_NoBody"><span class="verse" id="V25">
25&#160;</span>
There is a way which seems right to a man, </span></div>
<div class='q2'><span class='V25_NoBody'>
but in the end it leads to death. </span></div>
<div class='q'><span class='V25_NoBody'>
 </span><span class="V26_NoBody"><span class="verse" id="V26">
26&#160;</span>
The appetite of the laboring man labors for him; </span></div>
<div class='q2'><span class='V26_NoBody'>
for his mouth urges him on. </span></div>
<div class='q'><span class='V26_NoBody'>
 </span><span class="V27_NoBody"><span class="verse" id="V27">
27&#160;</span>
A worthless man devises mischief. </span></div>
<div class='q2'><span class='V27_NoBody'>
His speech is like a scorching fire. </span></div>
<div class='q'><span class='V27_NoBody'>
 </span><span class="V28_NoBody"><span class="verse" id="V28">
28&#160;</span>
A perverse man stirs up strife. </span></div>
<div class='q2'><span class='V28_NoBody'>
A whisperer separates close friends. </span></div>
<div class='q'><span class='V28_NoBody'>
 </span><span class="V29_NoBody"><span class="verse" id="V29">
29&#160;</span>
A man of violence entices his neighbor, </span></div>
<div class='q2'><span class='V29_NoBody'>
and leads him in a way that is not good. </span></div>
<div class='q'><span class='V29_NoBody'>
 </span><span class="V30_NoBody"><span class="verse" id="V30">
30&#160;</span>
One who winks his eyes to plot perversities, </span></div>
<div class='q2'><span class='V30_NoBody'>
one who compresses his lips, is bent on evil. </span></div>
<div class='q'><span class='V30_NoBody'>
 </span><span class="V31_NoBody"><span class="verse" id="V31">
31&#160;</span>
Gray hair is a crown of glory. </span></div>
<div class='q2'><span class='V31_NoBody'>
It is attained by a life of righteousness. </span></div>
<div class='q'><span class='V31_NoBody'>
 </span><span class="V32_NoBody"><span class="verse" id="V32">
32&#160;</span>
One who is slow to anger is better than the mighty; </span></div>
<div class='q2'><span class='V32_NoBody'>
one who rules his spirit, than he who takes a city. </span></div>
<div class='q'><span class='V32_NoBody'>
 </span><span class="V33_NoBody"><span class="verse" id="V33">
33&#160;</span>
The lot is cast into the lap, </span></div>
<div class='q2'><span class='V33_NoBody'>
but its every decision is from Yahweh. </span></div>
<div class="footnote">
</div>
<hr /><div class="copyright">
<center> <a href="http://ebible.org/web/copyright.htm"">This website uses The World English Bible (Public Domain).</a> </center>
</div>
</div></body></html>
{% endblock %}