{% extends 'knowledge_base/base-web.html' %}{% block content %}﻿<!DOCTYPE html>
<div class="chapter">
<div class="verse-label" >Proverbs 15</div>
 
<div class='q'><span class='_NoBody'>
 <span class="V1_NoBody"><span class="verse" id="V1">
1&#160;</span>
A gentle answer turns away wrath, </span></div>
<div class='q2'><span class='V1_NoBody'>
but a harsh word stirs up anger. </span></div>
<div class='q'><span class='V1_NoBody'>
 </span><span class="V2_NoBody"><span class="verse" id="V2">
2&#160;</span>
The tongue of the wise commends knowledge, </span></div>
<div class='q2'><span class='V2_NoBody'>
but the mouth of fools gush out folly. </span></div>
<div class='q'><span class='V2_NoBody'>
 </span><span class="V3_NoBody"><span class="verse" id="V3">
3&#160;</span>
Yahweh’s eyes are everywhere, </span></div>
<div class='q2'><span class='V3_NoBody'>
keeping watch on the evil and the good. </span></div>
<div class='q'><span class='V3_NoBody'>
 </span><span class="V4_NoBody"><span class="verse" id="V4">
4&#160;</span>
A gentle tongue is a tree of life, </span></div>
<div class='q2'><span class='V4_NoBody'>
but deceit in it crushes the spirit. </span></div>
<div class='q'><span class='V4_NoBody'>
 </span><span class="V5_NoBody"><span class="verse" id="V5">
5&#160;</span>
A fool despises his father’s correction, </span></div>
<div class='q2'><span class='V5_NoBody'>
but he who heeds reproof shows prudence. </span></div>
<div class='q'><span class='V5_NoBody'>
 </span><span class="V6_NoBody"><span class="verse" id="V6">
6&#160;</span>
In the house of the righteous is much treasure, </span></div>
<div class='q2'><span class='V6_NoBody'>
but the income of the wicked brings trouble. </span></div>
<div class='q'><span class='V6_NoBody'>
 </span><span class="V7_NoBody"><span class="verse" id="V7">
7&#160;</span>
The lips of the wise spread knowledge; </span></div>
<div class='q2'><span class='V7_NoBody'>
not so with the heart of fools. </span></div>
<div class='q'><span class='V7_NoBody'>
 </span><span class="V8_NoBody"><span class="verse" id="V8">
8&#160;</span>
The sacrifice made by the wicked is an abomination to Yahweh, </span></div>
<div class='q2'><span class='V8_NoBody'>
but the prayer of the upright is his delight. </span></div>
<div class='q'><span class='V8_NoBody'>
 </span><span class="V9_NoBody"><span class="verse" id="V9">
9&#160;</span>
The way of the wicked is an abomination to Yahweh, </span></div>
<div class='q2'><span class='V9_NoBody'>
but he loves him who follows after righteousness. </span></div>
<div class='q'><span class='V9_NoBody'>
 </span><span class="V10_NoBody"><span class="verse" id="V10">
10&#160;</span>
There is stern discipline for one who forsakes the way: </span></div>
<div class='q2'><span class='V10_NoBody'>
whoever hates reproof shall die. </span></div>
<div class='q'><span class='V10_NoBody'>
 </span><span class="V11_NoBody"><span class="verse" id="V11">
11&#160;</span>
Sheol and Abaddon are before Yahweh— </span></div>
<div class='q2'><span class='V11_NoBody'>
how much more then the hearts of the children of men! </span></div>
<div class='q'><span class='V11_NoBody'>
 </span><span class="V12_NoBody"><span class="verse" id="V12">
12&#160;</span>
A scoffer doesn’t love to be reproved; </span></div>
<div class='q2'><span class='V12_NoBody'>
he will not go to the wise. </span></div>
<div class='q'><span class='V12_NoBody'>
 </span><span class="V13_NoBody"><span class="verse" id="V13">
13&#160;</span>
A glad heart makes a cheerful face, </span></div>
<div class='q2'><span class='V13_NoBody'>
but an aching heart breaks the spirit. </span></div>
<div class='q'><span class='V13_NoBody'>
 </span><span class="V14_NoBody"><span class="verse" id="V14">
14&#160;</span>
The heart of one who has understanding seeks knowledge, </span></div>
<div class='q2'><span class='V14_NoBody'>
but the mouths of fools feed on folly. </span></div>
<div class='q'><span class='V14_NoBody'>
 </span><span class="V15_NoBody"><span class="verse" id="V15">
15&#160;</span>
All the days of the afflicted are wretched, </span></div>
<div class='q2'><span class='V15_NoBody'>
but one who has a cheerful heart enjoys a continual feast. </span></div>
<div class='q'><span class='V15_NoBody'>
 </span><span class="V16_NoBody"><span class="verse" id="V16">
16&#160;</span>
Better is little, with the fear of Yahweh, </span></div>
<div class='q2'><span class='V16_NoBody'>
than great treasure with trouble. </span></div>
<div class='q'><span class='V16_NoBody'>
 </span><span class="V17_NoBody"><span class="verse" id="V17">
17&#160;</span>
Better is a dinner of herbs, where love is, </span></div>
<div class='q2'><span class='V17_NoBody'>
than a fattened calf with hatred. </span></div>
<div class='q'><span class='V17_NoBody'>
 </span><span class="V18_NoBody"><span class="verse" id="V18">
18&#160;</span>
A wrathful man stirs up contention, </span></div>
<div class='q2'><span class='V18_NoBody'>
but one who is slow to anger appeases strife. </span></div>
<div class='q'><span class='V18_NoBody'>
 </span><span class="V19_NoBody"><span class="verse" id="V19">
19&#160;</span>
The way of the sluggard is like a thorn patch, </span></div>
<div class='q2'><span class='V19_NoBody'>
but the path of the upright is a highway. </span></div>
<div class='q'><span class='V19_NoBody'>
 </span><span class="V20_NoBody"><span class="verse" id="V20">
20&#160;</span>
A wise son makes a father glad, </span></div>
<div class='q2'><span class='V20_NoBody'>
but a foolish man despises his mother. </span></div>
<div class='q'><span class='V20_NoBody'>
 </span><span class="V21_NoBody"><span class="verse" id="V21">
21&#160;</span>
Folly is joy to one who is void of wisdom, </span></div>
<div class='q2'><span class='V21_NoBody'>
but a man of understanding keeps his way straight. </span></div>
<div class='q'><span class='V21_NoBody'>
 </span><span class="V22_NoBody"><span class="verse" id="V22">
22&#160;</span>
Where there is no counsel, plans fail; </span></div>
<div class='q2'><span class='V22_NoBody'>
but in a multitude of counselors they are established. </span></div>
<div class='q'><span class='V22_NoBody'>
 </span><span class="V23_NoBody"><span class="verse" id="V23">
23&#160;</span>
Joy comes to a man with the reply of his mouth. </span></div>
<div class='q2'><span class='V23_NoBody'>
How good is a word at the right time! </span></div>
<div class='q'><span class='V23_NoBody'>
 </span><span class="V24_NoBody"><span class="verse" id="V24">
24&#160;</span>
The path of life leads upward for the wise, </span></div>
<div class='q2'><span class='V24_NoBody'>
to keep him from going downward to Sheol. </span></div>
<div class='q'><span class='V24_NoBody'>
 </span><span class="V25_NoBody"><span class="verse" id="V25">
25&#160;</span>
Yahweh will uproot the house of the proud, </span></div>
<div class='q2'><span class='V25_NoBody'>
but he will keep the widow’s borders intact. </span></div>
<div class='q'><span class='V25_NoBody'>
 </span><span class="V26_NoBody"><span class="verse" id="V26">
26&#160;</span>
Yahweh detests the thoughts of the wicked, </span></div>
<div class='q2'><span class='V26_NoBody'>
but the thoughts of the pure are pleasing. </span></div>
<div class='q'><span class='V26_NoBody'>
 </span><span class="V27_NoBody"><span class="verse" id="V27">
27&#160;</span>
He who is greedy for gain troubles his own house, </span></div>
<div class='q2'><span class='V27_NoBody'>
but he who hates bribes will live. </span></div>
<div class='q'><span class='V27_NoBody'>
 </span><span class="V28_NoBody"><span class="verse" id="V28">
28&#160;</span>
The heart of the righteous weighs answers, </span></div>
<div class='q2'><span class='V28_NoBody'>
but the mouth of the wicked gushes out evil. </span></div>
<div class='q'><span class='V28_NoBody'>
 </span><span class="V29_NoBody"><span class="verse" id="V29">
29&#160;</span>
Yahweh is far from the wicked, </span></div>
<div class='q2'><span class='V29_NoBody'>
but he hears the prayer of the righteous. </span></div>
<div class='q'><span class='V29_NoBody'>
 </span><span class="V30_NoBody"><span class="verse" id="V30">
30&#160;</span>
The light of the eyes rejoices the heart. </span></div>
<div class='q2'><span class='V30_NoBody'>
Good news gives health to the bones. </span></div>
<div class='q'><span class='V30_NoBody'>
 </span><span class="V31_NoBody"><span class="verse" id="V31">
31&#160;</span>
The ear that listens to reproof lives, </span></div>
<div class='q2'><span class='V31_NoBody'>
and will be at home among the wise. </span></div>
<div class='q'><span class='V31_NoBody'>
 </span><span class="V32_NoBody"><span class="verse" id="V32">
32&#160;</span>
He who refuses correction despises his own soul, </span></div>
<div class='q2'><span class='V32_NoBody'>
but he who listens to reproof gets understanding. </span></div>
<div class='q'><span class='V32_NoBody'>
 </span><span class="V33_NoBody"><span class="verse" id="V33">
33&#160;</span>
The fear of Yahweh teaches wisdom. </span></div>
<div class='q2'><span class='V33_NoBody'>
Before honor is humility. </span></div>
<div class="footnote">

</div>
<hr /><div class="copyright">
<center> <a href="http://ebible.org/web/copyright.htm"">This website uses The World English Bible (Public Domain).</a> </center>
</div>
</div></body></html>
{% endblock %}