{% extends 'knowledge_base/base-web.html' %}{% block content %}﻿<!DOCTYPE html>
<div class="chapter">
<div class="verse-label" >Proverbs 19</div>
 
<div class='q'><span class='_NoBody'>
 <span class="V1_NoBody"><span class="verse" id="V1">
1&#160;</span>
Better is the poor who walks in his integrity </span></div>
<div class='q2'><span class='V1_NoBody'>
than he who is perverse in his lips and is a fool. </span></div>
<div class='q'><span class='V1_NoBody'>
 </span><span class="V2_NoBody"><span class="verse" id="V2">
2&#160;</span>
It isn’t good to have zeal without knowledge, </span></div>
<div class='q2'><span class='V2_NoBody'>
nor being hasty with one’s feet and missing the way. </span></div>
<div class='q'><span class='V2_NoBody'>
 </span><span class="V3_NoBody"><span class="verse" id="V3">
3&#160;</span>
The foolishness of man subverts his way; </span></div>
<div class='q2'><span class='V3_NoBody'>
his heart rages against Yahweh. </span></div>
<div class='q'><span class='V3_NoBody'>
 </span><span class="V4_NoBody"><span class="verse" id="V4">
4&#160;</span>
Wealth adds many friends, </span></div>
<div class='q2'><span class='V4_NoBody'>
but the poor is separated from his friend. </span></div>
<div class='q'><span class='V4_NoBody'>
 </span><span class="V5_NoBody"><span class="verse" id="V5">
5&#160;</span>
A false witness shall not be unpunished. </span></div>
<div class='q2'><span class='V5_NoBody'>
He who pours out lies shall not go free. </span></div>
<div class='q'><span class='V5_NoBody'>
 </span><span class="V6_NoBody"><span class="verse" id="V6">
6&#160;</span>
Many will entreat the favor of a ruler, </span></div>
<div class='q2'><span class='V6_NoBody'>
and everyone is a friend to a man who gives gifts. </span></div>
<div class='q'><span class='V6_NoBody'>
 </span><span class="V7_NoBody"><span class="verse" id="V7">
7&#160;</span>
All the relatives of the poor shun him: </span></div>
<div class='q2'><span class='V7_NoBody'>
how much more do his friends avoid him! </span></div>
<div class='q2'><span class='V7_NoBody'>
He pursues them with pleas, but they are gone. </span></div>
<div class='q'><span class='V7_NoBody'>
 </span><span class="V8_NoBody"><span class="verse" id="V8">
8&#160;</span>
He who gets wisdom loves his own soul. </span></div>
<div class='q2'><span class='V8_NoBody'>
He who keeps understanding shall find good. </span></div>
<div class='q'><span class='V8_NoBody'>
 </span><span class="V9_NoBody"><span class="verse" id="V9">
9&#160;</span>
A false witness shall not be unpunished. </span></div>
<div class='q2'><span class='V9_NoBody'>
He who utters lies shall perish. </span></div>
<div class='q'><span class='V9_NoBody'>
 </span><span class="V10_NoBody"><span class="verse" id="V10">
10&#160;</span>
Delicate living is not appropriate for a fool, </span></div>
<div class='q2'><span class='V10_NoBody'>
much less for a servant to have rule over princes. </span></div>
<div class='q'><span class='V10_NoBody'>
 </span><span class="V11_NoBody"><span class="verse" id="V11">
11&#160;</span>
The discretion of a man makes him slow to anger. </span></div>
<div class='q2'><span class='V11_NoBody'>
It is his glory to overlook an offense. </span></div>
<div class='q'><span class='V11_NoBody'>
 </span><span class="V12_NoBody"><span class="verse" id="V12">
12&#160;</span>
The king’s wrath is like the roaring of a lion, </span></div>
<div class='q2'><span class='V12_NoBody'>
but his favor is like dew on the grass. </span></div>
<div class='q'><span class='V12_NoBody'>
 </span><span class="V13_NoBody"><span class="verse" id="V13">
13&#160;</span>
A foolish son is the calamity of his father. </span></div>
<div class='q2'><span class='V13_NoBody'>
A wife’s quarrels are a continual dripping. </span></div>
<div class='q'><span class='V13_NoBody'>
 </span><span class="V14_NoBody"><span class="verse" id="V14">
14&#160;</span>
House and riches are an inheritance from fathers, </span></div>
<div class='q2'><span class='V14_NoBody'>
but a prudent wife is from Yahweh. </span></div>
<div class='q'><span class='V14_NoBody'>
 </span><span class="V15_NoBody"><span class="verse" id="V15">
15&#160;</span>
Slothfulness casts into a deep sleep. </span></div>
<div class='q2'><span class='V15_NoBody'>
The idle soul shall suffer hunger. </span></div>
<div class='q'><span class='V15_NoBody'>
 </span><span class="V16_NoBody"><span class="verse" id="V16">
16&#160;</span>
He who keeps the commandment keeps his soul, </span></div>
<div class='q2'><span class='V16_NoBody'>
but he who is contemptuous in his ways shall die. </span></div>
<div class='q'><span class='V16_NoBody'>
 </span><span class="V17_NoBody"><span class="verse" id="V17">
17&#160;</span>
He who has pity on the poor lends to Yahweh; </span></div>
<div class='q2'><span class='V17_NoBody'>
he will reward him. </span></div>
<div class='q'><span class='V17_NoBody'>
 </span><span class="V18_NoBody"><span class="verse" id="V18">
18&#160;</span>
Discipline your son, for there is hope; </span></div>
<div class='q2'><span class='V18_NoBody'>
don’t be a willing party to his death. </span></div>
<div class='q'><span class='V18_NoBody'>
 </span><span class="V19_NoBody"><span class="verse" id="V19">
19&#160;</span>
A hot-tempered man must pay the penalty, </span></div>
<div class='q2'><span class='V19_NoBody'>
for if you rescue him, you must do it again. </span></div>
<div class='q'><span class='V19_NoBody'>
 </span><span class="V20_NoBody"><span class="verse" id="V20">
20&#160;</span>
Listen to counsel and receive instruction, </span></div>
<div class='q2'><span class='V20_NoBody'>
that you may be wise in your latter end. </span></div>
<div class='q'><span class='V20_NoBody'>
 </span><span class="V21_NoBody"><span class="verse" id="V21">
21&#160;</span>
There are many plans in a man’s heart, </span></div>
<div class='q2'><span class='V21_NoBody'>
but Yahweh’s counsel will prevail. </span></div>
<div class='q'><span class='V21_NoBody'>
 </span><span class="V22_NoBody"><span class="verse" id="V22">
22&#160;</span>
That which makes a man to be desired is his kindness. </span></div>
<div class='q2'><span class='V22_NoBody'>
A poor man is better than a liar. </span></div>
<div class='q'><span class='V22_NoBody'>
 </span><span class="V23_NoBody"><span class="verse" id="V23">
23&#160;</span>
The fear of Yahweh leads to life, then contentment; </span></div>
<div class='q2'><span class='V23_NoBody'>
he rests and will not be touched by trouble. </span></div>
<div class='q'><span class='V23_NoBody'>
 </span><span class="V24_NoBody"><span class="verse" id="V24">
24&#160;</span>
The sluggard buries his hand in the dish; </span></div>
<div class='q2'><span class='V24_NoBody'>
he will not so much as bring it to his mouth again. </span></div>
<div class='q'><span class='V24_NoBody'>
 </span><span class="V25_NoBody"><span class="verse" id="V25">
25&#160;</span>
Flog a scoffer, and the simple will learn prudence; </span></div>
<div class='q2'><span class='V25_NoBody'>
rebuke one who has understanding, and he will gain knowledge. </span></div>
<div class='q'><span class='V25_NoBody'>
 </span><span class="V26_NoBody"><span class="verse" id="V26">
26&#160;</span>
He who robs his father and drives away his mother, </span></div>
<div class='q2'><span class='V26_NoBody'>
is a son who causes shame and brings reproach. </span></div>
<div class='q'><span class='V26_NoBody'>
 </span><span class="V27_NoBody"><span class="verse" id="V27">
27&#160;</span>
If you stop listening to instruction, my son, </span></div>
<div class='q2'><span class='V27_NoBody'>
you will stray from the words of knowledge. </span></div>
<div class='q'><span class='V27_NoBody'>
 </span><span class="V28_NoBody"><span class="verse" id="V28">
28&#160;</span>
A corrupt witness mocks justice, </span></div>
<div class='q2'><span class='V28_NoBody'>
and the mouth of the wicked gulps down iniquity. </span></div>
<div class='q'><span class='V28_NoBody'>
 </span><span class="V29_NoBody"><span class="verse" id="V29">
29&#160;</span>
Penalties are prepared for scoffers, </span></div>
<div class='q2'><span class='V29_NoBody'>
and beatings for the backs of fools. </span></div>
<div class='b'>
 &#160; </span></div>
<div class="footnote">
</div>
<hr /><div class="copyright">
<center> <a href="http://ebible.org/web/copyright.htm"">This website uses The World English Bible (Public Domain).</a> </center>
</div>
</div></body></html>
{% endblock %}