{% extends 'knowledge_base/base-web.html' %}{% block content %}﻿<!DOCTYPE html>
<div class="chapter">
<div class="verse-label" >Proverbs 31</div>
 
<div class='p'><span class='_NoBody'>
 <span class="V1_NoBody"><span class="verse" id="V1">
1&#160;</span>
The words of king Lemuel; the revelation which his mother taught him. </span></div>
<div class='b'>
 &#160; </span></div>
<div class='q'><span class='V1_NoBody'>
 </span><span class="V2_NoBody"><span class="verse" id="V2">
2&#160;</span>
“Oh, my son! </span></div>
<div class='q2'><span class='V2_NoBody'>
Oh, son of my womb! </span></div>
<div class='q2'><span class='V2_NoBody'>
Oh, son of my vows! </span></div>
<div class='q'><span class='V2_NoBody'>
 </span><span class="V3_NoBody"><span class="verse" id="V3">
3&#160;</span>
Don’t give your strength to women, </span></div>
<div class='q2'><span class='V3_NoBody'>
nor your ways to that which destroys kings. </span></div>
<div class='q'><span class='V3_NoBody'>
 </span><span class="V4_NoBody"><span class="verse" id="V4">
4&#160;</span>
It is not for kings, Lemuel, </span></div>
<div class='q2'><span class='V4_NoBody'>
it is not for kings to drink wine, </span></div>
<div class='q2'><span class='V4_NoBody'>
nor for princes to say, ‘Where is strong drink?’ </span></div>
<div class='q'><span class='V4_NoBody'>
 </span><span class="V5_NoBody"><span class="verse" id="V5">
5&#160;</span>
lest they drink, and forget the law, </span></div>
<div class='q2'><span class='V5_NoBody'>
and pervert the justice due to anyone who is afflicted. </span></div>
<div class='q'><span class='V5_NoBody'>
 </span><span class="V6_NoBody"><span class="verse" id="V6">
6&#160;</span>
Give strong drink to him who is ready to perish, </span></div>
<div class='q2'><span class='V6_NoBody'>
and wine to the bitter in soul. </span></div>
<div class='q'><span class='V6_NoBody'>
 </span><span class="V7_NoBody"><span class="verse" id="V7">
7&#160;</span>
Let him drink, and forget his poverty, </span></div>
<div class='q2'><span class='V7_NoBody'>
and remember his misery no more. </span></div>
<div class='q'><span class='V7_NoBody'>
 </span><span class="V8_NoBody"><span class="verse" id="V8">
8&#160;</span>
Open your mouth for the mute, </span></div>
<div class='q2'><span class='V8_NoBody'>
in the cause of all who are left desolate. </span></div>
<div class='q'><span class='V8_NoBody'>
 </span><span class="V9_NoBody"><span class="verse" id="V9">
9&#160;</span>
Open your mouth, judge righteously, </span></div>
<div class='q2'><span class='V9_NoBody'>
and serve justice to the poor and needy.” </span></div>
<div class='b'>
 &#160; </span></div>
<div class='q'><span class='V9_NoBody'>
 </span><span class="V10_NoBody"><span class="verse" id="V10">
10&#160;</span>
 Who can find a worthy woman? </span></div>
<div class='q2'><span class='V10_NoBody'>
For her price is far above rubies. </span></div>
<div class='q'><span class='V10_NoBody'>
 </span><span class="V11_NoBody"><span class="verse" id="V11">
11&#160;</span>
The heart of her husband trusts in her. </span></div>
<div class='q2'><span class='V11_NoBody'>
He shall have no lack of gain. </span></div>
<div class='q'><span class='V11_NoBody'>
 </span><span class="V12_NoBody"><span class="verse" id="V12">
12&#160;</span>
She does him good, and not harm, </span></div>
<div class='q2'><span class='V12_NoBody'>
all the days of her life. </span></div>
<div class='q'><span class='V12_NoBody'>
 </span><span class="V13_NoBody"><span class="verse" id="V13">
13&#160;</span>
She seeks wool and flax, </span></div>
<div class='q2'><span class='V13_NoBody'>
and works eagerly with her hands. </span></div>
<div class='q'><span class='V13_NoBody'>
 </span><span class="V14_NoBody"><span class="verse" id="V14">
14&#160;</span>
She is like the merchant ships. </span></div>
<div class='q2'><span class='V14_NoBody'>
She brings her bread from afar. </span></div>
<div class='q'><span class='V14_NoBody'>
 </span><span class="V15_NoBody"><span class="verse" id="V15">
15&#160;</span>
She rises also while it is yet night, </span></div>
<div class='q2'><span class='V15_NoBody'>
gives food to her household, </span></div>
<div class='q2'><span class='V15_NoBody'>
and portions for her servant girls. </span></div>
<div class='q'><span class='V15_NoBody'>
 </span><span class="V16_NoBody"><span class="verse" id="V16">
16&#160;</span>
She considers a field, and buys it. </span></div>
<div class='q2'><span class='V16_NoBody'>
With the fruit of her hands, she plants a vineyard. </span></div>
<div class='q'><span class='V16_NoBody'>
 </span><span class="V17_NoBody"><span class="verse" id="V17">
17&#160;</span>
She arms her waist with strength, </span></div>
<div class='q2'><span class='V17_NoBody'>
and makes her arms strong. </span></div>
<div class='q'><span class='V17_NoBody'>
 </span><span class="V18_NoBody"><span class="verse" id="V18">
18&#160;</span>
She perceives that her merchandise is profitable. </span></div>
<div class='q2'><span class='V18_NoBody'>
Her lamp doesn’t go out by night. </span></div>
<div class='q'><span class='V18_NoBody'>
 </span><span class="V19_NoBody"><span class="verse" id="V19">
19&#160;</span>
She lays her hands to the distaff, </span></div>
<div class='q2'><span class='V19_NoBody'>
and her hands hold the spindle. </span></div>
<div class='q'><span class='V19_NoBody'>
 </span><span class="V20_NoBody"><span class="verse" id="V20">
20&#160;</span>
She opens her arms to the poor; </span></div>
<div class='q2'><span class='V20_NoBody'>
yes, she extends her hands to the needy. </span></div>
<div class='q'><span class='V20_NoBody'>
 </span><span class="V21_NoBody"><span class="verse" id="V21">
21&#160;</span>
She is not afraid of the snow for her household; </span></div>
<div class='q2'><span class='V21_NoBody'>
for all her household are clothed with scarlet. </span></div>
<div class='q'><span class='V21_NoBody'>
 </span><span class="V22_NoBody"><span class="verse" id="V22">
22&#160;</span>
She makes for herself carpets of tapestry. </span></div>
<div class='q2'><span class='V22_NoBody'>
Her clothing is fine linen and purple. </span></div>
<div class='q'><span class='V22_NoBody'>
 </span><span class="V23_NoBody"><span class="verse" id="V23">
23&#160;</span>
Her husband is respected in the gates, </span></div>
<div class='q2'><span class='V23_NoBody'>
when he sits among the elders of the land. </span></div>
<div class='q'><span class='V23_NoBody'>
 </span><span class="V24_NoBody"><span class="verse" id="V24">
24&#160;</span>
She makes linen garments and sells them, </span></div>
<div class='q2'><span class='V24_NoBody'>
and delivers sashes to the merchant. </span></div>
<div class='q'><span class='V24_NoBody'>
 </span><span class="V25_NoBody"><span class="verse" id="V25">
25&#160;</span>
Strength and dignity are her clothing. </span></div>
<div class='q2'><span class='V25_NoBody'>
She laughs at the time to come. </span></div>
<div class='q'><span class='V25_NoBody'>
 </span><span class="V26_NoBody"><span class="verse" id="V26">
26&#160;</span>
She opens her mouth with wisdom. </span></div>
<div class='q2'><span class='V26_NoBody'>
Kind instruction is on her tongue. </span></div>
<div class='q'><span class='V26_NoBody'>
 </span><span class="V27_NoBody"><span class="verse" id="V27">
27&#160;</span>
She looks well to the ways of her household, </span></div>
<div class='q2'><span class='V27_NoBody'>
and doesn’t eat the bread of idleness. </span></div>
<div class='q'><span class='V27_NoBody'>
 </span><span class="V28_NoBody"><span class="verse" id="V28">
28&#160;</span>
Her children rise up and call her blessed. </span></div>
<div class='q2'><span class='V28_NoBody'>
Her husband also praises her: </span></div>
<div class='q'><span class='V28_NoBody'>
 </span><span class="V29_NoBody"><span class="verse" id="V29">
29&#160;</span>
“Many women do noble things, </span></div>
<div class='q2'><span class='V29_NoBody'>
but you excel them all.” </span></div>
<div class='q'><span class='V29_NoBody'>
 </span><span class="V30_NoBody"><span class="verse" id="V30">
30&#160;</span>
Charm is deceitful, and beauty is vain; </span></div>
<div class='q2'><span class='V30_NoBody'>
but a woman who fears Yahweh, she shall be praised. </span></div>
<div class='q'><span class='V30_NoBody'>
 </span><span class="V31_NoBody"><span class="verse" id="V31">
31&#160;</span>
Give her of the fruit of her hands! </span></div>
<div class='q2'><span class='V31_NoBody'>
Let her works praise her in the gates! </span></div>
<div class="footnote">

</div>
<hr /><div class="copyright">
<center> <a href="http://ebible.org/web/copyright.htm"">This website uses The World English Bible (Public Domain).</a> </center>
</div>
</div></body></html>
{% endblock %}