{% extends 'knowledge_base/base-web.html' %}{% block content %}﻿<!DOCTYPE html>
<div class="chapter">
<div class="verse-label" >Psalms 84</div>
 
<div class='d'>
For the Chief Musician. On an instrument of Gath. A Psalm by the sons of Korah. </span></div>
<div class='q'><span class='_NoBody'>
 <span class="V1_NoBody"><span class="verse" id="V1">
1&#160;</span>
How lovely are your dwellings, </span></div>
<div class='q2'><span class='V1_NoBody'>
Yahweh of Armies! </span></div>
<div class='q'><span class='V1_NoBody'>
 </span><span class="V2_NoBody"><span class="verse" id="V2">
2&#160;</span>
My soul longs, and even faints for the courts of Yahweh. </span></div>
<div class='q2'><span class='V2_NoBody'>
My heart and my flesh cry out for the living God. </span></div>
<div class='q'><span class='V2_NoBody'>
 </span><span class="V3_NoBody"><span class="verse" id="V3">
3&#160;</span>
Yes, the sparrow has found a home, </span></div>
<div class='q2'><span class='V3_NoBody'>
and the swallow a nest for herself, where she may have her young, </span></div>
<div class='q2'><span class='V3_NoBody'>
near your altars, Yahweh of Armies, my King, and my God. </span></div>
<div class='q'><span class='V3_NoBody'>
 </span><span class="V4_NoBody"><span class="verse" id="V4">
4&#160;</span>
Blessed are those who dwell in your house. </span></div>
<div class='q2'><span class='V4_NoBody'>
They are always praising you. </span></div>
<div class='qs'><span class='V4_NoBody'>
Selah.</span></div>
 <div class='q'><span class='V4_NoBody'>
 </span><span class="V5_NoBody"><span class="verse" id="V5">
5&#160;</span>
Blessed are those whose strength is in you, </span></div>
<div class='q2'><span class='V5_NoBody'>
who have set their hearts on a pilgrimage. </span></div>
<div class='q'><span class='V5_NoBody'>
 </span><span class="V6_NoBody"><span class="verse" id="V6">
6&#160;</span>
Passing through the valley of Weeping, they make it a place of springs. </span></div>
<div class='q2'><span class='V6_NoBody'>
Yes, the autumn rain covers it with blessings. </span></div>
<div class='q'><span class='V6_NoBody'>
 </span><span class="V7_NoBody"><span class="verse" id="V7">
7&#160;</span>
They go from strength to strength. </span></div>
<div class='q2'><span class='V7_NoBody'>
Every one of them appears before God in Zion. </span></div>
<div class='q'><span class='V7_NoBody'>
 </span><span class="V8_NoBody"><span class="verse" id="V8">
8&#160;</span>
Yahweh, God of Armies, hear my prayer. </span></div>
<div class='q2'><span class='V8_NoBody'>
Listen, God of Jacob. </span></div>
<div class='qs'><span class='V8_NoBody'>
Selah.</span></div>
 <div class='q'><span class='V8_NoBody'>
 </span><span class="V9_NoBody"><span class="verse" id="V9">
9&#160;</span>
Behold, God our shield, </span></div>
<div class='q2'><span class='V9_NoBody'>
look at the face of your anointed. </span></div>
<div class='q'><span class='V9_NoBody'>
 </span><span class="V10_NoBody"><span class="verse" id="V10">
10&#160;</span>
For a day in your courts is better than a thousand. </span></div>
<div class='q2'><span class='V10_NoBody'>
I would rather be a doorkeeper in the house of my God, </span></div>
<div class='q2'><span class='V10_NoBody'>
than to dwell in the tents of wickedness. </span></div>
<div class='q'><span class='V10_NoBody'>
 </span><span class="V11_NoBody"><span class="verse" id="V11">
11&#160;</span>
For Yahweh God is a sun and a shield. </span></div>
<div class='q2'><span class='V11_NoBody'>
Yahweh will give grace and glory. </span></div>
<div class='q2'><span class='V11_NoBody'>
He withholds no good thing from those who walk blamelessly. </span></div>
<div class='q'><span class='V11_NoBody'>
 </span><span class="V12_NoBody"><span class="verse" id="V12">
12&#160;</span>
Yahweh of Armies, </span></div>
<div class='q2'><span class='V12_NoBody'>
blessed is the man who trusts in you. </span></div>
<div class="footnote">
</div>
<hr /><div class="copyright">
<center> <a href="http://ebible.org/web/copyright.htm"">This website uses The World English Bible (Public Domain).</a> </center>
</div>
</div></body></html>
{% endblock %}