{% extends 'knowledge_base/base-web.html' %}{% block content %}﻿<!DOCTYPE html>
<div class="chapter">
<div class="verse-label" >Psalms 20</div>
 
<div class='d'>
For the Chief Musician. A Psalm by David. </span></div>
<div class='q'><span class='_NoBody'>
 <span class="V1_NoBody"><span class="verse" id="V1">
1&#160;</span>
May Yahweh answer you in the day of trouble. </span></div>
<div class='q2'><span class='V1_NoBody'>
May the name of the God of Jacob set you up on high, </span></div>
<div class='q2'><span class='V1_NoBody'>
 </span><span class="V2_NoBody"><span class="verse" id="V2">
2&#160;</span>
send you help from the sanctuary, </span></div>
<div class='q2'><span class='V2_NoBody'>
grant you support from Zion, </span></div>
<div class='q2'><span class='V2_NoBody'>
 </span><span class="V3_NoBody"><span class="verse" id="V3">
3&#160;</span>
remember all your offerings, </span></div>
<div class='q2'><span class='V3_NoBody'>
and accept your burned sacrifice. </span></div>
<div class='qs'><span class='V3_NoBody'>
Selah.</span></div>
 <div class='q'><span class='V3_NoBody'>
 </span><span class="V4_NoBody"><span class="verse" id="V4">
4&#160;</span>
May he grant you your heart’s desire, </span></div>
<div class='q2'><span class='V4_NoBody'>
and fulfill all your counsel. </span></div>
<div class='q'><span class='V4_NoBody'>
 </span><span class="V5_NoBody"><span class="verse" id="V5">
5&#160;</span>
We will triumph in your salvation. </span></div>
<div class='q2'><span class='V5_NoBody'>
In the name of our God, we will set up our banners. </span></div>
<div class='q2'><span class='V5_NoBody'>
May Yahweh grant all your requests. </span></div>
<div class='q'><span class='V5_NoBody'>
 </span><span class="V6_NoBody"><span class="verse" id="V6">
6&#160;</span>
Now I know that Yahweh saves his anointed. </span></div>
<div class='q2'><span class='V6_NoBody'>
He will answer him from his holy heaven, </span></div>
<div class='q2'><span class='V6_NoBody'>
with the saving strength of his right hand. </span></div>
<div class='q'><span class='V6_NoBody'>
 </span><span class="V7_NoBody"><span class="verse" id="V7">
7&#160;</span>
Some trust in chariots, and some in horses, </span></div>
<div class='q2'><span class='V7_NoBody'>
but we trust in the name of Yahweh our God. </span></div>
<div class='q'><span class='V7_NoBody'>
 </span><span class="V8_NoBody"><span class="verse" id="V8">
8&#160;</span>
They are bowed down and fallen, </span></div>
<div class='q2'><span class='V8_NoBody'>
but we rise up, and stand upright. </span></div>
<div class='q'><span class='V8_NoBody'>
 </span><span class="V9_NoBody"><span class="verse" id="V9">
9&#160;</span>
Save, Yahweh! </span></div>
<div class='q2'><span class='V9_NoBody'>
Let the King answer us when we call! </span></div>
<div class="footnote">
</div>
<hr /><div class="copyright">
<center> <a href="http://ebible.org/web/copyright.htm"">This website uses The World English Bible (Public Domain).</a> </center>
</div>
</div></body></html>
{% endblock %}