{% extends 'knowledge_base/base-web.html' %}{% block content %}﻿<!DOCTYPE html>
<div class="chapter">
<div class="verse-label" >Psalms 94</div>
 
<div class='q'><span class='_NoBody'>
 <span class="V1_NoBody"><span class="verse" id="V1">
1&#160;</span>
Yahweh, you God to whom vengeance belongs, </span></div>
<div class='q2'><span class='V1_NoBody'>
you God to whom vengeance belongs, shine out. </span></div>
<div class='q'><span class='V1_NoBody'>
 </span><span class="V2_NoBody"><span class="verse" id="V2">
2&#160;</span>
Rise up, you judge of the earth. </span></div>
<div class='q2'><span class='V2_NoBody'>
Pay back the proud what they deserve. </span></div>
<div class='q'><span class='V2_NoBody'>
 </span><span class="V3_NoBody"><span class="verse" id="V3">
3&#160;</span>
Yahweh, how long will the wicked, </span></div>
<div class='q2'><span class='V3_NoBody'>
how long will the wicked triumph? </span></div>
<div class='q'><span class='V3_NoBody'>
 </span><span class="V4_NoBody"><span class="verse" id="V4">
4&#160;</span>
They pour out arrogant words. </span></div>
<div class='q2'><span class='V4_NoBody'>
All the evildoers boast. </span></div>
<div class='q'><span class='V4_NoBody'>
 </span><span class="V5_NoBody"><span class="verse" id="V5">
5&#160;</span>
They break your people in pieces, Yahweh, </span></div>
<div class='q2'><span class='V5_NoBody'>
and afflict your heritage. </span></div>
<div class='q'><span class='V5_NoBody'>
 </span><span class="V6_NoBody"><span class="verse" id="V6">
6&#160;</span>
They kill the widow and the alien, </span></div>
<div class='q2'><span class='V6_NoBody'>
and murder the fatherless. </span></div>
<div class='q'><span class='V6_NoBody'>
 </span><span class="V7_NoBody"><span class="verse" id="V7">
7&#160;</span>
They say, “Yah will not see, </span></div>
<div class='q2'><span class='V7_NoBody'>
neither will Jacob’s God consider.” </span></div>
<div class='q'><span class='V7_NoBody'>
 </span><span class="V8_NoBody"><span class="verse" id="V8">
8&#160;</span>
Consider, you senseless among the people; </span></div>
<div class='q2'><span class='V8_NoBody'>
you fools, when will you be wise? </span></div>
<div class='q'><span class='V8_NoBody'>
 </span><span class="V9_NoBody"><span class="verse" id="V9">
9&#160;</span>
He who implanted the ear, won’t he hear? </span></div>
<div class='q2'><span class='V9_NoBody'>
He who formed the eye, won’t he see? </span></div>
<div class='q'><span class='V9_NoBody'>
 </span><span class="V10_NoBody"><span class="verse" id="V10">
10&#160;</span>
He who disciplines the nations, won’t he punish? </span></div>
<div class='q2'><span class='V10_NoBody'>
He who teaches man knows. </span></div>
<div class='q'><span class='V10_NoBody'>
 </span><span class="V11_NoBody"><span class="verse" id="V11">
11&#160;</span>
Yahweh knows the thoughts of man, </span></div>
<div class='q2'><span class='V11_NoBody'>
that they are futile. </span></div>
<div class='q'><span class='V11_NoBody'>
 </span><span class="V12_NoBody"><span class="verse" id="V12">
12&#160;</span>
Blessed is the man whom you discipline, Yah, </span></div>
<div class='q2'><span class='V12_NoBody'>
and teach out of your law, </span></div>
<div class='q'><span class='V12_NoBody'>
 </span><span class="V13_NoBody"><span class="verse" id="V13">
13&#160;</span>
that you may give him rest from the days of adversity, </span></div>
<div class='q2'><span class='V13_NoBody'>
until the pit is dug for the wicked. </span></div>
<div class='q'><span class='V13_NoBody'>
 </span><span class="V14_NoBody"><span class="verse" id="V14">
14&#160;</span>
For Yahweh won’t reject his people, </span></div>
<div class='q2'><span class='V14_NoBody'>
neither will he forsake his inheritance. </span></div>
<div class='q'><span class='V14_NoBody'>
 </span><span class="V15_NoBody"><span class="verse" id="V15">
15&#160;</span>
For judgment will return to righteousness. </span></div>
<div class='q2'><span class='V15_NoBody'>
All the upright in heart shall follow it. </span></div>
<div class='q'><span class='V15_NoBody'>
 </span><span class="V16_NoBody"><span class="verse" id="V16">
16&#160;</span>
Who will rise up for me against the wicked? </span></div>
<div class='q2'><span class='V16_NoBody'>
Who will stand up for me against the evildoers? </span></div>
<div class='q'><span class='V16_NoBody'>
 </span><span class="V17_NoBody"><span class="verse" id="V17">
17&#160;</span>
Unless Yahweh had been my help, </span></div>
<div class='q2'><span class='V17_NoBody'>
my soul would have soon lived in silence. </span></div>
<div class='q'><span class='V17_NoBody'>
 </span><span class="V18_NoBody"><span class="verse" id="V18">
18&#160;</span>
When I said, “My foot is slipping!” </span></div>
<div class='q2'><span class='V18_NoBody'>
Your loving kindness, Yahweh, held me up. </span></div>
<div class='q'><span class='V18_NoBody'>
 </span><span class="V19_NoBody"><span class="verse" id="V19">
19&#160;</span>
In the multitude of my thoughts within me, </span></div>
<div class='q2'><span class='V19_NoBody'>
your comforts delight my soul. </span></div>
<div class='q'><span class='V19_NoBody'>
 </span><span class="V20_NoBody"><span class="verse" id="V20">
20&#160;</span>
Shall the throne of wickedness have fellowship with you, </span></div>
<div class='q2'><span class='V20_NoBody'>
which brings about mischief by statute? </span></div>
<div class='q'><span class='V20_NoBody'>
 </span><span class="V21_NoBody"><span class="verse" id="V21">
21&#160;</span>
They gather themselves together against the soul of the righteous, </span></div>
<div class='q2'><span class='V21_NoBody'>
and condemn the innocent blood. </span></div>
<div class='q'><span class='V21_NoBody'>
 </span><span class="V22_NoBody"><span class="verse" id="V22">
22&#160;</span>
But Yahweh has been my high tower, </span></div>
<div class='q2'><span class='V22_NoBody'>
my God, the rock of my refuge. </span></div>
<div class='q'><span class='V22_NoBody'>
 </span><span class="V23_NoBody"><span class="verse" id="V23">
23&#160;</span>
He has brought on them their own iniquity, </span></div>
<div class='q2'><span class='V23_NoBody'>
and will cut them off in their own wickedness. </span></div>
<div class='q2'><span class='V23_NoBody'>
Yahweh, our God, will cut them off. </span></div>
<div class="footnote">
</div>
<hr /><div class="copyright">
<center> <a href="http://ebible.org/web/copyright.htm"">This website uses The World English Bible (Public Domain).</a> </center>
</div>
</div></body></html>
{% endblock %}