{% extends 'knowledge_base/base-web.html' %}{% block content %}﻿<!DOCTYPE html>
<div class="chapter">
<div class="verse-label" >Psalms 25</div>
 
<div class='d'>
By David. </span></div>
<div class='q'><span class='_NoBody'>
 <span class="V1_NoBody"><span class="verse" id="V1">
1&#160;</span>
To you, Yahweh, I lift up my soul. </span></div>
<div class='q'><span class='V1_NoBody'>
 </span><span class="V2_NoBody"><span class="verse" id="V2">
2&#160;</span>
My God, I have trusted in you. </span></div>
<div class='q2'><span class='V2_NoBody'>
Don’t let me be shamed. </span></div>
<div class='q2'><span class='V2_NoBody'>
Don’t let my enemies triumph over me. </span></div>
<div class='q'><span class='V2_NoBody'>
 </span><span class="V3_NoBody"><span class="verse" id="V3">
3&#160;</span>
Yes, no one who waits for you will be shamed. </span></div>
<div class='q2'><span class='V3_NoBody'>
They will be shamed who deal treacherously without cause. </span></div>
<div class='b'>
 &#160; </span></div>
<div class='q'><span class='V3_NoBody'>
 </span><span class="V4_NoBody"><span class="verse" id="V4">
4&#160;</span>
Show me your ways, Yahweh. </span></div>
<div class='q2'><span class='V4_NoBody'>
Teach me your paths. </span></div>
<div class='q'><span class='V4_NoBody'>
 </span><span class="V5_NoBody"><span class="verse" id="V5">
5&#160;</span>
Guide me in your truth, and teach me, </span></div>
<div class='q2'><span class='V5_NoBody'>
For you are the God of my salvation, </span></div>
<div class='q2'><span class='V5_NoBody'>
I wait for you all day long. </span></div>
<div class='q'><span class='V5_NoBody'>
 </span><span class="V6_NoBody"><span class="verse" id="V6">
6&#160;</span>
Yahweh, remember your tender mercies and your loving kindness, </span></div>
<div class='q2'><span class='V6_NoBody'>
for they are from old times. </span></div>
<div class='q'><span class='V6_NoBody'>
 </span><span class="V7_NoBody"><span class="verse" id="V7">
7&#160;</span>
Don’t remember the sins of my youth, nor my transgressions. </span></div>
<div class='q2'><span class='V7_NoBody'>
Remember me according to your loving kindness, </span></div>
<div class='q2'><span class='V7_NoBody'>
for your goodness’ sake, Yahweh. </span></div>
<div class='q'><span class='V7_NoBody'>
 </span><span class="V8_NoBody"><span class="verse" id="V8">
8&#160;</span>
Good and upright is Yahweh, </span></div>
<div class='q2'><span class='V8_NoBody'>
therefore he will instruct sinners in the way. </span></div>
<div class='q'><span class='V8_NoBody'>
 </span><span class="V9_NoBody"><span class="verse" id="V9">
9&#160;</span>
He will guide the humble in justice. </span></div>
<div class='q2'><span class='V9_NoBody'>
He will teach the humble his way. </span></div>
<div class='q'><span class='V9_NoBody'>
 </span><span class="V10_NoBody"><span class="verse" id="V10">
10&#160;</span>
All the paths of Yahweh are loving kindness and truth </span></div>
<div class='q2'><span class='V10_NoBody'>
to such as keep his covenant and his testimonies. </span></div>
<div class='q'><span class='V10_NoBody'>
 </span><span class="V11_NoBody"><span class="verse" id="V11">
11&#160;</span>
For your name’s sake, Yahweh, </span></div>
<div class='q2'><span class='V11_NoBody'>
pardon my iniquity, for it is great. </span></div>
<div class='q'><span class='V11_NoBody'>
 </span><span class="V12_NoBody"><span class="verse" id="V12">
12&#160;</span>
What man is he who fears Yahweh? </span></div>
<div class='q2'><span class='V12_NoBody'>
He shall instruct him in the way that he shall choose. </span></div>
<div class='q'><span class='V12_NoBody'>
 </span><span class="V13_NoBody"><span class="verse" id="V13">
13&#160;</span>
His soul will dwell at ease. </span></div>
<div class='q2'><span class='V13_NoBody'>
His offspring will inherit the land. </span></div>
<div class='q'><span class='V13_NoBody'>
 </span><span class="V14_NoBody"><span class="verse" id="V14">
14&#160;</span>
The friendship of Yahweh is with those who fear him. </span></div>
<div class='q2'><span class='V14_NoBody'>
He will show them his covenant. </span></div>
<div class='b'>
 &#160; </span></div>
<div class='q'><span class='V14_NoBody'>
 </span><span class="V15_NoBody"><span class="verse" id="V15">
15&#160;</span>
My eyes are ever on Yahweh, </span></div>
<div class='q2'><span class='V15_NoBody'>
for he will pluck my feet out of the net. </span></div>
<div class='q'><span class='V15_NoBody'>
 </span><span class="V16_NoBody"><span class="verse" id="V16">
16&#160;</span>
Turn to me, and have mercy on me, </span></div>
<div class='q2'><span class='V16_NoBody'>
for I am desolate and afflicted. </span></div>
<div class='q'><span class='V16_NoBody'>
 </span><span class="V17_NoBody"><span class="verse" id="V17">
17&#160;</span>
The troubles of my heart are enlarged. </span></div>
<div class='q2'><span class='V17_NoBody'>
Oh bring me out of my distresses. </span></div>
<div class='q'><span class='V17_NoBody'>
 </span><span class="V18_NoBody"><span class="verse" id="V18">
18&#160;</span>
Consider my affliction and my travail. </span></div>
<div class='q2'><span class='V18_NoBody'>
Forgive all my sins. </span></div>
<div class='q'><span class='V18_NoBody'>
 </span><span class="V19_NoBody"><span class="verse" id="V19">
19&#160;</span>
Consider my enemies, for they are many. </span></div>
<div class='q2'><span class='V19_NoBody'>
They hate me with cruel hatred. </span></div>
<div class='q'><span class='V19_NoBody'>
 </span><span class="V20_NoBody"><span class="verse" id="V20">
20&#160;</span>
Oh keep my soul, and deliver me. </span></div>
<div class='q2'><span class='V20_NoBody'>
Let me not be disappointed, for I take refuge in you. </span></div>
<div class='q'><span class='V20_NoBody'>
 </span><span class="V21_NoBody"><span class="verse" id="V21">
21&#160;</span>
Let integrity and uprightness preserve me, </span></div>
<div class='q2'><span class='V21_NoBody'>
for I wait for you. </span></div>
<div class='q'><span class='V21_NoBody'>
 </span><span class="V22_NoBody"><span class="verse" id="V22">
22&#160;</span>
Redeem Israel, God, </span></div>
<div class='q2'><span class='V22_NoBody'>
out of all his troubles. </span></div>
<div class="footnote">
</div>
<hr /><div class="copyright">
<center> <a href="http://ebible.org/web/copyright.htm"">This website uses The World English Bible (Public Domain).</a> </center>
</div>
</div></body></html>
{% endblock %}