{% extends 'knowledge_base/base-web.html' %}{% block content %}﻿<!DOCTYPE html>
<div class="chapter">
<div class="verse-label" >Psalms 4</div>
 
<div class='d'>
For the Chief Musician; on stringed instruments. A Psalm by David. </span></div>
<div class='q'><span class='_NoBody'>
 <span class="V1_NoBody"><span class="verse" id="V1">
1&#160;</span>
Answer me when I call, God of my righteousness. </span></div>
<div class='q2'><span class='V1_NoBody'>
Give me relief from my distress. </span></div>
<div class='q2'><span class='V1_NoBody'>
Have mercy on me, and hear my prayer. </span></div>
<div class='q'><span class='V1_NoBody'>
 </span><span class="V2_NoBody"><span class="verse" id="V2">
2&#160;</span>
You sons of men, how long shall my glory be turned into dishonor? </span></div>
<div class='q2'><span class='V2_NoBody'>
Will you love vanity and seek after falsehood? </span></div>
<div class='qs'><span class='V2_NoBody'>
Selah.</span></div>
 <div class='q'><span class='V2_NoBody'>
 </span><span class="V3_NoBody"><span class="verse" id="V3">
3&#160;</span>
But know that Yahweh has set apart for himself him who is godly: </span></div>
<div class='q2'><span class='V3_NoBody'>
Yahweh will hear when I call to him. </span></div>
<div class='q'><span class='V3_NoBody'>
 </span><span class="V4_NoBody"><span class="verse" id="V4">
4&#160;</span>
Stand in awe, and don’t sin. </span></div>
<div class='q2'><span class='V4_NoBody'>
Search your own heart on your bed, and be still. </span></div>
<div class='qs'><span class='V4_NoBody'>
Selah.</span></div>
 <div class='q'><span class='V4_NoBody'>
 </span><span class="V5_NoBody"><span class="verse" id="V5">
5&#160;</span>
Offer the sacrifices of righteousness. </span></div>
<div class='q2'><span class='V5_NoBody'>
Put your trust in Yahweh. </span></div>
<div class='q'><span class='V5_NoBody'>
 </span><span class="V6_NoBody"><span class="verse" id="V6">
6&#160;</span>
Many say, “Who will show us any good?” </span></div>
<div class='q2'><span class='V6_NoBody'>
Yahweh, let the light of your face shine on us. </span></div>
<div class='q'><span class='V6_NoBody'>
 </span><span class="V7_NoBody"><span class="verse" id="V7">
7&#160;</span>
You have put gladness in my heart, </span></div>
<div class='q2'><span class='V7_NoBody'>
more than when their grain and their new wine are increased. </span></div>
<div class='q'><span class='V7_NoBody'>
 </span><span class="V8_NoBody"><span class="verse" id="V8">
8&#160;</span>
In peace I will both lay myself down and sleep, </span></div>
<div class='q2'><span class='V8_NoBody'>
for you, Yahweh alone, make me live in safety. </span></div>
<div class="footnote">
</div>
<hr /><div class="copyright">
<center> <a href="http://ebible.org/web/copyright.htm"">This website uses The World English Bible (Public Domain).</a> </center>
</div>
</div></body></html>
{% endblock %}