{% extends 'knowledge_base/base-web.html' %}{% block content %}﻿<!DOCTYPE html>
<div class="chapter">
<div class="verse-label" >Psalms 18</div>
 
<div class='d'>
For the Chief Musician. By David the servant of Yahweh, who spoke to Yahweh the words of this song in the day that Yahweh delivered him from the hand of all his enemies, and from the hand of Saul. He said, </span></div>
<div class='q'><span class='_NoBody'>
 <span class="V1_NoBody"><span class="verse" id="V1">
1&#160;</span>
I love you, Yahweh, my strength. </span></div>
<div class='q'><span class='V1_NoBody'>
 </span><span class="V2_NoBody"><span class="verse" id="V2">
2&#160;</span>
Yahweh is my rock, my fortress, and my deliverer; </span></div>
<div class='q2'><span class='V2_NoBody'>
my God, my rock, in whom I take refuge; </span></div>
<div class='q2'><span class='V2_NoBody'>
my shield, and the horn of my salvation, my high tower. </span></div>
<div class='q'><span class='V2_NoBody'>
 </span><span class="V3_NoBody"><span class="verse" id="V3">
3&#160;</span>
I call on Yahweh, who is worthy to be praised; </span></div>
<div class='q2'><span class='V3_NoBody'>
and I am saved from my enemies. </span></div>
<div class='q'><span class='V3_NoBody'>
 </span><span class="V4_NoBody"><span class="verse" id="V4">
4&#160;</span>
The cords of death surrounded me. </span></div>
<div class='q2'><span class='V4_NoBody'>
The floods of ungodliness made me afraid. </span></div>
<div class='q'><span class='V4_NoBody'>
 </span><span class="V5_NoBody"><span class="verse" id="V5">
5&#160;</span>
The cords of Sheol were around me. </span></div>
<div class='q2'><span class='V5_NoBody'>
The snares of death came on me. </span></div>
<div class='q'><span class='V5_NoBody'>
 </span><span class="V6_NoBody"><span class="verse" id="V6">
6&#160;</span>
In my distress I called on Yahweh, </span></div>
<div class='q2'><span class='V6_NoBody'>
and cried to my God. </span></div>
<div class='q'><span class='V6_NoBody'>
He heard my voice out of his temple. </span></div>
<div class='q2'><span class='V6_NoBody'>
My cry before him came into his ears. </span></div>
<div class='q'><span class='V6_NoBody'>
 </span><span class="V7_NoBody"><span class="verse" id="V7">
7&#160;</span>
Then the earth shook and trembled. </span></div>
<div class='q2'><span class='V7_NoBody'>
The foundations also of the mountains quaked and were shaken, </span></div>
<div class='q2'><span class='V7_NoBody'>
because he was angry. </span></div>
<div class='q'><span class='V7_NoBody'>
 </span><span class="V8_NoBody"><span class="verse" id="V8">
8&#160;</span>
Smoke went out of his nostrils. </span></div>
<div class='q2'><span class='V8_NoBody'>
Consuming fire came out of his mouth. </span></div>
<div class='q2'><span class='V8_NoBody'>
Coals were kindled by it. </span></div>
<div class='q'><span class='V8_NoBody'>
 </span><span class="V9_NoBody"><span class="verse" id="V9">
9&#160;</span>
He bowed the heavens also, and came down. </span></div>
<div class='q2'><span class='V9_NoBody'>
Thick darkness was under his feet. </span></div>
<div class='q'><span class='V9_NoBody'>
 </span><span class="V10_NoBody"><span class="verse" id="V10">
10&#160;</span>
He rode on a cherub, and flew. </span></div>
<div class='q2'><span class='V10_NoBody'>
Yes, he soared on the wings of the wind. </span></div>
<div class='q'><span class='V10_NoBody'>
 </span><span class="V11_NoBody"><span class="verse" id="V11">
11&#160;</span>
He made darkness his hiding place, his pavilion around him, </span></div>
<div class='q2'><span class='V11_NoBody'>
darkness of waters, thick clouds of the skies. </span></div>
<div class='q'><span class='V11_NoBody'>
 </span><span class="V12_NoBody"><span class="verse" id="V12">
12&#160;</span>
At the brightness before him his thick clouds passed, </span></div>
<div class='q2'><span class='V12_NoBody'>
hailstones and coals of fire. </span></div>
<div class='q'><span class='V12_NoBody'>
 </span><span class="V13_NoBody"><span class="verse" id="V13">
13&#160;</span>
Yahweh also thundered in the sky. </span></div>
<div class='q2'><span class='V13_NoBody'>
The Most High uttered his voice: </span></div>
<div class='q2'><span class='V13_NoBody'>
hailstones and coals of fire. </span></div>
<div class='q'><span class='V13_NoBody'>
 </span><span class="V14_NoBody"><span class="verse" id="V14">
14&#160;</span>
He sent out his arrows, and scattered them; </span></div>
<div class='q2'><span class='V14_NoBody'>
Yes, great lightning bolts, and routed them. </span></div>
<div class='q'><span class='V14_NoBody'>
 </span><span class="V15_NoBody"><span class="verse" id="V15">
15&#160;</span>
Then the channels of waters appeared. </span></div>
<div class='q2'><span class='V15_NoBody'>
The foundations of the world were laid bare at your rebuke, Yahweh, </span></div>
<div class='q2'><span class='V15_NoBody'>
at the blast of the breath of your nostrils. </span></div>
<div class='q'><span class='V15_NoBody'>
 </span><span class="V16_NoBody"><span class="verse" id="V16">
16&#160;</span>
He sent from on high. </span></div>
<div class='q2'><span class='V16_NoBody'>
He took me. </span></div>
<div class='q2'><span class='V16_NoBody'>
He drew me out of many waters. </span></div>
<div class='q'><span class='V16_NoBody'>
 </span><span class="V17_NoBody"><span class="verse" id="V17">
17&#160;</span>
He delivered me from my strong enemy, </span></div>
<div class='q2'><span class='V17_NoBody'>
from those who hated me; for they were too mighty for me. </span></div>
<div class='q'><span class='V17_NoBody'>
 </span><span class="V18_NoBody"><span class="verse" id="V18">
18&#160;</span>
They came on me in the day of my calamity, </span></div>
<div class='q2'><span class='V18_NoBody'>
but Yahweh was my support. </span></div>
<div class='q'><span class='V18_NoBody'>
 </span><span class="V19_NoBody"><span class="verse" id="V19">
19&#160;</span>
He brought me out also into a large place. </span></div>
<div class='q2'><span class='V19_NoBody'>
He delivered me, because he delighted in me. </span></div>
<div class='q'><span class='V19_NoBody'>
 </span><span class="V20_NoBody"><span class="verse" id="V20">
20&#160;</span>
Yahweh has rewarded me according to my righteousness. </span></div>
<div class='q2'><span class='V20_NoBody'>
According to the cleanness of my hands, he has recompensed me. </span></div>
<div class='q'><span class='V20_NoBody'>
 </span><span class="V21_NoBody"><span class="verse" id="V21">
21&#160;</span>
For I have kept the ways of Yahweh, </span></div>
<div class='q2'><span class='V21_NoBody'>
and have not wickedly departed from my God. </span></div>
<div class='q'><span class='V21_NoBody'>
 </span><span class="V22_NoBody"><span class="verse" id="V22">
22&#160;</span>
For all his ordinances were before me. </span></div>
<div class='q2'><span class='V22_NoBody'>
I didn’t put away his statutes from me. </span></div>
<div class='q'><span class='V22_NoBody'>
 </span><span class="V23_NoBody"><span class="verse" id="V23">
23&#160;</span>
I was also blameless with him. </span></div>
<div class='q2'><span class='V23_NoBody'>
I kept myself from my iniquity. </span></div>
<div class='q'><span class='V23_NoBody'>
 </span><span class="V24_NoBody"><span class="verse" id="V24">
24&#160;</span>
Therefore Yahweh has rewarded me according to my righteousness, </span></div>
<div class='q2'><span class='V24_NoBody'>
according to the cleanness of my hands in his eyesight. </span></div>
<div class='q'><span class='V24_NoBody'>
 </span><span class="V25_NoBody"><span class="verse" id="V25">
25&#160;</span>
With the merciful you will show yourself merciful. </span></div>
<div class='q2'><span class='V25_NoBody'>
With the perfect man, you will show yourself perfect. </span></div>
<div class='q'><span class='V25_NoBody'>
 </span><span class="V26_NoBody"><span class="verse" id="V26">
26&#160;</span>
With the pure, you will show yourself pure. </span></div>
<div class='q2'><span class='V26_NoBody'>
With the crooked you will show yourself shrewd. </span></div>
<div class='q'><span class='V26_NoBody'>
 </span><span class="V27_NoBody"><span class="verse" id="V27">
27&#160;</span>
For you will save the afflicted people, </span></div>
<div class='q2'><span class='V27_NoBody'>
but the arrogant eyes you will bring down. </span></div>
<div class='q'><span class='V27_NoBody'>
 </span><span class="V28_NoBody"><span class="verse" id="V28">
28&#160;</span>
For you will light my lamp, Yahweh. </span></div>
<div class='q2'><span class='V28_NoBody'>
My God will light up my darkness. </span></div>
<div class='q'><span class='V28_NoBody'>
 </span><span class="V29_NoBody"><span class="verse" id="V29">
29&#160;</span>
For by you, I advance through a troop. </span></div>
<div class='q2'><span class='V29_NoBody'>
By my God, I leap over a wall. </span></div>
<div class='q'><span class='V29_NoBody'>
 </span><span class="V30_NoBody"><span class="verse" id="V30">
30&#160;</span>
As for God, his way is perfect. </span></div>
<div class='q2'><span class='V30_NoBody'>
Yahweh’s word is tried. </span></div>
<div class='q2'><span class='V30_NoBody'>
He is a shield to all those who take refuge in him. </span></div>
<div class='q'><span class='V30_NoBody'>
 </span><span class="V31_NoBody"><span class="verse" id="V31">
31&#160;</span>
For who is God, except Yahweh? </span></div>
<div class='q2'><span class='V31_NoBody'>
Who is a rock, besides our God, </span></div>
<div class='q2'><span class='V31_NoBody'>
 </span><span class="V32_NoBody"><span class="verse" id="V32">
32&#160;</span>
the God who arms me with strength, and makes my way perfect? </span></div>
<div class='q'><span class='V32_NoBody'>
 </span><span class="V33_NoBody"><span class="verse" id="V33">
33&#160;</span>
He makes my feet like deer’s feet, </span></div>
<div class='q2'><span class='V33_NoBody'>
and sets me on my high places. </span></div>
<div class='q'><span class='V33_NoBody'>
 </span><span class="V34_NoBody"><span class="verse" id="V34">
34&#160;</span>
He teaches my hands to war, </span></div>
<div class='q2'><span class='V34_NoBody'>
so that my arms bend a bow of bronze. </span></div>
<div class='q'><span class='V34_NoBody'>
 </span><span class="V35_NoBody"><span class="verse" id="V35">
35&#160;</span>
You have also given me the shield of your salvation. </span></div>
<div class='q2'><span class='V35_NoBody'>
Your right hand sustains me. </span></div>
<div class='q2'><span class='V35_NoBody'>
Your gentleness has made me great. </span></div>
<div class='q'><span class='V35_NoBody'>
 </span><span class="V36_NoBody"><span class="verse" id="V36">
36&#160;</span>
You have enlarged my steps under me, </span></div>
<div class='q2'><span class='V36_NoBody'>
My feet have not slipped. </span></div>
<div class='q'><span class='V36_NoBody'>
 </span><span class="V37_NoBody"><span class="verse" id="V37">
37&#160;</span>
I will pursue my enemies, and overtake them. </span></div>
<div class='q2'><span class='V37_NoBody'>
I won’t turn away until they are consumed. </span></div>
<div class='q'><span class='V37_NoBody'>
 </span><span class="V38_NoBody"><span class="verse" id="V38">
38&#160;</span>
I will strike them through, so that they will not be able to rise. </span></div>
<div class='q2'><span class='V38_NoBody'>
They shall fall under my feet. </span></div>
<div class='q'><span class='V38_NoBody'>
 </span><span class="V39_NoBody"><span class="verse" id="V39">
39&#160;</span>
For you have armed me with strength to the battle. </span></div>
<div class='q2'><span class='V39_NoBody'>
You have subdued under me those who rose up against me. </span></div>
<div class='q'><span class='V39_NoBody'>
 </span><span class="V40_NoBody"><span class="verse" id="V40">
40&#160;</span>
You have also made my enemies turn their backs to me, </span></div>
<div class='q2'><span class='V40_NoBody'>
that I might cut off those who hate me. </span></div>
<div class='q'><span class='V40_NoBody'>
 </span><span class="V41_NoBody"><span class="verse" id="V41">
41&#160;</span>
They cried, but there was no one to save; </span></div>
<div class='q2'><span class='V41_NoBody'>
even to Yahweh, but he didn’t answer them. </span></div>
<div class='q'><span class='V41_NoBody'>
 </span><span class="V42_NoBody"><span class="verse" id="V42">
42&#160;</span>
Then I beat them small as the dust before the wind. </span></div>
<div class='q2'><span class='V42_NoBody'>
I cast them out as the mire of the streets. </span></div>
<div class='q'><span class='V42_NoBody'>
 </span><span class="V43_NoBody"><span class="verse" id="V43">
43&#160;</span>
You have delivered me from the strivings of the people. </span></div>
<div class='q2'><span class='V43_NoBody'>
You have made me the head of the nations. </span></div>
<div class='q'><span class='V43_NoBody'>
A people whom I have not known shall serve me. </span></div>
<div class='q2'><span class='V43_NoBody'>
 </span><span class="V44_NoBody"><span class="verse" id="V44">
44&#160;</span>
As soon as they hear of me they shall obey me. </span></div>
<div class='q2'><span class='V44_NoBody'>
The foreigners shall submit themselves to me. </span></div>
<div class='q'><span class='V44_NoBody'>
 </span><span class="V45_NoBody"><span class="verse" id="V45">
45&#160;</span>
The foreigners shall fade away, </span></div>
<div class='q2'><span class='V45_NoBody'>
and shall come trembling out of their strongholds. </span></div>
<div class='q'><span class='V45_NoBody'>
 </span><span class="V46_NoBody"><span class="verse" id="V46">
46&#160;</span>
Yahweh lives! Blessed be my rock. </span></div>
<div class='q2'><span class='V46_NoBody'>
Exalted be the God of my salvation, </span></div>
<div class='q'><span class='V46_NoBody'>
 </span><span class="V47_NoBody"><span class="verse" id="V47">
47&#160;</span>
even the God who executes vengeance for me, </span></div>
<div class='q2'><span class='V47_NoBody'>
and subdues peoples under me. </span></div>
<div class='q'><span class='V47_NoBody'>
 </span><span class="V48_NoBody"><span class="verse" id="V48">
48&#160;</span>
He rescues me from my enemies. </span></div>
<div class='q2'><span class='V48_NoBody'>
Yes, you lift me up above those who rise up against me. </span></div>
<div class='q2'><span class='V48_NoBody'>
You deliver me from the violent man. </span></div>
<div class='q'><span class='V48_NoBody'>
 </span><span class="V49_NoBody"><span class="verse" id="V49">
49&#160;</span>
Therefore I will give thanks to you, Yahweh, among the nations, </span></div>
<div class='q2'><span class='V49_NoBody'>
and will sing praises to your name. </span></div>
<div class='q'><span class='V49_NoBody'>
 </span><span class="V50_NoBody"><span class="verse" id="V50">
50&#160;</span>
He gives great deliverance to his king, </span></div>
<div class='q2'><span class='V50_NoBody'>
and shows loving kindness to his anointed, </span></div>
<div class='q2'><span class='V50_NoBody'>
to David and to his offspring, forever more. </span></div>
<div class="footnote">

</div>
<hr /><div class="copyright">
<center> <a href="http://ebible.org/web/copyright.htm"">This website uses The World English Bible (Public Domain).</a> </center>
</div>
</div></body></html>
{% endblock %}