{% extends 'knowledge_base/base-web.html' %}{% block content %}﻿<!DOCTYPE html>
<div class="chapter">
<div class="verse-label" >Psalms 34</div>
 
<div class='d'>
By David; when he pretended to be insane before Abimelech, who drove him away, and he departed. </span></div>
<div class='q'><span class='_NoBody'>
 <span class="V1_NoBody"><span class="verse" id="V1">
1&#160;</span>
  I will bless Yahweh at all times. </span></div>
<div class='q2'><span class='V1_NoBody'>
His praise will always be in my mouth. </span></div>
<div class='q'><span class='V1_NoBody'>
 </span><span class="V2_NoBody"><span class="verse" id="V2">
2&#160;</span>
My soul shall boast in Yahweh. </span></div>
<div class='q2'><span class='V2_NoBody'>
The humble shall hear of it and be glad. </span></div>
<div class='q'><span class='V2_NoBody'>
 </span><span class="V3_NoBody"><span class="verse" id="V3">
3&#160;</span>
Oh magnify Yahweh with me. </span></div>
<div class='q2'><span class='V3_NoBody'>
Let’s exalt his name together. </span></div>
<div class='q'><span class='V3_NoBody'>
 </span><span class="V4_NoBody"><span class="verse" id="V4">
4&#160;</span>
I sought Yahweh, and he answered me, </span></div>
<div class='q2'><span class='V4_NoBody'>
and delivered me from all my fears. </span></div>
<div class='q'><span class='V4_NoBody'>
 </span><span class="V5_NoBody"><span class="verse" id="V5">
5&#160;</span>
They looked to him, and were radiant. </span></div>
<div class='q2'><span class='V5_NoBody'>
Their faces shall never be covered with shame. </span></div>
<div class='q'><span class='V5_NoBody'>
 </span><span class="V6_NoBody"><span class="verse" id="V6">
6&#160;</span>
This poor man cried, and Yahweh heard him, </span></div>
<div class='q2'><span class='V6_NoBody'>
and saved him out of all his troubles. </span></div>
<div class='q'><span class='V6_NoBody'>
 </span><span class="V7_NoBody"><span class="verse" id="V7">
7&#160;</span>
Yahweh’s angel encamps around those who fear him, </span></div>
<div class='q2'><span class='V7_NoBody'>
and delivers them. </span></div>
<div class='q'><span class='V7_NoBody'>
 </span><span class="V8_NoBody"><span class="verse" id="V8">
8&#160;</span>
Oh taste and see that Yahweh is good. </span></div>
<div class='q2'><span class='V8_NoBody'>
Blessed is the man who takes refuge in him. </span></div>
<div class='q'><span class='V8_NoBody'>
 </span><span class="V9_NoBody"><span class="verse" id="V9">
9&#160;</span>
Oh fear Yahweh, you his saints, </span></div>
<div class='q2'><span class='V9_NoBody'>
for there is no lack with those who fear him. </span></div>
<div class='q'><span class='V9_NoBody'>
 </span><span class="V10_NoBody"><span class="verse" id="V10">
10&#160;</span>
The young lions do lack, and suffer hunger, </span></div>
<div class='q2'><span class='V10_NoBody'>
but those who seek Yahweh shall not lack any good thing. </span></div>
<div class='b'>
 &#160; </span></div>
<div class='q'><span class='V10_NoBody'>
 </span><span class="V11_NoBody"><span class="verse" id="V11">
11&#160;</span>
Come, you children, listen to me. </span></div>
<div class='q2'><span class='V11_NoBody'>
I will teach you the fear of Yahweh. </span></div>
<div class='q'><span class='V11_NoBody'>
 </span><span class="V12_NoBody"><span class="verse" id="V12">
12&#160;</span>
Who is someone who desires life, </span></div>
<div class='q2'><span class='V12_NoBody'>
and loves many days, that he may see good? </span></div>
<div class='q'><span class='V12_NoBody'>
 </span><span class="V13_NoBody"><span class="verse" id="V13">
13&#160;</span>
Keep your tongue from evil, </span></div>
<div class='q2'><span class='V13_NoBody'>
and your lips from speaking lies. </span></div>
<div class='q'><span class='V13_NoBody'>
 </span><span class="V14_NoBody"><span class="verse" id="V14">
14&#160;</span>
Depart from evil, and do good. </span></div>
<div class='q2'><span class='V14_NoBody'>
Seek peace, and pursue it. </span></div>
<div class='q'><span class='V14_NoBody'>
 </span><span class="V15_NoBody"><span class="verse" id="V15">
15&#160;</span>
Yahweh’s eyes are toward the righteous. </span></div>
<div class='q2'><span class='V15_NoBody'>
His ears listen to their cry. </span></div>
<div class='q'><span class='V15_NoBody'>
 </span><span class="V16_NoBody"><span class="verse" id="V16">
16&#160;</span>
Yahweh’s face is against those who do evil, </span></div>
<div class='q2'><span class='V16_NoBody'>
to cut off their memory from the earth. </span></div>
<div class='q'><span class='V16_NoBody'>
 </span><span class="V17_NoBody"><span class="verse" id="V17">
17&#160;</span>
The righteous cry, and Yahweh hears, </span></div>
<div class='q2'><span class='V17_NoBody'>
and delivers them out of all their troubles. </span></div>
<div class='q'><span class='V17_NoBody'>
 </span><span class="V18_NoBody"><span class="verse" id="V18">
18&#160;</span>
Yahweh is near to those who have a broken heart, </span></div>
<div class='q2'><span class='V18_NoBody'>
and saves those who have a crushed spirit. </span></div>
<div class='q'><span class='V18_NoBody'>
 </span><span class="V19_NoBody"><span class="verse" id="V19">
19&#160;</span>
Many are the afflictions of the righteous, </span></div>
<div class='q2'><span class='V19_NoBody'>
but Yahweh delivers him out of them all. </span></div>
<div class='q'><span class='V19_NoBody'>
 </span><span class="V20_NoBody"><span class="verse" id="V20">
20&#160;</span>
He protects all of his bones. </span></div>
<div class='q2'><span class='V20_NoBody'>
Not one of them is broken. </span></div>
<div class='q'><span class='V20_NoBody'>
 </span><span class="V21_NoBody"><span class="verse" id="V21">
21&#160;</span>
Evil shall kill the wicked. </span></div>
<div class='q2'><span class='V21_NoBody'>
Those who hate the righteous shall be condemned. </span></div>
<div class='q'><span class='V21_NoBody'>
 </span><span class="V22_NoBody"><span class="verse" id="V22">
22&#160;</span>
Yahweh redeems the soul of his servants. </span></div>
<div class='q2'><span class='V22_NoBody'>
None of those who take refuge in him shall be condemned. </span></div>
<div class="footnote">

</div>
<hr /><div class="copyright">
<center> <a href="http://ebible.org/web/copyright.htm"">This website uses The World English Bible (Public Domain).</a> </center>
</div>
</div></body></html>
{% endblock %}