{% extends 'knowledge_base/base-web.html' %}{% block content %}﻿<!DOCTYPE html>
<div class="chapter">
<div class="verse-label" >Psalms 27</div>
 
<div class='d'>
By David. </span></div>
<div class='q'><span class='_NoBody'>
 <span class="V1_NoBody"><span class="verse" id="V1">
1&#160;</span>
Yahweh is my light and my salvation. </span></div>
<div class='q2'><span class='V1_NoBody'>
Whom shall I fear? </span></div>
<div class='q'><span class='V1_NoBody'>
Yahweh is the strength of my life. </span></div>
<div class='q2'><span class='V1_NoBody'>
Of whom shall I be afraid? </span></div>
<div class='q'><span class='V1_NoBody'>
 </span><span class="V2_NoBody"><span class="verse" id="V2">
2&#160;</span>
When evildoers came at me to eat up my flesh, </span></div>
<div class='q2'><span class='V2_NoBody'>
even my adversaries and my foes, they stumbled and fell. </span></div>
<div class='q'><span class='V2_NoBody'>
 </span><span class="V3_NoBody"><span class="verse" id="V3">
3&#160;</span>
Though an army should encamp against me, </span></div>
<div class='q2'><span class='V3_NoBody'>
my heart shall not fear. </span></div>
<div class='q'><span class='V3_NoBody'>
Though war should rise against me, </span></div>
<div class='q2'><span class='V3_NoBody'>
even then I will be confident. </span></div>
<div class='q'><span class='V3_NoBody'>
 </span><span class="V4_NoBody"><span class="verse" id="V4">
4&#160;</span>
One thing I have asked of Yahweh, that I will seek after: </span></div>
<div class='q2'><span class='V4_NoBody'>
that I may dwell in Yahweh’s house all the days of my life, </span></div>
<div class='q2'><span class='V4_NoBody'>
to see Yahweh’s beauty, </span></div>
<div class='q2'><span class='V4_NoBody'>
and to inquire in his temple. </span></div>
<div class='q'><span class='V4_NoBody'>
 </span><span class="V5_NoBody"><span class="verse" id="V5">
5&#160;</span>
For in the day of trouble, he will keep me secretly in his pavilion. </span></div>
<div class='q2'><span class='V5_NoBody'>
In the secret place of his tabernacle, he will hide me. </span></div>
<div class='q2'><span class='V5_NoBody'>
He will lift me up on a rock. </span></div>
<div class='q'><span class='V5_NoBody'>
 </span><span class="V6_NoBody"><span class="verse" id="V6">
6&#160;</span>
Now my head will be lifted up above my enemies around me. </span></div>
<div class='q'><span class='V6_NoBody'>
I will offer sacrifices of joy in his tent. </span></div>
<div class='q2'><span class='V6_NoBody'>
I will sing, yes, I will sing praises to Yahweh. </span></div>
<div class='b'>
 &#160; </span></div>
<div class='q'><span class='V6_NoBody'>
 </span><span class="V7_NoBody"><span class="verse" id="V7">
7&#160;</span>
Hear, Yahweh, when I cry with my voice. </span></div>
<div class='q2'><span class='V7_NoBody'>
Have mercy also on me, and answer me. </span></div>
<div class='q'><span class='V7_NoBody'>
 </span><span class="V8_NoBody"><span class="verse" id="V8">
8&#160;</span>
When you said, “Seek my face,” </span></div>
<div class='q2'><span class='V8_NoBody'>
my heart said to you, “I will seek your face, Yahweh.” </span></div>
<div class='q'><span class='V8_NoBody'>
 </span><span class="V9_NoBody"><span class="verse" id="V9">
9&#160;</span>
Don’t hide your face from me. </span></div>
<div class='q2'><span class='V9_NoBody'>
Don’t put your servant away in anger. </span></div>
<div class='q'><span class='V9_NoBody'>
You have been my help. </span></div>
<div class='q2'><span class='V9_NoBody'>
Don’t abandon me, </span></div>
<div class='q2'><span class='V9_NoBody'>
neither forsake me, God of my salvation. </span></div>
<div class='q'><span class='V9_NoBody'>
 </span><span class="V10_NoBody"><span class="verse" id="V10">
10&#160;</span>
When my father and my mother forsake me, </span></div>
<div class='q2'><span class='V10_NoBody'>
then Yahweh will take me up. </span></div>
<div class='q'><span class='V10_NoBody'>
 </span><span class="V11_NoBody"><span class="verse" id="V11">
11&#160;</span>
Teach me your way, Yahweh. </span></div>
<div class='q2'><span class='V11_NoBody'>
Lead me in a straight path, because of my enemies. </span></div>
<div class='q'><span class='V11_NoBody'>
 </span><span class="V12_NoBody"><span class="verse" id="V12">
12&#160;</span>
Don’t deliver me over to the desire of my adversaries, </span></div>
<div class='q2'><span class='V12_NoBody'>
for false witnesses have risen up against me, </span></div>
<div class='q2'><span class='V12_NoBody'>
such as breathe out cruelty. </span></div>
<div class='q'><span class='V12_NoBody'>
 </span><span class="V13_NoBody"><span class="verse" id="V13">
13&#160;</span>
I am still confident of this: </span></div>
<div class='q2'><span class='V13_NoBody'>
I will see the goodness of Yahweh in the land of the living. </span></div>
<div class='q'><span class='V13_NoBody'>
 </span><span class="V14_NoBody"><span class="verse" id="V14">
14&#160;</span>
Wait for Yahweh. </span></div>
<div class='q2'><span class='V14_NoBody'>
Be strong, and let your heart take courage. </span></div>
<div class='q'><span class='V14_NoBody'>
Yes, wait for Yahweh. </span></div>
<div class="footnote">
</div>
<hr /><div class="copyright">
<center> <a href="http://ebible.org/web/copyright.htm"">This website uses The World English Bible (Public Domain).</a> </center>
</div>
</div></body></html>
{% endblock %}