{% extends 'knowledge_base/base-web.html' %}{% block content %}﻿<!DOCTYPE html>
<div class="chapter">
<div class="verse-label" >Psalms 56</div>
 
<div class='d'>
For the Chief Musician. To the tune of “Silent Dove in Distant Lands.” A poem by David, when the Philistines seized him in Gath. </span></div>
<div class='q'><span class='_NoBody'>
 <span class="V1_NoBody"><span class="verse" id="V1">
1&#160;</span>
Be merciful to me, God, for man wants to swallow me up. </span></div>
<div class='q2'><span class='V1_NoBody'>
All day long, he attacks and oppresses me. </span></div>
<div class='q'><span class='V1_NoBody'>
 </span><span class="V2_NoBody"><span class="verse" id="V2">
2&#160;</span>
My enemies want to swallow me up all day long, </span></div>
<div class='q2'><span class='V2_NoBody'>
for they are many who fight proudly against me. </span></div>
<div class='q'><span class='V2_NoBody'>
 </span><span class="V3_NoBody"><span class="verse" id="V3">
3&#160;</span>
When I am afraid, </span></div>
<div class='q2'><span class='V3_NoBody'>
I will put my trust in you. </span></div>
<div class='q'><span class='V3_NoBody'>
 </span><span class="V4_NoBody"><span class="verse" id="V4">
4&#160;</span>
In God, I praise his word. </span></div>
<div class='q2'><span class='V4_NoBody'>
In God, I put my trust. </span></div>
<div class='q'><span class='V4_NoBody'>
I will not be afraid. </span></div>
<div class='q2'><span class='V4_NoBody'>
What can flesh do to me? </span></div>
<div class='q'><span class='V4_NoBody'>
 </span><span class="V5_NoBody"><span class="verse" id="V5">
5&#160;</span>
All day long they twist my words. </span></div>
<div class='q2'><span class='V5_NoBody'>
All their thoughts are against me for evil. </span></div>
<div class='q'><span class='V5_NoBody'>
 </span><span class="V6_NoBody"><span class="verse" id="V6">
6&#160;</span>
They conspire and lurk, </span></div>
<div class='q2'><span class='V6_NoBody'>
watching my steps. </span></div>
<div class='q2'><span class='V6_NoBody'>
They are eager to take my life. </span></div>
<div class='q'><span class='V6_NoBody'>
 </span><span class="V7_NoBody"><span class="verse" id="V7">
7&#160;</span>
Shall they escape by iniquity? </span></div>
<div class='q2'><span class='V7_NoBody'>
In anger cast down the peoples, God. </span></div>
<div class='q'><span class='V7_NoBody'>
 </span><span class="V8_NoBody"><span class="verse" id="V8">
8&#160;</span>
You count my wanderings. </span></div>
<div class='q2'><span class='V8_NoBody'>
You put my tears into your container. </span></div>
<div class='q2'><span class='V8_NoBody'>
Aren’t they in your book? </span></div>
<div class='q'><span class='V8_NoBody'>
 </span><span class="V9_NoBody"><span class="verse" id="V9">
9&#160;</span>
Then my enemies shall turn back in the day that I call. </span></div>
<div class='q2'><span class='V9_NoBody'>
I know this: that God is for me. </span></div>
<div class='q'><span class='V9_NoBody'>
 </span><span class="V10_NoBody"><span class="verse" id="V10">
10&#160;</span>
In God, I will praise his word. </span></div>
<div class='q2'><span class='V10_NoBody'>
In Yahweh, I will praise his word. </span></div>
<div class='q'><span class='V10_NoBody'>
 </span><span class="V11_NoBody"><span class="verse" id="V11">
11&#160;</span>
I have put my trust in God. </span></div>
<div class='q2'><span class='V11_NoBody'>
I will not be afraid. </span></div>
<div class='q2'><span class='V11_NoBody'>
What can man do to me? </span></div>
<div class='q'><span class='V11_NoBody'>
 </span><span class="V12_NoBody"><span class="verse" id="V12">
12&#160;</span>
Your vows are on me, God. </span></div>
<div class='q2'><span class='V12_NoBody'>
I will give thank offerings to you. </span></div>
<div class='q'><span class='V12_NoBody'>
 </span><span class="V13_NoBody"><span class="verse" id="V13">
13&#160;</span>
For you have delivered my soul from death, </span></div>
<div class='q2'><span class='V13_NoBody'>
and prevented my feet from falling, </span></div>
<div class='q2'><span class='V13_NoBody'>
that I may walk before God in the light of the living. </span></div>
<div class="footnote">
</div>
<hr /><div class="copyright">
<center> <a href="http://ebible.org/web/copyright.htm"">This website uses The World English Bible (Public Domain).</a> </center>
</div>
</div></body></html>
{% endblock %}