{% extends 'knowledge_base/base-web.html' %}{% block content %}﻿<!DOCTYPE html>
<div class="chapter">
<div class="verse-label" >Psalms 51</div>
 
<div class='d'>
For the Chief Musician. A Psalm by David, when Nathan the prophet came to him, after he had gone in to Bathsheba. </span></div>
<div class='q'><span class='_NoBody'>
 <span class="V1_NoBody"><span class="verse" id="V1">
1&#160;</span>
Have mercy on me, God, according to your loving kindness. </span></div>
<div class='q2'><span class='V1_NoBody'>
According to the multitude of your tender mercies, blot out my transgressions. </span></div>
<div class='q'><span class='V1_NoBody'>
 </span><span class="V2_NoBody"><span class="verse" id="V2">
2&#160;</span>
Wash me thoroughly from my iniquity. </span></div>
<div class='q2'><span class='V2_NoBody'>
Cleanse me from my sin. </span></div>
<div class='q'><span class='V2_NoBody'>
 </span><span class="V3_NoBody"><span class="verse" id="V3">
3&#160;</span>
For I know my transgressions. </span></div>
<div class='q2'><span class='V3_NoBody'>
My sin is constantly before me. </span></div>
<div class='q'><span class='V3_NoBody'>
 </span><span class="V4_NoBody"><span class="verse" id="V4">
4&#160;</span>
Against you, and you only, I have sinned, </span></div>
<div class='q2'><span class='V4_NoBody'>
and done that which is evil in your sight, </span></div>
<div class='q'><span class='V4_NoBody'>
so you may be proved right when you speak, </span></div>
<div class='q2'><span class='V4_NoBody'>
and justified when you judge. </span></div>
<div class='q'><span class='V4_NoBody'>
 </span><span class="V5_NoBody"><span class="verse" id="V5">
5&#160;</span>
Behold, I was born in iniquity. </span></div>
<div class='q2'><span class='V5_NoBody'>
My mother conceived me in sin. </span></div>
<div class='q'><span class='V5_NoBody'>
 </span><span class="V6_NoBody"><span class="verse" id="V6">
6&#160;</span>
Behold, you desire truth in the inward parts. </span></div>
<div class='q2'><span class='V6_NoBody'>
You teach me wisdom in the inmost place. </span></div>
<div class='q'><span class='V6_NoBody'>
 </span><span class="V7_NoBody"><span class="verse" id="V7">
7&#160;</span>
Purify me with hyssop, and I will be clean. </span></div>
<div class='q2'><span class='V7_NoBody'>
Wash me, and I will be whiter than snow. </span></div>
<div class='q'><span class='V7_NoBody'>
 </span><span class="V8_NoBody"><span class="verse" id="V8">
8&#160;</span>
Let me hear joy and gladness, </span></div>
<div class='q2'><span class='V8_NoBody'>
that the bones which you have broken may rejoice. </span></div>
<div class='q'><span class='V8_NoBody'>
 </span><span class="V9_NoBody"><span class="verse" id="V9">
9&#160;</span>
Hide your face from my sins, </span></div>
<div class='q2'><span class='V9_NoBody'>
and blot out all of my iniquities. </span></div>
<div class='q'><span class='V9_NoBody'>
 </span><span class="V10_NoBody"><span class="verse" id="V10">
10&#160;</span>
Create in me a clean heart, O God. </span></div>
<div class='q2'><span class='V10_NoBody'>
Renew a right spirit within me. </span></div>
<div class='q'><span class='V10_NoBody'>
 </span><span class="V11_NoBody"><span class="verse" id="V11">
11&#160;</span>
Don’t throw me from your presence, </span></div>
<div class='q2'><span class='V11_NoBody'>
and don’t take your Holy Spirit from me. </span></div>
<div class='q'><span class='V11_NoBody'>
 </span><span class="V12_NoBody"><span class="verse" id="V12">
12&#160;</span>
Restore to me the joy of your salvation. </span></div>
<div class='q2'><span class='V12_NoBody'>
Uphold me with a willing spirit. </span></div>
<div class='q'><span class='V12_NoBody'>
 </span><span class="V13_NoBody"><span class="verse" id="V13">
13&#160;</span>
Then I will teach transgressors your ways. </span></div>
<div class='q2'><span class='V13_NoBody'>
Sinners will be converted to you. </span></div>
<div class='q'><span class='V13_NoBody'>
 </span><span class="V14_NoBody"><span class="verse" id="V14">
14&#160;</span>
Deliver me from the guilt of bloodshed, O God, the God of my salvation. </span></div>
<div class='q2'><span class='V14_NoBody'>
My tongue will sing aloud of your righteousness. </span></div>
<div class='q'><span class='V14_NoBody'>
 </span><span class="V15_NoBody"><span class="verse" id="V15">
15&#160;</span>
Lord, open my lips. </span></div>
<div class='q2'><span class='V15_NoBody'>
My mouth will declare your praise. </span></div>
<div class='q'><span class='V15_NoBody'>
 </span><span class="V16_NoBody"><span class="verse" id="V16">
16&#160;</span>
For you don’t delight in sacrifice, or else I would give it. </span></div>
<div class='q2'><span class='V16_NoBody'>
You have no pleasure in burnt offering. </span></div>
<div class='q'><span class='V16_NoBody'>
 </span><span class="V17_NoBody"><span class="verse" id="V17">
17&#160;</span>
The sacrifices of God are a broken spirit. </span></div>
<div class='q2'><span class='V17_NoBody'>
O God, you will not despise a broken and contrite heart. </span></div>
<div class='b'>
 &#160; </span></div>
<div class='q'><span class='V17_NoBody'>
 </span><span class="V18_NoBody"><span class="verse" id="V18">
18&#160;</span>
Do well in your good pleasure to Zion. </span></div>
<div class='q2'><span class='V18_NoBody'>
Build the walls of Jerusalem. </span></div>
<div class='q'><span class='V18_NoBody'>
 </span><span class="V19_NoBody"><span class="verse" id="V19">
19&#160;</span>
Then you will delight in the sacrifices of righteousness, </span></div>
<div class='q2'><span class='V19_NoBody'>
in burnt offerings and in whole burnt offerings. </span></div>
<div class='q'><span class='V19_NoBody'>
Then they will offer bulls on your altar. </span></div>
<div class="footnote">
</div>
<hr /><div class="copyright">
<center> <a href="http://ebible.org/web/copyright.htm"">This website uses The World English Bible (Public Domain).</a> </center>
</div>
</div></body></html>
{% endblock %}