{% extends 'knowledge_base/base-web.html' %}{% block content %}﻿<!DOCTYPE html>
<div class="chapter">
<div class="verse-label" >Psalms 37</div>
 
<div class='d'>
By David. </span></div>
<div class='q'><span class='_NoBody'>
 <span class="V1_NoBody"><span class="verse" id="V1">
1&#160;</span>
Don’t fret because of evildoers, </span></div>
<div class='q2'><span class='V1_NoBody'>
neither be envious against those who work unrighteousness. </span></div>
<div class='q'><span class='V1_NoBody'>
 </span><span class="V2_NoBody"><span class="verse" id="V2">
2&#160;</span>
For they shall soon be cut down like the grass, </span></div>
<div class='q2'><span class='V2_NoBody'>
and wither like the green herb. </span></div>
<div class='q'><span class='V2_NoBody'>
 </span><span class="V3_NoBody"><span class="verse" id="V3">
3&#160;</span>
Trust in Yahweh, and do good. </span></div>
<div class='q2'><span class='V3_NoBody'>
Dwell in the land, and enjoy safe pasture. </span></div>
<div class='q'><span class='V3_NoBody'>
 </span><span class="V4_NoBody"><span class="verse" id="V4">
4&#160;</span>
Also delight yourself in Yahweh, </span></div>
<div class='q2'><span class='V4_NoBody'>
and he will give you the desires of your heart. </span></div>
<div class='q'><span class='V4_NoBody'>
 </span><span class="V5_NoBody"><span class="verse" id="V5">
5&#160;</span>
Commit your way to Yahweh. </span></div>
<div class='q2'><span class='V5_NoBody'>
Trust also in him, and he will do this: </span></div>
<div class='q'><span class='V5_NoBody'>
 </span><span class="V6_NoBody"><span class="verse" id="V6">
6&#160;</span>
he will make your righteousness shine out like light, </span></div>
<div class='q2'><span class='V6_NoBody'>
and your justice as the noon day sun. </span></div>
<div class='q'><span class='V6_NoBody'>
 </span><span class="V7_NoBody"><span class="verse" id="V7">
7&#160;</span>
Rest in Yahweh, and wait patiently for him. </span></div>
<div class='q2'><span class='V7_NoBody'>
Don’t fret because of him who prospers in his way, </span></div>
<div class='q2'><span class='V7_NoBody'>
because of the man who makes wicked plots happen. </span></div>
<div class='q'><span class='V7_NoBody'>
 </span><span class="V8_NoBody"><span class="verse" id="V8">
8&#160;</span>
Cease from anger, and forsake wrath. </span></div>
<div class='q2'><span class='V8_NoBody'>
Don’t fret; it leads only to evildoing. </span></div>
<div class='q'><span class='V8_NoBody'>
 </span><span class="V9_NoBody"><span class="verse" id="V9">
9&#160;</span>
For evildoers shall be cut off, </span></div>
<div class='q2'><span class='V9_NoBody'>
but those who wait for Yahweh shall inherit the land. </span></div>
<div class='q'><span class='V9_NoBody'>
 </span><span class="V10_NoBody"><span class="verse" id="V10">
10&#160;</span>
For yet a little while, and the wicked will be no more. </span></div>
<div class='q2'><span class='V10_NoBody'>
Yes, though you look for his place, he isn’t there. </span></div>
<div class='q'><span class='V10_NoBody'>
 </span><span class="V11_NoBody"><span class="verse" id="V11">
11&#160;</span>
But the humble shall inherit the land, </span></div>
<div class='q2'><span class='V11_NoBody'>
and shall delight themselves in the abundance of peace. </span></div>
<div class='q'><span class='V11_NoBody'>
 </span><span class="V12_NoBody"><span class="verse" id="V12">
12&#160;</span>
The wicked plots against the just, </span></div>
<div class='q2'><span class='V12_NoBody'>
and gnashes at him with his teeth. </span></div>
<div class='q'><span class='V12_NoBody'>
 </span><span class="V13_NoBody"><span class="verse" id="V13">
13&#160;</span>
The Lord will laugh at him, </span></div>
<div class='q2'><span class='V13_NoBody'>
for he sees that his day is coming. </span></div>
<div class='q'><span class='V13_NoBody'>
 </span><span class="V14_NoBody"><span class="verse" id="V14">
14&#160;</span>
The wicked have drawn out the sword, and have bent their bow, </span></div>
<div class='q2'><span class='V14_NoBody'>
to cast down the poor and needy, </span></div>
<div class='q2'><span class='V14_NoBody'>
to kill those who are upright on the path. </span></div>
<div class='q'><span class='V14_NoBody'>
 </span><span class="V15_NoBody"><span class="verse" id="V15">
15&#160;</span>
Their sword shall enter into their own heart. </span></div>
<div class='q2'><span class='V15_NoBody'>
Their bows shall be broken. </span></div>
<div class='q'><span class='V15_NoBody'>
 </span><span class="V16_NoBody"><span class="verse" id="V16">
16&#160;</span>
Better is a little that the righteous has, </span></div>
<div class='q2'><span class='V16_NoBody'>
than the abundance of many wicked. </span></div>
<div class='q'><span class='V16_NoBody'>
 </span><span class="V17_NoBody"><span class="verse" id="V17">
17&#160;</span>
For the arms of the wicked shall be broken, </span></div>
<div class='q2'><span class='V17_NoBody'>
but Yahweh upholds the righteous. </span></div>
<div class='q'><span class='V17_NoBody'>
 </span><span class="V18_NoBody"><span class="verse" id="V18">
18&#160;</span>
Yahweh knows the days of the perfect. </span></div>
<div class='q2'><span class='V18_NoBody'>
Their inheritance shall be forever. </span></div>
<div class='q'><span class='V18_NoBody'>
 </span><span class="V19_NoBody"><span class="verse" id="V19">
19&#160;</span>
They shall not be disappointed in the time of evil. </span></div>
<div class='q2'><span class='V19_NoBody'>
In the days of famine they shall be satisfied. </span></div>
<div class='b'>
 &#160; </span></div>
<div class='q'><span class='V19_NoBody'>
 </span><span class="V20_NoBody"><span class="verse" id="V20">
20&#160;</span>
But the wicked shall perish. </span></div>
<div class='q2'><span class='V20_NoBody'>
The enemies of Yahweh shall be like the beauty of the fields. </span></div>
<div class='q2'><span class='V20_NoBody'>
They will vanish— </span></div>
<div class='q2'><span class='V20_NoBody'>
vanish like smoke. </span></div>
<div class='q'><span class='V20_NoBody'>
 </span><span class="V21_NoBody"><span class="verse" id="V21">
21&#160;</span>
The wicked borrow, and don’t pay back, </span></div>
<div class='q2'><span class='V21_NoBody'>
but the righteous give generously. </span></div>
<div class='q'><span class='V21_NoBody'>
 </span><span class="V22_NoBody"><span class="verse" id="V22">
22&#160;</span>
For such as are blessed by him shall inherit the land. </span></div>
<div class='q2'><span class='V22_NoBody'>
Those who are cursed by him shall be cut off. </span></div>
<div class='q'><span class='V22_NoBody'>
 </span><span class="V23_NoBody"><span class="verse" id="V23">
23&#160;</span>
A man’s steps are established by Yahweh. </span></div>
<div class='q2'><span class='V23_NoBody'>
He delights in his way. </span></div>
<div class='q'><span class='V23_NoBody'>
 </span><span class="V24_NoBody"><span class="verse" id="V24">
24&#160;</span>
Though he stumble, he shall not fall, </span></div>
<div class='q2'><span class='V24_NoBody'>
for Yahweh holds him up with his hand. </span></div>
<div class='q'><span class='V24_NoBody'>
 </span><span class="V25_NoBody"><span class="verse" id="V25">
25&#160;</span>
I have been young, and now am old, </span></div>
<div class='q2'><span class='V25_NoBody'>
yet I have not seen the righteous forsaken, </span></div>
<div class='q2'><span class='V25_NoBody'>
nor his children begging for bread. </span></div>
<div class='q'><span class='V25_NoBody'>
 </span><span class="V26_NoBody"><span class="verse" id="V26">
26&#160;</span>
All day long he deals graciously, and lends. </span></div>
<div class='q2'><span class='V26_NoBody'>
His offspring is blessed. </span></div>
<div class='q'><span class='V26_NoBody'>
 </span><span class="V27_NoBody"><span class="verse" id="V27">
27&#160;</span>
Depart from evil, and do good. </span></div>
<div class='q2'><span class='V27_NoBody'>
Live securely forever. </span></div>
<div class='q'><span class='V27_NoBody'>
 </span><span class="V28_NoBody"><span class="verse" id="V28">
28&#160;</span>
For Yahweh loves justice, </span></div>
<div class='q2'><span class='V28_NoBody'>
and doesn’t forsake his saints. </span></div>
<div class='q2'><span class='V28_NoBody'>
They are preserved forever, </span></div>
<div class='q2'><span class='V28_NoBody'>
but the children of the wicked shall be cut off. </span></div>
<div class='q'><span class='V28_NoBody'>
 </span><span class="V29_NoBody"><span class="verse" id="V29">
29&#160;</span>
The righteous shall inherit the land, </span></div>
<div class='q2'><span class='V29_NoBody'>
and live in it forever. </span></div>
<div class='b'>
 &#160; </span></div>
<div class='q'><span class='V29_NoBody'>
 </span><span class="V30_NoBody"><span class="verse" id="V30">
30&#160;</span>
The mouth of the righteous talks of wisdom. </span></div>
<div class='q2'><span class='V30_NoBody'>
His tongue speaks justice. </span></div>
<div class='q'><span class='V30_NoBody'>
 </span><span class="V31_NoBody"><span class="verse" id="V31">
31&#160;</span>
The law of his God is in his heart. </span></div>
<div class='q2'><span class='V31_NoBody'>
None of his steps shall slide. </span></div>
<div class='q'><span class='V31_NoBody'>
 </span><span class="V32_NoBody"><span class="verse" id="V32">
32&#160;</span>
The wicked watch the righteous, </span></div>
<div class='q2'><span class='V32_NoBody'>
and seek to kill him. </span></div>
<div class='q'><span class='V32_NoBody'>
 </span><span class="V33_NoBody"><span class="verse" id="V33">
33&#160;</span>
Yahweh will not leave him in his hand, </span></div>
<div class='q2'><span class='V33_NoBody'>
nor condemn him when he is judged. </span></div>
<div class='q'><span class='V33_NoBody'>
 </span><span class="V34_NoBody"><span class="verse" id="V34">
34&#160;</span>
Wait for Yahweh, and keep his way, </span></div>
<div class='q2'><span class='V34_NoBody'>
and he will exalt you to inherit the land. </span></div>
<div class='q2'><span class='V34_NoBody'>
When the wicked are cut off, you shall see it. </span></div>
<div class='b'>
 &#160; </span></div>
<div class='q'><span class='V34_NoBody'>
 </span><span class="V35_NoBody"><span class="verse" id="V35">
35&#160;</span>
I have seen the wicked in great power, </span></div>
<div class='q2'><span class='V35_NoBody'>
spreading himself like a green tree in its native soil. </span></div>
<div class='q'><span class='V35_NoBody'>
 </span><span class="V36_NoBody"><span class="verse" id="V36">
36&#160;</span>
But he passed away, and behold, he was not. </span></div>
<div class='q2'><span class='V36_NoBody'>
Yes, I sought him, but he could not be found. </span></div>
<div class='q'><span class='V36_NoBody'>
 </span><span class="V37_NoBody"><span class="verse" id="V37">
37&#160;</span>
Mark the perfect man, and see the upright, </span></div>
<div class='q2'><span class='V37_NoBody'>
for there is a future for the man of peace. </span></div>
<div class='q'><span class='V37_NoBody'>
 </span><span class="V38_NoBody"><span class="verse" id="V38">
38&#160;</span>
As for transgressors, they shall be destroyed together. </span></div>
<div class='q2'><span class='V38_NoBody'>
The future of the wicked shall be cut off. </span></div>
<div class='q'><span class='V38_NoBody'>
 </span><span class="V39_NoBody"><span class="verse" id="V39">
39&#160;</span>
But the salvation of the righteous is from Yahweh. </span></div>
<div class='q2'><span class='V39_NoBody'>
He is their stronghold in the time of trouble. </span></div>
<div class='q'><span class='V39_NoBody'>
 </span><span class="V40_NoBody"><span class="verse" id="V40">
40&#160;</span>
Yahweh helps them and rescues them. </span></div>
<div class='q2'><span class='V40_NoBody'>
He rescues them from the wicked and saves them, </span></div>
<div class='q2'><span class='V40_NoBody'>
because they have taken refuge in him. </span></div>
<div class="footnote">
</div>
<hr /><div class="copyright">
<center> <a href="http://ebible.org/web/copyright.htm"">This website uses The World English Bible (Public Domain).</a> </center>
</div>
</div></body></html>
{% endblock %}