{% extends 'knowledge_base/base-web.html' %}{% block content %}﻿<!DOCTYPE html>
<div class="chapter">
<div class="verse-label" >Psalms 118</div>
 
<div class='q'><span class='_NoBody'>
 <span class="V1_NoBody"><span class="verse" id="V1">
1&#160;</span>
Give thanks to Yahweh, for he is good, </span></div>
<div class='q2'><span class='V1_NoBody'>
for his loving kindness endures forever. </span></div>
<div class='q'><span class='V1_NoBody'>
 </span><span class="V2_NoBody"><span class="verse" id="V2">
2&#160;</span>
Let Israel now say </span></div>
<div class='q2'><span class='V2_NoBody'>
that his loving kindness endures forever. </span></div>
<div class='q'><span class='V2_NoBody'>
 </span><span class="V3_NoBody"><span class="verse" id="V3">
3&#160;</span>
Let the house of Aaron now say </span></div>
<div class='q2'><span class='V3_NoBody'>
that his loving kindness endures forever. </span></div>
<div class='q'><span class='V3_NoBody'>
 </span><span class="V4_NoBody"><span class="verse" id="V4">
4&#160;</span>
Now let those who fear Yahweh say </span></div>
<div class='q2'><span class='V4_NoBody'>
that his loving kindness endures forever. </span></div>
<div class='q'><span class='V4_NoBody'>
 </span><span class="V5_NoBody"><span class="verse" id="V5">
5&#160;</span>
Out of my distress, I called on Yah. </span></div>
<div class='q2'><span class='V5_NoBody'>
Yah answered me with freedom. </span></div>
<div class='q'><span class='V5_NoBody'>
 </span><span class="V6_NoBody"><span class="verse" id="V6">
6&#160;</span>
Yahweh is on my side. I will not be afraid. </span></div>
<div class='q2'><span class='V6_NoBody'>
What can man do to me? </span></div>
<div class='q'><span class='V6_NoBody'>
 </span><span class="V7_NoBody"><span class="verse" id="V7">
7&#160;</span>
Yahweh is on my side among those who help me. </span></div>
<div class='q2'><span class='V7_NoBody'>
Therefore I will look in triumph at those who hate me. </span></div>
<div class='q'><span class='V7_NoBody'>
 </span><span class="V8_NoBody"><span class="verse" id="V8">
8&#160;</span>
It is better to take refuge in Yahweh, </span></div>
<div class='q2'><span class='V8_NoBody'>
than to put confidence in man. </span></div>
<div class='q'><span class='V8_NoBody'>
 </span><span class="V9_NoBody"><span class="verse" id="V9">
9&#160;</span>
It is better to take refuge in Yahweh, </span></div>
<div class='q2'><span class='V9_NoBody'>
than to put confidence in princes. </span></div>
<div class='q'><span class='V9_NoBody'>
 </span><span class="V10_NoBody"><span class="verse" id="V10">
10&#160;</span>
All the nations surrounded me, </span></div>
<div class='q2'><span class='V10_NoBody'>
but in Yahweh’s name, I cut them off. </span></div>
<div class='q'><span class='V10_NoBody'>
 </span><span class="V11_NoBody"><span class="verse" id="V11">
11&#160;</span>
They surrounded me, yes, they surrounded me. </span></div>
<div class='q2'><span class='V11_NoBody'>
In Yahweh’s name I indeed cut them off. </span></div>
<div class='q'><span class='V11_NoBody'>
 </span><span class="V12_NoBody"><span class="verse" id="V12">
12&#160;</span>
They surrounded me like bees. </span></div>
<div class='q2'><span class='V12_NoBody'>
They are quenched like the burning thorns. </span></div>
<div class='q2'><span class='V12_NoBody'>
In Yahweh’s name I cut them off. </span></div>
<div class='q'><span class='V12_NoBody'>
 </span><span class="V13_NoBody"><span class="verse" id="V13">
13&#160;</span>
You pushed me back hard, to make me fall, </span></div>
<div class='q2'><span class='V13_NoBody'>
but Yahweh helped me. </span></div>
<div class='q'><span class='V13_NoBody'>
 </span><span class="V14_NoBody"><span class="verse" id="V14">
14&#160;</span>
Yah is my strength and song. </span></div>
<div class='q2'><span class='V14_NoBody'>
He has become my salvation. </span></div>
<div class='q'><span class='V14_NoBody'>
 </span><span class="V15_NoBody"><span class="verse" id="V15">
15&#160;</span>
The voice of rejoicing and salvation is in the tents of the righteous. </span></div>
<div class='q2'><span class='V15_NoBody'>
“The right hand of Yahweh does valiantly. </span></div>
<div class='q'><span class='V15_NoBody'>
 </span><span class="V16_NoBody"><span class="verse" id="V16">
16&#160;</span>
The right hand of Yahweh is exalted! </span></div>
<div class='q2'><span class='V16_NoBody'>
The right hand of Yahweh does valiantly!” </span></div>
<div class='q'><span class='V16_NoBody'>
 </span><span class="V17_NoBody"><span class="verse" id="V17">
17&#160;</span>
I will not die, but live, </span></div>
<div class='q2'><span class='V17_NoBody'>
and declare Yah’s works. </span></div>
<div class='q'><span class='V17_NoBody'>
 </span><span class="V18_NoBody"><span class="verse" id="V18">
18&#160;</span>
Yah has punished me severely, </span></div>
<div class='q2'><span class='V18_NoBody'>
but he has not given me over to death. </span></div>
<div class='q'><span class='V18_NoBody'>
 </span><span class="V19_NoBody"><span class="verse" id="V19">
19&#160;</span>
Open to me the gates of righteousness. </span></div>
<div class='q2'><span class='V19_NoBody'>
I will enter into them. </span></div>
<div class='q2'><span class='V19_NoBody'>
I will give thanks to Yah. </span></div>
<div class='q'><span class='V19_NoBody'>
 </span><span class="V20_NoBody"><span class="verse" id="V20">
20&#160;</span>
This is the gate of Yahweh; </span></div>
<div class='q2'><span class='V20_NoBody'>
the righteous will enter into it. </span></div>
<div class='q'><span class='V20_NoBody'>
 </span><span class="V21_NoBody"><span class="verse" id="V21">
21&#160;</span>
I will give thanks to you, for you have answered me, </span></div>
<div class='q2'><span class='V21_NoBody'>
and have become my salvation. </span></div>
<div class='q'><span class='V21_NoBody'>
 </span><span class="V22_NoBody"><span class="verse" id="V22">
22&#160;</span>
The stone which the builders rejected </span></div>
<div class='q2'><span class='V22_NoBody'>
has become the cornerstone. </span></div>
<div class='q'><span class='V22_NoBody'>
 </span><span class="V23_NoBody"><span class="verse" id="V23">
23&#160;</span>
This is Yahweh’s doing. </span></div>
<div class='q2'><span class='V23_NoBody'>
It is marvelous in our eyes. </span></div>
<div class='q'><span class='V23_NoBody'>
 </span><span class="V24_NoBody"><span class="verse" id="V24">
24&#160;</span>
This is the day that Yahweh has made. </span></div>
<div class='q2'><span class='V24_NoBody'>
We will rejoice and be glad in it! </span></div>
<div class='q'><span class='V24_NoBody'>
 </span><span class="V25_NoBody"><span class="verse" id="V25">
25&#160;</span>
Save us now, we beg you, Yahweh! </span></div>
<div class='q2'><span class='V25_NoBody'>
Yahweh, we beg you, send prosperity now. </span></div>
<div class='q'><span class='V25_NoBody'>
 </span><span class="V26_NoBody"><span class="verse" id="V26">
26&#160;</span>
Blessed is he who comes in Yahweh’s name! </span></div>
<div class='q2'><span class='V26_NoBody'>
We have blessed you out of Yahweh’s house. </span></div>
<div class='q'><span class='V26_NoBody'>
 </span><span class="V27_NoBody"><span class="verse" id="V27">
27&#160;</span>
Yahweh is God, and he has given us light. </span></div>
<div class='q2'><span class='V27_NoBody'>
Bind the sacrifice with cords, even to the horns of the altar. </span></div>
<div class='q'><span class='V27_NoBody'>
 </span><span class="V28_NoBody"><span class="verse" id="V28">
28&#160;</span>
You are my God, and I will give thanks to you. </span></div>
<div class='q2'><span class='V28_NoBody'>
You are my God, I will exalt you. </span></div>
<div class='q'><span class='V28_NoBody'>
 </span><span class="V29_NoBody"><span class="verse" id="V29">
29&#160;</span>
Oh give thanks to Yahweh, for he is good, </span></div>
<div class='q2'><span class='V29_NoBody'>
for his loving kindness endures forever. </span></div>
<div class="footnote">

</div>
<hr /><div class="copyright">
<center> <a href="http://ebible.org/web/copyright.htm"">This website uses The World English Bible (Public Domain).</a> </center>
</div>
</div></body></html>
{% endblock %}