{% extends 'knowledge_base/base-web.html' %}{% block content %}﻿<!DOCTYPE html>
<div class="chapter">
<div class="verse-label" >Psalms 139</div>
 
<div class='d'>
For the Chief Musician. A Psalm by David. </span></div>
<div class='q'><span class='_NoBody'>
 <span class="V1_NoBody"><span class="verse" id="V1">
1&#160;</span>
Yahweh, you have searched me, </span></div>
<div class='q2'><span class='V1_NoBody'>
and you know me. </span></div>
<div class='q'><span class='V1_NoBody'>
 </span><span class="V2_NoBody"><span class="verse" id="V2">
2&#160;</span>
You know my sitting down and my rising up. </span></div>
<div class='q2'><span class='V2_NoBody'>
You perceive my thoughts from afar. </span></div>
<div class='q'><span class='V2_NoBody'>
 </span><span class="V3_NoBody"><span class="verse" id="V3">
3&#160;</span>
You search out my path and my lying down, </span></div>
<div class='q2'><span class='V3_NoBody'>
and are acquainted with all my ways. </span></div>
<div class='q'><span class='V3_NoBody'>
 </span><span class="V4_NoBody"><span class="verse" id="V4">
4&#160;</span>
For there is not a word on my tongue, </span></div>
<div class='q2'><span class='V4_NoBody'>
but, behold, Yahweh, you know it altogether. </span></div>
<div class='q'><span class='V4_NoBody'>
 </span><span class="V5_NoBody"><span class="verse" id="V5">
5&#160;</span>
You hem me in behind and before. </span></div>
<div class='q2'><span class='V5_NoBody'>
You laid your hand on me. </span></div>
<div class='q'><span class='V5_NoBody'>
 </span><span class="V6_NoBody"><span class="verse" id="V6">
6&#160;</span>
This knowledge is beyond me. </span></div>
<div class='q2'><span class='V6_NoBody'>
It’s lofty. </span></div>
<div class='q2'><span class='V6_NoBody'>
I can’t attain it. </span></div>
<div class='q'><span class='V6_NoBody'>
 </span><span class="V7_NoBody"><span class="verse" id="V7">
7&#160;</span>
Where could I go from your Spirit? </span></div>
<div class='q2'><span class='V7_NoBody'>
Or where could I flee from your presence? </span></div>
<div class='q'><span class='V7_NoBody'>
 </span><span class="V8_NoBody"><span class="verse" id="V8">
8&#160;</span>
If I ascend up into heaven, you are there. </span></div>
<div class='q2'><span class='V8_NoBody'>
If I make my bed in Sheol, behold, you are there! </span></div>
<div class='q'><span class='V8_NoBody'>
 </span><span class="V9_NoBody"><span class="verse" id="V9">
9&#160;</span>
If I take the wings of the dawn, </span></div>
<div class='q2'><span class='V9_NoBody'>
and settle in the uttermost parts of the sea, </span></div>
<div class='q'><span class='V9_NoBody'>
 </span><span class="V10_NoBody"><span class="verse" id="V10">
10&#160;</span>
even there your hand will lead me, </span></div>
<div class='q2'><span class='V10_NoBody'>
and your right hand will hold me. </span></div>
<div class='q'><span class='V10_NoBody'>
 </span><span class="V11_NoBody"><span class="verse" id="V11">
11&#160;</span>
If I say, “Surely the darkness will overwhelm me. </span></div>
<div class='q2'><span class='V11_NoBody'>
The light around me will be night,” </span></div>
<div class='q'><span class='V11_NoBody'>
 </span><span class="V12_NoBody"><span class="verse" id="V12">
12&#160;</span>
even the darkness doesn’t hide from you, </span></div>
<div class='q2'><span class='V12_NoBody'>
but the night shines as the day. </span></div>
<div class='q2'><span class='V12_NoBody'>
The darkness is like light to you. </span></div>
<div class='q'><span class='V12_NoBody'>
 </span><span class="V13_NoBody"><span class="verse" id="V13">
13&#160;</span>
For you formed my inmost being. </span></div>
<div class='q2'><span class='V13_NoBody'>
You knit me together in my mother’s womb. </span></div>
<div class='q'><span class='V13_NoBody'>
 </span><span class="V14_NoBody"><span class="verse" id="V14">
14&#160;</span>
I will give thanks to you, </span></div>
<div class='q2'><span class='V14_NoBody'>
for I am fearfully and wonderfully made. </span></div>
<div class='q'><span class='V14_NoBody'>
Your works are wonderful. </span></div>
<div class='q2'><span class='V14_NoBody'>
My soul knows that very well. </span></div>
<div class='q'><span class='V14_NoBody'>
 </span><span class="V15_NoBody"><span class="verse" id="V15">
15&#160;</span>
My frame wasn’t hidden from you, </span></div>
<div class='q2'><span class='V15_NoBody'>
when I was made in secret, </span></div>
<div class='q2'><span class='V15_NoBody'>
woven together in the depths of the earth. </span></div>
<div class='q'><span class='V15_NoBody'>
 </span><span class="V16_NoBody"><span class="verse" id="V16">
16&#160;</span>
Your eyes saw my body. </span></div>
<div class='q2'><span class='V16_NoBody'>
In your book they were all written, </span></div>
<div class='q2'><span class='V16_NoBody'>
the days that were ordained for me, </span></div>
<div class='q2'><span class='V16_NoBody'>
when as yet there were none of them. </span></div>
<div class='q'><span class='V16_NoBody'>
 </span><span class="V17_NoBody"><span class="verse" id="V17">
17&#160;</span>
How precious to me are your thoughts, God! </span></div>
<div class='q2'><span class='V17_NoBody'>
How vast is their sum! </span></div>
<div class='q'><span class='V17_NoBody'>
 </span><span class="V18_NoBody"><span class="verse" id="V18">
18&#160;</span>
If I would count them, they are more in number than the sand. </span></div>
<div class='q2'><span class='V18_NoBody'>
When I wake up, I am still with you. </span></div>
<div class='q'><span class='V18_NoBody'>
 </span><span class="V19_NoBody"><span class="verse" id="V19">
19&#160;</span>
If only you, God, would kill the wicked. </span></div>
<div class='q2'><span class='V19_NoBody'>
Get away from me, you bloodthirsty men! </span></div>
<div class='q'><span class='V19_NoBody'>
 </span><span class="V20_NoBody"><span class="verse" id="V20">
20&#160;</span>
For they speak against you wickedly. </span></div>
<div class='q2'><span class='V20_NoBody'>
Your enemies take your name in vain. </span></div>
<div class='q'><span class='V20_NoBody'>
 </span><span class="V21_NoBody"><span class="verse" id="V21">
21&#160;</span>
Yahweh, don’t I hate those who hate you? </span></div>
<div class='q2'><span class='V21_NoBody'>
Am I not grieved with those who rise up against you? </span></div>
<div class='q'><span class='V21_NoBody'>
 </span><span class="V22_NoBody"><span class="verse" id="V22">
22&#160;</span>
I hate them with perfect hatred. </span></div>
<div class='q2'><span class='V22_NoBody'>
They have become my enemies. </span></div>
<div class='q'><span class='V22_NoBody'>
 </span><span class="V23_NoBody"><span class="verse" id="V23">
23&#160;</span>
Search me, God, and know my heart. </span></div>
<div class='q2'><span class='V23_NoBody'>
Try me, and know my thoughts. </span></div>
<div class='q'><span class='V23_NoBody'>
 </span><span class="V24_NoBody"><span class="verse" id="V24">
24&#160;</span>
See if there is any wicked way in me, </span></div>
<div class='q2'><span class='V24_NoBody'>
and lead me in the everlasting way. </span></div>
<div class="footnote">

</div>
<hr /><div class="copyright">
<center> <a href="http://ebible.org/web/copyright.htm"">This website uses The World English Bible (Public Domain).</a> </center>
</div>
</div></body></html>
{% endblock %}