{% extends 'knowledge_base/base-web.html' %}{% block content %}﻿<!DOCTYPE html>
<div class="chapter">
<div class="verse-label" >Psalms 103</div>
 
<div class='d'>
By David. </span></div>
<div class='q'><span class='_NoBody'>
 <span class="V1_NoBody"><span class="verse" id="V1">
1&#160;</span>
Praise Yahweh, my soul! </span></div>
<div class='q2'><span class='V1_NoBody'>
All that is within me, praise his holy name! </span></div>
<div class='q'><span class='V1_NoBody'>
 </span><span class="V2_NoBody"><span class="verse" id="V2">
2&#160;</span>
Praise Yahweh, my soul, </span></div>
<div class='q2'><span class='V2_NoBody'>
and don’t forget all his benefits, </span></div>
<div class='q'><span class='V2_NoBody'>
 </span><span class="V3_NoBody"><span class="verse" id="V3">
3&#160;</span>
who forgives all your sins, </span></div>
<div class='q2'><span class='V3_NoBody'>
who heals all your diseases, </span></div>
<div class='q'><span class='V3_NoBody'>
 </span><span class="V4_NoBody"><span class="verse" id="V4">
4&#160;</span>
who redeems your life from destruction, </span></div>
<div class='q2'><span class='V4_NoBody'>
who crowns you with loving kindness and tender mercies, </span></div>
<div class='q'><span class='V4_NoBody'>
 </span><span class="V5_NoBody"><span class="verse" id="V5">
5&#160;</span>
who satisfies your desire with good things, </span></div>
<div class='q2'><span class='V5_NoBody'>
so that your youth is renewed like the eagle’s. </span></div>
<div class='q'><span class='V5_NoBody'>
 </span><span class="V6_NoBody"><span class="verse" id="V6">
6&#160;</span>
Yahweh executes righteous acts, </span></div>
<div class='q2'><span class='V6_NoBody'>
and justice for all who are oppressed. </span></div>
<div class='q'><span class='V6_NoBody'>
 </span><span class="V7_NoBody"><span class="verse" id="V7">
7&#160;</span>
He made known his ways to Moses, </span></div>
<div class='q2'><span class='V7_NoBody'>
his deeds to the children of Israel. </span></div>
<div class='q'><span class='V7_NoBody'>
 </span><span class="V8_NoBody"><span class="verse" id="V8">
8&#160;</span>
Yahweh is merciful and gracious, </span></div>
<div class='q2'><span class='V8_NoBody'>
slow to anger, and abundant in loving kindness. </span></div>
<div class='q'><span class='V8_NoBody'>
 </span><span class="V9_NoBody"><span class="verse" id="V9">
9&#160;</span>
He will not always accuse; </span></div>
<div class='q2'><span class='V9_NoBody'>
neither will he stay angry forever. </span></div>
<div class='q'><span class='V9_NoBody'>
 </span><span class="V10_NoBody"><span class="verse" id="V10">
10&#160;</span>
He has not dealt with us according to our sins, </span></div>
<div class='q2'><span class='V10_NoBody'>
nor repaid us for our iniquities. </span></div>
<div class='q'><span class='V10_NoBody'>
 </span><span class="V11_NoBody"><span class="verse" id="V11">
11&#160;</span>
For as the heavens are high above the earth, </span></div>
<div class='q2'><span class='V11_NoBody'>
so great is his loving kindness toward those who fear him. </span></div>
<div class='q'><span class='V11_NoBody'>
 </span><span class="V12_NoBody"><span class="verse" id="V12">
12&#160;</span>
As far as the east is from the west, </span></div>
<div class='q2'><span class='V12_NoBody'>
so far has he removed our transgressions from us. </span></div>
<div class='q'><span class='V12_NoBody'>
 </span><span class="V13_NoBody"><span class="verse" id="V13">
13&#160;</span>
Like a father has compassion on his children, </span></div>
<div class='q2'><span class='V13_NoBody'>
so Yahweh has compassion on those who fear him. </span></div>
<div class='q'><span class='V13_NoBody'>
 </span><span class="V14_NoBody"><span class="verse" id="V14">
14&#160;</span>
For he knows how we are made. </span></div>
<div class='q2'><span class='V14_NoBody'>
He remembers that we are dust. </span></div>
<div class='q'><span class='V14_NoBody'>
 </span><span class="V15_NoBody"><span class="verse" id="V15">
15&#160;</span>
As for man, his days are like grass. </span></div>
<div class='q2'><span class='V15_NoBody'>
As a flower of the field, so he flourishes. </span></div>
<div class='q'><span class='V15_NoBody'>
 </span><span class="V16_NoBody"><span class="verse" id="V16">
16&#160;</span>
For the wind passes over it, and it is gone. </span></div>
<div class='q2'><span class='V16_NoBody'>
Its place remembers it no more. </span></div>
<div class='q'><span class='V16_NoBody'>
 </span><span class="V17_NoBody"><span class="verse" id="V17">
17&#160;</span>
But Yahweh’s loving kindness is from everlasting to everlasting with those who fear him, </span></div>
<div class='q2'><span class='V17_NoBody'>
his righteousness to children’s children, </span></div>
<div class='q'><span class='V17_NoBody'>
 </span><span class="V18_NoBody"><span class="verse" id="V18">
18&#160;</span>
to those who keep his covenant, </span></div>
<div class='q2'><span class='V18_NoBody'>
to those who remember to obey his precepts. </span></div>
<div class='q'><span class='V18_NoBody'>
 </span><span class="V19_NoBody"><span class="verse" id="V19">
19&#160;</span>
Yahweh has established his throne in the heavens. </span></div>
<div class='q2'><span class='V19_NoBody'>
His kingdom rules over all. </span></div>
<div class='q'><span class='V19_NoBody'>
 </span><span class="V20_NoBody"><span class="verse" id="V20">
20&#160;</span>
Praise Yahweh, you angels of his, </span></div>
<div class='q2'><span class='V20_NoBody'>
who are mighty in strength, who fulfill his word, </span></div>
<div class='q2'><span class='V20_NoBody'>
obeying the voice of his word. </span></div>
<div class='q'><span class='V20_NoBody'>
 </span><span class="V21_NoBody"><span class="verse" id="V21">
21&#160;</span>
Praise Yahweh, all you armies of his, </span></div>
<div class='q2'><span class='V21_NoBody'>
you servants of his, who do his pleasure. </span></div>
<div class='q'><span class='V21_NoBody'>
 </span><span class="V22_NoBody"><span class="verse" id="V22">
22&#160;</span>
Praise Yahweh, all you works of his, </span></div>
<div class='q2'><span class='V22_NoBody'>
in all places of his dominion. </span></div>
<div class='q2'><span class='V22_NoBody'>
Praise Yahweh, my soul! </span></div>
<div class="footnote">
</div>
<hr /><div class="copyright">
<center> <a href="http://ebible.org/web/copyright.htm"">This website uses The World English Bible (Public Domain).</a> </center>
</div>
</div></body></html>
{% endblock %}