{% extends 'knowledge_base/base-web.html' %}{% block content %}﻿<!DOCTYPE html>
<div class="chapter">
<div class="verse-label" >Revelation 22</div>
 
<div class='p'><span class='_NoBody'>
 <span class="V1_NoBody"><span class="verse" id="V1">
1&#160;</span>
He showed me a river of water of life, clear as crystal, proceeding out of the throne of God and of the Lamb,  </span><span class="V2_NoBody"><span class="verse" id="V2">
2&#160;</span>
in the middle of its street. On this side of the river and on that was the tree of life, bearing twelve kinds of fruits, yielding its fruit every month. The leaves of the tree were for the healing of the nations.  </span><span class="V3_NoBody"><span class="verse" id="V3">
3&#160;</span>
There will be no curse any more. The throne of God and of the Lamb will be in it, and his servants will serve him.  </span><span class="V4_NoBody"><span class="verse" id="V4">
4&#160;</span>
They will see his face, and his name will be on their foreheads.  </span><span class="V5_NoBody"><span class="verse" id="V5">
5&#160;</span>
There will be no night, and they need no lamp light or sun light; for the Lord God will illuminate them. They will reign forever and ever. </span></div>
<div class='p'><span class='V5_NoBody'>
 </span><span class="V6_NoBody"><span class="verse" id="V6">
6&#160;</span>
He said to me, “These words are faithful and true. The Lord God of the spirits of the prophets sent his angel to show to his bondservants the things which must happen soon.” </span></div>
<div class='p'><span class='V6_NoBody'>
 </span><span class="V7_NoBody"><span class="verse" id="V7">
7&#160;</span>
 <span class='wj'>
“Behold, I come quickly. Blessed is he who keeps the words of the prophecy of this book.”</span>
 </span></div>
<div class='p'><span class='V7_NoBody'>
 </span><span class="V8_NoBody"><span class="verse" id="V8">
8&#160;</span>
Now I, John, am the one who heard and saw these things. When I heard and saw, I fell down to worship before the feet of the angel who had shown me these things.  </span><span class="V9_NoBody"><span class="verse" id="V9">
9&#160;</span>
He said to me, “See you don’t do it! I am a fellow bondservant with you and with your brothers, the prophets, and with those who keep the words of this book. Worship God.”  </span><span class="V10_NoBody"><span class="verse" id="V10">
10&#160;</span>
He said to me, “Don’t seal up the words of the prophecy of this book, for the time is at hand.  </span><span class="V11_NoBody"><span class="verse" id="V11">
11&#160;</span>
He who acts unjustly, let him act unjustly still. He who is filthy, let him be filthy still. He who is righteous, let him do righteousness still. He who is holy, let him be holy still.” </span></div>
<div class='p'><span class='V11_NoBody'>
 </span><span class="V12_NoBody"><span class="verse" id="V12">
12&#160;</span>
 <span class='wj'>
“Behold, I come quickly. My reward is with me, to repay to each man according to his work. </span>
  </span><span class="V13_NoBody"><span class="verse" id="V13">
13&#160;</span>
 <span class='wj'>
I am the Alpha and the Omega, the First and the Last, the Beginning and the End. </span>
  </span><span class="V14_NoBody"><span class="verse" id="V14">
14&#160;</span>
 <span class='wj'>
Blessed are those who do his commandments,</span>
 <span class='wj'>
that they may have the right to the tree of life, and may enter in by the gates into the city. </span>
  </span><span class="V15_NoBody"><span class="verse" id="V15">
15&#160;</span>
 <span class='wj'>
Outside are the dogs, the sorcerers, the sexually immoral, the murderers, the idolaters, and everyone who loves and practices falsehood. </span>
  </span><span class="V16_NoBody"><span class="verse" id="V16">
16&#160;</span>
 <span class='wj'>
I, Jesus, have sent my angel to testify these things to you for the assemblies. I am the root and the offspring of David, the Bright and Morning Star.”</span>
 </span></div>
<div class='p'><span class='V16_NoBody'>
 </span><span class="V17_NoBody"><span class="verse" id="V17">
17&#160;</span>
The Spirit and the bride say, “Come!” He who hears, let him say, “Come!” He who is thirsty, let him come. He who desires, let him take the water of life freely.  </span><span class="V18_NoBody"><span class="verse" id="V18">
18&#160;</span>
I testify to everyone who hears the words of the prophecy of this book, if anyone adds to them, may God add to him the plagues which are written in this book.  </span><span class="V19_NoBody"><span class="verse" id="V19">
19&#160;</span>
If anyone takes away from the words of the book of this prophecy, may God take away his part from the tree of life, and out of the holy city, which are written in this book.  </span><span class="V20_NoBody"><span class="verse" id="V20">
20&#160;</span>
He who testifies these things says, <span class='wj'>
“Yes, I come quickly.” </span>
 </span></div>
<div class='p'><span class='V20_NoBody'>
Amen! Yes, come, Lord Jesus. </span></div>
<div class='p'><span class='V20_NoBody'>
 </span><span class="V21_NoBody"><span class="verse" id="V21">
21&#160;</span>
The grace of the Lord Jesus Christ be with all the saints. Amen. </span></div>
<div class="footnote">

</div>
<hr /><div class="copyright">
<center> <a href="http://ebible.org/web/copyright.htm"">This website uses The World English Bible (Public Domain).</a> </center>
</div>
</div></body></html>
{% endblock %}