{% extends 'knowledge_base/base-web.html' %}{% block content %}﻿<!DOCTYPE html>
<div class="chapter">
<div class="verse-label" >Romans 5</div>
 
<div class='p'><span class='_NoBody'>
 <span class="V1_NoBody"><span class="verse" id="V1">
1&#160;</span>
Being therefore justified by faith, we have peace with God through our Lord Jesus Christ;  </span><span class="V2_NoBody"><span class="verse" id="V2">
2&#160;</span>
through whom we also have our access by faith into this grace in which we stand. We rejoice in hope of the glory of God.  </span><span class="V3_NoBody"><span class="verse" id="V3">
3&#160;</span>
Not only this, but we also rejoice in our sufferings, knowing that suffering produces perseverance;  </span><span class="V4_NoBody"><span class="verse" id="V4">
4&#160;</span>
and perseverance, proven character; and proven character, hope:  </span><span class="V5_NoBody"><span class="verse" id="V5">
5&#160;</span>
and hope doesn’t disappoint us, because God’s love has been poured into our hearts through the Holy Spirit who was given to us.  </span><span class="V6_NoBody"><span class="verse" id="V6">
6&#160;</span>
For while we were yet weak, at the right time Christ died for the ungodly.  </span><span class="V7_NoBody"><span class="verse" id="V7">
7&#160;</span>
For one will hardly die for a righteous man. Yet perhaps for a righteous person someone would even dare to die.  </span><span class="V8_NoBody"><span class="verse" id="V8">
8&#160;</span>
But God commends his own love toward us, in that while we were yet sinners, Christ died for us. </span></div>
<div class='p'><span class='V8_NoBody'>
 </span><span class="V9_NoBody"><span class="verse" id="V9">
9&#160;</span>
Much more then, being now justified by his blood, we will be saved from God’s wrath through him.  </span><span class="V10_NoBody"><span class="verse" id="V10">
10&#160;</span>
For if while we were enemies, we were reconciled to God through the death of his Son, much more, being reconciled, we will be saved by his life. </span></div>
<div class='p'><span class='V10_NoBody'>
 </span><span class="V11_NoBody"><span class="verse" id="V11">
11&#160;</span>
Not only so, but we also rejoice in God through our Lord Jesus Christ, through whom we have now received the reconciliation.  </span><span class="V12_NoBody"><span class="verse" id="V12">
12&#160;</span>
Therefore as sin entered into the world through one man, and death through sin; so death passed to all men, because all sinned.  </span><span class="V13_NoBody"><span class="verse" id="V13">
13&#160;</span>
For until the law, sin was in the world; but sin is not charged when there is no law.  </span><span class="V14_NoBody"><span class="verse" id="V14">
14&#160;</span>
Nevertheless death reigned from Adam until Moses, even over those whose sins weren’t like Adam’s disobedience, who is a foreshadowing of him who was to come.  </span><span class="V15_NoBody"><span class="verse" id="V15">
15&#160;</span>
But the free gift isn’t like the trespass. For if by the trespass of the one the many died, much more did the grace of God, and the gift by the grace of the one man, Jesus Christ, abound to the many.  </span><span class="V16_NoBody"><span class="verse" id="V16">
16&#160;</span>
The gift is not as through one who sinned; for the judgment came by one to condemnation, but the free gift came of many trespasses to justification.  </span><span class="V17_NoBody"><span class="verse" id="V17">
17&#160;</span>
For if by the trespass of the one, death reigned through the one; so much more will those who receive the abundance of grace and of the gift of righteousness reign in life through the one, Jesus Christ.  </span><span class="V18_NoBody"><span class="verse" id="V18">
18&#160;</span>
So then as through one trespass, all men were condemned; even so through one act of righteousness, all men were justified to life.  </span><span class="V19_NoBody"><span class="verse" id="V19">
19&#160;</span>
For as through the one man’s disobedience many were made sinners, even so through the obedience of the one, many will be made righteous.  </span><span class="V20_NoBody"><span class="verse" id="V20">
20&#160;</span>
The law came in that the trespass might abound; but where sin abounded, grace abounded more exceedingly;  </span><span class="V21_NoBody"><span class="verse" id="V21">
21&#160;</span>
that as sin reigned in death, even so grace might reign through righteousness to eternal life through Jesus Christ our Lord. </span></div>
<div class="footnote">
</div>
<hr /><div class="copyright">
<center> <a href="http://ebible.org/web/copyright.htm"">This website uses The World English Bible (Public Domain).</a> </center>
</div>
</div></body></html>
{% endblock %}