{% extends 'knowledge_base/base-web.html' %}{% block content %}﻿<!DOCTYPE html>
<div class="chapter">
<div class="verse-label" >Romans 3</div>
 
<div class='p'><span class='_NoBody'>
 <span class="V1_NoBody"><span class="verse" id="V1">
1&#160;</span>
Then what advantage does the Jew have? Or what is the profit of circumcision?  </span><span class="V2_NoBody"><span class="verse" id="V2">
2&#160;</span>
Much in every way! Because first of all, they were entrusted with the revelations of God.  </span><span class="V3_NoBody"><span class="verse" id="V3">
3&#160;</span>
For what if some were without faith? Will their lack of faith nullify the faithfulness of God?  </span><span class="V4_NoBody"><span class="verse" id="V4">
4&#160;</span>
May it never be! Yes, let God be found true, but every man a liar. As it is written, </span></div>
<div class='q'><span class='V4_NoBody'>
“that you might be justified in your words, </span></div>
<div class='q2'><span class='V4_NoBody'>
and might prevail when you come into judgment.” </span></div>
<div class='p'><span class='V4_NoBody'>
 </span><span class="V5_NoBody"><span class="verse" id="V5">
5&#160;</span>
But if our unrighteousness commends the righteousness of God, what will we say? Is God unrighteous who inflicts wrath? I speak like men do.  </span><span class="V6_NoBody"><span class="verse" id="V6">
6&#160;</span>
May it never be! For then how will God judge the world?  </span><span class="V7_NoBody"><span class="verse" id="V7">
7&#160;</span>
For if the truth of God through my lie abounded to his glory, why am I also still judged as a sinner?  </span><span class="V8_NoBody"><span class="verse" id="V8">
8&#160;</span>
Why not (as we are slanderously reported, and as some affirm that we say), “Let’s do evil, that good may come?” Those who say so are justly condemned. </span></div>
<div class='p'><span class='V8_NoBody'>
 </span><span class="V9_NoBody"><span class="verse" id="V9">
9&#160;</span>
What then? Are we better than they? No, in no way. For we previously warned both Jews and Greeks that they are all under sin.  </span><span class="V10_NoBody"><span class="verse" id="V10">
10&#160;</span>
As it is written, </span></div>
<div class='q'><span class='V10_NoBody'>
“There is no one righteous; </span></div>
<div class='q2'><span class='V10_NoBody'>
no, not one. </span></div>
<div class='q'><span class='V10_NoBody'>
 </span><span class="V11_NoBody"><span class="verse" id="V11">
11&#160;</span>
There is no one who understands. </span></div>
<div class='q2'><span class='V11_NoBody'>
There is no one who seeks after God. </span></div>
<div class='q'><span class='V11_NoBody'>
 </span><span class="V12_NoBody"><span class="verse" id="V12">
12&#160;</span>
They have all turned away. </span></div>
<div class='q2'><span class='V12_NoBody'>
They have together become unprofitable. </span></div>
<div class='q'><span class='V12_NoBody'>
There is no one who does good, </span></div>
<div class='q2'><span class='V12_NoBody'>
no, not so much as one.” </span></div>
<div class='q'><span class='V12_NoBody'>
 </span><span class="V13_NoBody"><span class="verse" id="V13">
13&#160;</span>
“Their throat is an open tomb. </span></div>
<div class='q2'><span class='V13_NoBody'>
With their tongues they have used deceit.” </span></div>
<div class='q'><span class='V13_NoBody'>
“The poison of vipers is under their lips.” </span></div>
<div class='q2'><span class='V13_NoBody'>
 </span><span class="V14_NoBody"><span class="verse" id="V14">
14&#160;</span>
“Their mouth is full of cursing and bitterness.” </span></div>
<div class='q'><span class='V14_NoBody'>
 </span><span class="V15_NoBody"><span class="verse" id="V15">
15&#160;</span>
“Their feet are swift to shed blood. </span></div>
<div class='q2'><span class='V15_NoBody'>
 </span><span class="V16_NoBody"><span class="verse" id="V16">
16&#160;</span>
Destruction and misery are in their ways. </span></div>
<div class='q2'><span class='V16_NoBody'>
 </span><span class="V17_NoBody"><span class="verse" id="V17">
17&#160;</span>
The way of peace, they haven’t known.” </span></div>
<div class='q'><span class='V17_NoBody'>
 </span><span class="V18_NoBody"><span class="verse" id="V18">
18&#160;</span>
“There is no fear of God before their eyes.” </span></div>
<div class='p'><span class='V18_NoBody'>
 </span><span class="V19_NoBody"><span class="verse" id="V19">
19&#160;</span>
Now we know that whatever things the law says, it speaks to those who are under the law, that every mouth may be closed, and all the world may be brought under the judgment of God.  </span><span class="V20_NoBody"><span class="verse" id="V20">
20&#160;</span>
Because by the works of the law, no flesh will be justified in his sight; for through the law comes the knowledge of sin. </span></div>
<div class='p'><span class='V20_NoBody'>
 </span><span class="V21_NoBody"><span class="verse" id="V21">
21&#160;</span>
But now apart from the law, a righteousness of God has been revealed, being testified by the law and the prophets;  </span><span class="V22_NoBody"><span class="verse" id="V22">
22&#160;</span>
even the righteousness of God through faith in Jesus Christ to all and on all those who believe. For there is no distinction,  </span><span class="V23_NoBody"><span class="verse" id="V23">
23&#160;</span>
for all have sinned, and fall short of the glory of God;  </span><span class="V24_NoBody"><span class="verse" id="V24">
24&#160;</span>
being justified freely by his grace through the redemption that is in Christ Jesus;  </span><span class="V25_NoBody"><span class="verse" id="V25">
25&#160;</span>
whom God sent to be an atoning sacrifice, through faith in his blood, for a demonstration of his righteousness through the passing over of prior sins, in God’s forbearance;  </span><span class="V26_NoBody"><span class="verse" id="V26">
26&#160;</span>
to demonstrate his righteousness at this present time; that he might himself be just, and the justifier of him who has faith in Jesus. </span></div>
<div class='p'><span class='V26_NoBody'>
 </span><span class="V27_NoBody"><span class="verse" id="V27">
27&#160;</span>
Where then is the boasting? It is excluded. By what kind of law? Of works? No, but by a law of faith.  </span><span class="V28_NoBody"><span class="verse" id="V28">
28&#160;</span>
We maintain therefore that a man is justified by faith apart from the works of the law.  </span><span class="V29_NoBody"><span class="verse" id="V29">
29&#160;</span>
Or is God the God of Jews only? Isn’t he the God of Gentiles also? Yes, of Gentiles also,  </span><span class="V30_NoBody"><span class="verse" id="V30">
30&#160;</span>
since indeed there is one God who will justify the circumcised by faith, and the uncircumcised through faith. </span></div>
<div class='p'><span class='V30_NoBody'>
 </span><span class="V31_NoBody"><span class="verse" id="V31">
31&#160;</span>
Do we then nullify the law through faith? May it never be! No, we establish the law. </span></div>
<div class="footnote">

</div>
<hr /><div class="copyright">
<center> <a href="http://ebible.org/web/copyright.htm"">This website uses The World English Bible (Public Domain).</a> </center>
</div>
</div></body></html>
{% endblock %}