{% extends 'knowledge_base/base-web.html' %}{% block content %}﻿<!DOCTYPE html>
<div class="chapter">
<div class="verse-label" >Romans 2</div>
 
<div class='p'><span class='_NoBody'>
 <span class="V1_NoBody"><span class="verse" id="V1">
1&#160;</span>
Therefore you are without excuse, O man, whoever you are who judge. For in that which you judge another, you condemn yourself. For you who judge practice the same things.  </span><span class="V2_NoBody"><span class="verse" id="V2">
2&#160;</span>
We know that the judgment of God is according to truth against those who practice such things.  </span><span class="V3_NoBody"><span class="verse" id="V3">
3&#160;</span>
Do you think this, O man who judges those who practice such things, and do the same, that you will escape the judgment of God?  </span><span class="V4_NoBody"><span class="verse" id="V4">
4&#160;</span>
Or do you despise the riches of his goodness, forbearance, and patience, not knowing that the goodness of God leads you to repentance?  </span><span class="V5_NoBody"><span class="verse" id="V5">
5&#160;</span>
But according to your hardness and unrepentant heart you are treasuring up for yourself wrath in the day of wrath, revelation, and of the righteous judgment of God;  </span><span class="V6_NoBody"><span class="verse" id="V6">
6&#160;</span>
who “will pay back to everyone according to their works:”  </span><span class="V7_NoBody"><span class="verse" id="V7">
7&#160;</span>
to those who by perseverance in well-doing seek for glory, honor, and incorruptibility, eternal life;  </span><span class="V8_NoBody"><span class="verse" id="V8">
8&#160;</span>
but to those who are self-seeking, and don’t obey the truth, but obey unrighteousness, will be wrath, indignation,  </span><span class="V9_NoBody"><span class="verse" id="V9">
9&#160;</span>
oppression, and anguish on every soul of man who does evil, to the Jew first, and also to the Greek. </span></div>
<div class='p'><span class='V9_NoBody'>
 </span><span class="V10_NoBody"><span class="verse" id="V10">
10&#160;</span>
But glory, honor, and peace go to every man who does good, to the Jew first, and also to the Greek.  </span><span class="V11_NoBody"><span class="verse" id="V11">
11&#160;</span>
For there is no partiality with God.  </span><span class="V12_NoBody"><span class="verse" id="V12">
12&#160;</span>
For as many as have sinned without the law will also perish without the law. As many as have sinned under the law will be judged by the law.  </span><span class="V13_NoBody"><span class="verse" id="V13">
13&#160;</span>
For it isn’t the hearers of the law who are righteous before God, but the doers of the law will be justified  </span><span class="V14_NoBody"><span class="verse" id="V14">
14&#160;</span>
(for when Gentiles who don’t have the law do by nature the things of the law, these, not having the law, are a law to themselves,  </span><span class="V15_NoBody"><span class="verse" id="V15">
15&#160;</span>
in that they show the work of the law written in their hearts, their conscience testifying with them, and their thoughts among themselves accusing or else excusing them)  </span><span class="V16_NoBody"><span class="verse" id="V16">
16&#160;</span>
in the day when God will judge the secrets of men, according to my Good News, by Jesus Christ. </span></div>
<div class='p'><span class='V16_NoBody'>
 </span><span class="V17_NoBody"><span class="verse" id="V17">
17&#160;</span>
Indeed you bear the name of a Jew, rest on the law, glory in God,  </span><span class="V18_NoBody"><span class="verse" id="V18">
18&#160;</span>
know his will, and approve the things that are excellent, being instructed out of the law,  </span><span class="V19_NoBody"><span class="verse" id="V19">
19&#160;</span>
and are confident that you yourself are a guide of the blind, a light to those who are in darkness,  </span><span class="V20_NoBody"><span class="verse" id="V20">
20&#160;</span>
a corrector of the foolish, a teacher of babies, having in the law the form of knowledge and of the truth.  </span><span class="V21_NoBody"><span class="verse" id="V21">
21&#160;</span>
You therefore who teach another, don’t you teach yourself? You who preach that a man shouldn’t steal, do you steal?  </span><span class="V22_NoBody"><span class="verse" id="V22">
22&#160;</span>
You who say a man shouldn’t commit adultery, do you commit adultery? You who abhor idols, do you rob temples?  </span><span class="V23_NoBody"><span class="verse" id="V23">
23&#160;</span>
You who glory in the law, do you dishonor God by disobeying the law?  </span><span class="V24_NoBody"><span class="verse" id="V24">
24&#160;</span>
For “the name of God is blasphemed among the Gentiles because of you,”  just as it is written.  </span><span class="V25_NoBody"><span class="verse" id="V25">
25&#160;</span>
For circumcision indeed profits, if you are a doer of the law, but if you are a transgressor of the law, your circumcision has become uncircumcision.  </span><span class="V26_NoBody"><span class="verse" id="V26">
26&#160;</span>
If therefore the uncircumcised keep the ordinances of the law, won’t his uncircumcision be accounted as circumcision?  </span><span class="V27_NoBody"><span class="verse" id="V27">
27&#160;</span>
Won’t the uncircumcision which is by nature, if it fulfills the law, judge you, who with the letter and circumcision are a transgressor of the law?  </span><span class="V28_NoBody"><span class="verse" id="V28">
28&#160;</span>
For he is not a Jew who is one outwardly, neither is that circumcision which is outward in the flesh;  </span><span class="V29_NoBody"><span class="verse" id="V29">
29&#160;</span>
but he is a Jew who is one inwardly, and circumcision is that of the heart, in the spirit not in the letter; whose praise is not from men, but from God. </span></div>
<div class="footnote">

</div>
<hr /><div class="copyright">
<center> <a href="http://ebible.org/web/copyright.htm"">This website uses The World English Bible (Public Domain).</a> </center>
</div>
</div></body></html>
{% endblock %}