{% extends 'knowledge_base/base-web.html' %}{% block content %}﻿<!DOCTYPE html>
<div class="chapter">
<div class="verse-label" >Romans 12</div>
 
<div class='p'><span class='_NoBody'>
 <span class="V1_NoBody"><span class="verse" id="V1">
1&#160;</span>
Therefore I urge you, brothers, by the mercies of God, to present your bodies a living sacrifice, holy, acceptable to God, which is your spiritual service.  </span><span class="V2_NoBody"><span class="verse" id="V2">
2&#160;</span>
Don’t be conformed to this world, but be transformed by the renewing of your mind, so that you may prove what is the good, well-pleasing, and perfect will of God. </span></div>
<div class='p'><span class='V2_NoBody'>
 </span><span class="V3_NoBody"><span class="verse" id="V3">
3&#160;</span>
For I say through the grace that was given me, to every man who is among you, not to think of himself more highly than he ought to think; but to think reasonably, as God has apportioned to each person a measure of faith.  </span><span class="V4_NoBody"><span class="verse" id="V4">
4&#160;</span>
For even as we have many members in one body, and all the members don’t have the same function,  </span><span class="V5_NoBody"><span class="verse" id="V5">
5&#160;</span>
so we, who are many, are one body in Christ, and individually members of one another,  </span><span class="V6_NoBody"><span class="verse" id="V6">
6&#160;</span>
having gifts differing according to the grace that was given to us: if prophecy, let’s prophesy according to the proportion of our faith;  </span><span class="V7_NoBody"><span class="verse" id="V7">
7&#160;</span>
or service, let’s give ourselves to service; or he who teaches, to his teaching;  </span><span class="V8_NoBody"><span class="verse" id="V8">
8&#160;</span>
or he who exhorts, to his exhorting; he who gives, let him do it with generosity; he who rules, with diligence; he who shows mercy, with cheerfulness. </span></div>
<div class='p'><span class='V8_NoBody'>
 </span><span class="V9_NoBody"><span class="verse" id="V9">
9&#160;</span>
Let love be without hypocrisy. Abhor that which is evil. Cling to that which is good.  </span><span class="V10_NoBody"><span class="verse" id="V10">
10&#160;</span>
In love of the brothers be tenderly affectionate to one another; in honor preferring one another;  </span><span class="V11_NoBody"><span class="verse" id="V11">
11&#160;</span>
not lagging in diligence; fervent in spirit; serving the Lord;  </span><span class="V12_NoBody"><span class="verse" id="V12">
12&#160;</span>
rejoicing in hope; enduring in troubles; continuing steadfastly in prayer;  </span><span class="V13_NoBody"><span class="verse" id="V13">
13&#160;</span>
contributing to the needs of the saints; given to hospitality.  </span><span class="V14_NoBody"><span class="verse" id="V14">
14&#160;</span>
Bless those who persecute you; bless, and don’t curse.  </span><span class="V15_NoBody"><span class="verse" id="V15">
15&#160;</span>
Rejoice with those who rejoice. Weep with those who weep.  </span><span class="V16_NoBody"><span class="verse" id="V16">
16&#160;</span>
Be of the same mind one toward another. Don’t set your mind on high things, but associate with the humble. Don’t be wise in your own conceits.  </span><span class="V17_NoBody"><span class="verse" id="V17">
17&#160;</span>
Repay no one evil for evil. Respect what is honorable in the sight of all men.  </span><span class="V18_NoBody"><span class="verse" id="V18">
18&#160;</span>
If it is possible, as much as it is up to you, be at peace with all men.  </span><span class="V19_NoBody"><span class="verse" id="V19">
19&#160;</span>
Don’t seek revenge yourselves, beloved, but give place to God’s wrath. For it is written, “Vengeance belongs to me; I will repay, says the Lord.”   </span><span class="V20_NoBody"><span class="verse" id="V20">
20&#160;</span>
Therefore </span></div>
<div class='q'><span class='V20_NoBody'>
“If your enemy is hungry, feed him. </span></div>
<div class='q2'><span class='V20_NoBody'>
If he is thirsty, give him a drink; </span></div>
<div class='q2'><span class='V20_NoBody'>
for in doing so, you will heap coals of fire on his head.” </span></div>
<div class='p'><span class='V20_NoBody'>
 </span><span class="V21_NoBody"><span class="verse" id="V21">
21&#160;</span>
Don’t be overcome by evil, but overcome evil with good. </span></div>
<div class="footnote">

</div>
<hr /><div class="copyright">
<center> <a href="http://ebible.org/web/copyright.htm"">This website uses The World English Bible (Public Domain).</a> </center>
</div>
</div></body></html>
{% endblock %}