{% extends 'knowledge_base/base-web.html' %}{% block content %}﻿<!DOCTYPE html>
<div class="chapter">
<div class="verse-label" >Romans 10</div>
 
<div class='p'><span class='_NoBody'>
 <span class="V1_NoBody"><span class="verse" id="V1">
1&#160;</span>
Brothers, my heart’s desire and my prayer to God is for Israel, that they may be saved.  </span><span class="V2_NoBody"><span class="verse" id="V2">
2&#160;</span>
For I testify about them that they have a zeal for God, but not according to knowledge.  </span><span class="V3_NoBody"><span class="verse" id="V3">
3&#160;</span>
For being ignorant of God’s righteousness, and seeking to establish their own righteousness, they didn’t subject themselves to the righteousness of God.  </span><span class="V4_NoBody"><span class="verse" id="V4">
4&#160;</span>
For Christ is the fulfillment of the law for righteousness to everyone who believes.  </span><span class="V5_NoBody"><span class="verse" id="V5">
5&#160;</span>
For Moses writes about the righteousness of the law, “The one who does them will live by them.”  </span><span class="V6_NoBody"><span class="verse" id="V6">
6&#160;</span>
But the righteousness which is of faith says this, “Don’t say in your heart, ‘Who will ascend into heaven?’ (that is, to bring Christ down);  </span><span class="V7_NoBody"><span class="verse" id="V7">
7&#160;</span>
or, ‘Who will descend into the abyss?’ (that is, to bring Christ up from the dead.)”  </span><span class="V8_NoBody"><span class="verse" id="V8">
8&#160;</span>
But what does it say? “The word is near you, in your mouth, and in your heart;” that is, the word of faith which we preach:  </span><span class="V9_NoBody"><span class="verse" id="V9">
9&#160;</span>
that if you will confess with your mouth that Jesus is Lord, and believe in your heart that God raised him from the dead, you will be saved.  </span><span class="V10_NoBody"><span class="verse" id="V10">
10&#160;</span>
For with the heart, one believes resulting in righteousness; and with the mouth confession is made resulting in salvation.  </span><span class="V11_NoBody"><span class="verse" id="V11">
11&#160;</span>
For the Scripture says, “Whoever believes in him will not be disappointed.” </span></div>
<div class='p'><span class='V11_NoBody'>
 </span><span class="V12_NoBody"><span class="verse" id="V12">
12&#160;</span>
For there is no distinction between Jew and Greek; for the same Lord is Lord of all, and is rich to all who call on him.  </span><span class="V13_NoBody"><span class="verse" id="V13">
13&#160;</span>
For, “Whoever will call on the name of the Lord will be saved.”  </span><span class="V14_NoBody"><span class="verse" id="V14">
14&#160;</span>
How then will they call on him in whom they have not believed? How will they believe in him whom they have not heard? How will they hear without a preacher?  </span><span class="V15_NoBody"><span class="verse" id="V15">
15&#160;</span>
And how will they preach unless they are sent? As it is written: </span></div>
<div class='q'><span class='V15_NoBody'>
“How beautiful are the feet of those who preach the Good News of peace, </span></div>
<div class='q2'><span class='V15_NoBody'>
who bring glad tidings of good things!” </span></div>
<div class='p'><span class='V15_NoBody'>
 </span><span class="V16_NoBody"><span class="verse" id="V16">
16&#160;</span>
But they didn’t all listen to the glad news. For Isaiah says, “Lord, who has believed our report?”  </span><span class="V17_NoBody"><span class="verse" id="V17">
17&#160;</span>
So faith comes by hearing, and hearing by the word of God.  </span><span class="V18_NoBody"><span class="verse" id="V18">
18&#160;</span>
But I say, didn’t they hear? Yes, most certainly, </span></div>
<div class='q'><span class='V18_NoBody'>
“Their sound went out into all the earth, </span></div>
<div class='q2'><span class='V18_NoBody'>
their words to the ends of the world.” </span></div>
<div class='p'><span class='V18_NoBody'>
 </span><span class="V19_NoBody"><span class="verse" id="V19">
19&#160;</span>
But I ask, didn’t Israel know? First Moses says, </span></div>
<div class='q'><span class='V19_NoBody'>
“I will provoke you to jealousy with that which is no nation. </span></div>
<div class='q2'><span class='V19_NoBody'>
I will make you angry with a nation void of understanding.” </span></div>
<div class='p'><span class='V19_NoBody'>
 </span><span class="V20_NoBody"><span class="verse" id="V20">
20&#160;</span>
Isaiah is very bold and says, </span></div>
<div class='q'><span class='V20_NoBody'>
“I was found by those who didn’t seek me. </span></div>
<div class='q2'><span class='V20_NoBody'>
I was revealed to those who didn’t ask for me.” </span></div>
<div class='p'><span class='V20_NoBody'>
 </span><span class="V21_NoBody"><span class="verse" id="V21">
21&#160;</span>
But about Israel he says, “All day long I stretched out my hands to a disobedient and contrary people.” </span></div>
<div class="footnote">

</div>
<hr /><div class="copyright">
<center> <a href="http://ebible.org/web/copyright.htm"">This website uses The World English Bible (Public Domain).</a> </center>
</div>
</div></body></html>
{% endblock %}